.setting-field {
    display: flex;
   }
   
   .setting-field .setting-field-link {
       color: #7A86A1;
       font-size: 15px;
       padding: 0.5rem 1.2rem;
       text-decoration: none;
       margin-right: 8px;
       cursor: pointer;
   }
   
   .setting-field .active{
       color: #FFFFFF !important;
       background: #6149CD 0% 0% no-repeat padding-box;
       border-radius: 19px;    
   }

   .setting-card {
    border-radius: 30px;
    padding: 20px 30px 0px 30px;
    box-shadow: 2px 13px 54px #695F9714;    
    min-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.default-actions-heading{
    font-size: 22px;
    font-weight: bold;
}

.sub-heading{
    font-size: 16px;
    font-weight: 600;
}

.sub-contents{
    padding: 5px 0px 0px 30px;
}

.sub-contents input.form-control {
    width: 55px;
    height: 37px;
    border: 1px solid #EBEBEB;
    border-radius: 16px;
    text-align: center;
}

.sub-contents p{
    font-size: 13px;
    margin: 0;
    color: #7A86A1;
}

// select tag styling

// .input-form {
//     height: 37px;
//     border-radius: 16px;
//     border: 1px solid #EBEBEB;
//     padding: 5px 15px;
//     width: 158px;
//     outline: none;
//     font-size: 14px;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//    }

//    select.input-form {
//     background-image: url('../../../../assets/img/settings/drop-up-down.svg');
//     background-position: calc(100% - .5rem), 100% 0;
//     background-size:  1.5em 1em;
//     background-repeat: no-repeat;
//   }

//    .select-heading{
//     font-size: 14px;
//     font-weight: 600;
//    }

   .account-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 7px 30px;
    border: 1px;    
    color: white;
    font-weight: 400;
   }

   .default-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
   }

   .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #6149CD;
    border: none;
   }

//  toaster styling

   .toaster{
	float:left;
	width:auto;
	position: fixed;
	right: 50px;
	top: 65px;
	z-index: 9999;
	}
	.toaster p{
	padding:8px;
	font-size:14px;
    font-weight: 400;
	color:#ffffff;
	margin: 0;
	min-width: 250px;
	text-align: center;
	border-radius: 10px;

	}
	.toaster p.error{
	background-color: #E02020;
	}
	.toaster p.success{
	background-color: #6149cd;
	}
	.toaster p.warning{
	background-color: orange;
	}

