
<sb-layout-auth>
    <div class="container col-lg-12">
        <img src="assets/img/img-reg.png" class="float-left">
        <div class="row">

            <div class="col-lg-12 mt-4">




                <div class=" text"><a routerLink="/register" style="display: inline-flex">
                        < Back to Create Account</a>
                </div>

                <div class="log">
                    <h3 class="font-weight-light">Verify Email & Phone No.</h3>
                </div>
                <div class="col-lg-10"><a style="display: inline-flex">
                        <h5>Please enter verification code sent to your phone no. & email. </h5>
                    </a></div>
                <form [formGroup]="otpForm" >
                    <div class="row col-12">
                        <div class="col-sm-7"  [(ngModel)]="phone">

                            <label for="floatingInputGrid">Verify your Phone No. {{phone}}</label>
                            <div class=" d-md-flex justify-content">
                                <input type="text-right mr-3" class="form-control" placeholder="Enter OTP"
                                    aria-label="City">
                                <button class="btn1 me-1" type="button">Verify</button>
                            </div>
                        </div>
                        <div class="col-lg-12"><a style="display: inline-flex">
                                <h6>Don't receive the code? </h6>
                                <h6 class="ml-1"> Resend </h6>
                            </a></div>
                    </div>
                    <div class="row col-12">
                        <div class="col-sm-7"  [(ngModel)]="email_id">
                            <label for="floatingInputGrid">Verify your Email Id. {{email_id}}</label>
                            <div class=" d-md-flex justify-content">
                                <input type="text-right mr-3" class="form-control"  placeholder="Enter OTP"
                                    aria-label="City" name="otp" formControlName="otp" id="otp">
                                <button class="btn1 me-1" type="button" (change)="onVerify()">Verify</button>
                            </div>
                        </div>
                        <div class="col-lg-12"><a style="display: inline-flex">
                                <h6>Don't receive the code? </h6>
                                <h6 class="ml-1"> Resend </h6>
                            </a></div>
                    </div>


                    <div class="form-group d-flex align-items-center justify-content-between  col-sm-12">
                        <!-- <a class="btn btn2" routerLink="/login">Submit</a> -->
                        <button class="btn btn2" type="submit" (click)="onSubmitRegisterform()">Next</button>
                    </div>

                </form>
            </div>
            <div class="text1"><a routerLink="/login" style="display: inline-flex">Already a member?<h6 class="ml-1"> Sign In</h6></a></div>

        </div>


    </div>
</sb-layout-auth>

