@import 'styles/variables.scss';

.container{
    background-color: white;
    height: 100vh;
}

.float-left {
    float: left !important;
    margin: 0px 120px 0px -25px;
    width: 570px;
    height: 100vh;
}

label {
    display: inline-block;
    margin: 20px 0px 0px -10px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
}

.form-control {
    display: block;
    width: 78%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color:  #7A86A1;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 10px 0px 0px -10px;
}
.log h3 .b{
    margin: 20px 0px 0px 0px;
}
.font-weight-light {
    font-weight: 600 !important;
    margin: 20px 0px 0px 0px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 50px;
}
.btn2 {
    cursor: pointer;
    width: 300px;
    border-radius: 22px;
    margin: 18px 0px 0px 3px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;

}
.text{
    margin: 100px 0px 0px 0px;
    
}
.text a{
    color: #6149CD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
h5, .h5 {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #7A86A1;
    margin: 5px 0px 0px -10px;
    width: 300px;
}
h6, .h6 {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #7A86A1;
    margin: 5px 0px 0px 50px;
}
.ml-1, .mx-1 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #6149CD;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
}
a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #7A86A1;
    line-height: 30px;
}
.text1{
    margin: 40px 0px 0px -15px;
}
.btn1 {
    cursor: pointer;
    width: 92px;
    height: 29px;
    margin: 13px 0px 0px -96px;
    border-radius: 12px;
    background-color: #6149CD;
    border: none;
    color: #ffffff;
}
.text-danger {
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.form-control.is-invalid {
    border: 1px solid red;
    background: padding-box;
}
.verified{
    margin: 52px 0px 0 36%;
    background-color: #ffffff;
    width: 35px;
    height: 30px;
    position: absolute;
    border: none;
}
.verified1{
    margin: 11px 0px 0 61%;
    background-color: #ffffff;
    width: 35px;
    height: 30px;
    position: absolute;
    border: none;
}

