.teamnav {
/*  flex-wrap: unset!important;
*/  border: 0;
}
.teamnav .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
}
.chatbox-data .mess {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}
.image-upload>input {
  display: none;
}
  .image-upload{  display: inline-block;}
.action{
        margin-top: -40px;

}
.action .btn{
    padding: 5px;
}
.sharebtn{
    margin-top: -40px;
}
.online img{
width: 10px!important;
}
.online{
    color: #00bf00;
}
.round{
        border: 1px solid;
    padding: 0px 5px;
    border-radius: 50%;
    margin-top: -10px;
}
.num {
    background: blue;
    color: #fff;
    padding: 1px 5px;
    border-radius: 50%;
    margin-left: 2px;
}
.list_chat{
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    height: 450px;
}
.list_chat li{
display: flex;
}
.wpImg img , .headingset img{
    width: 40px;
    border-radius: 50%;
}
.profile img{
     width: 100px;
    border-radius: 50%;
}
.wpImg{
    margin: auto;}
.wpDetail{
    padding: 5px;
}
.border-bottom{
    border-bottom: 1px;
}
.border-right{
    border-right: 1px;
}
.chatboxproimg img{
    width: 40px;
    border-radius: 50%;
}
.chatbox-data{
    height: 300px;
    border-bottom: 1px;
}