.user-img{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

.user-checkbox{
    width: 20px;
    height: 15px;
}

.user-dropdown{
    min-height: 45px;
    font-size: 15px;
}
.created-at,.updated-at{
    color: black;
    font-family: 'Manrope';
    font-weight: 600;
}
.team-id{
    color: black;
    font-family: 'Manrope';
    font-weight: 500;
}
.length-user{
    color: black!important;
}