@import 'styles/variables.scss';

  .box{
    margin: 10px 0px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    padding: 30px;

}

 .box h4{
      font-size: 20px;
    font-weight: 400;
}

section{
	    margin: 50px auto;
}