<sb-layout-dashboard [light]="false">
		<sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="true"></sb-dashboard-head>
<!-- <sb-dashboard-card col-md-3s></sb-dashboard-card col-md-3s><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables>
 -->
 <section>
   <h4>Subscribers</h4>
            <div class="row">
                
                    <div class="box col-md-3">
                        <h4>Total Subscribers</h4>
                        <span>0</span>
                    </div>
                    <div class="box col-md-3">
                        <h4>Active Subscribers</h4>
                        <span>0</span>
                    </div>
            
                    <div class="box col-md-3">
                        <h4>Active Subscribers</h4>
                        <span>0</span>
                    </div>
              
            </div>
      </section>
      <section>
            <h4>Interactions</h4>
            <div class="row">
            	<div class="box col-md-3">
                        <h4>Open Conversation</h4>
                        <span>0</span>
                    </div>
                    <div class="box col-md-3">
                        <h4>Closed Conversation</h4>
                        <span>0</span>
                    </div>
            
                    <div class="box col-md-3">
                        <h4>Closed Conversation</h4>
                        <span>0</span>
                    </div>
            </div>
        </section>
        <section>
            <h4>Campaigns</h4>
            <div class="row">
            	<div class="box col-md-3">
                    <h4>Scheduled Campaigns</h4>
                    <span>0</span>
                    </div>
                    <div class="box col-md-3">
                        <h4>Delivered Campaigns</h4>
                        <span>0</span>
                    </div>
            
                    <div class="box col-md-3">
                        <h4>Pending Campaigns</h4>
                        <span>0</span>
                    </div>

                    <div class="box col-md-3">
                        <h4>Failed Campaigns</h4>
                        <span>0</span>
                    </div>
                
            </div>
        </section>
        <section>
            <h4>Agents</h4>
            <div class="row">
            		<div class="box col-md-3">
                    <h4>Total Agents</h4>
                    <span>0</span>
                    </div>
                    <div class="box col-md-3">
                       <h4>Active Agents</h4>
                       <span>0</span>
                    </div>
            
                    <div class="box col-md-3">
                        <h4>Inactive Agents</h4>
                        <span>0</span>
                    </div>
              
            </div>
        </section>
        <section>
   <h4>Billing Plan</h4>
   <div class="row">
   <div class="box col-md-3">
                    <h4>Subscription upto</h4>
                    </div>
                </div>
        </section>
</sb-layout-dashboard>
