html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}

.ag-theme-alpine {
width: 100%; 
height: 560px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 2px 13px 54px #695F9714;
border-radius: 30px;
opacity: 1;
border: none;
font-family: 'Manrope';
font-style: normal;
letter-spacing: 0px;
font-size :14px;
color: #6149CD;
}

.multiselect-dropdown{
    font-family: 'Manrope';
}

.ag-theme-alpine.ag-row {
    font-size: 14px;
    border: none;
    border-radius: 30px;

}

.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
    /* border: 1px solid transparent; */
    border: 1px solid #7070700D;
    /* border-radius: 24px; */
    background: #FBF9FE;
    line-height: 40px;
    padding-left: 17px;
    padding-right: 17px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Manrope';

}

.ag-theme-alpine [class^=ag-], .ag-theme-alpine [class^=ag-]:focus, .ag-theme-alpine [class^=ag-]:after, .ag-theme-alpine [class^=ag-]:before {
    box-sizing: border-box;
    outline: none;
    /* background: #ffffff; */
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    border-radius: 19px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    margin: 0px 0px 0px -18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.btn {
    cursor: pointer;
    color: #7A86A1;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 0px 0px 0px 5px;
}
.btn:not(:disabled):not(.disabled):hover {
    cursor: pointer;
    color: #6149CD;
    box-shadow: 1px 8px 29px #695F9724;
    opacity: 1;
}
.box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 2px 13px 54px #695F9714;
border-radius: 30px;
opacity: 1;
}

.tt .btn7{
    margin: 15px 0px 0px 0px;
    width: 80px;
    height: 30px;
    color: #6236FF;
    background-color: transparent;
    border: none;
}
.tt .btn6{
    margin: 15px 0px 0px 30px;
    width: 80px;
    height: 30px;
    color: #FF3636;
    background-color: transparent;
    border: none;
}
 
.ff{
    width: 330px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFF4F2;
    opacity: 1;
    
}
.ff:hover{
    box-shadow: 0px 10px 15px #00000021;
    width: 330px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFF4F2;
    opacity: 1;
}
h4, .h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000000;
}
.fff p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #000000;
    margin: 2px 0px 0px 0px
}

.popfooter .btn1{
    width: 85px;
    height: 35px;
    background: #6149CD 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    opacity: 1;
    color: #ffffff;
    margin: 0px 0px 0px -15px;
}
.popfooter .btn{
    width: 90px;
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    color: #7A86A1;
    opacity: 1;

}


label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}
.dd img {
    padding: 40px 0px 0px 44%;
}
.dd{
    background-color: #FFF4F2;
    border-radius: 20px;
}
.dd h4{
    padding: 0px 0px 0px 42%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.dd p{
    text-align: center;
    letter-spacing: 0px;
    color: #7A86A1;
    opacity: 1;
}
.dd .ss img{
    padding: 0px;
}
.dd .text{
    margin: -60px 0px 0px 0px;
}
.dd .btn{
    margin: 55px 0px 0px -20px;
    width: 100px;
    height: 38px;
}
.dd .btn1{
    width: 100px;
    height: 38px;
    margin: -5px 0px 0px -20px;
}
.sq{
    background-color: #FFF4F2;
    width: 46%;
    min-height: 350px;
    max-height: 100%;
    margin: 0px 10px;
    border-radius: 20px;
}


.sq label{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 35px 0px 5px 20px;
}
option{
    font: normal normal normal 14px/23px;
 letter-spacing: 0px;
 color: #7A86A1;
 opacity: 1;
 font-family: 'Montserrat', sans-serif;

}
option:hover{
   
 color: #7A86A1!important;
 opacity: 1;
 background-color: #000000;

}
.sq .form-control{
    color: #7A86A1;
    width: 90%;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
}

.sq .control{
    color: #000000;
    width: 90%;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}
.sq .jk label{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0px 10px 20px;
}
.sq .jk .form-control{
    color: #000000;
    width: 90%;
    margin: 0px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #FFF4F2;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}
.gf img {
    position: absolute;
    margin: 11px 0px 0px -8px;
    width: 15px;
    height: 15px;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
   
    margin: 0px 0px 0px -20px;
    padding: 0px 0px 0px 34px;
}

.table tr {
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
.table tr:hover{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 0px 14px #695F972E;
border: none;
opacity: 1;
}
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: none;
    width: 140px;
    
}
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: none;
    width: 50px;
}
.table thead{
    display: table;
    width: 95%;
    background: transparent;
    padding: 10px 3px 0px 0px;
    color: #6149CD;
    font-size: 14px;
    margin: 0px 18px;
    font-family: 'Montserrat', sans-serif;
}
.table thead .table-box{
    color: #6149CD;
    background: transparent;
    margin: 0px 23px;
}
.table thead .table-box:hover{
    box-shadow: none;
}
.table tr td img{
    margin: -4px 0px 0px 10px;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    float: right;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: none;
}
.page-link:hover {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6149CD;
    background-color: #fff;
    border: none;
}
.hd .btn0{
    margin: 10px 0px 0px 26%;
    background-color: #FFF4F2;
    border: 1px solid #695F9724;
    color: #7A86A1;
    border-radius: 20px;
    width: 58px;

}
.hd .btn0:active {
    margin: 10px 0px 0px 26%;
    background-color: #FFffff;
    border: 1px solid #695F9724;
    color: #6149CD;
    border-radius: 20px;
    width: 58px;

}
.hd .btn9{
    margin: 10px 0px 0px 0px;
    background-color: #FFF4F2;
    border: 1px solid #695F9724;
    color: #7A86A1;
    border-radius: 20px;
    width: 58px;
}
.hd .btn9:active{
    margin: 10px 0px 0px 0px;
    background-color: #FFffff;
    border: 1px solid #695F9724;
    color: #6149CD;
    border-radius: 20px;
    width: 58px;

}
.tabCol{
    display: none;
}
.multi{
  
        display: inline-block;
        border: 1px solid #EBEBEB;
        width: 94%;
        height: 38px;
        padding: 1px 3px;
        font-weight: 400;
        line-height: 1.52857143;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 15px;
        font-family: 'Montserrat', sans-serif;
        color: #7A86A1;
        background-color: #ffffff;
        margin: 8px 0px 0px 5px;
    }
    .multiselect{
        display: inline-block;
        border: 1px solid #ced4da;
        width: 100%;
        height: 38px;
        padding: 1px 3px;
        font-weight: 400;
        line-height: 1.52857143;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #7A86A1;
        background-color: #ffffff;
        margin: -2px 0px 0px 0px;
    }
    .multiselect-dropdown .dropdown-btn.selected-item-container.selected-item {
        border: none;
        margin-right: 4px;
        margin-bottom: 4px;
        background: bisque;
        padding: 0 5px;
        color: #000000;
        border-radius: 7px;
        float: left;
    }

.delete img{
    width: 22px;
    height: 23px;
    margin: -3px -10px 0px 0px;
    float: right;
}
.delete .btn{
    width: 29px;
    height: 31px;
    float: right;
    margin: -10% 40px 0px 0px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FBF9FE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar .btn5{
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    background-color: #ffffff;
    float: right;
  }
  
  .sidebar .parent img{
    height: 80px;
    margin: 50px 0px 0px -10px;
}
.sidebar .parent .child h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 50px 0px 5px 0px;
    color: #000000;
}
.sidebar .parent .child .child1{
    display: block;
  }
  .sidebar .parent .child .child1 h5{
    font-family: "Montserrat", sans-serif;
    color: #7A86A1;
    font-size: 12px;
    font-weight: 500;
}
  .sidebar .parent .child .child1 h6{
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 0px 3px;
} 
.sidebar .parent .child2{
    display: block;
    width: 160px;
}
.sidebar .parent .child2 h5{
    color: #6149CD;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 15px 0 0 20px;
}
.sidebar .parent .child2 h6{
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: 0 0 0 20px;
}
.sidebar .parent .child3{
    margin: 0;
}
.sidebar .parent .child3 h5{
    color: #6149CD;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 15px 0 0 20px;
}
.sidebar .parent .child3 h6{
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: 0 0 0 20px;
}
.sidebar .child3{
    margin: 0 0 0 40px;

}
.sidebar .child3 h5{
    color: #6149CD;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 15px 0 0 20px;
}
.sidebar .child3 h6{
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: 10px 0 0 20px;
}
.sidebar .child5 .child4 .line{
    height: 11px;
    width: 1px;
    color: #BDC3D0;
    border: 1px solid #BDC3D0;
    margin: 10px 0 0 20px;
}
.sidebar .child5 h5{
    color: #6149CD;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 15px 0 0 20px;
}
.sidebar .child5 h6{
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 10px 0 0 20px;
    font-weight: 500;
}
.sidebar h4{
    color: #000000;
    font-size: 13px;
    margin: 20px 0px 0px 20px;
    font-family: "Montserrat", sans-serif;
}
.sidebar .child2 h5{
    color: #6149CD;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 15px 0 0 20px;
}
.sidebar .child2 h6{
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: 10px 0 0 20px;
    font-weight: 500;
}
.button .btn6{
    background-color: #ffffff;
    border: 1px solid #695F9724;
    color: red;
    border-radius: 60px;
    margin: 10px 0px 0px 20px;
    box-shadow: 1px 8px 29px #695F9724;
}
.button .btn7{
    background-color: #FBF9FE;
    border: 1px solid #695F9724;
    border-radius: 20px;
    margin: 10px 0px 0px 20px;
}
.sidebar .bbox{
    background-color: #FBF9FE;
    border: 1px solid #695F9724;
    border-radius: 20px;
    margin: 10px 7px 0px 20px;
}
.sidebar .bbox h6{
    color: #7A86A1;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 10px 0px 0px 10px;
}