.container-empty-state {
    font-family: 'Manrope';
}

.container-empty-state {
    height: 45vh;
}

.body-empty-state img {
    width: 123px;
    height: 109px;
}

.body-empty-state h5 {
    font-weight: 700;
}

.body-empty-state p{
    color: #7A86A1;
}

::-webkit-scrollbar {
    display: none;
}
.contact-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5% 3% 5%;
}


.ag-theme-alpine {
    height: 740px;
    border-radius: 30px;
    opacity: 1;
    font-family: "Manrope";
    font-style: normal;
    font-size: 14px;
    color: #6149CD;
    left: 1px;
    margin: 2% 5% 3% 5%;
}

.btn-9 {
    cursor: pointer;
    width: 122px;
    color: #7A86A1;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    font-family: "Manrope";
    font-size: 14px;
    height: 34px;
    outline: none;
}
.gf img {
    position: absolute;
    margin: 11px 0px 0px 12px;
    width: 15px;
    height: 15px;
}

.gf {
    width: 300px;
}

// .ag-theme-alpine .ag-row {
//     font-size: 10px;
//     border-width: none;
//     border-color: #ffffff!important;
//     border-bottom-style: transparent;
//     background: black !important;
//     border-radius: 18px !important;
//     height: 42px !important;

// }


.btn-footer{
    border-top: 2px solid #e5e0e0;
    position: fixed;
    bottom: 0;
    background: #fbf9fe;
}




html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}


.multiselect-dropdown{
    font-family: 'Manrope';
}





// .ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
//     border: 1px solid #7070700D;
//     background: #FBF9FE;
//     line-height: 40px;
//     padding-left: 17px;
//     padding-right: 17px;
//     -webkit-font-smoothing: subpixel-antialiased;
//     font-family: 'Manrope';

// }

// .ag-theme-alpine [class^=ag-], .ag-theme-alpine [class^=ag-]:focus, .ag-theme-alpine [class^=ag-]:after, .ag-theme-alpine [class^=ag-]:before {
//     box-sizing: border-box;
//     outline: none;
// }

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    border-radius: 19px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    margin: 0px 0px 0px -18px;
    font-family: 'Manrope';
    font-size: 14px;
}
.btn {
    cursor: pointer;
    color: #7A86A1;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    font-family: 'Manrope';
    font-size: 14px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 0px 0px 0px 5px;
    width: 122px;
}
.btn:not(:disabled):not(.disabled):hover {
    cursor: pointer;
    color: #6149CD;
    box-shadow: 1px 8px 29px #695F9724;
    opacity: 1;
}

.btn-9 {
    cursor: pointer;
    width: 122px;
    color: #7A86A1;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    font-family: "Manrope";
    font-size: 14px;
    height: 34px;
}

.btn-delete {
    width: 40px;
    height: 35px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 1px 2px 15px #695F974A;
    margin: 0 0 0 11px;
}

.btn-delete img {
    width: 15px;
    height: 15px;
    margin: -4px 0 0 0;
}

// .box {
// background: #FFFFFF 0% 0% no-repeat padding-box;
// box-shadow: 2px 13px 54px #695F9714;
// border-radius: 30px;
// opacity: 1;
// }

.tt .btn7{
    margin: 15px 0px 0px 0px;
    width: 80px;
    height: 30px;
    color: #6236FF;
    background-color: transparent;
    border: none;
}
.tt .btn6{
    margin: 15px 0px 0px 30px;
    width: 80px;
    height: 30px;
    color: #FF3636;
    background-color: transparent;
    border: none;
}
 
.ff{
    width: 330px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFF4F2;
    opacity: 1;
    
}
.ff:hover{
    box-shadow: 0px 10px 15px #00000021;
    width: 330px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFF4F2;
    opacity: 1;
}
h4, .h4 {
    font-family: 'Manrope';
    font-size: 22px;
    color: #000000;
}
.fff p{
    font-family: 'Manrope';
    font-size: 17px;
    color: #000000;
    margin: 2px 0px 0px 0px
}

.modal-header.px-4.align-items-center h4 {
    font-weight: 700;
}

.popfooter .btn1{
    background: #6149CD 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    opacity: 1;
    padding: 2% 15% 2% 15%;
    font-size: 14px;
    color: #ffffff;

}

.popfooter .btn{
    width: 90px;
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    color: #7A86A1;
    opacity: 1;

}

 .col-md-12 {
    left: 116px;
    width: 75%;
 }

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-family: 'Manrope';
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Manrope';
}
.dd img {
    padding: 40px 0px 0px 44%;
}
.dd{
    background-color: #FFF4F2;
    border-radius: 20px;
}
.dd h4{
    padding: 0px 0px 0px 42%;
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 22px;
}
.dd p{
    text-align: center;
    letter-spacing: 0px;
    color: #7A86A1;
    opacity: 1;
}
.dd .ss img{
    padding: 0px;
}
.dd .text{
    margin: -60px 0px 0px 0px;
}
.dd .btn{
    margin: 55px 0px 0px -20px;
    width: 100px;
    height: 38px;
}
.dd .btn1{
    width: 100px;
    height: 38px;
    margin: -5px 0px 0px -20px;
}
.sq{
    background-color: #FFF4F2;
    width: 46%;
    min-height: 350px;
    max-height: 100%;
    margin: 0px 10px;
    border-radius: 20px;
}


.sq label{
    font-size: 15px;
    font-family: 'Manrope';
    font-weight: bold;
    margin: 35px 0px 5px 20px;
}
option{
    font: normal normal normal 14px/23px;
 letter-spacing: 0px;
 color: #7A86A1;
 opacity: 1;
 font-family: 'Manrope';

}
option:hover{
   
 color: #7A86A1!important;
 opacity: 1;
 background-color: #000000;

}
.sq .form-control{
    color: #7A86A1;
    width: 90%;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
}

.sq .control{
    color: #000000;
    width: 90%;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    font-family: 'Manrope';
    font-size: 15px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}
.sq .jk label{
    font-size: 15px;
    font-family: 'Manrope';
    margin: 10px 0px 10px 20px;
}
.sq .jk .form-control{
    color: #000000;
    width: 90%;
    margin: 0px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #FFF4F2;
    font-family: 'Manrope';
    font-size: 15px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {   
    margin: 0px;
    padding: 0px 0px 0px 34px;
}

.table tr {
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Manrope';
    border: none;
}
.table tr:hover{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Manrope';
    box-shadow: 0px 0px 14px #695F972E;
border: none;
opacity: 1;
}
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: none;
    width: 140px;
    
}
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: none;
    width: 50px;
}
.table thead{
    display: table;
    width: 95%;
    background: transparent;
    padding: 10px 3px 0px 0px;
    color: #6149CD;
    font-size: 14px;
    margin: 0px 18px;
    font-family: 'Manrope';
}
.table thead .table-box{
    color: #6149CD;
    background: transparent;
    margin: 0px 23px;
}
.table thead .table-box:hover{
    box-shadow: none;
}
.table tr td img{
    margin: -4px 0px 0px 10px;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    float: right;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff;
    border: none;
}
.page-link:hover {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6149CD;
    background-color: #fff;
    border: none;
}
.hd .btn0{
    margin: 10px 0px 0px 26%;
    background-color: #FFF4F2;
    border: 1px solid #695F9724;
    color: #7A86A1;
    border-radius: 20px;
    width: 58px;

}
.hd .btn0:active {
    margin: 10px 0px 0px 26%;
    background-color: #FFffff;
    border: 1px solid #695F9724;
    color: #6149CD;
    border-radius: 20px;
    width: 58px;

}
.hd .btn9{
    margin: 10px 0px 0px 0px;
    background-color: #FFF4F2;
    border: 1px solid #695F9724;
    color: #7A86A1;
    border-radius: 20px;
    width: 58px;
    outline: none;
}
.hd .btn9:active{
    margin: 10px 0px 0px 0px;
    background-color: #FFffff;
    border: 1px solid #695F9724;
    color: #6149CD;
    border-radius: 20px;
    width: 58px;
    outline: none;

}

#export-btn {
    outline: none;
}
.tabCol{
    display: none;
}
.multi{
  
        display: inline-block;
        border: 1px solid #EBEBEB;
        width: 94%;
        height: 38px;
        padding: 1px 3px;
        font-weight: 400;
        line-height: 1.52857143;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 15px;
        font-family: 'Manrope';
        color: #7A86A1;
        background-color: #ffffff;
        margin: 8px 0px 0px 5px;
    }
    .multiselect{
        display: inline-block;
        border: 1px solid #ced4da;
        width: 100%;
        height: 38px;
        padding: 1px 3px;
        font-weight: 400;
        line-height: 1.52857143;
        text-align: left;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 20px;
        font-family: 'Manrope';
        color: #7A86A1;
        background-color: #ffffff;
        margin: -2px 0px 0px 0px;
    }
    .multiselect-dropdown .dropdown-btn.selected-item-container.selected-item {
        border: none;
        margin-right: 4px;
        margin-bottom: 4px;
        background: bisque;
        padding: 0 5px;
        color: #000000;
        border-radius: 7px;
        float: left;
    }

// .delete img{
//     width: 22px;
//     height: 23px;
//     margin: -3px -10px 0px 0px;
//     float: right;
// }
// .delete .btn{
//     width: 29px;
//     height: 31px;
//     float: right;
//     margin: -10% 40px 0px 0px;
// }

.sidebar {
    font-family: 'Manrope';
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FBF9FE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidebar .btn5{
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    background-color: #ffffff;
    float: right;
  }
  
  .sidebar .parent img{
      /* width: 120px; */
    /* height: 120px; */
    margin-top: 50px;
    margin-right: 24px;
    margin-left: 14px;
}
.sidebar .parent .child h4{
    font-weight: 800;
    font-size: 17px;
    margin: 64px 0px 5px 0px;
    color: #000000;
}
.sidebar .parent .child .child1{
    display: block;
  }
  .sidebar .parent .child .child1 h5{
    color: #7A86A1;
    font-size: 12px;
    font-weight: 600;
}
  .sidebar .parent .child .child1 h6{
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 0px 3px;
} 
.sidebar .parent .child2{
    display: block;
    width: 160px;
}
.sidebar .parent .child2 h5{
    color: #6149CD;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}
.sidebar .parent .child2 h6{
    color: #000000;
    font-size: 11px;
    margin: 0;
    font-weight: 500;
}
.sidebar .parent .child3{
    margin: 0;
}
.sidebar .parent .child3 h5{
    color: #6149CD;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}
.sidebar .parent .child3 h6{
    color: #000000;
    font-size: 11px;
    margin: 0;
    font-weight: 500;
}
.sidebar .child3{
    margin: 0

}
.sidebar .child3 h5{
    color: #6149CD;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}
.sidebar .child3 h6{
    color: #000000;
    font-size: 11px;
    margin: 0;
    font-weight: 500;
}
.sidebar .child5 .child4 .line{
    height: 11px;
    width: 1px;
    color: #BDC3D0;
    border: 1px solid #BDC3D0;
    margin: 10px 0 0 20px;
}
.sidebar .child5 h5{
    color: #6149CD;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}

.sidebar .child5 h5 img {
    width: 11px;
    height: 11px;
    margin-right: 6px!important;
}

.sidebar .child5 h6{
    color: #000000;
    font-size: 12px;
    margin: 0;
    font-weight: 500;
}
.sidebar h4{
    color: #000000;
    font-size: 13px;
    margin: 20px 0px 0px 20px;
}
.sidebar .child2 h5{
    color: #6149CD;
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}
.sidebar .child2 h6{
    color: #000000;
    font-size: 11px;
    margin: 0;
    font-weight: 500;
}

.child5 > h5 > img {
    margin: 0;
}

.age-field.child3 h5 {
    width: 98px;
}



.button {
    gap: 10px;
}
.button .btn6{
    background-color: #ffffff;
    border: 1px solid #695F9724;
    color: #F23B3B;
    margin: 0;
    height: 45px;
    width: 50px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    outline: none;
    // margin: 10px 0px 0px 20px;
    box-shadow: 1px 8px 29px #695F9724;
}
.button .btn7{
    background-color: #FBF9FE;
    border: 1px solid #695F9724;
    border-radius: 30px;
    height: 45px;
    width: 50px;
    margin: 0;
    outline: none;
    // margin: 10px 0px 0px 20px;
}

#block-btn {
    width: 75px;
}
.sidebar .bbox{
    background-color: #FBF9FE;
    border: 1px solid #695F9724;
    border-radius: 20px;
    margin: 10px 25px 10px 25px;
}
.sidebar .bbox h6{
    color: #7A86A1;
    font-size: 11px;
    font-weight: 400;
    margin: 5px 5px 5px 5px;
}

.modal-backdrop {
  backdrop-filter: blur(5px);
}

//  edit tag styles //


.edit-tag-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: auto;
    top: 125px;
    left: 355px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
 
ul.edit-tag-dropdown {
   list-style-type: none;
}

#edit-tag-head  {
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 700;
    margin-left: 43px;
    margin-top: 7px;

}

#edit-tagnames {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
#edit-tag-dots {
    margin-right: 10px;
    margin-left: 10px;
}

#edit-btn {
width: 110px;
height: 40px;
background: #ffffff;
border: 1px solid #ebebeb;
border-radius: 17px;
margin-left: 58px;
opacity: 1;
font-size: 14px;
font-weight: 700;
}

#edit-btn-save {
width: 110px;
height: 40px;
background: #6149cd;
color: #ffffff;
border: 1px solid #ebebeb;
border-radius: 17px;
margin-left: 20px;
opacity: 1;
font-size: 14px;
font-weight: 700;
}

#close-btn {
width: 40px;
height: 40px;
background: #FFFFFF;
border-radius: 16px;
opacity: 1;
border: 1px solid #ebebeb;
font-family: 'Manrope';
font-size: 13px;


}

#close-btn:focus {
outline: none;

}

.text-danger {
    color: #dc3545 !important;
    font-size: 15px;
}
.form-control .option{
    margin: 0;
}

 .deletecontacts-content {
  
    position: relative;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 196px;
    top: 145px;
    left: 115px;
    pointer-events: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
    outline: 0;
    border: none;
}

.deletecontacts-body {
    font-family: "Manrope";
    font-size: 14px;
    top: 40px;
    font-weight: 600;
    text-align: center;
}

  .deletefile .btn9 {
    border: 1px solid #695F9724!important;
    position: absolute;
    font-size: 11px;
    font-family: "Manrope";
    background-color: #ffffff;
    color: #7A86A1;
    margin: -58px 22px 15px 61px;
    border-radius: 15px;
    width: 80px;
    height: 32px;
    outline: none;
    border: none;
    cursor: pointer;
   

}


.deletefile .btn99 {
    border: 1px solid #695F9724!important;
    position: absolute;
    font-size: 11px;
    font-family: "Manrope";
    color: #ffffff;
    background: #F23B3B;
    width: 93px;
    top: 70%;
    left: 52%;
    height: 33px;
    border-radius: 14px;
    outline: none;
    border: none;
    cursor: pointer;
 
}


//    #contact-save {
//     text-align: center;
//     font-family: 'Manrope';
//     font-weight: 600;
//     font-size: 14px;
//     margin-top: 38px;
//     width: 100%;
//   }

//   #contact-save-btn {

//     margin-left: -86px;
//     opacity: 1;
//     font-family: 'Manrope';
//     font-size: 12px;
//     font-weight: 500;
//     border: 1px solid #695F9724;
//     background-color: #F23B3B;
//     color: #ffffff;
//     border-radius: 15px;
//     margin-top: -5px;
//     width: 80px;
//     height: 36px;
//     cursor: pointer;
//     text-align: center;
//     outline: none;

//   }

  .btn1.btn-success.disabled {
    background: grey;
  }

  #model{
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    top: 100px;
}
#model-message{
    width: 217%;
    padding: 0px;
}
#doclaa{
    height: 0px;
}


/***** media queries for laptops ****/

//  @media screen and (min-width:1536px) {


// .bs-stepper {
//     margin: 47px 82px;
//     }

//  .ag-theme-alpine {
//     width: 95%;
//     height: 590px;
//     font-size: 12px;
//     font-weight: 400;
//     margin-left: 28px;
//     margin-top: -10px;

//  }

//  .btn-9 {
//       margin: 0px 0px 0px 388px;
//       width: 94px;
//       height: 26px;
//       font-size: 11px;
//  }


//  #import-btn {
//     width: 94px;
//     height: 26px;
//     font-size: 11px;
//     padding: 0;
//  }

//  #add-contact {
//     width: 96px;
//     height: 26px;
//     font-size: 11px;
//     padding: 0;
//  }

//  .col-md-12 {
   
//     left: 26px;
//     width: 80%;
//  }


//  .btn-delete { 
//     width: 33px;
//     height: 26px;}
    
// .btn-delete img {
//     width: 12px;
//     height: 13px;
//     margin: -6px -1px 0 0;

//  }




// /***** media queries for 1366x768 ****/

//  @media screen and (max-width:1366px) {


// .bs-stepper {
//     margin: 47px 82px;
//     }

//  .ag-theme-alpine {
//     width: 95%;
//     height: 590px;
//     font-size: 12px;
//     font-weight: 400;
//     margin-left: 28px;
//     margin-top: -10px;

//  }

//  .btn-9 {
//       margin: 0px 0px 0px 292px;
//       width: 94px;
//       height: 26px;
//       font-size: 11px;
//  }


//  #import-btn {
//     width: 94px;
//     height: 26px;
//     font-size: 11px;
//     padding: 0;
//  }

//  #add-contact {
//     width: 96px;
//     height: 26px;
//     font-size: 11px;
//     padding: 0;
//  }

//  .col-md-12 {
   
//     left: 26px;
//     width: 80%;
//  }


//  .btn-delete { 
//     width: 33px;
//     height: 26px;}
    
// .btn-delete img {
//     width: 12px;
//     height: 13px;
//     margin: -6px -1px 0 0;

//  }
//  .modal-content {
  
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     width: 310px;
//     height: 196px;
//     top: 190px;
//     left: 115px;
//     pointer-events: auto;
//     background: #FFFFFF 0% 0% no-repeat padding-box;
//     box-shadow: 4px 22px 54px #695F971A;
//     border-radius: 30px;
//     outline: 0;
//     border: none;
// }

// .modal-dialog .modal-content .modal-body {
//     font-family: "Manrope";
//     font-size: 14px;
//     top: 40px;
//     font-weight: 600;
//     text-align: center;
// }

// .modal-dialog .modal-content .deletefile .btn9 {
//     border: 1px solid #695F9724;
//     position: absolute;
//     font-size: 11px;
//     font-family: "Manrope";
//     background-color: #ffffff;
//     color: #7A86A1;
//     margin: -58px 22px 15px 61px;
//     border-radius: 15px;
//     width: 80px;
//     height: 32px;
//     cursor: pointer;
   

// }


// .modal-dialog .modal-content .deletefile .btn99 {
//     border: 1px solid #695F9724;
//     position: absolute;
//     font-size: 11px;
//     font-family: "Manrope";
//     color: #ffffff;
//     background: #F23B3B;
//     width: 93px;
//     top: 70%;
//     left: 52%;
//     height: 33px;
//     border-radius: 14px;
//     cursor: pointer;
 
// }


//    #contact-save {
//     text-align: center;
//     font-family: 'Manrope';
//     font-weight: 600;
//     font-size: 14px;
//     margin-top: 38px;
//     width: 100%;
//   }

//   #contact-save-btn {

//     margin-left: -86px;
//     opacity: 1;
//     font-family: 'Manrope';
//     font-size: 12px;
//     font-weight: 500;
//     border: 1px solid #695F9724;
//     background-color: #F23B3B;
//     color: #ffffff;
//     border-radius: 15px;
//     margin-top: -5px;
//     width: 80px;
//     height: 36px;
//     cursor: pointer;
//     text-align: center;

//   }


// }


// /***** media queries for 1280px ****/

//  @media screen and (max-width:1280px) {


// .bs-stepper {
//     margin: 47px 82px;
//     }

//  .ag-theme-alpine {
//     width: 95%;
//     height: 590px;
//     font-size: 12px;
//     font-weight: 400;
//     margin-left: 28px;
//     margin-top: -10px;

//  }

//  .btn-9 {
//       margin: 0px 0px 0px 250px;
//       width: 94px;
//       height: 26px;
//       font-size: 11px;
//  }


//  #import-btn {
//     width: 94px;
//     height: 26px;
//     font-size: 11px;
//     padding: 0;
//  }

//  #add-contact {
//     width: 96px;
//     height: 26px;
//     font-size: 11px;
//     padding: 0;
//  }

//  .col-md-12 {
   
//     left: 26px;
//     width: 80%;
//  }


//  .btn-delete { 
//     width: 33px;
//     height: 26px;}
    
// .btn-delete img {
//     width: 12px;
//     height: 13px;
//     margin: -6px -1px 0 0;

//  }
//  .modal-content {
  
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     width: 310px;
//     height: 196px;
//     top: 190px;
//     left: 115px;
//     pointer-events: auto;
//     background: #FFFFFF 0% 0% no-repeat padding-box;
//     box-shadow: 4px 22px 54px #695F971A;
//     border-radius: 30px;
//     outline: 0;
//     border: none;
// }

// .modal-dialog .modal-content .modal-body {
//     font-family: "Manrope";
//     font-size: 14px;
//     top: 40px;
//     font-weight: 600;
//     text-align: center;
// }

// .modal-dialog .modal-content .deletefile .btn9 {
//     border: 1px solid #695F9724;
//     position: absolute;
//     font-size: 11px;
//     font-family: "Manrope";
//     background-color: #ffffff;
//     color: #7A86A1;
//     margin: -58px 22px 15px 61px;
//     border-radius: 15px;
//     width: 80px;
//     height: 32px;
//     cursor: pointer;
   

// }


// .modal-dialog .modal-content .deletefile .btn99 {
//     border: 1px solid #695F9724;
//     position: absolute;
//     font-size: 11px;
//     font-family: "Manrope";
//     color: #ffffff;
//     background: #F23B3B;
//     width: 93px;
//     top: 70%;
//     left: 52%;
//     height: 33px;
//     border-radius: 14px;
//     cursor: pointer;
 
// }


//    #contact-save {
//     text-align: center;
//     font-family: 'Manrope';
//     font-weight: 600;
//     font-size: 14px;
//     margin-top: 38px;
//     width: 100%;
//   }

//   #contact-save-btn {

//     margin-left: -86px;
//     opacity: 1;
//     font-family: 'Manrope';
//     font-size: 12px;
//     font-weight: 500;
//     border: 1px solid #695F9724;
//     background-color: #F23B3B;
//     color: #ffffff;
//     border-radius: 15px;
//     margin-top: -5px;
//     width: 80px;
//     height: 36px;
//     cursor: pointer;
//     text-align: center;

//   }


// }



