<sb-layout-dashboard>
	<sb-dashboard-head title="Contacts" [hideBreadcrumbs]="true"></sb-dashboard-head>
<div class="row">
	<div class="col-md-5 mb-4 mt-4">
		<div class="col-md-12 mb-4">
			<form class="d-none d-md-inline-block form-inline  mr-4 mr-md-3 my-1 my-md-0 col-9">
			   <div class="input-group gf ">
				
				   <input class="form-control" type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" />
				   <img src="assets/img/search.png">
			   </div>
		   </form>
		</div>
		   </div>
		
		   <div class="col-xs-3 ml-5 mb-4 mt-4">
		<button class="btn  btn-block float-right" (click)="opens(contents)"><img src="assets/img/filter.png"> Filter</button>
	</div>
	<div class="col-xs-3 ml-1 mb-4 mt-4">
		<button class="btn  btn-block float-right" (click)="opencollum(collum)"><img src="assets/img/column.png"> Collum Prefrences </button>
	</div>

	<div class="col-xs-3 ml-1 mb-4 mt-4">
		<button class="btn  btn-block float-right" (click)="open(content)"><img src="assets/img/export.png"> Export </button>
	</div>
	<div class="col-xs-3 ml-1 mb-4 mt-4">
		<button class="btn  btn-block float-right" routerLink="/dashboard/import"><img src="assets/img/import.png"> Import</button>
	</div>
	<div class="col-xs-3 ml-1 mb-4 mt-4">
		<button class="btn  btn-block float-right"  (click)="openadd(contactadd)"><i class="fa fa-plus"></i> Add Contact</button>
	</div>

</div>


<div class="box">
	<table class="table">
		<thead>
		  <tr class="table-box">
			<th scope="col"><input type="checkbox" name=""></th>
			<th scope="col" class="id" (click)="sort('id')">ID <img src="assets/img/sort.png"></th>
			<th scope="col" class="name" (click)="sort('name')">Name <img src="assets/img/sort.png"></th>
			<th scope="col" class="phone" (click)="sort('phone')">Phone Number <img src="assets/img/sort.png"></th>
			<th scope="col" class="email" (click)="sort('email')">Email <img src="assets/img/sort.png"></th>
			<th scope="col" class="age" (click)="sort('age')">Age <img src="assets/img/sort.png"></th>
			<th scope="col" class="gender" (click)="sort('gender')">Gender <img src="assets/img/sort.png"></th>
			<th scope="col" class="tag" (click)="sort('tag')">Tag <img src="assets/img/sort.png"></th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let employee of employees | orderBy: orderHeader: isDesOrder" >
			<td scope="row"><input type="checkbox" name=""><img src="assets/img/chats.png"></td>
			<td class="id">{{employee.id}}</td>
			<td class="name">{{employee.name}}</td>
			<td class="phone">{{employee.phone}}</td>
			<td class="email">{{employee.email}}</td>
			<td class="age">{{employee.age}}</td>
			<td class="gender">{{employee.gender}}</td>
			<td class="tag">{{employee.tag}}</td>
		  </tr>
		
		</tbody>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
				  <span aria-hidden="true">&laquo;</span>
				</a>
			  </li>
			  <li class="page-item"><a class="page-link" href="#">1</a></li>
			  <li class="page-item"><a class="page-link" href="#">2</a></li>
			  <li class="page-item"><a class="page-link" href="#">3</a></li>
			  <li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
				  <span aria-hidden="true">&raquo;</span>
				</a>
			  </li>
			</ul>
		  </nav>
	  </table>
</div>



<ng-template #content let-c="close" let-d="dismiss">
	<div class="dd"><img src="assets/img/export1.png">
	<div class="modal-header">
		
		<h4 class="modal-title" id="modal-basic-title">Export</h4>
		
	</div>
	<div class="modal-body">
		<p>Your Selected contacts will exported and send on your registed email
</p>
<div class="ss">
<img src="assets/img/your.png">
</div>
	</div>
	<div class="modal-footer popfooter row text">
		<div class="col-md-3 text right">
			<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cancel</button>
		</div>
		<div class="col-md-5">
		<button type="button" class="btn1 btn-outline-dark " (click)="c('Save click')">Export</button>
	</div>
	</div>
</div>
</ng-template>

<ng-template #collum let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Collum Prefrences</h4>
		<button
			type="button"
			class="btn-close"
			aria-label="Close"
			(click)="d('Cross click')"
		></button>
	</div>
	<div class="modal-body">
		<div class="form-group mt-3 d-flex">
			<input type="checkbox" name="" (change)="onchange($event, 'id')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>ID</P>
				</div>
			</div>
		</div>

		<div class="form-group mt-3 d-flex">
			<input type="checkbox"  name="" (change)="onchange($event, 'name')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>Name</P>
				</div>
			</div>
		</div>

		<div class="form-group mt-3 d-flex">
			<input type="checkbox"  name="" (change)="onchange($event, 'phone')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>Phone Number</P>
				</div>
			</div>
		</div>
		<div class="form-group mt-3 d-flex">
			<input type="checkbox"  name="" (change)="onchange($event, 'email')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>Email</P>
				</div>
			</div>
		</div>
		<div class="form-group mt-3 d-flex">
			<input type="checkbox"  name="" (change)="onchange($event, 'age')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>Age</P>
				</div>
			</div>
		</div>
		<div class="form-group mt-3 d-flex">
			<input type="checkbox" name="" (change)="onchange($event, 'gender')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>Gender</P>
				</div>
			</div>
		</div>
		<div class="form-group mt-3 d-flex">
			<input type="checkbox" name="" (change)="onchange($event, 'tag')" checked/>
			<div class="ff ml-2 d-flex">
				<div class="fff ml-3">
					<p><img src="assets/img/swipe-s.png" /></p>
				</div>
				<div class="fff ml-3">
					<P>Tag</P>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer popfooter row">
		<div class="col-md-6 text-right">
			<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">
				Cancel
			</button>
		</div>
		<div class="col-md-2 text-right">
			<button type="button" class="btn1 btn-outline-dark" (click)="c('Save click')">
				Save
			</button>
		</div>
	</div>
</ng-template>


<ng-template #contents let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Filter</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body d-flex">
	<div class="sq">
			<label for="floatingSelectGrid">Filters</label>
		  <div class="form-floating">
			<select class="form-control">
				<option selected>Search or select filter</option>
				<option value="1">Name</option>
				<option value="2">Email</option>
				<option value="3">Phone Number</option>
				<option value="4">Tags</option>
				<option value="5">Contact Created</option>
				<option value="6">Last Conversation with</option>
				<option value="7">Conversation Resolved</option>
				<option value="8">Last Message recieved</option>
			</select>
		</div>
		
	</div>
	<div class="sq">
		<label for="floatingSelectGrid">Filter Phone No.</label>
		<form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
		  <div class="form-floating">
			<select class="control ">
				<option>Starts With</option>
				<option>Name</option>
				<option>Email</option>
				<option>Phone Number</option>
				<option>Tags</option>
				<option>Contact Created</option>
				<option>Last Conversation with</option>
				<option>Conversation Resolved</option>
				<option>Last Message recieved</option>
			</select>
		</div>
		<div class="jk">
			<label for="floatingInputGrid">Value</label>
		  <div class="form-floating">
		 <input class="form-control" type="text" placeholder="+44" />
		  </div>
		</div>
			<tr class="tt">    
				<th><button type="button" (click)="addQuantity()" class="btn7 btn-primary">+ Add</button></th>  
			  </tr>  
			  <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
				<div class="hd d-flex">
					
                <button class="btn0 btn-primary" type="submit">And</button>
                <button class="btn9 btn-primary" type="submit">Or</button>

				</div>
				<div class="form-floating">
					<select class="control ">
						<option>Starts With</option>
						<option>Name</option>
						<option>Email</option>
						<option>Phone Number</option>
						<option>Tags</option>
						<option>Contact Created</option>
						<option>Last Conversation with</option>
						<option>Conversation Resolved</option>
						<option>Last Message recieved</option>
					</select>
				</div>
				<div class="jk">
					<label for="floatingInputGrid">Value</label>
				  <div class="form-floating">
				 <input class="form-control" type="text" placeholder="+44" />
				  </div>
				  <td class="tt d-flex">  
					<button type="button" (click)="addQuantity()" class="btn7 btn-primary">+ Add</button>
					<button (click)="removeQuantity(i)" class="btn6 btn-danger">-Remove</button>  
				</td> 
				</div>
			</tr>
			   	
		</form>
	</div>
	</div>
	<div class="modal-footer popfooter">
	<div class="col-md-0 text-right">
			<button type="button" class="btn1 btn-outline-dark" (click)="c('Save click')">Apply</button>
		</div>
	</div>
</ng-template>

<ng-template #contactadd let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Contact</h4>
		<button type="button" class="btn-cross" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form> 
			<div class="row g-2">
				<div class="col-md">
					<label for="floatingInputGrid">Name</label>
				  <div class="form-floating">
			 	<input class="form-control" type="text" placeholder="Enter Name" />
				  </div>
				</div>
				<div class="col-md">
					<label for="floatingSelectGrid">Phone Number</label>
				  <div class="form-floating">
			 	<input class="form-control" type="text" placeholder="+91 **********" />
			 </div>
				</div>
			</div>
			<div class="row g-2 mt-3">
				<div class="col-md">
					<label for="floatingInputGrid">Email Id*</label>
				  <div class="form-floating">
			 	<input class="form-control" type="text" placeholder="Enter Email" />
				  </div>
				</div>
				<div class="col-md">
					<label for="floatingSelectGrid">Age</label>
				  <div class="form-floating">
					<select class="form-control">
						<option>29 year</option>
						<option>20 year</option>
						<option>21 year</option>
						<option>22 year</option>
					</select>
			 </div>
				</div>
			</div>
			  <div class="form-group mt-3">
			 	<label class="small mb-1">Facebook Id</label>
			 	<input class="form-control" type="text" placeholder="Enter Facebook Id" />
			 </div>
			  <div class="form-group">
			 	<label class="small mb-1">Instagram Id</label>
				 <input class="form-control" type="text" placeholder="Enter Instagram Id " />
				 <br>

			 	<label for="floatingSelectGrid">Tag</label>
				  <div class="form-floating">
					<select class="form-control">
						<option>Paid</option>
						<option>Unpaid</option>
						<option>Return</option>
						<option>New Customer</option>
						<option>Order Complete</option>
						<option>New Order</option>
						<option>Unaviable</option>
					</select>
           </div>
		   <br>
		   <label for="floatingSelectGrid ">Status</label>
				  <div class="form-floating">
					<select class="form-control">
						<option>Premium</option>
						<option>New Customer</option>
					</select>
           </div>
			 </div>
			 
		</form>
	</div>
	
	<div class="modal-footer row popfooter">
	
	<div class="col-md-6 text-right">
			<button type="button" class="btn1 btn-success" (click)="c('Save click')">Save</button>
		</div>
	</div>
</ng-template>

<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
