.campaigns_page {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    width: 100%;
    padding: 0% 5% 0% 4%;
}
.header.campaigns_section {
    padding: 0 1% 0 .8%;
}

.campaigns_section {
    width: 100%;
    margin-top: 25px;
}
.campaigns_page_left {
    float: left;
    width: 25%;
}
.search-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    height: 40px;
    padding-left: 35px;
    color: #7a86a1;
    font-size: 12px;
    width: 100%;
    max-width: 312px;
    background: transparent url(/assets/img/teambox/search-icon.svg) no-repeat 10px;
}
.campaigns_page_right{
    float: right;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}
.drop-down-btn{
    min-width: 80px;
    margin: 0 5px;
    width: auto;
    color: #7a86a1;
    font-size: 12px;
    font-weight: 400;
}


.toggle-box {
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    background: transparent url(/assets/img/teambox/dropdown.svg) no-repeat;
    background-size: 10px;
    background-position: center right 10px;
    padding: 20px 15px;
}





.toggle-box.span {
    margin: 0 15px 0 10px;
}
.new-message-btn{
    width: auto;
    padding: 0 15px;
    height: 35px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695f9724;
    border-radius: 19px;
    opacity: 1;
    color: #6149cd;
    border: 0px;
    font-size: 12px;
    font-weight: 800;
}
img.icon{
    width: 15px;
    margin-right: 5px;
    margin-left: 0;
    cursor: pointer;
}
.campaigns_section{
    width: 100%;
    margin-top: 25px;
}
.campaigns_section_items {
    width: 100%;
    float: left;
}
.campaigns_section_item.completed[_ngcontent-vsx-c43] {
    background: #EFF4FD;
}


.campaigns_section_item {
    border-radius: 20px;
    width: 23%;
    margin: 1%;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    min-height: 190px;
    cursor: pointer;
    background: #FDEFEF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.campaigns_section_item_header {
    margin-bottom: 10px;
}
.campaigns_section_item.completed.label{
    background: #D6E0F2;
}
.campaigns_section_item.label{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    border-radius: 20px;
    margin: 0 10px 0 0;
    line-height: 12px;
    text-transform: capitalize;
}
.campaigns_section_item_header.span {
    color: #7a86a1;
    font-size: 10px;
    font-weight: 400;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header-left {
    font-size: .875rem;
    color: #6149cd;
    font-weight: 700;
}
.modal-header-right {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
}
.close-box {
    cursor: pointer;
}

.close-box {
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    min-width: 35px;
    cursor: pointer;
}
.close-box.img{
    width: 10px;
}
.form-check{
    font-size: .7rem;
}
.form-check-input {
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -1.25rem;
}
.form-check {
    font-size: .7rem;
}
.form-check-input {
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -1.25rem;
}
.filterchannelsfooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
}
.main-modal.submit-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695f9724;
    border-radius: 15px;
    width: auto;
    height: 32px;
    color: grey;
    border: 0px;
    padding: 1px 32px;
    font-size: 12px;
    font-weight: 800;
    outline: none;
}

.main-modal.submit-btn:hover {
    color: white;
}
.new-message-btn {
    width: auto;
    padding: 0 15px;
    height: 40px;
    background: white 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    color: #6149cd;
    outline: 0;
    border: 1px solid rgba(105, 95, 151, 0.14);
    font-size: 12px;
    font-weight: 800;
    font-family: manrope;
}
.new-message-btn:hover {
    cursor: pointer;
    color: #6149CD;
    box-shadow: 1px 8px 29px #695F9724;
    opacity: 1;
    font-weight: bolder;
}
.campaigns_page_right{
    float: right;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

.drop-down-btn {
    min-width: 80px;
    margin: 0 5px;
    width: auto;
    color: #7a86a1;
    font-size: 12px;
    font-weight: 400;
}
.toggle-box span{
    margin: 0 15px 0px 10px;
}
.campaigns_section_items{
	width: 100%;
	float: left;
	}
	.campaigns_section_items.no-campaign{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 58vh;
	}
	.campaigns_section_items.no-campaign img{
	width: 100px;
	margin-left: -20px;
	}
	.campaigns_section_items.no-campaign p{
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin: 0px;
	}
	.campaigns_section_items.no-campaign p span{
	font-size: 12px;
	font-weight: 400;
	color: #7A86A1;
	}

    .publish {
        background: #E2F4EC ;
    }

    .campaigns_section_item.completed{
        background: #EFF4FD;
    }
    
    .campaigns_section_item{
        border-radius: 20px;
        width: 23%;
        margin: 1%;
        float: left;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
        min-height: 190px;
        cursor: pointer;
    }

    .campaigns_section_item.completed label {
        background: #D6E0F2;
    }
    
    .campaigns_section_item label{
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;
        color: #000000;
        border-radius: 20px;
        margin: 0 10px 0px 0px;
        line-height: 12px;
        text-transform: capitalize;
        background: #E2F4EC 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
    }

    .campaigns_section_item_header span{
        color: #7a86a1;
        font-size: 12px;
        font-weight: 400;
    }
    .campaigns_section_item.title {
        color: #030303;
        font-weight: 800;
        font-size: 14px;
        margin: 0px;
    }
    .campaigns_section_item p{
        color: #000000;
        font-weight: 600;
        font-size: 11px;
        margin: 0px;
    }

    .Messages{
        font-family: 'Manrope';
    }
    .di-num{
        font-size: 16px;
        color: #000;
        font-weight: 500;
    }
    .di-mess{
        color: #7a86a1;
        font-family: 'Manrope';
        font-size: 13px;
    }

    .funnel-title{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
    font-family:'Manrope';
    font-weight: bold;
    }

    .campaign_detail{
        background: #FBF9FE 0% 0% no-repeat padding-box;
opacity: 1;
    }
    #sidebar {
        height: 100%;
        width: 400px;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #FBF9FE;
        overflow-x: hidden;
        transition: 0.5s;
    }

    #sidebar.btn5{
        border: 1px solid #EBEBEB;
        border-radius: 15px;
        background-color: #ffffff;
        float: right;
        width: 40px;
        height: 40px;
        margin-top: 33px;
        margin-right: 20px;
        outline: none;
    }
    
    button:not(:disabled), [type=reset]:not(:disabled) {
        color: #6149cd;
        font-weight: 700;
        background-color: #ffffff;
        border: 1px solid #EBEBEB;
        border-radius: 17px;
        font-family: "Manrope";
        font-size: 14px;
        width: 165px;
        height: 45px;
        cursor: pointer;
    }
    .collumn {
        margin: 26% 0% 6% 6%;
    }


.pub{ 
    background: #E2F4EC 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Manrope';
}

/* add new funnel modal */

.modal-title{
	color: #6149CD;
	font-size: 14px;
	height: 35px;
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-end;
	justify-content: center;
	flex-direction: column;
	}
	.close-box {
	height: 35px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #EBEBEB;
	border-radius: 15px;
	opacity: 1;
	display: flex;
	align-content: space-around;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px;
	min-width: 35px;
	cursor: pointer;
	}
	.close-box img{
	width: 10px;
	}
	.close-box img.setting_icon{
	width: 17px;
	}
    .input_group_btn{
        text-align: right;
        margin-top: 20px;
        float: left;
        width: 100%;
        }

.addeidtcampaign_menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom:2rem;
	}
	.addeidtcampaign_menu .addeidtcampaign_menu_item{
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 50px;
	justify-content: center;
	}
	.addeidtcampaign_menu_item_dotted{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:50px;
	}
	.addeidtcampaign_menu_item_dotted p{
	border: 1px dashed #E1E1E1;
	opacity: 1;
	margin: 0;
	width: 100%;
	}
	.addeidtcampaign_menu .addeidtcampaign_menu_item span{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 2px dotted #E1E1E1;
	border-radius: 15px;
	width: 35px;
	height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: #7A86A1;
	margin-right: 1rem;
	}
	.addeidtcampaign_menu .addeidtcampaign_menu_item p{
	font-size: 11px;
	color: #7A86A1;
	font-weight: 400;
	margin:0px;
	}
	.addeidtcampaign_menu .addeidtcampaign_menu_item.active p{
	color:#6149CD;
	}
	.addeidtcampaign_menu .addeidtcampaign_menu_item.active span{
	background: #6149CD 0% 0% no-repeat padding-box;
	box-shadow: 2px 13px 30px #6149CD42;
	border: 1px dotted #6149CD;
	color: #fff;

	}

	.addeidtcampaign_step{
	display:none;
	margin: 1rem;
	}
	.addeidtcampaign_step.active{
	display:flex;
	flex-direction: column;
	align-items: center;
	}
	.addeidtcampaign_step p span{
	font-size: 12px;
	font-weight: 400;
	color:#7A86A1;
	}
	.addeidtcampaign_step .innerbox{
	padding: 1rem 1rem 2.5rem 1rem;
	border-radius: 17px;
	width:400px;
	}
	.addeidtcampaign_step .outerbox{
	display: flex;
	flex-direction: row;
	}
	.addeidtcampaign_step .outerbox .innerbox{
	padding: 1.5rem 2rem;
	border-radius: 17px;
	width:330px;
	border: 1px solid #F0F0F0;
	border-radius: 30px;
	margin: 10px;

	}
	.addeidtcampaign_step .outerbox .innerbox.active{
	background-color: #FFF4F2;
	}
	.addeidtcampaign_step .outerbox .innerbox p{
	font-size: 14px;
	color: #000;
	font-weight: 700;
	margin-bottom: 10px;
	line-height: normal;
	}
	.addeidtcampaign_step .outerbox .innerbox p span{
	font-size: 12px;
	color: #7A86A1;
	font-weight: 400;
	}

	.addeidtcampaign_step .outerbox .innerbox p.sm_icon{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;

	}
	.addeidtcampaign_step .outerbox .innerbox p.sm_icon span{
	width: 15px;
	margin-top: 2rem;
	background-color: #EBEBEB;
	border-radius: 50%;
	display: flex;
	height: 15px;
	padding: 4px;
	align-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	}
	
	.addeidtcampaign_step .outerbox .innerbox.active p.sm_icon span{
	background-color: #7A86A1;
	}
	.addeidtcampaign_step .outerbox .innerbox p.sm_icon img{
	cursor: pointer;
	}

	img.icon.ml{
	width:25px;
	margin-bottom: 20px;
	cursor: pointer;
	}
	.addeidtcampaign_step .innerbox.bg_pink{
	background: #FFF4F2;
	}
	.formrow{
	    padding: 0.5rem 1rem 0 1rem;
	}
	.formrow label{
	color: #000000;
	font-weight: 800;
	font-size: 12px;
	}
	.formrow .form-control{
    border: 1px solid #EBEBEB;
	border-radius: 19px;
	font-weight: 400;
	font-size: 12px;
	height: 35px;
	display: flex;
	align-items: center;
	}
	.formrow .form-control.white_bg{
	background: #fff;
	text-align: left;
	}

	.formrow .form-control.select_box{
	background: #fff url("/assets/img/teambox/dropdown.svg") no-repeat;
	background-size: 9px;
	background-position: center right 12px;
	}

    .textarea.form-control {
        height: 100%!important;
        resize: none;
    }

    ::placeholder {
        color: #BDC3D0;
        opacity: 1;
    }

    .popup-dialog{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 4px 22px 54px #695F9730;
        border-radius: 20px;
        padding: 10px 0px;
        position: absolute;
        max-width: 140px;
        margin-top: 10px;
        max-height: 200px;
        overflow: auto;
        z-index: 9999999;
        }

        .popup-dialog p{
            color:#000;
            float:left;
            width: 100%;
            margin: 0;
            font-size: 12px;
            }
            .popup-dialog p span{
            padding: 5px 15px;
            width: 100%;
            float: left;
            margin:0px;
            }
            .popup-dialog p.label{
            font-weight: 600;
            color: #6149CD;
            padding: 5px 15px;
            }
            .popup-dialog p.label:hover{
            background: #fff;
            cursor: pointer;
            }
            .popup-dialog p:hover{
            background: #FFF4F2;
            }
            .popup-dialog p.active{
            background: #FFF4F2;
            background: #FFF4F2 url("/assets/img/teambox/icon-selected.svg") no-repeat;
            background-size: 12px;
            background-position: center right 10px;
            }

            .subscriber-condition-cards .outer_box {
                border: 2px solid #F0F0F0;
                border-radius: 30px;
            }

