.campaigns_page {
    display: flex;
    flex-direction: column;
    font-family: Manrope;
    width: 100%;
    padding: 0% 5% 0% 4%;
}
.header.campaigns_section {
    padding: 0 1% 0 .8%;
}

.campaigns_section {
    width: 100%;
    margin-top: 25px;
}
.campaigns_page_left {
    float: left;
    width: 25%;
}
.search-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    height: 40px;
    padding-left: 35px;
    color: #7a86a1;
    font-size: 12px;
    width: 100%;
    max-width: 312px;
    background: transparent url(/assets/img/teambox/search-icon.svg) no-repeat 10px;
}
.campaigns_page_right{
    float: right;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}
.drop-down-btn{
    min-width: 80px;
    margin: 0 5px;
    width: auto;
    color: #7a86a1;
    font-size: 12px;
    font-weight: 400;
}


.toggle-box {
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    background: transparent url(/assets/img/teambox/dropdown.svg) no-repeat;
    background-size: 10px;
    background-position: center right 10px;
    padding: 20px 15px;
}





.toggle-box.span {
    margin: 0 15px 0 10px;
}
.new-message-btn{
    width: auto;
    padding: 0 15px;
    height: 35px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695f9724;
    border-radius: 19px;
    opacity: 1;
    color: #6149cd;
    border: 0px;
    font-size: 12px;
    font-weight: 800;
}
img.icon{
    width: 15px;
    margin-right: 5px;
    margin-left: 0;
    cursor: pointer;
}
.campaigns_section{
    width: 100%;
    margin-top: 25px;
}
.campaigns_section_items {
    width: 100%;
    float: left;
}
.campaigns_section_item.completed[_ngcontent-vsx-c43] {
    background: #EFF4FD;
}


.campaigns_section_item {
    border-radius: 20px;
    width: 23%;
    margin: 1%;
    float: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    min-height: 190px;
    cursor: pointer;
    background: #FDEFEF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.campaigns_section_item_header {
    margin-bottom: 10px;
}
.campaigns_section_item.completed.label{
    background: #D6E0F2;
}
.campaigns_section_item.label{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    border-radius: 20px;
    margin: 0 10px 0 0;
    line-height: 12px;
    text-transform: capitalize;
}
.campaigns_section_item_header.span {
    color: #7a86a1;
    font-size: 10px;
    font-weight: 400;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-header-left {
    font-size: .875rem;
    color: #6149cd;
    font-weight: 700;
}
.modal-header-right {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
}
.close-box {
    cursor: pointer;
}

.close-box {
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    min-width: 35px;
    cursor: pointer;
}
.close-box.img{
    width: 10px;
}
.form-check{
    font-size: .7rem;
}
.form-check-input {
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -1.25rem;
}
.form-check {
    font-size: .7rem;
}
.form-check-input {
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -1.25rem;
}
.filterchannelsfooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
}
.submit-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695f9724;
    border-radius: 15px;
    width: auto;
    height: 32px;
    color: #fff;
    border: 0px;
    padding: 1px 32px;
    font-size: 12px;
    font-weight: 800;
    outline: none;
}
.new-message-btn {
    width: auto;
    padding: 0 15px;
    height: 40px;
    background: white 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    color: #6149cd;
    outline: 0;
    border: 1px solid rgba(105, 95, 151, 0.14);
    font-size: 12px;
    font-weight: 800;
    font-family: manrope;
}
.new-message-btn:hover {
    cursor: pointer;
    color: #6149CD;
    box-shadow: 1px 8px 29px #695F9724;
    opacity: 1;
    font-weight: bolder;
}
.campaigns_page_right{
    float: right;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
}

.drop-down-btn {
    min-width: 80px;
    margin: 0 5px;
    width: auto;
    color: #7a86a1;
    font-size: 12px;
    font-weight: 400;
}
.toggle-box span{
    margin: 0 15px 0px 10px;
}
.campaigns_section_items{
	width: 100%;
	float: left;
	}
	.campaigns_section_items.no-campaign{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 58vh;
	}
	.campaigns_section_items.no-campaign img{
	width: 100px;
	margin-left: -20px;
	}
	.campaigns_section_items.no-campaign p{
	font-size: 16px;
	font-weight: 600;
	color: #000;
	margin: 0px;
	}
	.campaigns_section_items.no-campaign p span{
	font-size: 12px;
	font-weight: 400;
	color: #7A86A1;
	}

    .publish {
        background: #E2F4EC ;
    }

    .campaigns_section_item.completed{
        background: #EFF4FD;
    }
    
    .campaigns_section_item{
        border-radius: 20px;
        width: 23%;
        margin: 1%;
        float: left;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 20px;
        min-height: 190px;
        cursor: pointer;
    }

    .campaigns_section_item.completed label {
        background: #D6E0F2;
    }
    
    .campaigns_section_item label{
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;
        color: #000000;
        border-radius: 20px;
        margin: 0 10px 0px 0px;
        line-height: 12px;
        text-transform: capitalize;
        background: #E2F4EC 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
    }

    .campaigns_section_item_header span{
        color: #7a86a1;
        font-size: 12px;
        font-weight: 400;
    }
    .campaigns_section_item.title {
        color: #030303;
        font-weight: 800;
        font-size: 14px;
        margin: 0px;
    }
    .campaigns_section_item p{
        color: #000000;
        font-weight: 600;
        font-size: 11px;
        margin: 0px;
    }

    .Messages{
        font-family: 'Manrope';
    }
    .di-num{
        font-size: 16px;
        color: #000;
        font-weight: 500;
    }
    .di-mess{
        color: #7a86a1;
        font-family: 'Manrope';
        font-size: 13px;
    }

    .funnel-title{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
    font-family:'Manrope';
    font-weight: bold;
    }

    .campaign_detail{
        background: #FBF9FE 0% 0% no-repeat padding-box;
opacity: 1;
    }
    #sidebar {
        height: 100%;
        width: 400px;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        background-color: #FBF9FE;
        overflow-x: hidden;
        transition: 0.5s;
    }

    #sidebar.btn5{
        border: 1px solid #EBEBEB;
        border-radius: 15px;
        background-color: #ffffff;
        float: right;
        width: 40px;
        height: 40px;
        margin-top: 33px;
        margin-right: 20px;
        outline: none;
    }
    
    button:not(:disabled), [type=reset]:not(:disabled) {
        color: #6149cd;
        font-weight: 700;
        background-color: #ffffff;
        border: 1px solid #EBEBEB;
        border-radius: 17px;
        font-family: "Manrope";
        font-size: 14px;
        width: 165px;
        height: 45px;
        cursor: pointer;
    }
    .collumn {
        margin: 26% 0% 6% 6%;
    }


.pub{ 
    background: #E2F4EC 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Manrope';
}
