<sb-layout-dashboard>
	<sb-top-nav title="Funnel"></sb-top-nav>
	  <div class="campaigns_page">

		<div class="toaster">
		</div>

		<div class="header campaigns_section">

			<div class="campaigns_page_left">
				<input type="text" placeholder="Search" aria-label="Search" class="search-box"
					aria-describedby="basic-addon2" />
			</div>
			<div class="campaigns_page_right">
				<div class="drop-down-btn">
					<div class="toggle-box" (click)="filterChannels(filterchannels)">
						<img src="assets/img/teambox/filter-icon.svg">
						<span>Filter</span>
					</div>

				</div>
				<ng-template #filterchannels let-c="close" let-d="dismiss">
					<div class="modal-content m-0 p-3 filterchannels">
						<div class="modal-header align-items-center filterchannelsheader">
							<div class="modal-header-left ">
								<p class="m-0">Filter By Channels</p>
							</div>
							<div class="modal-header-right">
								<p class="m-0 close-box" aria-label="Close" (click)="d('Cross click')"><img
										src="assets/img/teambox/icon-close.svg"></p>
							</div>
						</div>
						<div class="modal-body px-5 filterchannelsbody">
							<div class="form-check pb-4">
								<input type="radio" class="form-check-input" id="radio1" name="optradio"
									value="option1">WhatsApp Official
								<label class="form-check-label" for="radio1"></label>
							</div>
							<div class="form-check">
								<input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"
									checked>WhatsApp Web
								<label class="form-check-label" for="radio2"></label>
							</div>

						</div>
						<div class="modal-footer filterchannelsfooter">
							<button type="button" class="submit-btn" aria-label="Close">Apply</button>
						</div>
					</div>

				</ng-template>
				<button class="new-message-btn" (click)="openAddNew(addNewCampaign)">
					<img class="icon" src="/assets/img/teambox/add.svg"/>New Funnel
				</button>
			</div>

			<div *ngIf="" class="campaigns_section_items no-campaign">
				<img src="../../../../assets/no-funnel.png">
				<p>No Funnel</p>
				<p><span>Lorium ipsum dolor sit amet</span></p>
			</div>

			<div *ngIf="true" class="campaigns_section">
				<div class="campaigns_section_items">
					<div class="campaigns_section_item" (click)="toggleCampaign()">
						<div class="campaigns_section_item_header">
							<label>Published</label>
							<span>Id: 10051</span>
						</div>
						<div class="funnel-title">Gift Card Black Friday</div>
						<p class="mt-1"><img class="icon" src="/assets/img/teambox/whatsapp-icon-l.svg" />WhatsApp
							Official</p>
						<div class="campaigns_section_item_statics d-flex Messages pt-3">
							<div>
								<div class="di-num">5</div>
								<div class="di-mess">Messages</div>
							</div>
							<div class="col-2"></div>
							<div>
								<div class="di-num">875</div>
								<div class="di-mess">Subscribers</div>
							</div>
						</div>
						<div class="Finished d-flex pt-3">
							<div>
								<div class="di-num">248</div>
								<div class="di-mess">Finished</div>
							</div>
							<div class="col-2"></div>
							<div class="pl-2">
								<div class="di-num">302 </div>
								<div class="di-mess">Success</div>
							</div>
						</div>
						<div class="lost pt-3">
							<div class="di-num">
								98
							</div>
							<div class="di-mess"> Lost</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="campdetails" id="funnside">
			<div *ngIf="funnelDetail" class="campaign_detail" id="sidebar">
				<button type="button" class="btn5 btn-close" (click)="funnelDetail=false">
					<img src="assets/img/teambox/icon-close.svg">
				</button>
				<div class="collumn d-flex">
					<div class="funnelheader">
						<label class="pub">Published</label>
						<span>Id: 10051</span>
					</div>
					<div class="line"></div>
					<h6>Created on:</h6>
					<!-- <h5>{{repliesData.CreatedDate  | date: 'dd MMM yyyy'}}</h5> -->
					<div class="line"></div>
					<h6>Edited on:</h6>
					<!-- <h5>{{repliesData.ModifiedDate | date: 'dd MMM yyyy' }}</h5> -->
				</div>
				<h4 class="help-support-btn" routerLink="/dashboard/support"><img id="Edit-icon"
						src="assets/img/Edit-icon.png">Gift Card Black Friday</h4>UIlabore et dolore magna aliqua. Ut
				enim ad minim veniam, quis nostrud exercitation
				<div class="row d-flex">
					<p class="mt-1"><img class="icon" src="/assets/img/teambox/whatsapp-icon-l.svg" />WhatsApp Official
					</p>
					<h6 class="text-justify"></h6>
				</div>
				<h3 class="keywords-btn" data-bs-toggle="modal" data-bs-target="#smartrepliesModal"><img id="Edit-icon"
						src="assets/img/Edit-icon.png">Subscribers</h3>
				<div>604 ( From existing Contacts + On New Contact Creation + On Attribute Update)</div>
				<div class="row">
					<div class="box">
						<p></p>
					</div>
				</div>
				<div class="box1 d-flex">
					<h6>Matching Criteria:</h6>
					<h5></h5>
				</div>
				<h3 class="reply-action-btn"><img id="Edit-icon" src="assets/img/Edit-icon.png">Message</h3>
				<div>
					<div class="box4">
						<div>1st Message</div>
						<p></p>
					</div>
					<div class="assign-conversation">
						<p class="m-0 py-1 px-2" id="msgbox-head1">Action</p>
						<div class="d-flex flex-wrap assign-container">Message
							<p class="py-1 px-2 m-0" id="msgbox-body1"><b>Product Launch </b>Message</p>
							<p class="py-1 m-0" id="msgbox-body2">1 Day 5 Hrs 15 Mins after funnel subscription</p>
						</div>
					</div>
				</div>

				<div class="footer">
					<button class="delete-btn" data-bs-toggle="modal" data-bs-target="#Delete"><img
						src="assets/img/delete.png"></button>
				</div>
			</div>
		</div>

		<ng-template #addNewCampaign let-c="close" let-d="dismiss">
			<div class="modal-header">
				<div class="modal-header-left">
					<h4 class="modal-title" id="modal-basic-title">New Funnel</h4>
				</div>
				<div class="modal-header-right">
					<p class="close-box" aria-label="Close" (click)="d('Cross click')"><img src="assets/img/teambox/icon-close.svg"></p>
				</div>
				</div>
			<div class="modal-body">
				
				<div class="addeidtcampaign_menu">
					<div class="addeidtcampaign_menu_item">
						<img *ngIf="activeStep > 1" class="icon" src="assets/img/campaign/back.svg" (click)="prevStep()">
					</div>
					<div [ngClass]="activeStep > 0 ? 'addeidtcampaign_menu_item active' : 'addeidtcampaign_menu_item'" (click)="setStep(1)" ><span>1</span><p>Add Name & Channel</p></div>
					<div class="addeidtcampaign_menu_item_dotted"><p></p></div>
					<div [ngClass]="activeStep > 1 ? 'addeidtcampaign_menu_item active' : 'addeidtcampaign_menu_item'"  (click)="setStep(2)"><span>2</span><p>Subscriber Conditions</p></div>
					<div class="addeidtcampaign_menu_item_dotted"><p></p></div>
					<div [ngClass]="activeStep > 2 ? 'addeidtcampaign_menu_item active' : 'addeidtcampaign_menu_item'"  (click)="setStep(3)"><span>3</span><p>Add Message & Schedule</p></div>
					<div class="addeidtcampaign_menu_item_dotted"><p></p></div>
					<div [ngClass]="activeStep > 3.2 ? 'addeidtcampaign_menu_item active' : 'addeidtcampaign_menu_item'"  (click)="setStep(4)"><span>4</span><p>Review & Publish</p></div>
					<div class="addeidtcampaign_menu_item"></div>
				</div>
	
				<div [ngClass]="activeStep ==1 ? 'addeidtcampaign_step active' : 'addeidtcampaign_step'">
					<div class="innerbox bg_pink">
					<!-- <form [formGroup]="newfFunnelDetail"> -->
						<div class="formrow">
							<label for="name" class="required">Funnel Name <span class="text-danger">*</span></label>
							<input class="form-control" type="text" placeholder="Enter title in max 20 character" name="title"
									formControlName="title"  maxlength="20"  id="title" />
						</div>
						<div class="formrow">
							<label for="name" class="required">Description</label>
							<textarea class="textarea form-control" placeholder="Enter description in max 80 character" name="description"
									formControlName="description" rows="3" maxlength="80"  id="description"></textarea>
						</div>
	
						<div class="formrow">
							<label for="Channel" class="required">Channel <span class="text-danger">*</span></label>
							<input class="form-control select_box" type="text" placeholder="Select channel" name="channel_label"
									formControlName="channel_label" id="channel_label" (click)="toggleChannelOption()" readonly />
							<div *ngIf="ShowChannelOption" (click)="stopPropagation($event)" class="popup-dialog">
								<p *ngFor="let channel of channelOption ;let i = index" class="label" (click)="selectChannel(channel)">
									{{channel.label}}
								</p>
							</div>
							<div *ngIf="ShowChannelOption" class="overlay" (click)="closeAddActionDialog()"></div>
						</div>
					<!-- </form> -->
					</div>
				</div>
				<div class="input_group_btn">
					<button *ngIf="activeStep < 2" type="button" class="main-modal submit-btn" >Next</button>
					<!-- (click)="nextStep()" -->
	
	
					<!-- <button *ngIf="activeStep == 4" type="button" class="submit-btn" (click)="ConfirmCampaignSchedule(ConfirmCampaign)">Done</button> -->
				</div>
	
				
				
			</div>
			
		</ng-template>

	</div>

</sb-layout-dashboard>