.caompain-box {
    margin: 30px;
    border: 1px solid;
    padding: 20px;
}
.caompain-box img{
	color: green;
}

#SummaryRun, #SummaryExecuted{
	border: 1px solid #ccc;
	padding: 10px;
}
.fa-close{
	font-size: 26px;
	color: red;
	margin-top: -20px;
	cursor: pointer;
}