<sb-layout-dashboard><sb-dashboard-head title="Campaigns" [hideBreadcrumbs]="true"></sb-dashboard-head>
<div class="row mt-3 mb-3">
	<div class="col-md-5">
	</div>
	<div class="col-md-5">
     <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 col-12">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><fa-icon [icon]='["fas", "search"]'></fa-icon></button>
            </div>
        </div>
    </form>

	</div>
	<div class="col-md-2">
		<button class="btn btn-primary btn-block float-right"><i class="fa fa-plus"></i> Add Campaign</button>
	</div>
</div>


<h4>Running Campaigns</h4>
	<table class="table table-striped mb-5">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Campaign Name</th>
			<th scope="col">Campaign Time</th>
			<th scope="col">Channel Name </th>
			<th scope="col">Message </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of RuningCampaigns; let i =index" (click)="SummaryRun()">
			<td>{{i+1}}</td>
			<td>{{item.name}}</td>
			<td>{{item.time}}</td>
			<td>{{item.channel}}</td>
			<td>{{item.message}}</td>
		</tr>
	</tbody>
</table>
<div class="row mt-3" id="SummaryRun" style="display: none;">
	<div class="col-12">
	<h3>Summary</h3>
			<i class="fa fa-close float-right" (click)="SummaryRunclose()"></i>
</div>
	<div class="col-12">
		<h5>Contact</h5>

	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Total</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Sent</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Delivered</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Pending</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Read</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Replied</h3>	
	</div>



</div>
<h4>Scheduled Campaigns</h4>
	<table class="table table-striped mb-5">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Campaign Name</th>
			<th scope="col">Campaign Time</th>
			<th scope="col">Channel Name </th>
			<th scope="col">Message </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of RuningCampaigns; let i =index" (click)="opencampaignTime(campaignTime)">
			<td>{{i+1}}</td>
			<td>{{item.name}}</td>
			<td>{{item.time}}</td>
			<td>{{item.channel}}</td>
			<td>{{item.message}}</td>
		</tr>
	</tbody>
</table>

<h4>Executed Campaigns</h4>
	<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Campaign Name</th>
			<th scope="col">Campaign Time</th>
			<th scope="col">Channel Name </th>
			<th scope="col">Message </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of RuningCampaigns; let i =index" (click)="SummaryExecuted()">
			<td>{{i+1}}</td>
			<td>{{item.name}}</td>
			<td>{{item.time}}</td>
			<td>{{item.channel}}</td>
			<td>{{item.message}}</td>
		</tr>
	</tbody>
</table>

<div class="row mt-3" id="SummaryExecuted" style="display: none;">
	<div class="col-12">
	<h3>Summary</h3>
			<i class="fa fa-close float-right" (click)="SummaryExecutedclose()"></i>
</div>
	<div class="col-12">
		<h5>Contact</h5>

	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Total</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Sent</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Delivered</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Pending</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Read</h3>	
	</div>
	<div class="col-3 caompain-box">
		<div class="row">
		<div class="col-6">
			<h3>0</h3>
		</div>
		<div class="col-6 text-right">
			<img src="assets/img/send.png" width="50">
		</div>
	</div>
		<h3>Replied</h3>	
	</div>



</div>


<ng-template #campaignTime let-c="close" let-d="dismiss">
	<div class="modal-header text-right">
			<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="campaigndata">
             <h5>ID: ABC</h5>
             <h5>Campaign Name: ABC</h5>
             <h5>Campaign Time: 14-10-2-2022</h5>
             <h5>Channel Name: ABC</h5>
             <h5>Message: ABC</h5>

		 </div>
	</div>
	<div class="modal-footer text-center">
					<button type="button" class="btn btn-success" (click)="c('Save click')">Edit</button>
			<button type="button" class="btn btn-danger" (click)="c('Save click')">Delete</button>
	</div>
</ng-template>
<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
