.setting-card {
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 13px 54px #695F9714;    
    min-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
}


.flex-header{
    display: flex;
    justify-content: space-between;
   }

   .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Manrope';
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    border-radius: 19px !important;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    margin: 0px 15px 0px -18px;
    font-family: 'Manrope';
    font-size: 14px;
    padding-left: 35px;
    width: 240px;
}

.input-group img{
    position: absolute;
    margin: 11px 0px 0px -5px;
    width: 15px;
    height: 15px;
}

.new-token-btn{
    color: #6149CD;
    font-weight: 600;
    font-size: 14px;
    background: white;
    border-radius: 18px;
    padding: 8px 12px;
    box-shadow: 1px 8px 29px #695F9724;
    border: 1px;
    width: 100%;
}

.working-hour-heading{
    font-size: 20px;
    font-weight: 600;
}

.btn-close {
    background: white;
    margin: 2px;
    border-radius: 15px;
    padding: 6px 12px;
    border: 1px solid #EBEBEB;
   }

   .roles-modal{
    width: 400px;
    height: 650px;
    border-radius: 26px;
    overflow-y: scroll;
   }


   .input-form {
    height: 37px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    padding: 5px 15px;
    width: 100%;
   }

   .account-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 7px 30px;
    border: 1px;    
    color: white;
    font-weight: 400;
   }

   .modal-footer{
    border: none;
   }

   ::-webkit-scrollbar {
    width: 0px;
  }

  .modal-body label{
    font-weight: bold;
    font-size: 15px;
  }

  .roles-modal .modal-title{
    color: #6149CD;
  }

  .sideBar{
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #FBF9FE;
    overflow: hidden;
    transition: 0.5s;
  }

  .ag-theme-alpine {
    border-radius: 30px;
    opacity: 1;
    font-family: "Manrope";
    font-style: normal;
    font-size: 14px;
    color: #6149CD;
    left: 1px;
}

.ag-theme-alpine .ag-root-wrapper{
  box-shadow: none !important;
}

.sidebar-close{
  text-align: right;
  padding: 25px 15px 35px 0px;
}

.sidebar-content{
  padding-left:20px;
  overflow-y: scroll;
  height: calc(100% - 180px) !important;
}

.sidebar-content p{
margin: 0;
color: #7A86A1;
}


.sidebar-content .rights{
  padding: 5px 15px;
  font-size: 11px;
  background: white;
  border-radius: 12px;
  opacity: 1;
  min-height: 34px;
  font-family: 'Manrope';
  font-weight: 500;
}

.user-row img{
  width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
}

.user-row{
  padding: 10px 0px;
}

.user-row span{
  padding-left: 10px;
}


 .rights-name{
  font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0.5rem;
 }

 .sub-rights{
  padding: 10px;
  font-size: 13px;
  color: #7A86A1;
 }

 .checkBox{
  border-radius: 4px !important;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #ebebeb;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
 }

 .checkBox:checked {
  background-color: gray;
  appearance: auto;
  -webkit-appearance: auto;
}

.user-assigned{
  display: grid;
  gap: 0.6vw;
  grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
}

.delete-token-modal{
  width: 320px;
 }

 .cancel-btn{
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  width: auto;
  height: 35px;
  color: #7A86A1;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 0 15px;
 }

 .delete-btn{
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 20px;
  width: auto;
  height: 35px;
  border: 0px;
  color: #fff;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 0 15px;
  background: #FF3636;
 }
 .team-id{
  color: #000000;
  font-weight: 500;
 }

 #rolesModal .modal-body{
  height: 100%;
  overflow-y: scroll;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6149CD;
  border: none;
 }

.custom-control-label{
  font-size: 13px !important;
    color: #7A86A1;
}

.custom-control-input{
  position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.h-100{
  height: 100% !important;
}

.user-img .img{
  height: 35px !important;
  width: 35px !important;
  margin: 0px !important;
}

.user-img{
  align-items: center;
}

.accordion .accordion-item .sub-rights-rotate-arrow,
.accordion .accordion-item .users-rotate-arrow {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 25px;
    height: 45px;
    margin-left: 5px;
}

.accordion .accordion-item .sub-rights-rotated-arrow,
.accordion .accordion-item .users-rotated-arrow {
    transform: rotate(270deg);
    display: inline-block;
    font-size: 25px;
    height: 45px;
    margin-left: 10px;
}

