<div class="setting-card">
    <div class="flex-header">
        <span class="working-hour-heading">Roles</span>

        <div class="d-flex">
            <div class="input-group gf ">
                <input class="form-control" type="text" (keyup)="searchData($event.target.value)" placeholder="Search by agent name or Id" aria-label="Search"
                    aria-describedby="basic-addon2" name="Name" id="Search-Ag" />
                <img src="assets/img/search.png">
            </div>
            <button class="new-token-btn" (click)="addRole()" data-bs-toggle="modal" data-bs-target="#rolesModal">
                <img src="../../../../assets/img/teambox/add.svg" class="pr-1">
                Add Role</button>
        </div>
    </div>
    <div class="p-3">
        <ag-grid-angular style="height: calc(70vh - 50px);" class="ag-theme-alpine" [rowData]="rolesList" [columnDefs]="columnDefs" [animateRows]="true"
            [gridOptions]="gridOptions" suppressResize=true [suppressRowClickSelection]="true" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>

</div>


<div class="modal fade" tabindex="-1" id="rolesModal" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content roles-modal p-2 pl-3">
            <div class="modal-header">
                <h5 class="modal-title">{{selectedRoleId ==0 ?'Add Role' : 'Edit Role'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <div class="modal-body px-5 pt-0">
                <div>
                    <form  [formGroup]="myForm"> 
                        <div>
                            <label>Role Name</label> <br>
                            <input type="text" class="input-form" formControlName="roleName"  placeholder="Enter role name" maxlength="30">
                          <div *ngIf="(myForm.controls['roleName']?.dirty || myForm.controls['roleName']?.touched)" class="invalid-feedback">
                            <div *ngIf="myForm.controls['roleName']?.errors?.required">Role Name is required.</div>
                          </div>
                        </div>
                      </form>
                </div>
                <div class="">
                    <div *ngFor="let item of totalRights;let i = index">
                        <div class="rights-name">{{item?.rightName}}</div>
                        <div *ngFor="let subRight of item?.subRights;let idx = index;" class="sub-rights custom-checkbox">
                            <input type="checkbox" [(ngModel)]="subRight.isSelected" name="isAgentActive{{idx}}" id="isAgentActive{{idx}}_{{i}}" class="checkBox custom-control-input">
                            <label class="custom-control-label" for="isAgentActive{{idx}}_{{i}}">
                            <span >&nbsp;&nbsp;{{subRight?.subRights}}</span>
                        </label>
                        </div>
                    </div>
                    
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="account-btn" (click)="saveRolesDetails()">{{selectedRoleId ==0 ?'Save' : 'Update'}}</button>
            </div>
        </div>
    </div>
</div>

<div class="sideBar" *ngIf="showSideBar">
    <div class="sidebar-close">
    <button type="button" class="btn-close" (click)="showSideBar = false">
        <img src="../../../../assets/img/teambox/icon-close.svg">
    </button>
</div>
    <div class="sidebar-content">
        <p class="m-0">ID:<span class="team-id">{{roleData.roleID}}</span></p>
        <span class="heading">{{roleData?.RoleName}}</span>
        <p>Created on: <span class="team-id">{{roleData?.created_at ? (roleData?.created_at | date: 'dd MMM yyyy h:mm a'): 'N/A'}}</span> | Last Modified: <span class="team-id">{{roleData?.updated_at ? (roleData?.updated_at | date: 'dd MMM yyyy h:mm a') :'N/A'}}</span></p>
        <div class="sub-heading py-2">Sub Rights<span class="team-id">({{selectedSubRights?.length}})</span></div>
        <div class="h-100">
        <div class="user-assigned">
            <div class="rights" *ngFor="let item of selectedSubRights">
                <div >{{item?.subRights}}</div>
            </div>
                <!-- *ngIf="checkPrivillage(item)" -->
        </div>
        <div class="sub-heading py-2">No. of Users Assigned ({{userList.length}})</div>
        <div >
            <div *ngFor="let item of userList" class="user-row user-img">
                <img *ngIf="item.profile_img" [src]="item.profile_img">
                <div class="img" *ngIf="!item.profile_img">{{_settingsService.getInitials(item.name)}}</div>
                <span>{{item.name}}</span>
            </div>
        </div>
    </div>
    </div>
    <div class="sideBar-footer">
        <button type="button" class="account-white-btn" data-bs-toggle="modal" data-bs-target="#rolesModal" (click)="editRolesDetails()">
            <img class="p-0" src="../../../../assets/img/edit.png"></button>
        <button type="button" class="account-white-btn ml-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <img class="p-0" src="../../../../assets/img/delete.png">
        </button>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="deleteModal" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content delete-token-modal">
            <div class="modal-body alertmessage">
                <p class="label pb-2">Do you really want to delete this Role ?</p>
                <div class="input_group_btn">
                    <button type="button" class="cancel-btn" aria-label="Close"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="delete-btn" aria-label="Close" (click)="deleteRole()">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>