<sb-layout-dashboard [light]="false">
		<sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="true"></sb-dashboard-head>
<!-- <sb-dashboard-card col-md-3s></sb-dashboard-card col-md-3s><sb-dashboard-charts></sb-dashboard-charts><sb-dashboard-tables></sb-dashboard-tables>
 -->
 <section>
  
   <div class="row">
    <div class="col-sm-4">
      <div class="card">
      
        <div class="card-body">
            <h4>Subscriber</h4>
            <div class="card1">
                <div class="card-body">
                    <h5>14327</h5>
                    <h6>Total Subscriber</h6>
                </div>
              </div>
              <div class="card2">
                <div class="card-body">
                    <h5>10373</h5>
                    <h6>Active Subscriber</h6>
                </div>
              </div>
              <div class="card3">
                <div class="card-body">
                    <h5>3864</h5>
                    <h6>Inactive Subscriber</h6>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <h4>Interactions</h4>
            <div class="card1">
                <div class="card-body">
                    <h5>1237</h5>
                    <h6>Total Conversations</h6>
                </div>
              </div>
              <div class="card2">
                <div class="card-body">
                    <h5>791</h5>
                    <h6>Open Conversations</h6>
                </div>
              </div>
              <div class="card3">
                <div class="card-body">
                    <h5>446</h5>
                    <h6>Closed Conversations</h6>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
      </section>
      <section>
            <h4>Interactions</h4>
            <div class="row">
            	<div *ngFor="let item of dashboard.Interactions" class="box col-md-3">
                        <h4>{{ item.title }}</h4>
                        <span>{{ item.count }}</span>
                 </div>
            </div>
        </section>
        <section>
            <h4>Campaigns</h4>
            <div class="row">
            	<div *ngFor="let item of dashboard.Campaigns" class="box col-md-3">
                        <h4>{{ item.title }}</h4>
                        <span>{{ item.count }}</span>
                 </div>
                
            </div>
        </section>
        <section>
            <h4>Agents</h4>
            <div class="row">
            		<div *ngFor="let item of dashboard.Agents" class="box col-md-3">
                        <h4>{{ item.title }}</h4>
                        <span>{{ item.count }}</span>
                 </div>
              
            </div>
        </section>
        <section>
   <h4>Billing Plan</h4>
   <div class="row">
   <div class="box col-md-3">
                    <h4>Subscription upto</h4>
                    </div>
                </div>
        </section>
</sb-layout-dashboard>
