@import 'styles/variables.scss';

  .box{
    margin: 10px 0px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    padding: 30px;

}

 .box h4{
      font-size: 20px;
    font-weight: 400;
}

section{
	    margin: 50px auto;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  margin: 35px 0px 0px 0px;
  border-radius: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 18px;
  box-shadow: 0px 0px 10px 0px;
  margin: 0px 0px 0px 10px;
}
.card1{
  
  height: 55px;
  border-radius: 10px;
  background-color: #E4DFF5;
}
.card2{
  
  height: 55px;
  border-radius: 10px;
  margin: -15px 0px 0px 0px;
  background-color: #E2F4EC;
}
.card3{
  
  height: 55px;
  border-radius: 10px;
  margin: -15px 0px 0px 0px;
  background-color: #EBEDF1;
}
h4, .h4 {
  font-size: 22px;
  margin: -25px 0px 0px 2px;
  color: #000000;
  font-family: Manroap;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 0px;
}
h5, .h5 {
  font-size: 1.25rem;
  margin: -18px 0px 0px 0px;
  color: #000000;
  font-family: Manroap;
  font-weight: bold;
}
h6, .h6 {
  font-size: 1.25rem;
  color: #000000;
  font-family: Manroap;
  font-weight: bold;
}