<sb-layout-dashboard><sb-dashboard-head title="Funnel >>Test" [hideBreadcrumbs]="true"></sb-dashboard-head>

	<form class="funnel" id="funnel">
		<div class="row">
			 <div class="form-group col-md-10">
			 	<label class="small mb-1"><b>Description</b></label>
			 	<input class="form-control py-4" type="text" placeholder="Enter Mesage" />
			 </div>
			 	<div class="col-md-2">
			<button type="button" class="btn btn-primary">Add Message</button>
		</div>
	</div>

			 
		</form>

<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
