replicaCount: 1

image:
  repository: https://github.com/testbitbucket78-crypto/Test.git
  pullPolicy: IfNotPresent
  tag: "5"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

resources: {}

serviceAccount:
  create: true
  name: ""

autoscaling:
  enabled: false

