//  @import 'styles/variables.scss';
* {
    font-family: 'Manrope';
}

.section::-webkit-scrollbar {
    width: 20px;
  }

.dash-card  {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 13px 54px #695F9714;
    border-radius: 25px;
    opacity: 1;
    padding: 10px;
    width: 100%;
}

.card-heading {
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
}

.dash-card-items {
    flex: 1 1 auto;
    min-height: 1px;
    border-radius: none;   
}

.item-heading{
 font-size:24px;
 font-weight: 700;
}

.dash-card-items span{
    font-size: 24px;
}

.card1 {
    border-radius: 28px;
    background-color: #e4dff5;
    text-align: center;
    // width: 83%;
}
.card2 {
    border-radius: 28px;
    background-color: #e2f4ec;
    text-align: center;
    // width: 83%;
}
.card3 {
    border-radius: 28px;
    background-color: #ebedf1;
    text-align: center;
    // width: 83%;
}

.card9 {
    background-color: #fbf9fe;
    width: 90%;
    float: right;
    height: 100%;
}

.recentconversation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px;
}

.recentconversation img {
    margin: 0!important;
}

#item-name {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
}

#item-message {
    margin: 0;
    padding: auto;
    font-size: 14px;
    font-weight: 400;
    color: #7A86A1;
}

#item-date {
    margin: 0;
    padding: auto;
    font-size: 13px;
    font-weight: 400;
    color: #7a86a1;
}

.item-center{
    display: flex;
    justify-content: center;
}

.campaign-card {
        display: flex;
        word-wrap: break-word;
        background-color: #fff4f2;
        background-clip: border-box;
        border-radius: 30px;
        box-shadow: 2px 13px 54px #695f9714;
        border: none;
        width: 100%;
}

.campaign-card-item {
    display: flex;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.card10 {
    background: transparent linear-gradient(45deg, #f9b035 0%, #f98c4e 53%, #f96767 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    position: relative;
}

.card10-p img {
    width: 38% !important;
    height: 25% !important;
  }  

.card10-p {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font-family: 'Manrope';   
}

.card10-p p {
    letter-spacing: -0.93px;
    color: #FFFFFF;
    opacity: 1;
   
}

.card10-p .txt-1 {
    font-size: 37px;
    letter-spacing: -0.93px;
    font-weight: 600;   
}


.card10-p .txt-2 {
    font-size: 15px;
    letter-spacing: 0px;
}

.card10-c {
 
    background: transparent url('/assets/img/img3.png')  0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 30px;
    text-align: center;
    font-family: "Manrope";
}


.card10-c p{
  color: #ffffff;
  font-family: 'Manrope';
 
}

.card10-c img {
  height:100%; 
  width:auto;
}

.card10-c button {
    text-decoration: none;
    font-family: "Manrope";
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 16px 40px #695F9724;
    border-radius: 22px;
    opacity: 1;
    width: 100%;
    height: 55px;
    color: #6149cd;
    font-weight: bold;
    cursor: pointer;
  }

  .float-right{
    float: right;
  }

  .float-left{
    float: left;
  }

  .heading {
    font-size: 16px;
    font-family: 'Manrope';
    color: #7a86a1;
    margin-top:8px;
    margin-left: 87px;
}

.heading span { 
    font-size: 16px;
    font-family: 'Manrope';
    color: #7a86a1;
}


.card8 {
    background-color: #fff4f2;
    box-shadow: 2px 2px 4px #695f9714;
    border-radius: 12px;
    margin-left: 4rem!important;
}
.card8 h2 {
    font-size: 16px;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    color: #7A86A1;
    font-family: 'Manrope';
}

.dash-icons{
    height: 65px !important;
    width: 65px !important;
}

.campaign-card-item.draft {
    margin-left: -3.5rem;
}

.campaign-card-item.running {
   
    margin-left: -2.6rem;
}


.box {
    margin: 10px 0px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    padding: 30px;
}

section {
    margin: 50px auto;
}


h1{
    font-size: 52px;
    letter-spacing: -1.3px;
    font-weight: bolder;
    font-family: 'Manrope';
}


.card.d1 {
    margin-left: 4px;
}

.row {
    margin-top: 14px;
}

.row.r1 {
    width: 69%;
}


#contacts-col {
width: 484px;
height: 429px;

}

#campaigns {
// width: 1011px;
width: 898px!important;
height: 100%;
left: 46px;
}

#agents {
width: 1011px;
height: 211px;
left: 50px;
}

#active-agent{
    margin-left: 30px;
}



.row9 .totalcampaign {
    margin: 34px 0 0 25px;
}

h4,
.h4 {
    font-size: 22px;
    margin: -25px 0px 35px 0px;
    color: #000000;
    line-height: 0px;
    text-align: left;
    font-family: 'Manrope';
    font-weight: 700;
    letter-spacing: -0.55px;
    
}
h5,
.h5 {
    font-size: 26px;
    margin: -18px 0px 0px 0px;
    color: #000000;
    font-family: 'Manrope';
    font-weight: 600;
}
h6,
.h6 {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Manrope';
    color: #000000;
    width: 100%;
    height: 100%;
}


.btn1:not(:disabled):not(.disabled) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff4f2;
    background-clip: border-box;
    border-radius: 30px;
    box-shadow: 2px 13px 54px #695f9714;
    opacity: 1;
    margin: 25px 0px 0px 10px;
    width: 78%;
    height: 350px;
    border: none;
}
.btn2:not(:disabled):not(.disabled) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 30px;
    box-shadow: 2px 13px 54px #695f9714;
    opacity: 1;
    margin: 60px 0px 0px 50px;
    width: 60%;
    height: 210px;
    border: none;
    box-sizing: border-box;
}
.rowss img {
    vertical-align: middle;
    border-style: none;
    margin: 78px 0px 0px 25px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.row1 .totalscheduled{
    margin: 36px 0 0 20px;
}
.row img{
    vertical-align: middle;
    border-style: none;
    margin: 17px 5px 0px 8px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.new{
    margin: 80px 0 0 34pc;
    position: absolute;
}
.new img {
    vertical-align: middle;
    border-style: none;
    margin: -100px 30px 0px -67px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.new .image img{ 
        vertical-align: middle;
        border-style: none;
        margin: -102px 30px 0px -24px;
        width: 45px;
        border-radius: 17px;
        height: 45px;
    }
.line {
    width: 0px;
    height: 35px;
    border: 1px solid #e1e1e1;
    margin: 22px 0px 0px 376px;
    position: absolute;
}
.line1 {
    width: 0px;
    height: 35px;
    border: 1px solid #e1e1e1;
    margin: 22px 0px 0px 376px;
    position: absolute;
}

.row8.d-flex {
    margin-left: 40px;
}

#card9-h4 {
letter-spacing: -0.55px;
font-size: 22px;
font-weight: bold;
text-align: left;
margin-left: 42px;
margin-top: 47px;
position: absolute;
font-family: 'Manrope';
}

.card-body-right {
background-color: #fbf9fe;
width: 494px;
height: 1120px;
font-family: 'Manrope';
}

.card-body-right h5 {
    font-size: 15px;
    font-weight: 600;
}

.card-body-right h6 {
letter-spacing: 0px;
color: #7A86A1;
opacity: 1;
font-size: 14px;
}
.row3 .mt-5.ml-4 h5 {
    font-size: 26px;
    margin: -30px 0 0 0;
}
.row3 .mt-5.ml-4 h6 {
    font-size: 15px ;
}

.image img {
    width: 13px;
    height: 13px;
    margin: 18px 18px 0px 0px;
}

.row2{
    position: absolute;

    margin: 100px 0px 0px 100px;
}
.row2 h5 {
    font-size: 15px;
    color: #000000;
}
.row2 h6 {
    font-size: 14px;
    color: #7a86a1;
    font-weight: 400;
}
.row .img {
    vertical-align: middle;
    border-style: none;
    margin: 32px 0px 0px 17px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.row .date {
    float: right;
    margin: -27px 0 0 187px;
}
.date h4 {

        font-size: 11px;
        font-weight: normal;
        color: #7a86a1;
        margin: -12px 0px 0px 232px;
    }


.row4 {
    margin: -57px 0px 0px 75px;
}
.row5 {
    margin: -48px 0px 0px 105px;
}
.row9 {
    margin: -115px 0px 0px 90px;
}

.imga{
    margin: 0px 0 0 9px;
}
.im{
    margin: 0px 0 0 40px;
}

