<sb-layout-dashboard>
  <sb-top-nav title="Dashboard"></sb-top-nav>

  <div [(ngModel)]="Name">
    <p id="heading">Hello {{Name}}, welcome back</p>
  </div>

  <div class="row ">
    <div class="col-sm-8 pl-4">      
      <div id="heading2" class="card8 mb-4 ml-3">
        <h2>"Summary for last 30 days"</h2>
      </div>
      <div class="row m-0">
        <div class="col-sm-6" (click)="routeToPage()">
          <div class="dash-card float-left">
            <span class="card-heading">Contacts</span>
            <div class="py-2">
              <div class="item-center" *ngFor="let items of dashboard">
                <div class="card1 d-flex my-1 pt-1" *ngIf="(items.OptInStatus)=='Active Contacts'">
                  <div class="dash-card-items ">
                    <span class="item-heading">{{items.count}}</span>
                      <p class="mb-1">{{items.OptInStatus}}</p>
                  </div>
                </div>
                <div class="card2 d-flex my-1 pt-1" *ngIf="(items.OptInStatus)=='Inactive Contacts'">
                  <div class="dash-card-items">
                    <span class="item-heading">{{items.count}}</span>
                    <p class="mb-1">{{items.OptInStatus}}</p>
                  </div>
                </div>
                <div class="card3 d-flex my-1 pt-1" *ngIf="(items.OptInStatus)=='Total Contacts'">
                  <div class="dash-card-items">
                    <span class="item-heading">{{items.count}}</span>
                    <p class="mb-1">{{items.OptInStatus}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6" (click)="routeToPage1()">
          <div class="dash-card float-right">
            <span class="card-heading">Interactions</span>
            <div class="p-2">
              <div *ngFor="let items of interactions">
                <div class="card1 d-flex mx-4 my-2 pt-1" *ngIf="(items.interaction_status)=='Open Interactions'">
                  <div class="dash-card-items ">
                    <span class="item-heading">{{items.count}}</span>
                    <p class="mb-1">{{items.interaction_status}}</p>
                  </div>
                </div>
                <div class="card2 d-flex mx-4 my-2 pt-1" *ngIf="(items.interaction_status)=='Resolved Interactions'">
                  <div class="dash-card-items">
                    <span class="item-heading">{{items.count}}</span>
                    <p class="mb-1">{{items.interaction_status}}</p>
                  </div>
                </div>
                <div class="card3 d-flex mx-4 my-2 pt-1" *ngIf="(items.interaction_status)=='Total Interactions'">
                  <div class="dash-card-items">
                    <span class="item-heading">{{items.count}}</span>
                    <p class="mb-1">{{items.interaction_status}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0 mt-5">
        <button class="campaign-card" routerLink="/dashboard/campaigns">
          <div class="p-3 w-100 text-left">
            <span class="card-heading ">Campaigns</span>
            <div class="row w-100">
              <div class="col-sm-6 campaign-card-item">
              <img id="scheduledCampaign" class="dash-icons" src="assets/img/total.png">
                <div class="text-justify pt-4 pl-2" [(ngModel)]="scheduledCampaign">
                  <span class="item-heading">{{scheduledCampaign}}</span>
                  <p id="totalsche">Total Scheduled</p>
                </div>
              </div>
              <div class="col-sm-6 campaign-card-item">
                <img id="completedCampaign" class="dash-icons" src="assets/img/camp.png">
                  <div class="text-justify pt-4 pl-2" [(ngModel)]="completedCampaign">
                    <span class="item-heading">{{completedCampaign}}</span>
                    <p id="totaldraft">Total Completed</p>
                  </div>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-sm-6 campaign-card-item">
              <img id="scheduledCampaign" class="dash-icons" src="assets/img/deli.png">
                <div class="text-justify pt-4 pl-2" [(ngModel)]="runningCampaign">
                  <span class="item-heading">{{runningCampaign}}</span>
                  <p id="totalsche">Total Running</p>
                </div>
              </div>
              <div class="col-sm-6 campaign-card-item">
                  <img class="dash-icons" src="assets/img/failed.png">
                  <div class="text-justify pt-4 pl-2" [(ngModel)]="draftCampaign">
                    <span class="item-heading">{{draftCampaign}}</span>
                    <p id="totaldraft">Total Draft</p>
                  </div>
              </div>
              </div>
            </div>
        </button>
      </div>

      <div class="w-100 dash-card  mt-5">
        <div class="" (click)="routeToPage2()">
            <span class="card-heading ">Agents</span>
            <div class="agent-items m-4">
              <div *ngFor="let items of agents">
                <div class="d-flex" *ngIf="(items.Status)=='Active Agents'">
                  <img id="active-agent" class="m-0 dash-icons" src="assets/img/431.png">
                  <div class="ml-4 text-justify">
                    <span class="item-heading">{{items.count}}</span>
                    <p>{{items.Status}}</p>
                  </div>
                </div>

                <div class="d-flex" *ngIf="(items.Status)=='Inactive Agents'">
                    <img class="m-0 dash-icons" src="assets/img/432.png">
                  <div class="ml-4">
                    <span class="item-heading">{{items.count}}</span>
                    <p>{{items.Status}}</p>
                  </div>
                </div>
                <div class="d-flex" *ngIf="(items.Status)=='Total Agents'">
                    <img class="m-0 dash-icons" src="assets/img/430.png">
                    <div class="ml-4">
                      <span class="item-heading">{{items.count}}</span>
                      <p>{{items.Status}}</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 p-0">
      <div class="card9 ">
        <div class="">
          <span class="card-heading ">Recent conversations</span>
          <div class="d-flex" *ngFor="let items of recentConversation">
            <img src="assets/img/my.png">
            <div class="row2">
              <h5>{{items.Name}}</h5>
              <h6>{{items.message_text}}</h6>
              <div class="date">
                <h4>{{items.interaction_date | date:'h:mm a'}}</h4>
              </div>
            </div>
          </div>

          <div class="card10 pb-3 mx-5">
            <div class="card10-p">
              <img src="assets/img/img2.png" alt="error">
              <p class="txt-1">Premium+</p>
              <p class="txt-2">$0.5 per message</p>
            </div>

            <div class="card10-c mx-3 py-3">
              <p class="txt-1" style="margin-top:30px">Your available balance</p>
              <p class="txt-2" style=" font-size: 27px;"><b>$7.309.68</b></p>
              <button>Add Funds</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>







  <!-- <div class="row">
    <img id="scheduledCampaign" src="assets/img/total.png">
    <div class="row1">
      <div class=" totalscheduled text-justify" [(ngModel)]="scheduledCampaign">
        <h5>{{scheduledCampaign}}</h5>
        <h6 id="totalsche">Total Scheduled</h6>
      </div>
    </div>
    <div class="line mr-3"></div>
    <div class="new">
      <img id="completedCampaign" src="assets/img/camp.png">
      <div class="row9">
        <div class="totalcampaign text-justify" [(ngModel)]="completedCampaign">
          <h5>{{completedCampaign}}</h5>
          <h6 id="totaldraft">Total Completed</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <img id="scheduledCampaign" src="assets/img/deli.png">
    <div class="row1">
      <div class=" totalscheduled text-justify" [(ngModel)]="runningCampaign">
        <h5>{{runningCampaign}}</h5>
        <h6 id="totalsche">Total Running</h6>
      </div>
    </div>
    <div class="line1 mr-3"></div>
    <div class="new">
      <div class="image">
        <img src="assets/img/failed.png">
      </div>
      <div class="row9">
        <div class="totalcampaign text-justify" [(ngModel)]="draftCampaign">
          <h5>{{draftCampaign}}</h5>
          <h6 id="totaldraft">Total Draft</h6>
        </div>
      </div>
    </div>
  </div> -->








  <!-- <div class="dash-containt">
    <div>





      <div [(ngModel)]="Name">
        <p id="heading">Hello {{Name}}, welcome back</p>
      </div>
      <div id="heading2" class="card8">
        <h2>"Summary for last 30 days"</h2>

      </div>
      <div class="row main">
        <div class="row r1">
          <div class="col-sm-5 c1 dash-card" (click)="routeToPage()">
            <div class="card-body">
              <h4>Contacts</h4>
              <div *ngFor="let items of dashboard">
                <div class="card1 d-flex" *ngIf="(items.OptInStatus)=='Active Contacts'">

                  <div class="card-body mt-0 ml-1 ">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.OptInStatus}}</h6>

                  </div>
                </div>
                <div class="card2 d-flex" *ngIf="(items.OptInStatus)=='Inactive Contacts'">
                  <div class="card-body mt-0 ml-1 ">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.OptInStatus}}</h6>
                  </div>

                </div>
                <div class="card3 d-flex" *ngIf="(items.OptInStatus)=='Total Contacts'">
                  <div class="card-body mt-0 ml-1">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.OptInStatus}}</h6>
                  </div>

                </div>
              </div>
            </div>
          </div>



          <div class="col-sm-5 c2 dash-card" (click)="routeToPage1()">
            <div class="card-body">
              <h4>Interactions</h4>
              <div *ngFor="let items of interactions">
                <div class="card1 d-flex" *ngIf="(items.interaction_status)=='Open Interactions'">
                  <div class="card-body mt-0 ml-1 ">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.interaction_status}}</h6>
                  </div>

                </div>
                <div class="card2 d-flex" *ngIf="(items.interaction_status)=='Resolved Interactions'">
                  <div class="card-body mt-0 ml-1">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.interaction_status}}</h6>
                  </div>

                </div>
                <div class="card3 d-flex" *ngIf="(items.interaction_status)=='Total Interactions'">
                  <div class="card-body mt-0 ml-1">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.interaction_status}}</h6>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row r2">

          <button id="campaigns" class="btn1 btn-block float-right" routerLink="/dashboard/campaigns">

            <div class="card-body">
              <h4>Campaigns</h4>

              <div class="row d-flex">
                <img id="scheduledCampaign" src="assets/img/total.png">
                <div class="row1 ">
                  <div class=" totalscheduled text-justify" [(ngModel)]="scheduledCampaign">
                    <h5>{{scheduledCampaign}}</h5>
                    <h6 id="totalsche">Total Scheduled</h6>
                  </div>

                </div>
                <div class="line mr-3"></div>
                <div class="new">
                  <img id="completedCampaign" src="assets/img/camp.png">
                  <div class="row9">
                    <div class="totalcampaign text-justify" [(ngModel)]="completedCampaign">
                      <h5>{{completedCampaign}}</h5>
                      <h6 id="totaldraft">Total Completed</h6>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row d-flex">
                <img id="scheduledCampaign" src="assets/img/deli.png">
                <div class="row1">
                  <div class=" totalscheduled text-justify" [(ngModel)]="runningCampaign">
                    <h5>{{runningCampaign}}</h5>
                    <h6 id="totalsche">Total Running</h6>
                  </div>

                </div>
                <div class="line1 mr-3"></div>
                <div class="new">
                  <div class="image">
                    <img src="assets/img/failed.png">
                  </div>
                  <div class="row9">
                    <div class="totalcampaign text-justify" [(ngModel)]="draftCampaign">
                      <h5>{{draftCampaign}}</h5>
                      <h6 id="totaldraft">Total Draft</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </button>

        </div>
      </div>

      <div class="row r3">
        <div class="btn2" (click)="routeToPage2()">

          <div class="card-body">

            <h4>Agents</h4>

            <div class="row d-flex">

              <img id="active-agent" src="assets/img/431.png">
              <div *ngFor="let items of agents">
                <div class="row3" *ngIf="(items.Status)=='Active Agents'">
                  <div class="mt-5 ml-4 text-justify">
                    <h5>{{items.count}}</h5>
                    <h6>{{items.Status}}</h6>
                  </div>
                </div>

                <div class="ml-1  col" *ngIf="(items.Status)=='Inactive Agents'">
                  <div class="imga">
                    <img src="assets/img/432.png">
                  </div>
                  <div class="row4">
                    <div class="mt-0 ml-1">
                      <h5>{{items.count}}</h5>
                      <h6>{{items.Status}}</h6>
                    </div>
                  </div>
                </div>
                <div class="ml-1  col" *ngIf="(items.Status)=='Total Agents'">
                  <div class="im">
                    <img src="assets/img/430.png">
                  </div>
                  <div class="row5">
                    <div class="mt-0 ml-1">
                      <h5>{{items.count}}</h5>
                      <h6>{{items.Status}}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> -->
</sb-layout-dashboard>