<sb-layout-dashboard>
  <sb-top-nav title="Dashboard"></sb-top-nav>

  <div>
    <p class="heading">Hello <span class="text-capitalize"> {{Name}}</span>, welcome back</p>
  </div>

  <div *ngIf="totalContacts === 0" class=" my-5 dashboard-empty-state">
		<div class="d-flex justify-content-center my-5 align-items-center container-empty-state">
			<div class="text-center py-5 body-empty-state">
				<img src="../../../../assets/img/dashboard-empty.png" />
				<h5 class="mt-3">Nothing on Dashboard!</h5>
				<p>You do not have appropriate permissions.</p>
			</div>
		</div>
</div>

  <div *ngIf="totalContacts !== 0" class="dashboard-filled-state">

  <div class="row ">
      <div class="col-sm-8 pl-4 mt-5">
        <div class="row m-0">
          <div class="col-sm-6" (click)="routeToPage()">
            <div class="dash-card float-left">
              <span class="card-heading">Contacts</span>
              <div class="p-2">
                <div>
                  <div class="card1 d-flex mx-4 my-3 pt-1">
                    <div class="dash-card-items mt-1 ">
                      <span class="item-heading">{{totalContacts}}</span>
                      <p class="mb-2 pb-2">Total Contacts</p>
                    </div>
                  </div>
                  <div class="card2 d-flex mx-4 my-3 pt-1">
                    <div class="dash-card-items mt-1">
                      <span class="item-heading">{{activeContacts}}</span>
                      <p class="mb-2 pb-2">Opt-In Contacts</p>
                    </div>
                  </div>
                  <div class="card3 d-flex mx-4 my-3 pt-1">
                    <div class="dash-card-items mt-1">
                      <span class="item-heading">{{inactiveContacts}}</span>
                      <p class="mb-2 pb-2">Opt-Out Contacts</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-sm-6" (click)="routeToPage1()">
            <div class="dash-card float-right">
              <span class="card-heading">Interactions</span>
              <!-- <span>Interactions of Last 30 days</span> -->
              <div class="p-2">
                <div>
                  <div class="card1 d-flex mx-4 my-3 pt-1">
                    <div class="dash-card-items mt-1 ">
                      <span class="item-heading">{{totalInteractions}}</span>
                      <p class="mb-2 pb-2">Total Interactions</p>
                    </div>
                  </div>
                  <div class="card2 d-flex mx-4 my-3 pt-1">
                    <div class="dash-card-items mt-1">
                      <span class="item-heading">{{openInteractions}}</span>
                      <p class="mb-2 pb-2">Open Interactions</p>
                    </div>
                  </div>
                  <div class="card3 d-flex mx-4 my-3 pt-1">
                    <div class="dash-card-items mt-1">
                      <span class="item-heading">{{closedInteractions}}</span>
                      <p class="mb-2 pb-2">Resolved Interactions</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row m-0 mt-5">
          <div class="campaign-card d-flex justify-content-between align-items-center" (click)="routeToPage3()">
            <div class="p-3 w-100">
              <span class="card-heading ">Campaigns</span>
              <div class="row w-100 justify-content-around">
                <div class="campaign-card-item">
                  <img id="scheduledCampaign" class="dash-icons" src="../../../../assets/img/dashboard/total-camp.svg">
                  <div class="text-justify mt-4 ml-4">
                    <span class="item-heading">{{scheduledCampaign}}</span>
                    <p id="totalsche">Total Scheduled</p>
                  </div>
                </div>
                <div class="campaign-card-item">
                  <img id="completedCampaign" class="dash-icons" src="../../../../assets/img/dashboard/painding-camp.svg">
                  <div class="text-justify mt-4 ml-4">
                    <span class="item-heading">{{completedCampaign}}</span>
                    <p id="totaldraft">Total Completed</p>
                  </div>
                </div>
              </div>
              <div class="row w-100 justify-content-around">
                <div class="campaign-card-item running">
                  <img id="scheduledCampaign" class="dash-icons" src="../../../../assets/img/dashboard/deli-camp.svg">
                  <div class="text-justify mt-4 ml-4">
                    <span class="item-heading">{{runningCampaign}}</span>
                    <p id="totalsche">Total Running</p>
                  </div>
                </div>
                <div class="campaign-card-item draft">
                  <img class="dash-icons" src="../../../../assets/img/dashboard/failed-camp.svg">
                  <div class="text-justify mt-4 ml-4">
                    <span class="item-heading">{{draftCampaign}}</span>
                    <p id="totaldraft">Total Draft</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="w-100 dash-card  mt-5">
          <div class="" (click)="routeToPage2()">
            <span class="card-heading ">Agents</span>
            <div class="agent-items m-4">
              <div class="d-flex justify-content-around align-content-center">
                <div class="d-flex">
                  <img id="active-agent" class="m-0 dash-icons" src="../../../../assets/img/dashboard/Group 430.svg">
                  <div class="ml-4 mt-1 text-justify">
                    <span class="item-heading">{{totalAgents}}</span>
                    <p>Total Agents</p>
                  </div>
                </div>
  
  
                <div class="d-flex">
                  <img class="m-0 dash-icons" src="../../../../assets/img/dashboard/Group 431.svg">
                  <div class="ml-4 mt-1">
                    <span class="item-heading">{{activeAgents}}</span>
                    <p>Active Agents</p>
                  </div>
                </div>
                <div class="d-flex">
                  <img class="m-0 dash-icons" src="../../../../assets/img/dashboard/Group 432.svg">
                  <div class="ml-4 mt-1">
                    <span class="item-heading">{{inactiveAgents}}</span>
                    <p>Inactive Agents</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-4 p-0">
        <div class="card9 ">
          <div class="">
            <div class="px-3 pt-4">
              <span class="card-heading ">Recent conversations</span>
            </div>
            <div class="px-3">
              <div class="recentconversation" *ngFor="let items of recentConversation" (click)="routeToPage1()">
                <img src="assets/img/user-chat-img.svg">
                <div class="col-md-8 rc-body">
                  <p class="text-capitalize" id="item-name" [innerHTML]="items.Name"></p>
                  <p id="item-message" [innerHTML]="getLimitedMessageText(items.message_text)"></p>
                </div>
  
                <p id="item-date">{{items.interaction_date | date:'h:mm a'}}</p>
              </div>
            </div>
  
            <div class="card10 pb-3 mx-5">
              <div class="card10-p">
               
                <img src="assets/img/img2.png" class="pb-3" alt="error">
                <p class="txt-1">Premium+</p>
                <p class="txt-2">$0.5 per message</p>
              </div>
  
              <div class="card10-c mx-3 py-4">
                <p class="txt-1" style="margin-top:30px">Your available balance</p>
                <p class="txt-2" style=" font-size: 27px;"><b>$7.309.68</b></p>
                <div class="col-sm-12">
                  <button>Add Funds</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

</sb-layout-dashboard>