@import 'styles/variables.scss';

.box {
    margin: 10px 0px;
    text-align: center;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    padding: 30px;
    font-family: 'Manrope';
}

.box h4 {
    font-size: 20px;
}

section {
    margin: 50px auto;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin: 35px 0px 0px 0px;
    border-radius: none;
}
.btn:not(:disabled):not(.disabled) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 13px 54px #695f9714;
    opacity: 1;
    margin: 20px 10px 0px 10px;
    width: 370px;
    height: 300px;
}
.card1 {
    height: 55px;
    border-radius: 20px;
    background-color: #e4dff5;
    opacity: 1;
    text-align: center;
}
.card2 {
    height: 55px;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
    background-color: #e2f4ec;
    width: 294px;
    text-align: center;
}
.card3 {
    height: 55px;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
    background-color: #ebedf1;
    text-align: center;
}
h4,
.h4 {
    font-size: 22px;
    margin: -25px 0px 35px 0px;
    color: #000000;
    line-height: 0px;
    text-align: left;
}
h5,
.h5 {
    font-size: 24px;
    margin: -18px 0px 0px 0px;
    color: #000000;
}
h6,
.h6 {
    font-size: 15px;
    color: #000000;
}
.btn1:not(:disabled):not(.disabled) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff4f2;
    background-clip: border-box;
    border-radius: 30px;
    box-shadow: 2px 13px 54px #695f9714;
    opacity: 1;
    margin: 25px 0px 0px 10px;
    width: 95%;
    height: 350px;
    border: none;
}
.btn2:not(:disabled):not(.disabled) {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 30px;
    box-shadow: 2px 13px 54px #695f9714;
    opacity: 1;
    margin: 25px 0px 0px 10px;
    width: 95%;
    height: 300px;
    border: none;
}
img {
    vertical-align: middle;
    border-style: none;
    margin: 32px 0px 0px 0px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.new img {
    vertical-align: middle;
    border-style: none;
    margin: -70px 30px 0px -60px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.line {
    width: 0px;
    height: 35px;
    border: 1px solid #e1e1e1;
    margin: -40px 0px 0px 300px;
}
.line1 {
    width: 0px;
    height: 35px;
    border: 1px solid #e1e1e1;
    margin: -40px 0px 0px 300px;
}

.card9 {
    height: 50px;
    width: 380px;
    background-color: #ffb8b8;
    box-shadow: 2px 13px 54px #695f9714;
    border-radius: 17px;
    margin: 30px 0px 15px 0px;
}
.card9 h2 {
    color: #000000;
    font-size: 18px;
    padding: 12px;
    text-align: center;
}

.image img {
    width: 13px;
    height: 13px;
    margin: 18px 18px 0px 0px;
}

.float-right {
    background-color: #fbf9fe;
    margin: 0px -25px 0px 0px;
    width: 300px;
    height: 980px;
}
.row2 h5 {
    font-size: 15px;
    color: #000000;
}
.row2 h6 {
    font-size: 14px;
    color: #7a86a1;
    font-weight: 400;
}
.row .img {
    vertical-align: middle;
    border-style: none;
    margin: 32px 0px 0px 17px;
    width: 45px;
    border-radius: 17px;
    height: 45px;
}
.ml-3 h4 {
    font-size: 13px;
    font-weight: normal;
    color: #7a86a1;
    margin: 56px 0px 0px 0px;
}
.row4 {
    margin: -48px 0px 0px 125px;
}
.row5 {
    margin: -48px 0px 0px 105px;
}
.row9 {
    margin: -115px 0px 0px 90px;
}

.card10 {
    background: transparent linear-gradient(45deg, #f9b035 0%, #f98c4e 53%, #f96767 100%) 0% 0% no-repeat padding-box;
    border-radius: 30px;
    padding: 30px 30px 30px 30px;
    opacity: 1;
    height: 448px;
    position: relative;
  
}

.card10-p {

    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 128px;
    height: 115px;
    text-align: center;
    font-family: 'Manrope';
   
}

.card10-p img {
  position: absolute;
  width: 128px;
  height: 115px;
  top: 0;
}


.card10-p p {
    position: absolute;
    letter-spacing: -0.93px;
    color: #FFFFFF;
    opacity: 1;
    top: 163px;
    left: 71px;
   
}

.card10-p .txt-1 {
    font-size: 37px; 
    left: 74px; 
    top: 156px;
   
}


.card10-p .txt-2 {
   font-size: 15px;
   left: 97px; 
   top: 206px;
  
}
.card10-c {
 
    background: transparent url('/assets/img/img3.png')  0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 30px;
    width: 92%;
    left: 12px;
    bottom: 18px;
    height: 193px;
    text-align: center;
    /* margin: 88px 0 0 0; */
    position: absolute;
    font-family: 'Manrope';
}


.card10-c p{
  color: #ffffff;
  font-family: 'Manrope';
 
}

.card10-c img {
  height:100%; 
  width:auto;
}



.card10-c button {
  text-decoration: none;
  font-family: 'Manrope';
  border: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 3px 16px 40px #695F9724;
  border-radius: 22px;
  opacity: 1;
  width: 220px;
  height: 55px;
  color: #6149cd;
  font-weight: bold;
  
  }