.flow-box{
	margin: 10px 45px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
    padding: 30px;
}

.fa-edit{
	font-size: 26px;

}
.fa-trash-o{
	color: red;
	font-size: 26px;
}
.flow-add .box img{
	width: 50px;
}
