
.container{
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: 0px 0px;

}

.container .card1{
    width: 350px;
    height: 65px;
    border: 1px solid black;
    background-color: rgb(238, 203, 150) ;
    margin: 10px 0px 0px 250px;
    justify-content: center;
    align-items: center;
}
.container .card1 h5{
    color: green;
    margin: 20px 0px 0px 70px;
}