<sb-layout-dashboard><sb-dashboard-head title="Setting" [hideBreadcrumbs]="true"></sb-dashboard-head>



        <div class="container ">
                <div class="card1 ">
                    <h5>General Settings</h5>
                </div>
                <div class="card1 ">
                    <h5>Organizational Settings</h5>
                </div>
                <div class="card1">
                    <h5>Contact Settings</h5>
                </div>
                <div class="card1 ">
                    <h5>Automation Settings</h5>
                </div>
                <div class="card1">
                    <h5>Inbox Settings</h5>
                </div>
                <div class="card1">
                    <h5>Campaign Settings</h5>
                </div>
                <div class="card1">
                    <h5>Report Settings</h5>
                </div>
        </div>








 </sb-layout-dashboard>
