<sb-layout-dashboard><sb-dashboard-head title="Flow builder" [hideBreadcrumbs]="true"></sb-dashboard-head>

<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary btn-block col-2 float-right"><i class="fa fa-plus"></i> Create New Flow</button>
	</div>
</div>

<div class="row">
	<div class="col-md-3 flow-box">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-edit"></i>
			</div>
			<div class="col-md-6 text-right">
				<i class="fa fa-trash-o"></i>
			</div>
		</div>
		<h4 class="text-center"><b>Flow A</b></h4>
	</div>
	<div class="col-md-3 flow-box">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-edit"></i>
			</div>
			<div class="col-md-6 text-right">
				<i class="fa fa-trash-o"></i>
			</div>
		</div>
		<h4 class="text-center"><b>Flow B</b></h4>
	</div>
	<div class="col-md-3 flow-box">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-edit"></i>
			</div>
			<div class="col-md-6 text-right">
				<i class="fa fa-trash-o"></i>
			</div>
		</div>
		<h4 class="text-center"><b>Flow C</b></h4>
	</div>
</div>
<hr/>
<h5>Create a New Flow</h5>
<div class="row">
	<div class="col-md-5 flow-add">
		<div class="row box">
			<div class="col-md-9">
				<h3>Send a message</h3>
				<h5>With no response <br/>requied from visitor</h5>
			</div>
			<div class="col-md-3">
				<img src="assets/img/message.png">
			</div>
		</div>
		<div class="row box">
			<div class="col-md-9">
				<h3>Send a message</h3>
				<h5>With no response <br/>requied from visitor</h5>
			</div>
			<div class="col-md-3">
				<img src="assets/img/message.png">
			</div>
		</div>
		<div class="row box">
			<div class="col-md-9">
				<h3>Send a message</h3>
				<h5>With no response <br/>requied from visitor</h5>
			</div>
			<div class="col-md-3">
				<img src="assets/img/message.png">
			</div>
		</div>
		
	</div>
	<div class="col-md-5 flow-add">
		<div class="row box">
			<div class="col-md-9">
				<h3>Send a message</h3>
				<h5>With no response <br/>requied from visitor</h5>
			</div>
			<div class="col-md-3">
				<img src="assets/img/message.png">
			</div>
		</div>
		<div class="row box">
			<div class="col-md-9">
				<h3>Send a message</h3>
				<h5>With no response <br/>requied from visitor</h5>
			</div>
			<div class="col-md-3">
				<img src="assets/img/message.png">
			</div>
		</div>
		<div class="row box">
			<div class="col-md-9">
				<h3>Send a message</h3>
				<h5>With no response <br/>requied from visitor</h5>
			</div>
			<div class="col-md-3">
				<img src="assets/img/message.png">
			</div>
		</div>
		
	</div>
</div>


<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
