
  
.bg-gray{
    background: lightgray;
    padding: 10px;
    width: 600px;
    height: 200px;
}

.bg-lightgray{
    background: lightgray;
    padding: 10px;
    width: 900px;
    height: 285px;
}
.line2Chart{
    width: 100px;
    height: 100px;
}