<!-- <sb-layout-dashboard><sb-dashboard-head title="Campaign/ Schedule" [hideBreadcrumbs]="true"></sb-dashboard-head>

	<form class="mb-5">
		<div class="row justify-content-center">
			<div class="col-lg-6">
			<div class="col-md-12 mb-5">
				<h4 class="text-center">Schedule Relase</h4>
			</div>
			<div class="row">
			 <div class="form-group col-md-12">
			 	<input class="form-control py-4" type="date" />
			 </div>
			</div>
			 <div class="row">
			  <div class="form-group col-md-6">
			 	<input class="form-control py-4" type="text" placeholder="Time Zone" />
			 </div>
			  <div class="form-group col-md-6">
			 	<input class="form-control py-4" type="text" placeholder="Time" />
			 </div>
			</div>
			 	<div class="col-md-12 text-center">
			<button type="button" class="btn btn-primary col-md-4" routerLink="/dashboard/scheduleView">Send Campain</button>
		</div>
	</div>
	</div>

			 
		</form>
	</sb-layout-dashboard>
 -->

 <sb-layout-dashboard><sb-dashboard-head title="Schedule" [hideBreadcrumbs]="true"></sb-dashboard-head>
<!-- <div class="row mt-3 mb-3">
	<div class="col-md-5">
	</div>
	<div class="col-md-5">
     <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 col-12">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><fa-icon [icon]='["fas", "search"]'></fa-icon></button>
            </div>
        </div>
    </form>

	</div>
	<div class="col-md-2">
		<button class="btn btn-primary btn-block float-right"><i class="fa fa-plus"></i> Add Campaign</button>
	</div>
</div>

 -->

	<table class="table table-striped mt-5">
	<thead>
		<tr>
			<th scope="col"><input type="checkbox" name=""></th>
			<th scope="col">ID</th>
			<th scope="col">Campaign Name</th>
			<th scope="col">Campaign Time</th>
			<th scope="col">Channel Name </th>
			<th scope="col">Message </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th width="80"><input type="checkbox" name=""><a class="col-md-2" (click)="openmenu(menu)"><i class="fa fa-bars"></i></a></th>
			<td>1</td>
			<td>sample</td>
			<td>123456</td>
			<td>gmail.com</td>
			<td>ABS</td>
		</tr>
	</tbody>
</table>




<ng-template #menu let-c="close" let-d="dismiss">
	<div class="modal-header text-right">
			<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body text-center">
			<button type="button" class="btn btn-success mr-1" (click)="c('Save click')">Edit</button>
			<button type="button" class="btn btn-danger" (click)="c('Save click')">Delete</button>
	</div>
</ng-template>
<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
