.common-input {
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #0000001d;
    
    &::placeholder {
        font-size: 13px;
    }

    // &:focus {
    //     border: 1px solid black;
    //     box-shadow: 1px 1px 10px rgba(0, 0, 255, 0.712);
    // }
}
.custom-box-style{
    box-shadow: 2px 13px 54px rgba(105, 95, 151, 0.0784313725);
    border-radius: 30px;
}
