<sb-layout-dashboard><sb-dashboard-head title="Organization Setting" [hideBreadcrumbs]="true"></sb-dashboard-head>

	<div class="row py-3">
    <div class="col-md-9">
    <ul class="nav nav-tabs " id="myTab">
        <li class="nav-item ">
            <a href="" class="nav link active" data-toggle="tab" href="/dashboard/organization">Organization Settings</a>
    
        </li>
    </ul>
    </div>
    </div>


    <form>
        <div class="mb-2">
          <label for="exampleInputEmail1" class="form-label">Company name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ABC" >
        </div>
        <label for="floatingSelectGrid">Country</label>
        <div class="form-floating">
        <select class="form-select" aria-label="Default select example">
          <option selected>India</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>
        <label for="floatingSelectGrid">Industry</label>
        <div class="form-floating">
        <select class="form-select" aria-label="Default select example">
          <option selected>Advertisement</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>
      </form>


      <div class="tab-content pt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="home">
      <h4>LOCALE</h4>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-md">
            <label for="floatingInputGrid">Date Format</label>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="DD-MM-YYYY" value="DD-MM-YYYY">
            
          </div>
        </div>
        <div class="col-md">
            <label for="floatingSelectGrid">Time Zone</label>
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              <option selected>(GMT +5:30)Bombay</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            
          </div>
        </div>
      </div>

      <div class="row g-2">
        <div class="col-md">
            <label for="floatingInputGrid">Time Format</label>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="24-hr">
            
          </div>
        </div>
        <div class="col-md">
            <label for="floatingSelectGrid">Currency</label>
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
              <option selected>US DOLLAR DOLL$</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            
          </div>
        </div>
      </div>
      <div class="tab-content pt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="home">
      <h4>BILLING DETAILS</h4>
        </div>
      </div>
      <div class="row g-3 pt-3">
        <div class="col-sm-3">
              <label for="floatingInputGrid">Billing Company Name</label>
        
          <input type="text" class="form-control" placeholder="Billing Company Name" aria-label="City">
        </div>
          <div class="col-sm-3">
            <label for="floatingInputGrid">Building Name</label>
        
          <input type="text" class="form-control" placeholder="Building Name" aria-label="State">
        </div>
          <div class="col-sm-3">
            <label for="floatingInputGrid">Area Name</label>
          <input type="text" class="form-control" placeholder="Area Name" aria-label="Zip">
        </div>
          <div class="col-sm-3">
            <label for="floatingInputGrid">City Name</label>
        
          <input type="text" class="form-control" placeholder="City Name" aria-label="Zip">
        </div>
      </div>
      <div class="row g-3 pt-3">
        <div class="col-sm-3">
              <label for="floatingInputGrid">District</label>
        
          <input type="text" class="form-control" placeholder="District" aria-label="City">
        </div>
          <div class="col-sm-3">
            <label for="floatingInputGrid">State</label>
        
          <input type="text" class="form-control" placeholder="State" aria-label="State">
        </div>
          <div class="col-sm-3">
            <label for="floatingInputGrid">Country</label>
          <input type="text" class="form-control" placeholder="Country" aria-label="Zip">
        </div>
          <div class="col-sm-3">
            <label for="floatingInputGrid">Postal code</label>
        
          <input type="text" class="form-control" placeholder="Postal code" aria-label="Zip">
        </div>
      </div>
      <div class="row g-5 pt-3">
        <div class="col-sm-5">
              <label for="floatingInputGrid">Tax/VAT/GST ID</label>
        
          <input type="text" class="form-control" placeholder="Tax/VAT/GST ID" aria-label="City">
        </div>
          <div class="col-sm-5">
                <label for="floatingInputGrid">Billing Email Address</label>
          
            <input type="text" class="form-control" placeholder="Email" aria-label="City">
          </div>
        </div>

        <div class="tab-content pt-4" id="myTabContent">
          <div class="tab-pane fade show active" id="home">
        <h4>Setting Working Hours</h4>
          </div>
        </div>
        <div class="row g-4 pt-3">
          <div class="col-sm-3">
                <label for="floatingInputGrid">Weak</label>
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>Monday</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
            <div class="col-sm-3">
              <label for="floatingInputGrid">From</label>
          
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>09:00</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
            <div class="col-sm-3">
              <label for="floatingInputGrid">To</label>
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>19:00</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
        </div>
        <div class="row g-4 pt-3">
          <div class="col-sm-3">
                <label for="floatingInputGrid">Weak</label>
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>Saturday</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
            <div class="col-sm-3">
              <label for="floatingInputGrid">From</label>
          
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>09:00</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
            <div class="col-sm-3">
              <label for="floatingInputGrid">To</label>
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>19:00</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
        </div>
        <div class="row g-4 pt-3">
          <div class="col-sm-3">
                <label for="floatingInputGrid">Weak</label>
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                  <option selected>Sunday</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
          </div>
            <div class="col-sm-3">
              <label for="floatingInputGrid">From</label>
          
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>09:00</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
            <div class="col-sm-3">
              <label for="floatingInputGrid">To</label>
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>19:00</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
        </div>
        <div class="modal-footer row popfooter">
          <div class="col-md-5 text-right">
                  <button type="button" class="btn btn-success" (click)="c('Cancel click')">Cancel</button>
              </div>
              <div class="col-md- text-right">
                <button type="button" class="btn btn-success" (click)="c('Save click')">Save</button>
            </div>
          </div>


<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
