.float-right {
    background-color: #FBF9FE;
    margin: 0px -25px 0px 0px;
    width: 350px;
    height: 980px;
  }
 
.btn-close {
    cursor: pointer;
    margin: 0px 0px 30px 282px;
}
.collumn h6{
    font-size: 12px;
    color: #7A86A1;
    font-family: Manrope;
}
.collumn h5{
    font-size: 13px;
    color: #000000;
    font-family: Manrope;
}
.collumn .line{
    width: 1px;
    height: 13px;
    background-color: #7A86A1;
    margin: 0px 10px 0px 10px;
}
.row h6{
    font-size: 14px;
    color: #7A86A1;
    font-family: Manrope;
    margin: 3px 0px 0px 14px;
}
h4{
    font-family: Manrope;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}
h3{
        color: #6149CD;
        font-family: Manrope;
        font-size: 17px;
        margin: 20px 0px 20px 0px;
        font-weight: bold;
    }
    .box{
        width: 120px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid #EBEBEB;
        margin: 5px 0px 0px 10px;
    }
   
    .box1 h6{
        font-size: 15px;
        color: #7A86A1;
        font-family: Manrope;
        margin: 20px 0px 10px 5px;
    }
    .box1 h5{
        color: #000000;
        font-family: Manrope;
        font-size: 15px;
        margin: 20px 0px 10px 5px;
    }

    p{
        color: #000000;
        font-family: Manrope;
        font-size: 14px;
        text-align: center;
        margin: 4px 0px 0px 0px;
    }
    .box4{
        width: 95%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid #EBEBEB;
        margin: 10px 0px 0px 5px;
    }
    .box4 h3{
        font-family: Manrope;
        font-size: 16px;
        color: #6149CD;
        padding: 0px 0px 0px 10px;
    }
    .box4 p{
        font-family: Manrope;
        font-size: 14px;
        color: #000000;
        text-align: inherit;
        padding: 0px 0px 0px 10px;
    }
    .box2{
        width: 95%;
        height: 100%;
        background-color: #F6EFFF;
        border-radius: 20px;
        border: 1px solid #EBEBEB;
        margin: 10px 0px 0px 5px;
    }
    .box2 h3{
        font-family: Manrope;
        font-size: 16px;
        color: #6149CD;
        padding: 0px 0px 0px 10px;
    }
    .box2 .bb b{
        font-family: Manrope;
        font-size: 14px;
        color: #000000;
        padding: 0px 0px 0px 6px;
        margin: -10px 0px 0px 0px;
    }
    .box2 .bb p{
        font-family: Manrope;
        font-size: 14px;
        color: #000000;
        padding: 0px 0px 0px 12px;
        margin: -10px 0px 0px 0px;
    }