<div class="card9 float-right">
    <div class="card-body">
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        <div class="collumn d-flex">
            <h6>Id:</h6>
            <h5>2.</h5>
            <div class="line"></div>
            <h6>Created on:</h6>
            <h5>15 Jan 2022</h5>
            <div class="line"></div>
            <h6>Edited on:</h6>
            <h5>12 Mar 2022</h5>
        </div>
      <h4>Help & Support</h4>
      <div class="row d-flex">
        <h6 class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h6>
      </div>
      <h3>Keywords & Criteria </h3>
      <div class="box1 sm-6 md-3 gy-3 d-flex">
      <div class="box">
        <p>Help,Contact Us</p>
      </div>
      <div class="box">
        <p>Need Support</p>
    </div>
    <div class="box2">
        <p>promote</p>
    </div>
</div>
<div class="box1 d-flex">
    <div class="box3">
        <p>where is my order</p>
    </div>
    <div class="box3">
        <p>My appointment fail</p>
    </div>
</div>
    <div class="box2">
        <p>New</p>
    </div>
    
    <div class="box1 d-flex">
        <h6>Matching Criteria:</h6>
        <h5>Exact Matching</h5>
    </div>
    <h3>Reply Actions</h3>
    <div class="box4">
        <h3>Message</h3>
        <p>Hey just want to drop a quick node to express the general </p>
    </div>