<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                 <div class=""><h3 class="font-weight-light my-4"><b>Verification</b></h3></div>
                <div class="card shadow-lg border-0 rounded-lg mt-1">
                    <div class="card-body">
                      
                        <form>
                          <p class="text-center small">An OTP has been sent to +91********124, please enter here</p>
                             <div class="form-group row"><label class="small mt-2" for="inputFirstName">OTP:</label>
                              <div class="text-right col-11 ml-3"> Resend OTP</div>
                                <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter otp" /></div>
                      
                             <div class="form-group text-center">
                        <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" routerLink="/login">Verifiy</a></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
