<div class="toaster" (click)="hideToaster()">
	<p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
	<p *ngIf="successMessage" class="success">{{successMessage}}</p>
	<p *ngIf="warningMessage" class="warn">{{warningMessage}}</p>
  </div>
<sb-loader [isLoading]="isLoading"></sb-loader>
	<div class="flow-header">
		<div class="d-flex">
			<div class="mx-2 hand-icon" (click)="closeFlowDetailComponent()" > <img src="../../../../assets/img/left-arrow.svg" width="18px" height="18px">  </div>
			<div class="header-name">{{flowName}}</div>			
		</div>
		
		<div class="d-flex">
			<div class="mx-2 hand-icon d-flex align-items-center" (click)="getRefresh()" > <img src="../../../../assets/img/retry.svg" width="22px" height="22px">  </div>			
				<button class="flow-btn" data-bs-toggle="modal" data-bs-target="#mapColumnsModal"  > <img class="mr-1" width="15px" src="../../../../assets/img/Map_Column.svg">Map Column</button>
				<button class="flow-btn" id="import-btn" data-bs-toggle="modal" data-bs-target="#editColumnsModal" ><img
						class="edit-icon mr-1" src="../../../../assets/img/edit_colunm.svg">Edit Column</button>
				<button class="flow-btn" id="add-contact"  (click)="exportFlowData()"> <img class="mr-1" src="../../../../assets/img/export.svg">Export</button>
		</div>
	</div>
    <!-- (selectionChanged)="onSelectionChanged($event)"
    (filterChanged)="onFilterChanged()" -->
    <div class="p-3" *ngIf="isflowDetailLoading">
	
		<ag-grid-angular class="ag-theme-alpine"
						 style="height: 60vh;"
						 [rowData]="flowList"
						 [columnDefs]="columnDefs"
						 [animateRows]="true"
						 [gridOptions]="gridOptions"
						 (gridReady)="onGridReady($event)"
						 suppressResize=true
						 [suppressRowClickSelection]="true"
						 [paginationPageSize]="paginationPageSize"
						 >
		</ag-grid-angular>
		<div class="grid-pagination d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center">
				<p class="p-0 m-0">Showing:</p>
				<select class="mx-3" [(ngModel)]="paginationPageSize" (change)="setPaging()">
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="45">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
				</select>
			</div>
			<div class="d-flex page-next-back mt-2">
				<button class="pagination-btn left">
					<img class="next-img" src="assets/img/profile/previous.svg" (click)="onBtPrevious()">
				</button>
				<div class="mx-2 d-flex align-items-center pages-gap-2">
					<div *ngFor="let item of paging" [ngClass]="item == currPage ? 'page-No-selected':'page-No-unselected'"
						 (click)="gotoPage(item)">{{item}}</div>
				</div>
				<button class="pagination-btn right button-box-shadow">
					<img class="next-img" src="assets/img/profile/next.svg" (click)="onBtNext()">
				</button>
			</div>

		</div>
    </div>




	<div class="modal fade Edit-modal" tabindex="-1" data-bs-backdrop="static" id="editColumnsModal" #editColumnsModal role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content working-hour-modal ">
				<div class="modal-header sticky-header">
					<h5 class="modal-title">Edit Columns</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
						<img src="../../../../assets/img/teambox/icon-close.svg">
					</button>
				</div>
				<div class="modal-body px-5 pt-0 modal-body-scroll">
					<div class="d-flex space-around f-bold" *ngIf="flowList?.length >0">
						<div>Edit Column Names</div>
						<div>Column Data Type</div>
					</div>
					<div class="edit-column-slim pr-2">
				<div *ngFor="let item of ColumnMapping;let idx=index" class="my-2">						
					<div class="d-flex justify-content-between" *ngIf="item?.ActuallName != 'name' && item?.ActuallName != 'phoneNumber' && item?.ActuallName != 'created_at'">
						<div class="d-flex pl-4">
						<diV class="mr-3">
							<input type="checkbox" [(ngModel)]="item.isInputSelected" (change)="onSelectEditing(idx)" class="form-check-input mr-2 p-relative" id="exampleCheck1">
						</diV>
						<div class="billing-form-row d-flex flex-column  ">
							<input type="text" class="input-form" type="text" [(ngModel)]="item.displayName" 
								 maxlength="30"  #nameInput disabled>
						</div>
					</div>
							<div (click)="nameInput.disabled = false" class="d-flex cursor-pointer align-items-center pl-2">
								<img src="../../../../assets/img/Edit-icon.png">
							</div>
						<div class="billing-form-row d-flex flex-column pl-2 ">
							<select class="input-form select-flow" [(ngModel)]="item.type"  
								placeholder="Select data type" >
								<option value="" >Select data type</option>
								<option *ngFor="let type of types" [value]="type" >{{type}}</option>
							</select>
						</div>
					</div>
				</div>
				<div *ngIf="flowList?.length ==0" class="norecord">No response received yet.</div>
				</div>
				<div class="small-note mt-2 mx-2">Note: If you don’t see any column as defined under the WhatsApp Flow, it could be a optional field and nobody might have filled it yet</div>
				</div>
				<div class="modal-footer sticky-footer">
					<button type="button" class="account-btn" (click)="SaveEditColumn()">Save</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade flow-modal " tabindex="-1" data-bs-backdrop="static" id="mapColumnsModal" #mapColumnsModal role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content ">
				<div class="modal-header sticky-header">
					<h5 class="modal-title">Map Columns</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal();onSelectMapping();">
						<img src="../../../../assets/img/teambox/icon-close.svg">
					</button>
				</div>
				<div class="modal-body px-5 pt-0 modal-body-scroll">
					<!-- <form [formGroup]="workingHourForm" class="mt-4"> -->
						<div class="d-flex " *ngIf="flowList?.length >0">
							<div class="w-40"></div>
							<div class="f-bold">Map to Contact Fields</div>
						</div>
						<div class="edit-column-slim">
					<div *ngFor="let item of ColumnMapping;let idx=index" class="my-2">						
						<div class="d-flex" *ngIf="item?.ActuallName != 'name' && item?.ActuallName != 'phoneNumber' && item?.ActuallName != 'created_at'">
							<div class="billing-form-row d-flex flex-column  ">
								<input type="text" class="input-form clr-txt" type="text" [(ngModel)]="item.displayName" disabled
									 placeholder="Select start time">
	
							</div>
							<div class="billing-form-row d-flex flex-column pl-3 ">
								<select class="input-form select-flow" [(ngModel)]="item.attributeMapped" (change)="onSelectMapping()"
									placeholder="Select an attribute to map">
									<option value="">Select an attribute to map</option>
									<option *ngFor="let att of attributesList" [value]="att.ActuallName" [disabled]="att?.isSelected == true" >{{att?.displayName}}</option>
								</select>
							</div>
							<div>
								<div class="col-auto d-flex align-items-center active-toggle ml-2">
									<label for="toggle-switch{{idx}}" class="m-0 switch">
										<input type="checkbox" class="form-check-input" id="toggle-switch{{idx}}" [disabled]="!item?.attributeMapped"
											[(ngModel)]="item.isOverride">
										<span  class="slider">
										</span>
									</label>
									<p class="m-0 ml-1">{{ item?.isOverride ? 'Override on' : 'Override off' }}</p>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="flowList?.length ==0" class="norecord">No response received yet.</div>
					</div>

					<div class="mt-2">
						<input type="checkbox" class="form-check-input mr-2" id="exampleCheck1" [(ngModel)]="isUpdateValuesFromEarlierFlowResponses">
						<div class="pl-2">Update values from earlier Flow responses also</div>
					</div>
					<div class="small-note mt-2 mx-2">Note: If you don’t see any column as defined under the WhatsApp Flow, it could be a optional field and nobody might have filled it yet</div>
					<!-- </form> -->
				</div>
				<div class="modal-footer sticky-footer">
					<button type="button" class="account-btn" (click)="SaveEditColumn()">Save</button>
				</div>
			</div>
		</div>
	</div>
