.container-empty-state {
    font-family: 'Manrope';
}

.container-empty-state {
    height: 45vh;
}

.body-empty-state img {
    width: 123px;
    height: 109px;
}

.body-empty-state h5 {
    font-weight: 700;
}

.body-empty-state p{
    color: #7A86A1;
}

.table tr {
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Manrope';
    border: none;
}
.table tr:hover{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Manrope';
    box-shadow: 0px 0px 14px #695F972E;
border: none;
opacity: 1;
}
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: none;
    width: 140px;
    
}
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: none;
    width: 50px;
}
.table thead{
    display: table;
    width: 95%;
    background: transparent;
    padding: 10px 3px 0px 0px;
    color: #6149CD;
    font-size: 14px;
    margin: 0px 18px;
    font-family: 'Manrope';
}
.table thead .table-box{
    color: #6149CD;
    background: transparent;
    margin: 0px 23px;
}
.table thead .table-box:hover{
    box-shadow: none;
}
.table tr td img{
    margin: -4px 0px 0px 10px;
}


.ag-theme-alpine {
    // height: 740px;
    border-radius: 30px;
    opacity: 1;
    font-family: "Manrope";
    font-style: normal;
    font-size: 14px;
    color: #6149CD;
    left: 1px;
    margin: 2% 5% 0% 5%;
    
}


.flow-btn{
    border: 2px solid grey;
    border-radius: 20px;
    margin: 0px 5px;
}

.flow-header{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    margin: 2% 5% 0% 5%;
}



.grid-pagination {
    padding: 0% 6% 0% 6%;
    p {
        color: #7a86a1;
    }

    select {
        cursor: pointer;
        border: none;
        outline: none;
        color: #7a86a1;
    }

    .page-next-back {
        .pagination-btn {
            border: none;
            outline: none;
            cursor: pointer;
            background: #ffffff;
            width: 36px;
            height: 36px;
            border-radius: 15px;
            opacity: 1;
        }

        .button-box-shadow {
            box-shadow: 1px 8px 29px #695f972e;
        }

        .page-No-selected {
            color: blue;
            font-weight: bold;
        }

        .pages-gap-2 {
            gap: 10px;
        }

        .page-No-unselected {
            color: gray;
        }
    }
}


// toggle button

.active-toggle {
    padding: 2% 0% 2% 0%;
}

.active-toggle .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
}
.active-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 35px;
    transition: 0.3s ease-out;
    border-radius: 34px;
}
.active-toggle .switch input {
    display: none;
}

.active-toggle .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: #FFFFFF;
    transition: 0.3s ease-out;
    border-radius: 50px;
    box-shadow: 0.35px 2px 7px #6149cd30;
}

.active-toggle input:checked + .slider {
    background-color: #6149CD !important;
}

.active-toggle input:checked + .slider::before {
    transform: translateX(14px) translateY(0.1px);
}

.switch-text p {
    font-weight: 600;
    font-weight: 0.875rem;
}

.active-toggle p {
    font-size: 11px;
    font-weight: 300;
}

.toggle-disabled {
    color: #7A86A1;
    font-weight: 300!important;
}

.toggle-disabled-slider {
     background-color: #F6EFFF !important;
     cursor: default !important;
}

.modal-dialog{
    max-width: 700px !important;
}

.input-form {
    height: 37px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px 15px;
    width: 100%;
    background-color: white !important;
}

.flow-modal .modal-content{
    background: #fff4f2;
}


.flow-modal .modal-dialog{
    max-width: 700px !important;
}

.Edit-modal .modal-content{
    background: #fff4f2;
}
.Edit-modal .modal-dialog{
    max-width: 600px !important;
}

.form-check-input{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.select-flow{
    width: 250px;
    cursor: pointer;
}

.w-40{
    width: 40% !important;
}

.modal-footer{
    justify-content: center !important;
    border: none !important;
}

.header-name{
    font-size: 14px;
    font-weight: bold;
    max-width: 350px;
    word-wrap: break-word;
}

.f-bold{
    font-weight: bold !important;
}

.space-around{
    justify-content: space-around !important;
}

.hand-icon{
    cursor: pointer !important;
}
.edit-column-slim {
    height: 350px;
    overflow-y: scroll;
}

.clr-txt{
    color: #000000 !important;
}

.edit-icon{
        width: 14px;
    padding-bottom: 4px;
    margin-right: 3px;
}

.p-relative{
    position: relative !important;
}