<div class="row">
    <div class="col-sm-4">
        <div class="setting-card">
            <span class="working-hour-heading px-2">Working Hours</span>
            <p class="pt-2 px-2">Define your team’s working hours during which they are available to communicate with
                customers</p>

            <div class="working-hour-img-card modal-body" *ngIf="!workingData">
                <img src="../../../../assets/img/settings/image.png"><br>
                <span class="working-hour-heading">Add Working Hours</span>
            </div>
            <div *ngIf="workingData" class="modal-body pt-0">
                <div class="row pt-4" *ngIf="workingData.length > 0">
                    <div *ngFor="let item of workingData; let idx=index" class="w-100">
                        <div class="working-days ">{{ item?.working_days }}</div>
                        <div class="working-time">{{ item?.start_time }} - {{ item?.end_time }}</div>
                    </div>
                </div>
                <div *ngIf="workingData.length ==0" class="empty-working-time">
                    <div class="w-100">
                        <img src="../../../../assets/img/settings/image.png">
                        <div class="pt-2 text-bold">Add Working Hours</div>
                    </div>
                </div>
            </div>

            <div class="text-center pt-3">
                <button class="working-hour-btn" (click)="manageWorkingHour()" data-bs-toggle="modal"
                    data-bs-target="#workingHourModal">Manage Working
                    Hours</button>
            </div>


        </div>
    </div>
    <div class="col-sm-8">
        <div class="setting-card">
            <div class="flex-header">
                <span class="working-hour-heading pt-2">Holidays</span>
                <!-- <img src="../../../../assets/img/settings/drag.svg" /> -->
                <select class="holiday-dropdown multiselect" [(ngModel)]="selectedYear">
                    <option *ngFor="let item of yearList" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="months-view">
                <div class="month-card" *ngFor="let item of totalmonths;let idx =index"
                    (click)="createDynamicDate(idx+1)" data-bs-toggle="modal" data-bs-target="#holidayModal">
                    <div class=" date-time p-2 px-3">
                        <img src="../../../../assets/img/settings/Edit-icon.svg">&nbsp;{{item?.monthName}}
                    </div>
                    <div class="dates-view px-3" *ngIf="item.values.length>0">
                        <div class="month-date" *ngFor="let dt of item.values">{{dt | date:'dd'}}</div>
                        <!-- <div class="month-date">12</div>
                        <div class="month-date">5</div>
                        <div class="month-date">1</div>
                        <div class="month-date">13</div> -->
                    </div>
                    <div *ngIf="item.values.length ==0" class="no-holidays">No holidays to show</div>
                </div>
            </div>

        </div>

    </div>

</div>


<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="workingHourModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content working-hour-modal ">
            <div class="modal-header sticky-header">
                <h5 class="modal-title">Update Working Hours</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <div class="modal-body px-5 pt-0 modal-body-scroll">
                <!-- <form [formGroup]="workingHourForm" class="mt-4"> -->
                <div *ngFor="let item of workingFormData;let idx=index">
                    <div class="billing-form-row">
                        <label>Days</label>
                        <ng-multiselect-dropdown class="multiselect dropdown" name="tag" [(ngModel)]="item.day" id="tag"
                            [settings]="dropdownSettings" [data]="daysList" [placeholder]="'Add Days'">
                        </ng-multiselect-dropdown>


                    </div>
                    <div class="d-flex">
                        <div class="billing-form-row d-flex flex-column  ">
                            <label for="appt">Start Time</label>
                            <input type="text" class="input-form" type="time" id="appt" name="appt" min="09:00"
                                [(ngModel)]="item.startTime" placeholder="Select start time">

                        </div>
                        <div class="billing-form-row d-flex flex-column pl-3 ">
                            <label for="appt">End Time</label>
                            <input type="text" class="input-form" type="time" id="appt" name="appt" max="18:00"
                                [(ngModel)]="item.endTime" placeholder="Select end time">
                        </div>
                    </div>
                    <div class="incoming-card">
                        <div>
                            <a class="add-btn" (click)="addWorkingHours()" *ngIf="idx == (workingFormData?.length-1)">+
                                Add</a>
                        </div>
                        <a class="remove-btn" (click)="removeWorkingHours(idx)" *ngIf="workingFormData?.length>1">-
                            Remove</a>
                    </div>
                </div>
                <!-- </form> -->
            </div>
            <div class="modal-footer sticky-footer">
                <button type="button" class="account-btn" (click)="saveWorkingDetails()">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="holidayModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content holiday-calender-modal p-2 pl-3">
            <div class="modal-header">
                <h5 class="modal-title">Edit Holidays</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <div class="modal-body px-5 pt-4 ">
                <span class="month-heading pb-2 pl-4">{{totalmonths[selectedMonth-1]}}, {{selectedYear}}</span>
                <div class="calender pl-4">
                    <div class="calen d-flex">
                        <div class="calender-day">Mon</div>
                        <div class="calender-day">Tue</div>
                        <div class="calender-day">Wed</div>
                        <div class="calender-day">Thu</div>
                        <div class="calender-day">Fri</div>
                        <div class="calender-day">Sat</div>
                        <div class="calender-day">Sun</div>
                    </div>
                    <div class="date-grid">
                        <div *ngFor="let item of monthDates;let idx = index">
                            <span *ngIf="item?.onlyDate !=0" class="calender-date"
                                [ngClass]="item?.selected ? 'active' : ''"
                                (click)="selectDates(idx)">{{item?.onlyDate}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="account-btn" (click)="saveHolidayDetails()">Save</button>
            </div>
        </div>
    </div>
</div>