.setting-card {
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 13px 54px #695F9714;    
    height: 75vh;
}

.working-hour-heading{
    font-size: 20px;
    font-weight: 600;
}

.working-hour-img-card{
    height: 38vh;
    margin-top: 7rem;
    text-align: center;
}

.setting-card p{
    color: #7A86A1;
}

.input-form {
    height: 37px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    padding: 5px 15px;
    width: 90%;
   }

.working-hour-btn{
    color: #FFFFFF !important;
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 19px;
    padding: 7px 12px;
    border: none;
}


.modal-content .btn-close {
    background: white;
    margin: 2px;
    border-radius: 15px;
    padding: 6px 12px;
    border: 1px solid #EBEBEB;
   }

   .working-hour-modal{
    width: 650px;
    height: 600px;
    border-radius: 26px;
    overflow-y: scroll;
   }

   .modal-footer{
    border: none;
   }

   .modal-title {
    letter-spacing: -0.45px;
    font-weight: bold;
   }

   .multiselect{
    display: inline-block;
    height: 37px;
    border-radius: 17px;
    border: 1px solid #EBEBEB;
    width: 100%;
    padding: 1px 3px;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Manrope';
    color: #7A86A1;
    background-color: #ffffff;
    margin: -2px 0px 0px 0px;
}
.billing-form-row{
    margin-top: 13px;
}

.billing-form-row label{
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
}

.account-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 8px 22px;
    border: 1px;    
    color: white;
    font-weight: 400;
   }

   .incoming-card{
    display: flex;
    justify-content: space-between;
   }

   .remove-btn {
    color: #FF3636;
    font-size: 14px;
   }

   .add-btn {
    color: #6236FF;
    font-size: 14px;
   }

//    /* width */
// ::-webkit-scrollbar {
//     width: 20px;
//   }
  
//   /* Track */
//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 5px grey;
//     border-radius: 10px;
//   }
  
//   /* Handle */
//   ::-webkit-scrollbar-thumb {
//     background: red;
//     border-radius: 10px;
//   }