<sb-layout-dashboard>
	<h1>Import Contact</h1> 
<div class="bs-stepper">
  <div class="bs-stepper-header" role="tablist">
    <!-- your steps here -->
    <div class="step" data-target="#logins-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Upload</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#information-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Mapping</span>
      </button>
    </div>
     <div class="line"></div>
    <div class="step" data-target="#review-part">
      <button type="button" class="step-trigger" role="tab" aria-controls="review-part" id="review-part-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Review</span>
      </button>
    </div>
  </div>
  <div class="bs-stepper-content">
    <!-- your steps content here -->
    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
    
			 <h4>Attach File</h4>
			 <div class="box d-flex">
				<div class="box1">
					<img src="assets/img/im.png">
					<h5>Upload a CSV file to add or update contacts</h5>
					<span>Or</span>
					<div class="col-xs-3 ">
					<input type="file" (change)="getFile($event)" />
				</div>
				</div>
				<div class="box2 d-flex">
					<img src="assets/img/download.png">
					<h6>Download Sample File</h6>

				</div>
				
			</div>
			<div class="box3">
				<div class="box4 d-flex">
					<img src="assets/img/instraction.png">
					<h6>Intractions</h6>
				</div>
				<h5>Upload a CSV file with the contacts and details that you would like to import. Ensure the CSV file Fulfils the Following requirements.</h5>
					<h5>Only CSV files are accepted for import.</h5>
					<h5>File size must be 10MB</h5>
					<h5>The file must contain at least....
				</h5>
			</div>
			<div class="row g-2">
				<div class="col-md">
					<label for="floatingInputGrid">Purpose</label>
				  <div class="form-floating">
					<select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
						<option selected>Add new contact only</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					  </select>
					
				  </div>
				  <span>New Contacts will be added,existing will be ignored </span>
				</div>
				<div class="col-md ml-4">
					<label for="floatingSelectGrid">Identifier</label>
				  <div class="form-floating">
					<select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
					  <option selected>Email</option>
					  <option value="1">One</option>
					  <option value="2">Two</option>
					  <option value="3">Three</option>
					</select>
					
				  </div>
				  <span>Email works as identifier</span>
				</div>
				
			  </div>


    	    	<button type="button" (click)= "sttapper1()" class="btn btn-block col-1 mt-3 ">Next</button>

    </div>
    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
    <span>Select the appropriate contact field for each column in tde CSV</span>
	<div class="sq d-flex">
		<div class="ss">
			<h5>Sample Data from your CSV</h5>
			<h6>Kevin Applessed</h6>
			<h6>kevinapplessed@gmail.com</h6>
			<h6>+44 9582360040</h6>
			<h6>Male</h6>
			<h6>NA</h6>
			<h6>NA</h6>
			<h6>United Kingdom</h6>
			<h6>North Devon</h6>
		</div>
		<div class="ss1">
			<div class="hh d-flex">
				<h5>Select the columns to input</h5>
				<h5>Map to Contact Fields</h5>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Name</h4>
				<select class="form-control">
					<option selected>First Name</option>
					<option>Email id</option>
					<option>Mobile No</option>
					<option>Gender</option>
					<option>Tag</option>
					<option>Status</option>
					<option>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Email id</h4>
				<select class="form-control">
					<option>First Name</option>
					<option selected>Email id</option>
					<option>Mobile No</option>
					<option>Gender</option>
					<option>Tag</option>
					<option>Status</option>
					<option>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Mobile Number</h4>
				<select class="form-control">
					<option>First Name</option>
					<option>Email id</option>
					<option selected>Mobile No</option>
					<option>Gender</option>
					<option>Tag</option>
					<option>Status</option>
					<option>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Gender</h4>
				<select class="form-control">
					<option>First Name</option>
					<option>Email id</option>
					<option>Mobile No</option>
					<option selected>Gender</option>
					<option>Tag</option>
					<option>Status</option>
					<option>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Tags</h4>
				<select class="form-control">
					<option>First Name</option>
					<option>Email id</option>
					<option>Mobile No</option>
					<option>Gender</option>
					<option selected>Tag</option>
					<option>Status</option>
					<option>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Status</h4>
				<select class="form-control">
					<option>First Name</option>
					<option>Email id</option>
					<option>Mobile No</option>
					<option>Gender</option>
					<option>Tag</option>
					<option selected>Status</option>
					<option>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>Country</h4>
				<select class="form-control">
					<option>First Name</option>
					<option>Email id</option>
					<option>Mobile No</option>
					<option>Gender</option>
					<option>Tag</option>
					<option >Status</option>
					<option selected>Country</option>
					<option>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
			<div class="hh d-flex">
				<input type="checkbox" name="">
				<h4>State</h4>
				<select class="form-control">
					<option>First Name</option>
					<option>Email id</option>
					<option>Mobile No</option>
					<option>Gender</option>
					<option>Tag</option>
					<option>Status</option>
					<option>Country</option>
					<option selected>State</option>
				</select>
				<label class="switch">
					<input type="checkbox">
					<span class="slider"></span>
				</label>
				<h6>override on</h6>
			</div>
		</div>
	</div>

    		
	<button type="button" (click)= "sttapper3()" class="btn btn-primary btn-block col-1">Next</button>
    </div>
     <div id="review-part" class="content" role="tabpanel" aria-labelledby="review-part-trigger">
		<div class="sq d-flex">
			<div class="ss">
				<h5>Sample Data from your CSV</h5>
				<h6>Kevin Applessed</h6>
				<h6>kevinapplessed@gmail.com</h6>
				<h6>+44 9582360040</h6>
				<h6>Male</h6>
				<h6>NA</h6>
				<h6>NA</h6>
				<h6>United Kingdom</h6>
				<h6>North Devon</h6>
			</div>
			<div class="ss1">
				<div class="hh d-flex">
					<h5>Select the columns to input</h5>
					<h5>Map to Contact Fields</h5>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Name</h4>
					<select class="form-control">
						<option selected>First Name</option>
						<option>Email id</option>
						<option>Mobile No</option>
						<option>Gender</option>
						<option>Tag</option>
						<option>Status</option>
						<option>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Email id</h4>
					<select class="form-control">
						<option>First Name</option>
						<option selected>Email id</option>
						<option>Mobile No</option>
						<option>Gender</option>
						<option>Tag</option>
						<option>Status</option>
						<option>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Mobile Number</h4>
					<select class="form-control">
						<option>First Name</option>
						<option>Email id</option>
						<option selected>Mobile No</option>
						<option>Gender</option>
						<option>Tag</option>
						<option>Status</option>
						<option>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Gender</h4>
					<select class="form-control">
						<option>First Name</option>
						<option>Email id</option>
						<option>Mobile No</option>
						<option selected>Gender</option>
						<option>Tag</option>
						<option>Status</option>
						<option>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Tags</h4>
					<select class="form-control">
						<option>First Name</option>
						<option>Email id</option>
						<option>Mobile No</option>
						<option>Gender</option>
						<option selected>Tag</option>
						<option>Status</option>
						<option>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Status</h4>
					<select class="form-control">
						<option>First Name</option>
						<option>Email id</option>
						<option>Mobile No</option>
						<option>Gender</option>
						<option>Tag</option>
						<option selected>Status</option>
						<option>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>Country</h4>
					<select class="form-control">
						<option>First Name</option>
						<option>Email id</option>
						<option>Mobile No</option>
						<option>Gender</option>
						<option>Tag</option>
						<option >Status</option>
						<option selected>Country</option>
						<option>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
				<div class="hh d-flex">
					<input type="checkbox" name="">
					<h4>State</h4>
					<select class="form-control">
						<option>First Name</option>
						<option>Email id</option>
						<option>Mobile No</option>
						<option>Gender</option>
						<option>Tag</option>
						<option>Status</option>
						<option>Country</option>
						<option selected>State</option>
					</select>
					<label class="switch">
						<input type="checkbox">
						<span class="slider"></span>
					</label>
					<h6>override on</h6>
				</div>
			</div>
		</div>
    	<button type="button" (click)= "sttapper()" class="btn btn-primary btn-block col-1">Submit</button>
    </div>
  </div>
</div>
<ng-template #instruction let-c="close" let-d="dismiss">
	<div class="modal-header text-right">
			<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="campaigndata">
             <p>Upload a csv file</p>

		 </div>
	</div>

</ng-template>

<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>



