// Global styling for this template
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';


// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


#layoutAuthentication{
	background-color:#f7f7f7;
}
.popfooter .col-md-6{
	margin-left:0!important;
	margin-right: 0!important;

}

.popfooter{

	border-top:unset!important;

}
.modal-content{
	margin-top: 5rem;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    border: none!important;
}
.multiselect-dropdown .dropdown-btn{
  display: inline-block;
  border: none!important;
  width: 100%;
  padding: 3px 0px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}



 .modal-dialog .modal-content .edit-tag {
   transform: none;
    width: 70%;
    height: 458px;
    box-shadow: 4px 22px 54px #695F971A !important;
    border-radius: 30px;
    opacity: 1;
    border: none;
    float: right;
    top: 10rem;
    left: 13em;

}