// Global styling for this template
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';


// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}


#layoutAuthentication{
	background-color:#f7f7f7;
}
.popfooter .col-md-6{
	margin-left:0!important;
	margin-right: 0!important;

}

.popfooter{

	border-top:unset!important;

}
.modal-content{
	margin-top: 5rem;
}

.custom_modal{
  overflow: auto;
  max-height: 80vh;
}
.lg-size .modal-dialog {
  max-width:800px;
  
  }
  .quickResponse .items_list .item p span{
    font-size: 14px;
    color: #6149CD;
    font-weight: 800;
}
  .modal-open .sb-nav-fixed #layoutSidenav #layoutSidenav_nav{
    z-index: 0!important;
  }
  .modal-backdrop{
    background: rgba(0,0,0,0.5);
  }
  .teambox-pink .modal-content{
    background-color: #FFF4F2!important;
    border-radius: 20px!important;
    padding: 20px;
  }
  .pink-bg .modal-content{
    background-color: #FFF4F2!important;
    border-radius: 20px!important;
    padding: 20px;
  }

  .pink-bg-sm .modal-content{
    background-color: #FFF4F2!important;
    border-radius: 20px!important;
    padding: 0px;
    box-shadow: 4px 22px 54px #695F971A;
  }
  .teambox-white .modal-content{
    background-color: #fff!important;
    border-radius: 20px!important;
    padding: 20px;
  }

  .teambox-transparent .modal-content{
    background-color: transparent!important;
    border-radius: 20px!important;
    padding: 20px;
    border:0!important;
  }
  .teambox-transparent .modal-header{
    padding: 1rem 0;
  }
  .modal-xl {
		max-width: 950px!important;
	}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    border: none!important;
}
.multiselect-dropdown .dropdown-btn{
  display: inline-block;
  border: none!important;
  width: 100%;
  padding: 3px 0px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid #FFF4F2!important;
  margin-right: 4px;
  margin-bottom: 4px;
  background: #FFF4F2!important;
  padding: 0 5px;
  color: #000000!important;
  border-radius: 2px;
  float: left;
 
  border-radius: 10px!important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item a{
  color: #000000!important;
  width: 20px!important;
  background-color: #ffffff;
  border-radius: 10px;
}
.multiselect-dropdown .multiselect-item-checkbox input{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: aqua;
}

.dropdown-menu.show {
  display: block;
  width: 235px!important;
}

.form-floating .iti--allow-dropdown input, .iti--allow-dropdown input, .iti--allow-dropdown input, .iti--separate-dial-code input, .iti--separate-dial-code input, .iti--separate-dial-code input {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
  border-radius: 20px;
  border: 1px solid #ced4da;
  height: 35px;
  color: #495057;
  font-size: 14px;
  width: 218px;
}
.pp .iti--allow-dropdown input, .iti--allow-dropdown input, .iti--allow-dropdown input, .iti--separate-dial-code input, .iti--separate-dial-code input, .iti--separate-dial-code input {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
  border-radius: 14px;
  border: 1px solid #ced4da;
  height: 36px;
  color: #495057;
  font-size: 14px;
  margin: 0px 0px 0 -10px;
  width: 275px;
}

.pp .iti {
  position: relative;
  display: inline-block;
  margin: 9px 0 0 0;
}
.iti input#country-search-box {
  padding-left: 6px;
  border: 1px solid #ccc;
  margin: 0;
}


.modal-content {
  width: 68%;
  border-radius: 3.3rem;
}

 .modal-dialog .modal-content .edit-tag {
   transform: none;
    width: 100%;
    height: 458px;
    box-shadow: 4px 22px 54px #695F971A !important;
    border-radius: 30px;
    opacity: 1;
    border: none;
    float: right;
    top: 10rem;
    left: 13em;

}

.modal-dialog .modal-content .modal-body{
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 500;
}
.modal-dialog .modal-content .deletefile .btn9{
  border: 1px solid #695F9724;
  background-color: #ffffff;
  color: #7A86A1;
  margin: 0 24px 15px 270px;
  border-radius: 14px;
  width: 80px;
}
.modal-dialog .modal-content .deletefile .btn99{
  border: 1px solid #695F9724;
  color: #ffffff;
  background: #F23B3B;
  width: 93px;
  margin: 0 0px 15px 0;
  border-radius: 14px;
}

.ag-theme-alpine .ag-root-wrapper {
    box-shadow: 2px 13px 54px #695F9714;
    border-radius: 30px;
    background: #FFFFFF;
    border: none;
}


.ag-theme-alpine .ag-header {
  
    background: #ffffff;
}

.ag-header-cell-text {

    color: #6149cd;

}
.ag-root-wrapper-body {
    border-radius: 33px;
}



@media all and (max-width:1536px) {
 .ag-theme-alpine .ag-row {
    font-size: 12px;
  
}

}



.message_box .content p,
.contacts_detail .message p{
	margin: 0;
	padding: 0;
	font-size: 12px;
}



.container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  width:50%;
  margin: 0;
  background: transparent;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
  // position: absolute;
  // opacity: 0;
   cursor: pointer;
  height: calc(1.5em + 0.75rem + 2px);
  width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #C0BDCC;
  }
  .checkmark.radio{
  border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
  background-color: #6149CD;
  }

  .container input:checked ~ .checkmark.radio {
    background-color: #fff;
    border:2px solid #6149CD
    }

  
  .container span.label { 
  color:#7A86A1; 
}

 .container input[type="radio"]:checked + span.label {
  color: #6149CD;
}

  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
  display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }



  /*Css for Template box*/

  .template_box{
    min-height: 400px;
    background: #FFF4F2;
    border-radius: 24px;
    width: 31%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem 0 1rem;
  }
  .template_box label.container{
    width: 100%;
  }
  .template_box label.container p{
    margin: 0;
  }

  .template_box .inner_box{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
  }
  .template_box .inner_box img.template_img{
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .template_box .inner_box .template_text{
    width: 100%;
    border-radius: 0 0 15px 15px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background: #FFFFFF;
    padding: 1rem;
  }
  .template_box .inner_box .template_text p{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #030303;
  }
  .template_box .inner_box .template_text p span{
    font-size: 14px;
    font-weight: 300;
    color: #030303;
  }
  .template_box .template_btn{
    max-width: 100%;
  }
  .template_box .template_btn .btn{
    font-weight: 600;
    font-size: 12px;
    margin: 5px 0px;
  }
  .template_btn{
		display: flex;
		flex-direction: column;
		max-width:225px;
		width: 100%;
		margin:5px 0px 15px 0px;
	  }
	  .template_btn .btn{
		width:100%;
		height:35px;
		background: #DCE0E6;
		border-radius: 12px;
		color:#030303;
		font-weight: 800;
		font-size: 14px;
		margin:5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	  }

    p{
      line-height: 17px;
      font-size: 14px;
    }
    p span{
      font-size: 12px;
      color: #7A86A1;
    }
    
    .notes .message_text p span.mention,
    p span.mention{
      color: #0091FF;
      font-weight: 600;
    }
    img.icon{
      margin-left:5px;
    }
    .message_text p,.message_text p span{
      color:#fff;
      font-size: 12px;
    }
    .notes .message_text p,.notes .message_text p span{
      color:#000;
    }

    .message_box.left .content .message_text p,
    .message_box.left .content .message_text p span{
        color:#000;
    }


