.setting-card {
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 13px 54px #695F9714;    
    min-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
}


.flex-header{
    display: flex;
    justify-content: space-between;
   }

   .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Manrope';
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    border-radius: 19px !important;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    margin: 0px 15px 0px -18px;
    font-family: 'Manrope';
    font-size: 14px;
    padding-left: 35px;
    width: 240px;
}

.input-group img{
    position: absolute;
    margin: 11px 0px 0px -5px;
    width: 15px;
    height: 15px;
}

.new-token-btn{
    color: #6149CD;
    font-weight: 600;
    font-size: 14px;
    background: white;
    border-radius: 18px;
    padding: 8px 12px;
    box-shadow: 1px 8px 29px #695F9724;
    border: 1px;
    width: 100%;
}

.working-hour-heading{
    font-size: 20px;
    font-weight: 600;
}


.input-form {
    height: 37px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    padding: 5px 15px;
    width: 100%;
   }

.account-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 7px 30px;
    border: 1px;
    color: #fff;
    font-weight: 400;
}

.btn-close {
    background: white;
    margin: 2px;
    border-radius: 15px;
    padding: 6px 12px;
    border: 1px solid #EBEBEB;
}

.modal-footer {
    border: none;
}


.sidebar-content .heading{
    font-size: 21px;
    font-weight: bold;
}
  
.sidebar-content .sub-heading{
    color: #6149CD;
      font-weight: 600;
}

.sidebar-close {
    text-align: right;
    padding: 25px 15px 35px 0;
}
.sidebar-content{
    padding-left:20px;
  }
  
  .sidebar-content p{
  margin: 0;
  color: #7A86A1;
  }

  
.sideBar .sideBar-footer{
    border-top: 2px solid #e5e0e0;
    position: fixed;
    bottom: 0;
    width: 25%;
    padding: 15px;
    text-align: center;
    background-color: #FBF9FE;
  }
  
  .account-white-btn {
    background: white;
    border-radius: 18px;
    padding: 8px 13px;
    box-shadow: 1px 8px 29px #695F9724;
    border: 1px;
    height: fit-content;
   }

.invalid-feedback{
    display: block !important;
}


.sideBar{
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #FBF9FE;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .user-row img{
    width: 30px;
      height: 30px;
      border-radius: 50%;
      background: white;
  }
  
  .user-row{
    padding: 10px 0px;
  }
  
  .user-row span{
    padding-left: 10px;
  }



.active-toggle .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}
.active-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 36px;
    background-color: #6149cd30;
    transition: 0.3s ease-out;
    border-radius: 10px;
}
.active-toggle .switch input {
    display: none;
}

.active-toggle .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    transition: 0.3s ease-out;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0.35px 2px 7px #6149CD30;
}


.active-toggle input:checked+ .slider {
    background-color: #6149cd;
}


.active-toggle input:checked + .slider::before {
    transform: translateX(15px);
}

.w-100{
    width: 100%;
}

.text-bold{
    font-weight: bold;
  }