// Import Custom Variables
@import "variables.scss";


// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Import Custom SCSS
@import "global.scss";


// Import Custom TeamBoxAnd Campaign SCSS
@import "./teambox.scss";

// Import Custom TeamBoxAnd Campaign SCSS
@import "./settings.scss";


// //Import addsmartreplies styles
// .modal-add-smart-reply-open {
// 	@import "addsmartreply.scss";
//   }

//Import Smartreply styles
.modal-smart-reply-open {
    @import "smartReply.scss";
  }
.modal-smart-reply-open{
  overflow: auto!important;
}

// Layout
@import "layout/authentication.scss";
@import "layout/dashboard-default.scss";
@import "layout/dashboard-fixed.scss";
@import "layout/error.scss";

// Navigation
@import "navigation/nav.scss";
@import "navigation/topnav.scss";
@import "navigation/sidenav/sidenav.scss";
@import "navigation/sidenav/sidenav-dark.scss";
@import "navigation/sidenav/sidenav-light.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

// @import '../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css';
// @import '../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css';
// @import '../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css';
// @import '../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.css';
// @import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/bootstrap5.css';


/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.background-blur{
	background: rgb(255 255 255 / 80%) !important;
}

.contact-modal .modal-content{
  height: max-content;
  max-height: 90vh;
 }
 .updateCustomerCustom .modal-content{
  height: max-content;
  max-height: 90vh;

 }

 .contact-modal .contact-scroll{
  height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
 }
 
.e-mention-chip{
  background: #eee;
  border-radius: 2px;
  color: #2e2ef1;
}
.e-mention-chip a{
  color: #007bff !important;
}

.toaster{
  z-index: 9999999 !important;
}
// for font size for all text in here to 12px;
 ejs-richtexteditor .e-rte-content .e-content {
  font-size: 12px!important;
}
.cursor-pointer{
  cursor: pointer !important;
}


.temp-footer{
  font-style: italic !important;
  font-size: 11px;
}

.temp-header{
  font-size: 12.5px;
}