// Import Custom Variables
@import "variables.scss";


// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Import Custom SCSS
@import "global.scss";


// Import Custom TeamBoxAnd Campaign SCSS
@import "./teambox.scss";

// Import Custom TeamBoxAnd Campaign SCSS
@import "./settings.scss";


//Import addsmartreplies styles
.modal-add-smart-reply-open {
	@import "addsmartreply.scss";
  }
//Import Smartreply styles
.modal-smart-reply-open {
    @import "smartReply.scss";
  }


// Layout
@import "layout/authentication.scss";
@import "layout/dashboard-default.scss";
@import "layout/dashboard-fixed.scss";
@import "layout/error.scss";

// Navigation
@import "navigation/nav.scss";
@import "navigation/topnav.scss";
@import "navigation/sidenav/sidenav.scss";
@import "navigation/sidenav/sidenav-dark.scss";
@import "navigation/sidenav/sidenav-light.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';


/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.background-blur{
	background: rgb(255 255 255 / 80%) !important;
}