.modal-content{
	margin: 0;
}

.custom_modal{
  overflow: auto;
  max-height: 80vh;
}
.lg-size .modal-dialog {
  max-width:800px;
  
  }
  .quickResponse .items_list .item p span{
    font-size: 14px;
    color: #6149CD;
    font-weight: 800;
}
 
  .modal-backdrop{
    background: rgba(0,0,0,0.5);
  }
  .teambox-pink .modal-content{
    background-color: #FFF4F2;
    border-radius: 20px;
    padding: 20px;
  }
  .pink-bg .modal-content{
    background-color: #FFF4F2;
    border-radius: 20px;
    padding: 20px;
  }

  .pink-bg-sm .modal-content{
    background-color: #FFF4F2;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 4px 22px 54px #695F971A;
  }
  .teambox-white .modal-content{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
  }

  .teambox-transparent .modal-content{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    border:0;
  }
  .teambox-transparent .modal-header{
    padding: 1rem 0;
  }
  .modal-xl {
		max-width: 950px!important;
	}

  .team.pt-5 {
    background: #FBF9FE;
  }

.message_box .content p,
.contacts_detail .message p{
	margin: 0;
	padding: 0;
	font-size: 12px;
}



label.container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width:50%;
  margin: 0;
  background: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  }
  
  /* Hide the browser's default checkbox */
  label.container input {
  height: calc(1.5em + 0.75rem + 2px);
  cursor: pointer;
  height: 0;
  width: 0;
  }
  label.container p{
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }
  
  /* Create a custom checkbox */
  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #C0BDCC;
  }
  .checkmark.radio{
  border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  
  /* When the checkbox is checked, add a blue background */
  label.container input:checked ~ .checkmark {
  background-color: #6149CD;
  }

  label.container input:checked ~ .checkmark.radio {
    background-color: #fff;
    border:2px solid #6149CD
    }

  
    label.container span.label { 
  color:#7A86A1; 
}

label.container input[type="radio"]:checked + span.label {
  color: #6149CD;
}

  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  
  /* Show the checkmark when checked */
  label.container input:checked ~ .checkmark:after {
  display: block;
  }
  
  /* Style the checkmark/indicator */
  label.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }



  /*Css for Template box*/

  .template_body{
    word-break: break-word;
  }

  .template_text p{
    word-break: break-word;
    margin: 0;
		font-size: 12px;
  }

  .template_box{
    // min-height: 400px;
    background: #FFF4F2;
    border-radius: 24px;
    width: 31%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 1rem 0 1rem;
  }
  .template_box label.container{
    width: 100%;
  }
  .template_box label.container p{
    margin: 0 0 5px 0;
  }

  .template_box .inner_box{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    height: auto;
    width: 100%;
  }
  .template_box .inner_box img.template_img{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 35%;
  }
  .template_box .inner_box .template_img_placeholder{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height:15px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    background: #FFFFFF;
  }

  .template_box .inner_box .template_text{
    width: 100%;
    border-radius: 0 0 15px 15px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background: #FFFFFF;
    padding: 1rem;
  }
  .template_box .inner_box .template_plain_text{
    width: 100%;
    border-radius: 0 0 15px 15px;
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    background: #FFFFFF;
    padding: 0 1rem 1rem 1rem;
  }
  .template_box .inner_box .template_text p{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #030303;
    white-space: pre-line;
  }
  .template_box .inner_box .template_text p span{
    font-size: 14px;
    font-weight: 300;
    // color: #030303;
  }
  .template_box .template_btn{
    max-width: 100%;
  }
  .template_box .template_btn .btn{
    font-weight: 600;
    font-size: 12px;
    margin: 5px 0px;
  }
  .template_btn{
		display: flex;
		flex-direction: column;
		max-width:225px;
		width: 100%;
		margin:5px 0px 15px 0px;
	  }
	  .template_btn .btn{
		width:100%;
		height:35px;
		background: #DCE0E6;
		border-radius: 12px;
		color:#030303;
		font-weight: 800;
		font-size: 14px;
		margin:5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	  }

    p{
      line-height: 17px;
      font-size: 14px;
    }
    p span{
      font-size: 12px;
      color: #7A86A1;
    }
    
    .notes .message_text p span.mention,
    p span.mention{
      color: #0091FF;
      font-weight: 600;
    }
    img.icon{
      margin-left:5px;
    }
    .message_text p,.message_text p span{
      color:#ffffff!important;
      font-size: 12px;
    }
    .notes .message_text p,.notes .message_text p span{
      color:#000 !important;
    }

    .message_box.left .content .message_text p,
    .message_box.left .content .message_text p span{
        color:#000;
        word-break: break-word;
    }


    .applylist_content{
      float:left;
      width:100%;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 2px 13px 54px #695F9714;
      border-radius: 30px;
      padding: 20px 5%;
      height: 465px;
      overflow: scroll;
  
      }

      .applylist_content::-webkit-scrollbar {
        display: none;
      }


      .applylist_content table{
      float:left;
      width:100%;
      text-align: center;
      }
    
      
    
      .applylist_contnet_head tr>td{
      font-size: 12px;
      font-weight: 600;
      color:#6149cd;
      text-align: left;
      padding: 10px;
      min-width: 10%;
      }
      .applylist_contnet_head tr > td img{
        width:8px!important;
        margin-left: 5px!important;
        cursor: pointer!important;
      }
      .applylist_contnet_body tr td{
      font-size: 12px;
      font-weight: 300;
      color:#000;
      text-align: left;
      padding:5px 10px;
    
      }
      .applylist_contnet_body tr{
      width: 100%;
      border-radius: 10px;
      }
      .applylist_contnet_body tr:nth-child(odd) {
      background-color: #FBFAFF;
      border: 1px solid #7070700D;
      opacity: 0.86;
      }

// template-settings richtexteditor styles //

      .richtext.BodyText p {
        font-size: 11px!important;
        margin: 0!important;
      }


      .message_data.preview p{
        font-size: 11px;
        margin: 0;
      }

      .message_data span p {
        font-size: 11px;
        margin: 0;
      }

      .e-richtexteditor .e-rte-content .e-content p, .e-richtexteditor .e-source-content .e-content p {
        margin: 0 0 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .e-rte-image.e-imginline, .e-rte-audio.e-audio-inline, .e-rte-video.e-video-inline {
      max-width: 100%;
    }
    .e-content {
      min-height: 49px !important;
    }

    .e-dropdownbase{
      background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px rgba(105, 95, 151, 0.1882352941);
    border-radius: 20px;
    height: 179px;
    overflow: scroll;
    }

    .e-dropdownbase .e-list-parent, .e-dropdownbase .e-ul{
      padding: 0px !important;
      width: 100%;
    }
    .e-dropdownbase .e-list-item{
      padding: 5px 15px;
      width: 100%;
      float: left;
      margin: 0px;
      cursor: pointer;
    }

    .e-dropdownbase .e-list-item:hover{
      background: #FFF4F2;
    }