// * {
//     font-family: 'Manrope';
// }

#bs-stee {
    position: relative;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    background-color: #fff;
    background-clip: padding-box;
    width: 67rem;
}
#attach-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13rem;
}

#close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 13px;
    right: 30px;
    background: #FFFFFF;
    border-radius: 16px;
    opacity: 1;
    border: 1px solid #ebebeb;
    font-family: "Manrope";
    font-size: 13px;
    outline: none;
}
.nd{
    display: flex;
    text-align: center;
    justify-content: center;
}

.link {
    color: skyblue;
    font-size: 16px;
}
h1 {
    font-family: "Manrope";
    font-weight: bold;
    padding-left: 26px;
    font-size: 19px;
    color: #000000;
    letter-spacing: -0.55px;
    padding-top: 1rem;

}
.active .bs-stepper-circle {
    background: #6149cd 0% 0% no-repeat padding-box;
    box-shadow: 2px 13px 30px #6149cd42;
    border-radius: 17px;
    opacity: 1;
    width: 36px;
    height: 35px;
    color: #ffffff;
    border-radius: 15px;
}
.bs-stepper-circle {
    border: 1px dashed var(#e1e1e1);
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px dashed #e1e1e1;
    border-radius: 15px;
    color: #7a86a1;
    text-align: center;
    opacity: 1;
    width: 36px;
    height: 35px;
}
.active .bs-stepper-label {
    display: inline-block;
    margin: 0.25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #6149cd;
    opacity: 1;
}

.bs-stepper-label {
    display: inline-block;
    margin: 0.25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #7a86a1;
    opacity: 1;
}

.bs-stepper-label:after {
    color: #6149cd;
}
.box1 {
    background: #fff4f2 0% 0% no-repeat padding-box;
    border: 1px dashed #ebebeb;
    border-radius: 30px;
    opacity: 1;
    width: 30.8rem;
    height: 15.938rem;
}

.box1 h5 {
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 1rem;
}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 span {
    color: #7a86a1;
    opacity: 1;
    font-weight: 400;
    font-family: 'Manrope';
    font-size: 14px;
}
.choose{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.box .box1 input {
    width: 208px;
    background-color: #ffffff;
    border-radius: 16px;
    color: #7a86a1;
}
.box1 .btn1 {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ebebeb;
    border-radius: 17px;
    opacity: 1;
    width: 150px;
    height: 35px;
    color: #7a86a1;
}
.bs-stepper.line {
    min-height: 1px;
    background-color: rgba(0,0,0,.12);
}
#linee{
    min-width: 9rem;
}
.btn1 img {
    margin: 0;
}
.d-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.box .btn4 {
    background: #fff4f2 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    width: 61%;
    height: 29px;
    border: none;
    justify-content: space-evenly;
    margin-left: 0.6rem;
    margin-top: 0.3rem;
}
.btn4 img {
    margin-top: 5px;
}
.btn4 h6 {
    font-family: 'Manrope';
    font-size: 15px;
    color: #000000;
    margin: 4px;
}
#csvfile{
    height: 8%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.box3 {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    opacity: 1;
    overflow: hidden;
    max-height: 100%;
    overflow: hidden;
    width: 84%;
    height: 78%;
    margin-left: 0.5rem;
    margin-top: 12px;
}
#csv-img{
    padding-right: 0.375rem;
    margin-top: 0.188rem;
    height: 0.938rem;
}

.box3 .box4 h6 {
    font-family: 'Manrope';
    font-size: 17px;
    color: #080808;
}
.box3 h5 {
    font-family: 'Manrope';
    font-size: 15px;
    color: #7a86a1;
}

#read-more{
    color: #6149cd;
    font-size: 11px;

}

.row {
    display: flex;
    flex-wrap: wrap;
}
.row span {
    color: #7a86a1;
    opacity: 1;
    font-size: 14px;
    font-family: 'Manrope';
}
select {
    word-wrap: normal;
    background: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 19px;
    opacity: 1;
    font-family: "Manrope";
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    color: #000000;
    width: 18rem;
    height: 2.813rem;
}
#con{
    font-size: 11px!important;
}
#worksa{
    font-size: 11px!important;
}
#identifier-box{
    margin-left: -13rem;
}
input::file-selector-button {
    font-weight: bold;
    color: #7a86a1;
    background-color: #ffffff;
    font-family: 'Manrope';
    font-size: 14px;
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
}

.modal-content {
    border: none;
    border-radius: 30px;
    outline: 0;
    box-shadow: 4px 22px 54px #695F971A;
}
#map22{
 background: var(--unnamed-color-fff4f2) 0% 0% no-repeat padding-box;
background: #FFF4F2 0% 0% no-repeat padding-box;
border-radius: 30px;
opacity: 1;
height: 25rem;
width: 41rem;
}
#h-h5{
    font-size: 12px;
    padding-right: 13px;
    padding-left: 17px;
    font-weight: 1000;
}

label {
    display: inline-block;
    font-family: 'Manrope';
    font-size: 15px;
    color: #000000;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    float: right;
    background: #6149cd 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695f9724;
    border-radius: 17px;
    opacity: 1;
    color: #ffffff;
}


#upload-head-text {
   font-size: 18px;
    font-weight: 700;
    font-family: "Manrope";
}

#import-btn {
    top: -12px;
    right: 12px;
}
span {
    font-family: 'Manrope';
    font-size: 17px;
    color: #7a86a1;
}

#upload-instructions {
    font-size: 10px;
    font-family: "Manrope";
    font-weight: 600;
    width: 274px;
    line-height: 13px;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
    margin-top: 1rem;
    margin-left: 2.5rem;
}
.sq .ss {
    background: #fff4f2 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    margin-left: -2rem;
}
.body-con-2{
    justify-content: space-between;
    align-items: center;
}
#r-first{
    margin-left: -16rem;
}
.sq .ss h5 {
    font-family: 'Manrope';
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 0.7rem;
}
.sq .ss h6 {
    font-family: Manrope;
    font-size: 15px;
    color: #000000;
}
.ss1 {
    background: #fff4f2 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}
.ss1 .hh1 h5 {
    font-family: 'Manrope';
    font-size: 15px;
    color: #000000;
    font-weight: bold;
}
 .ss1 .hh1 select {
    word-wrap: normal;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ebebeb;
    border-radius: 19px;
    opacity: 1;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.ss1 .hh1 h4 {
    font-size: 15px;
    font-family: 'manrope';
    color: #6236ff;
    font-weight: 600;
}
.ss1 .hh1 h6 {
    font-size: 14px;
    font-family: 'manrope';
}

// toggle

.active-toggle .switch {
    position: relative;
    display: inline-block;
    width: 131px;
    height: 0px;
    top: -4px;
}
.active-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: -24px;
    left: -13px;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 42px;
    background-color: #6149cd30;
    transition: 0.4s;
    border-radius: 34px;
}
.over-on{
    margin-top: -2.2rem;
    margin-left: 2.3rem;
}
.active-toggle .switch input {
    display: none;
}

.active-toggle .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
    box-shadow: 0.35px 2px 7px #6149cd30;
}


.active-toggle input:checked+ .slider {
    background-color: #6149cd;
}


.active-toggle input:checked + .slider::before {
    transform: translateX(21px);
}
// toogle


#map-next-btn {
    left: -16rem;
    top: -1rem;
    position: relative;
}
.l-botton{
    position: relative;
    width: 161%;
}
.ss .card {
    background-color: #fff4f2;
    height: 93%;
    width: 160%;
    border-radius: 20px;
    border: none;
    margin-left: -3rem;
    align-items: center;
}

.ss .card h4 {
    font-family: "Manrope";
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    line-height: 6.5rem;
    font-weight: 800;
}
.h-fie{
    margin-left: -12.99rem;
}
.g-file{
    margin-left: -3rem;
}
.ss .card .ggg h5 {
    font-family: "Manrope";
    font-size: 15px;
    color: #6149cd;
    line-height: 0;
}
.ss .card .ggg h6 {
    font-family: 'Manrope';
    font-size: 14px;
    color: #000000;
    line-height: 2.5rem;
    padding-bottom: 21px;
    font-weight: 700;
}
.ss .card1 {
    background-color: #ebf9ec;
    height: 89px;
    width: 391px;
    border-radius: 20px;
    opacity: 1;
}
.ss .card1 h5 {
    color: #000000;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: bold;
}
.ss .card1 h6 {
    color: #000000;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 400;
}
#card-1{
    background: #EBF9EC 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    width: 100%;
    height: 5.5rem;
}
.card2 {
    background-color: #ECE4F5;
    border-radius: 30px;
    opacity: 1;
    width: 100%;
    height: 5.5rem;
}
.card-h5{
    margin-left: 2rem;
    margin-top: 1rem;
}
.card-h6{
    margin-left: 2rem;
}
.card2 h5 {
    color: #000000;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: bold;
}
.card2 h6 {
    color: #000000;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 400;
}
.card3 {
    background-color: #fddbdb;
    float: right;
    border-radius: 30px;
    opacity: 1;
    width: 100%;
    height: 8.5rem;
}

.card3 h5 {
    color: #000000;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4rem;
}
.card3 h6 {
    color: #000000;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 400;
}
.card3 .btn {
    background-color: #fff4f2;
    width: 175px;
    height: 30px;
    border-radius: 13px;
    color: #000000;
    float: left;
    cursor: pointer;
    padding: 0px;
    font-size: 14px;
    margin-left: 1.7rem;
    margin-top: 1rem;
}
#r-lg{
    height: 24rem;
}
#t-div{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -3rem;
}
#prduc{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
}
.btn5 {
    border: none;
    background-color: #fff;
    top: 71px;
    left: 0;
    position: absolute;
    outline: none;
}
.em-con{
    padding-left: 4px;
}
.email-1{
    margin-left: -6px;
}
#from-cn{
    margin-left: -1.3rem;
}

#cards{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 6.5rem;
}
#map-span {
    position: absolute;
    font-size: 12px;
    top: 6.7rem;
    left: 5rem;
}
.hh1{
    margin-top: 2.2rem;
}
.inp-2{
    width: 12rem;
    margin-left: 16px;
}
.inp-3{
    width: 12rem;
    margin-left: -9px;
}
.inp-4{
    width: 12rem;
    margin-right: -12px;
}
#con22{
    font-family: 'Manrope';
    letter-spacing: 0px;
    color: #6236FF;
    opacity: 1;
    font-size: 16px;
    padding-right: 7rem;
}

.incorrect-card-main {
    width: 498px;
    height: 196px;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
}

.incorrect-card-main p {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.incorrect-card-main button {
    margin-right: 12rem;
    border: 1px solid #ebebeb;
    border-radius: 17px;
    opacity: 1;
    width: 110px;
    height: 40px;
}
.button-1{
    float: right;
    top: -1rem;
}

.dd{
    background-color: #FFF4F2;
    border-radius: 20px;
    font-family: 'Manrope';
    box-shadow: 4px 22px 54px #695F971A;
}
.dd h4{
    padding-left: 54px;
    font-weight: 700;
    font-size: 22px;
}
.dd p{
    text-align: center;
    letter-spacing: 0px;
    color: #7A86A1;
    font-size: 14px;
    font-weight: 500;
    opacity: 1;
}
.dd .ss img{
    padding: 0px;
}

.dd .btn{
    width: 140px;
    height: 40px;
}
.dd .btn1{
    width: 140px;
    height: 40px;
}

.idp {
    font-size: 8px;
    font-family: 'Manrope';
    font-weight: 600;
}
.toaster {
    float: left;
    width: auto;
    position: fixed;
    right: 50px;
    top: 65px;
    z-index: 9999999;
}

.toaster p {
    padding: 8px;
    font-size: 14px;
    color: #fff;
    margin: 0;
    min-width: 250px;
    text-align: center;
    border-radius: 20px;
}

.toaster p.error {
    background-color: red;
}

.toaster p.success {
    background-color: green;
}

.toaster p.warning {
    background-color: orange
}