<div class="row">

	<div class="bs-stepper col-lg-12" id="bs-stee">

		<h1>Import Contacts</h1>
		<button class="btn-cross" aria-label="Close"   data-bs-dismiss="modal"   id="close-btn">X</button>
		<div class="col-sm-12 nd">
			<div class="bs-stepper-header" id="secon-div" role="tablist">
				<!-- your steps here -->
				<div class="step" data-target="#logins-part">
					<button type="button" class="step-trigger" role="tab" aria-controls="logins-part"
						id="logins-part-trigger">
						<span class="bs-stepper-circle">1</span>
						<span class="bs-stepper-label">Upload</span>
					</button>
				</div>
				<div class="col-sm-1 line" id="linee"></div>
				<div class="step" data-target="#information-part">
					<button type="button" class="step-trigger" role="tab" aria-controls="information-part"
						id="information-part-trigger">
						<span class="bs-stepper-circle">2</span>
						<span class="bs-stepper-label">Map</span>
					</button>
				</div>
				<div class="col-sm-1 line" id="linee"></div>
				<div class="step" data-target="#review-part">
					<button type="button" class="step-trigger" role="tab" aria-controls="review-part"
						id="review-part-trigger">
						<span class="bs-stepper-circle">3</span>
						<span class="bs-stepper-label">Review</span>
					</button>
				</div>
			</div>
		</div>
		<div>
			<div class="bs-stepper" id="attach-1">
				<!-- your steps content here -->
				<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

					<h4 id="upload-head-text">Attach files</h4>

					<div class="box d-flex">
						<div class="col-sm-5 box1">
							<div class="d-img">
								<img src="assets/img/im.png">
							</div>
							<h5>Upload a CSV file <br />to add or update contacts</h5>
							<span class="or">Or</span>
							<div class="choose">
								<input type="file" (change)="onUpload($event)" accept=".csv" />
							</div>
						</div>

						<div class="col-sm-5 download">

							<button class="btn4 btn-block d-flex " (click)="download()">
								<img src="assets/img/download.png">
								<h6>Download sample file</h6>
							</button>

							<div class="box3">
								<div class="box4 d-flex" id="csvfile">
									<img src="assets/img/instraction.png" id="csv-img">
									<h6>Instructions</h6>
								</div>
								<h5 id="upload-instructions">Upload a CSV file with the contacts and <br /> details that
									you would like
									to import.
									Ensure<br /> the CSV file fulfils the Following<br /> requirements:<br /> Only CSV
									files are
									accepted for import.<br />
									File size must be 10 MB<br /> The file must contain at least..
									<p class="idp"> {{ showMore ? text : (text | slice: 1:15) }} <span
											*ngIf="!showMore">...</span>
										<a id="interactions-a" href="javascript:;" *ngIf="!showMore"
											(click)="onShow()">Read More</a>
										<a id="interactions-a" href="javascript:;" *ngIf="showMore"
											(click)="onShow()">Read Less</a>
									</p>
								</h5>
							</div>
						</div>
					</div>
					<div class="row g-2">
						<div class="col-md">
							<label for="floatingInputGrid">Purpose</label>
							<div class="form-floating">
								<select class="form-select" id="floatingSelectGrid"
									aria-label="Floating label select example" #pure
									(change)="onSelectPurpose(pure.value)">
									<option value="Add new contact only">Add new contact only</option>
									<option value="Update Existing Contacts Only">Update Existing Contacts Only</option>
									<option value="Add and Update Contacts">Add and Update Contacts</option>

								</select>

							</div>
							<span id="con">New Contacts will be added,existing will be ignored </span>
						</div>
						<div class="col-md" id="identifier-box">
							<label for="floatingSelectGrid">Identifier</label>
							<div class="form-floating">
								<select class="form-select" id="floatingSelectGrid"
									aria-label="Floating label select example" #identifier
									(change)="onSelected(identifier.value)">
									<option value="Email">Email</option>
									<option value="Phone_number">Phone_number</option>

								</select>

							</div>
							<span id="worksa">{{identifier.value}} works as identifier</span>

						</div>

					</div>
					<div class="button-1 col-sm-2">
						<button type="button" class="btn btn-block" (click)="incorrectFile(content)"
							(click)="onUpload($event)">Next</button>

					</div>
				</div>

				<ng-template #content let-c="close" let-d="dismiss">

					<div class="incorrect-card-main">


						<p>File is incorrectly formed & cannot <br /> be read. Please try again
						</p>

						<button type="button" class="btn" (click)="c('Save click')">Close</button>
					</div>
				</ng-template>

				<div class="row">

					<div id="information-part" class="content" role="tabpanel"
						aria-labelledby="information-part-trigger">
						<button type="button" (click)="previous()" class="btn5 btn-block col-1"><img
								src="assets/img/prev.png"></button>

						<span id="map-span">Select the appropriate contact field for each column in the CSV</span>
						<div class="row" id="r-first">
							<div class="sq d-flex col-lg-12">
								<div class="ss col-lg-4 mr-2">
									<div class="">
										<div>
											<h5>Sample Data from your CSV</h5>
										</div>
										<div class="ml-2">
											<p class="p-1">{{importedData[0]?.Name}}</p>
											<p class="p-1">{{importedData[0]?.emailId}}</p>
											<p class="p-1">{{importedData[0]?.Phone_number}}</p>
											<p class="p-1">{{importedData[0]?.sex}}</p>
											<p class="p-1">{{importedData[0]?.tag}}</p>
											<p class="p-1">{{importedData[0]?.status}}</p>
											<p class="p-1">{{importedData[0]?.Country}}</p>
											<p class="p-1">{{importedData[0]?.state}}</p>
											
										</div>
									</div>
								</div>


								<div class=" col-lg-8 container" id="map22">
									<div class="hh1 d-flex">
										<div class="">
										<h5 id="h-h5" >Select the columns to import</h5>
										</div>
										<div class="">
										<h5 id="h-h5">Map to Contact Fields</h5>
										</div>
									</div>
									<div  class="" >
									<div class="row map-content2 p-1">
										<div class="col-sm-12 map-con-2 ">
											<div class="d-flex body-con-2 ">
												<input type="checkbox" class="form-control-checkbox" name="">
												<h6 class="m-0" id="con22">Name</h6>
												<div class="produc">
													<div>
													<input type="text" class="inp-1" name="product" list="productName" id="prduc" />
													</div>
													<datalist id="productName" class="product">
														<option selected>{{headers[0]}}</option>
														<option>{{headers[1]}}</option>
														<option>{{headers[2]}}</option>
														<option>{{headers[3]}}</option>
														<option>{{headers[4]}}</option>
														<option>{{headers[5]}}</option>
														<option>{{headers[6]}}</option>
														<option>{{headers[7]}}</option>
													</datalist>
												</div>
												<div class="active-toggle">
												<div class="p-2 switch">
													<label class="m-0 switch">
													  <input type="checkbox" class="m-0 form-control-checkbox"
													  (change)="getUpdateFields($event,headers[1])"
													  [(ngModel)]="isOverrideOn1">
													  <span class="slider 1"></span>
													</label>
													<p class="over-on">{{ isOverrideOn1 ? 'Override on' : 'Override off' }}</p>
												  </div>
												  </div>
												
											</div>
										</div>
									</div>
									<div class="row map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class=" d-flex body-con-2">
												<div class="">
												<input type="checkbox" class="form-control-checkbox" name="">
												</div>
												<div>
												<h6 class="m-0 em-con" id="con22">Email id</h6>
												</div>
												<div class="produc">
													<div>
												<input type="text" class=" email-1 mr-2 ml-n-0" name="product" list="productName" id="prduc"/>
											</div>
												<datalist id="productName" class="product">
													<option>{{headers[0]}}</option>
													<option selected>{{headers[1]}}</option>
													<option>{{headers[2]}}</option>
													<option>{{headers[3]}}</option>
													<option>{{headers[4]}}</option>
													<option>{{headers[5]}}</option>
													<option>{{headers[6]}}</option>
													<option>{{headers[7]}}</option>
												</datalist>
												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn2">
														  <span class="slider 2"></span>
														</label>
														<p class="over-on">{{ isOverrideOn2 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>
										</div>
									</div>
									<div class="row map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class=" d-flex body-con-2">
												<div>
												<input type="checkbox" class="form-control-checkbox " name="">
												</div>
												<h6 class="m-0" id="con22">Mobile</h6>
												<div class="produc">
													<div>
												<input type="text" name="product" list="productName" id="prduc"/>
											</div>
												<datalist id="productName" class="product">
													<option>{{headers[0]}}</option>
													<option>{{headers[1]}}</option>
													<option selected>{{headers[2]}}</option>
													<option>{{headers[3]}}</option>
													<option>{{headers[4]}}</option>
													<option>{{headers[5]}}</option>
													<option>{{headers[6]}}</option>
													<option>{{headers[7]}}</option>
												</datalist>
												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn3">
														  <span class="slider 3"></span>
														</label>
														<p class="over-on">{{ isOverrideOn3 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>

										</div>

									</div>
									<div class="row  map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class="d-flex body-con-2" >
												<input type="checkbox" class="form-control-checkbox" name="">
												<h6 class="m-0" id="con22">Gender</h6>
												<div class="produc">
												<div>
												<input type="text" name="product" list="productName" id="prduc"/>
												</div>
												<datalist id="productName" class="product">
													<option>{{headers[0]}}</option>
													<option>{{headers[1]}}</option>
													<option>{{headers[2]}}</option>
													<option selected>{{headers[3]}}</option>
													<option>{{headers[4]}}</option>
													<option>{{headers[5]}}</option>
													<option>{{headers[6]}}</option>
													<option>{{headers[7]}}</option>
												</datalist>
												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn4">
														  <span class="slider 4"></span>
														</label>
														<p class="over-on">{{ isOverrideOn4 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>
										</div>
									</div>
									<div class="row  map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class="d-flex body-con-2">
												<div>
												<input type="checkbox" class="form-control-checkbox"class="form-control-checkbox" name="">
												</div>
												<h6 class="m-0" id="con22">Tags</h6>
												<div class="produc">
													<div>
												<input type="text" class="inp-2" name="product" list="productName" id="prduc" />
												</div>
												<datalist id="productName" class="product">
													<option>{{headers[0]}}</option>
													<option>{{headers[1]}}</option>
													<option>{{headers[2]}}</option>
													<option>{{headers[3]}}</option>
													<option selected>{{headers[4]}}</option>
													<option>{{headers[5]}}</option>
													<option>{{headers[6]}}</option>
													<option>{{headers[7]}}</option>
												</datalist>
												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn5">
														  <span class="slider 5"></span>
														</label>
														<p class="over-on">{{ isOverrideOn5 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>
										</div>
									</div>

									<div class="row  map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class="d-flex body-con-2">
												<input type="checkbox" class="form-control-checkbox" name="">
												<h6 class="m-0" id="con22">Status</h6>
												<div class="produc">
													<div>
												<input type="text" name="product" list="productName" id="prduc" />
												</div>
												<datalist id="productName" class="product">
													<option>{{headers[0]}}</option>
													<option>{{headers[1]}}</option>
													<option>{{headers[2]}}</option>
													<option>{{headers[3]}}</option>
													<option>{{headers[4]}}</option>
													<option selected>{{headers[5]}}</option>
													<option>{{headers[6]}}</option>
													<option>{{headers[7]}}</option>
												</datalist>
												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn6">
														  <span class="slider 6"></span>
														</label>
														<p class="over-on">{{ isOverrideOn6 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>
										</div>
									</div>
									<div class="row  map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class="d-flex body-con-2">
												<input type="checkbox" class="form-control-checkbox" name="">
												<h6 class="m-0" id="con22">Country</h6>
												<div class="produc">
													<div>
												<input type="text" class="inp-3" name="product" list="productName" id="prduc" />
												</div>
												<datalist id="productName" class="product">
													<option>{{headers[0]}}</option>
													<option>{{headers[1]}}</option>
													<option>{{headers[2]}}</option>
													<option>{{headers[3]}}</option>
													<option>{{headers[4]}}</option>
													<option>{{headers[5]}}</option>
													<option selected>{{headers[6]}}</option>
													<option>{{headers[7]}}</option>
												</datalist>
												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn7">
														  <span class="slider 7"></span>
														</label>
														<p class="over-on">{{ isOverrideOn7 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>
										</div>
									</div>
									<div class="row  map-content2 p-1">
										<div class="col-sm-12 map-con-2">
											<div class="d-flex body-con-2">
												<input type="checkbox" class="form-control-checkbox" name="">
												<h6 class="m-0" id="con22">State</h6>
												<div class="aaa">
													<div class="col-lg-1">
														<input type="text" class="inp-4" name="product" list="productName"
															id="prduc"/>
													</div>
													<datalist id="productName" class="product">
														<option>{{headers[0]}}</option>
														<option>{{headers[1]}}</option>
														<option>{{headers[2]}}</option>
														<option>{{headers[3]}}</option>
														<option>{{headers[4]}}</option>
														<option>{{headers[5]}}</option>
														<option>{{headers[6]}}</option>
														<option selected>{{headers[7]}}</option>
													</datalist>

												</div>
												<div class="active-toggle">
													<div class="p-2 switch">
														<label class="m-0 switch">
														  <input type="checkbox" class="m-0 form-control-checkbox"
														  (change)="getUpdateFields($event,headers[1])"
														  [(ngModel)]="isOverrideOn7">
														  <span class="slider 8"></span>
														</label>
														<p class="over-on">{{ isOverrideOn7 ? 'Override on' : 'Override off' }}</p>
													  </div>
													  </div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
						<ng-template #contents let-c="close" let-d="dismiss">

							<div class="incorrect-card-main">
								<p>The identifier column must be <br /> mapped before proceeding</p>

								<button type="button" class="btn" (click)="c('Save click')">Ok, Got it</button>
							</div>

						</ng-template>
						<div class="l-botton">
							<button type="button" id="map-next-btn" (click)="open(contents)" (click)="next()"
								(click)="updatedDataCount()" class="btn btn-primary btn-block col-1">Next</button>
								</div>
					</div>
				</div>








				<div id="review-part" class="content" role="tabpanel" aria-labelledby="review-part-trigger">
					<button type="button" (click)="previous()" class="btn5 btn-block col-1"><img
							src="assets/img/prev.png"></button>

					<div class="row" id="r-lg">
						<div class="col-lg-12" id="t-div">
							<div class=" col-lg-4 ss">
								<div class="card">
									<div class="h-fie">
										<h4>Imported File Details</h4>
									</div>
									<div class="g-file">
										<div class="ggg">
											<h5>File Name</h5>
											<h6>{{fileName}}</h6>
										</div>
										<div class="ggg">
											<h5>Purpose</h5>
											<h6>{{purpose}}</h6>

										</div>
										<div class="ggg">
											<h5>Identifier</h5>
											<h6>{{Identifier}}</h6>
										</div>
									</div>
								</div>

							</div>
							<div class="col-lg-5" id="cards">
								<div class="card1" id="card-1">
									<h5 class="card-h5">{{numberOfNewContact}}</h5>
									<h6 class="card-h6">New Contact will added</h6>

								</div>
								<div class="card2">
									<h5 class="card-h5">{{countUpdatedData}}</h5>
									<h6 class="card-h6">10 existing contacts will updated</h6>
								</div>
								<div class="card3">
									<h5 class="card-h5">{{skipCont}}</h5>
									<h6 class="card-h6">Contact skipped due to error</h6>
									<button class="btn  btn-block" (click)="downloadERRfile()"><img
											src="assets/img/download.png"> Download
										error file</button>
								</div>
							</div>
						</div>
					</div>
					<ng-template #imports let-c="close" let-d="dismiss">
						<div class="dd"><img src="assets/img/export1.png">
							<div class="modal-header">

								<h4 class="modal-title" id="modal-basic-title">Import started in the background</h4>

							</div>
							<div class="modal-body">
								<p>We will notify you by email once the job has been <br /> completed. Now you can close
									this
									dialog box.
								</p>
								<div class="ss">
									<img src="assets/img/your.png">
								</div>
							</div>
							<div class="modal-footer popfooter row text">
								<div class="col-md-3">
									<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok, Got
										it</button>
								</div>
							</div>
						</div>
					</ng-template>

					<ng-template #importfailed let-c="close" let-d="dismiss">
						<div class="dd"><img src="assets/img/export1.png">
							<div class="modal-header">

							</div>
							<div class="modal-body">
								<p>Import has been failed due to error<br /> in csv file.
								</p>
								<div class="ss">
									<img src="assets/img/your.png">
								</div>
							</div>
							<div class="modal-footer popfooter row text">
								<div class="col-md-3">
									<button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Ok, Got
										it</button>
								</div>
							</div>
						</div>
					</ng-template>

					<button type="button" id="import-btn" (click)="importStrated(imports,importfailed)"
						class="btn btn-primary btn-block col-2">Import</button>
				</div>
			</div>
		</div>
	</div>
	<ng-template #instruction let-c="close" let-d="dismiss">
		<div class="modal-header text-right">
			<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
		</div>
		<div class="modal-body">
			<div class="campaigndata">
				<p>Upload a csv file</p>

			</div>
		</div>

	</ng-template>

	<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 -->