@import 'styles/variables.scss';

img {
    vertical-align: middle;
    border-style: none;
    margin: 0px 0px 0px 23px;
    height: 20px;
}
.pick img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: -25px -10px -28px 3px;
}
h2, .h2 {
font-size: 2rem;
font-family: Manrope;
font-weight: bold;
margin: 0px 0px 0px 10px;
}