<sb-layout-dashboard><sb-dashboard-head title="General Settings" [hideBreadcrumbs]="true"></sb-dashboard-head>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs teamnav mt-2">
  <li [ngbNavItem]="1">
		<a ngbNavLink>General Settings</a>
		<ng-template ngbNavContent>
        <div class="tab-content py-3" id="">
          <div class="tab-pane fade show active" id="">
              <h4>General Settings</h4>
              <p>Change General Workspace Setting</p>
          </div>
      </div>
      <div class="tab-content py-3" id="myTabContent">
          <div class="tab-pane fade show active" id="home">
              <h4>User Inactivity Time</h4>
              <p>10</p>
          </div>
      </div>
      
          <h4>Smart Replies Pause</h4>
          <div class="bs-stepper">
            <div class="bs-stepper-header" role="tablist">
              <div class="step" data-target="#logins-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Pause</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#information-part">
                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Smart Reply Pause</span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                  <form>
                      <div class="form-group">
                           <label class="small mb-1">Keywords</label>
                           <input class="form-control" type="text"/>
                       </div>
                       
                  </form>
                  <button type="button" (click)= "sttapper1()" class="btn btn-primary btn-block col-1 mt-3">Next</button>
          
              </div>
              <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                  <button type="button" (click)= "sttapper2()" class="btn btn-primary btn-block col-1">Submit</button>
                  <button type="button" (click)= "sttapper()" class="btn btn-primary btn-block col-1">Back</button>
              </div>
            </div>
          </div>
    </ng-template>






    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Default Action</a>
      <ng-template ngbNavContent let-c="close" let-d="dismiss">
        <input class="form-control" type="text" placeholder="Check when the keywords reply does not match,Acording to the set-working time. Use the Default Reply" />
              <h4 class="modal-title" id="modal-basic-title">Current Working Hours</h4>
              <input class="form-control" type="text" placeholder="Set Working Hours" />
          <div class="modal-body">
                       <label class="medium mb-1"> When it is no working hours,and there is no customer service online,reply to the following</label>
                       <input class="form-control" type="text" placeholder="Out of office" />
                       <label class="small mb-1">During Working hours,user wait more than....minutes without any reply,reply to the following</label>
                       <input class="form-control" type="email" placeholder="busy" />
                       <label class="small mb-1">If customer does not reopen and it's not SOLVED, when it almost reaches 24 hours since last following, use the following reply</label>
                       <input class="form-control" type="email" placeholder="timeout" />
          </div>
          <div class="modal-footer row popfooter">
              
          <div class="col-md-6 text-right">
                  <button type="button" class="btn btn-success" (click)="c('Save click')">Save Setting</button>
              </div>
          </div>
        
      </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


    

</sb-layout-dashboard>
