* {
    font-family: 'Manrope';
    box-sizing: border-box;

}

.header-part {
    margin-top: 40px;
}

.header-col-left {
    float: right;
}

.back-btn {
    cursor: pointer;
}

.user-guide-right-section-top{
    background: #FBF9FE;

}


.main-title h4 {
    font-weight: 800;
    cursor: default;
}

.user-guide-right-section {
    background: #FBF9FE;
    height: 70vh
}

.user-guide-right-section h5 {
    color: #000000;
    font-weight: 700;
    font-size: 1.1vw;
    letter-spacing: -0.45px;
    padding: 0% 0% 0 25%;
    cursor: default;
}

.user-guide-right-section h6 {
    color: #6149CD;
    font-weight: 500;
    padding: 5% 0% 0 25%;
    letter-spacing: -0.45px;
    cursor: pointer;
}

.user-guide-right-section h6:hover {
    color: #8b73fa;
  
}


// Search input field styling 

.search img {
    position: absolute;
    margin: 15px 0px 0px 13px;
    width: 15px;
    height: 15px;
}

.input-group>.form-control,
.input-group>.form-control-plaintext,
.input-group>.custom-select,
.input-group>.custom-file {
    position: relative;
    border-radius: 19px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    padding: 21px 35px;
    width: 16.6vw;
    font-size: 0.7vw;
}

.search-field-text {
    color: #7A86A1;
}

.subtopics-container {
    border: 1px solid #EBEBEB;
     border-radius: 22px;
}

.subtopics-heading{
    padding: 0 12% 0 12%;
    font-weight: 600;
    color: #7A86A1;
    font-size: 0.8vw;
    opacity: 1;
    cursor: pointer;
}

.subtopics-heading-active {

    color: #000000;
    font-weight: 700;


}

.subtopics-content {
    cursor: pointer;
    padding: 4% 9% 4% 12%;
}

.subtopics-content ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

.subtopics-content ul li {
    font-size: 0.7vw;
    font-weight: 500;
    padding: 4% 0% 0% 0%;
}

.subtopics-container-active {
    background: #FFF4F2;
    border: none;
}


.footer-main-card {
    background: #FBF9FE;
}

// bootom section paginaiton

.pagination-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    width: 36px;
    height: 36px;
    opacity: 0.5;

}
.pagination-btn p {
    font-weight: 700;
    font-size: 1vw;
}

.pagination-btn:enabled {
    background: #FFFFFF;
    box-shadow: 1px 8px 29px #695F972E;
    border-radius: 15px;
    opacity: 1;
}

.footer-container p {
    color: #000000;
    font-size: 0.8vw;
    font-weight: 500;
}

.footer-container img {
    cursor: pointer;
}