@import 'styles/variables.scss';

#con{
    background-color: white;
}
.reset-password-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#le {
    float: left !important;
    height: 100vh;
    width: 100%;
}
.float-left{
    height: 100vh !important;
}

label {
    display: inline-block;
    color: #000000;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 15px;
    margin-top: 1rem;
    margin-left: -0.3rem;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.form-control {
    display: block;
    width: 323px;
    height: calc(1.8em + 0.75rem + 2px);
    padding: 0 30px 0 10px;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 500;
    line-height: 1.5;
    color: #7A86A1;;
    background-color: #ffffff;
    // background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn1 {
    cursor: pointer;
    width: 20.4rem;
    height: 3.48rem;
    border-radius: 22px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: "Manrope";
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;
}
.font-weight-light {
    font-weight: 900 !important;
    font-size: 26px;
    font-family: 'Manrope';
    color: #000000;
    line-height: 50px;
    margin-left: -0.4rem;
}
.eyeicon{
    position: relative;
    float: right;
    top: -2rem;
    left: -6rem;
    cursor: pointer;
}
// .eyeicon::before{
//     position: relative;
//     float: right;
//     top: -2rem;
//     left: -2rem;
//     cursor: pointer;
// }
.eyeicon1{
    position: relative;
    float: right;
    top: -2rem;
    left: -6rem;
    cursor: pointer;
}
// .eyeicon1::before{
//     position: relative;
//     float: right;
//     top: -2rem;
//     left: -2rem;
//     cursor: pointer;
// }

.form-control.is-invalid {
    border: 1px solid red;
    background: padding-box;
}
.text-danger {
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Manrope';
    font-weight: 700;
}
