<sb-layout-auth>
  <div class="toaster" (click)="hideToaster()">
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
    <p *ngIf="successMessage" class="success">{{successMessage}}</p>
    <p *ngIf="warningMessage" class="warning">{{warningMessage}}</p>
</div>
    <div class="row mr-0" id="con">
      
        <div class=" col-lg-5">
          <!-- <img src="assets/img/img-reg.png" class="text-left" id="le"> -->
          
          <span *ngIf="channelDomain =='web'" class="tag-line">An effective tool for<br /> marketing with WhatsApp</span>
          <span *ngIf="channelDomain !='web'" class="tag-line">Supercharge Your Marketing<br /> and Customer Engagement</span>
      <img *ngIf="channelDomain == 'api'" src="assets/img/img-reg.png" class="float-left"  >
      <img *ngIf="channelDomain == 'web'" src="../../../../assets/img/Engagezilla-Login-Signup.png" class="float-left"  >
    <span class="copyright-text">&copy; Copyright 2024 {{channelDomain =='web' ? 'Engagezilla' : 'Engagekart'}}</span>
        </div>
        <div class="col-lg-6 reset-password-container  ">
  
          <div class="">
  
            <div class="log">
              <h3 class="font-weight-light">Create Your Password to Sign Up</h3>
            </div>
            <form [formGroup]="createpassword">
              <div class="">
                <div class="">
                  <label for="floatingInputGrid">Create Password</label>
  
                  <input [type]="changetype?'password':'text'" class="form-control" [(ngModel)]="inputText"
                    (input)="onInputChange()" formControlName="password" placeholder="8 character" aria-label="City"
                    name="password" id="password">
  
                  <span class="eyeicon" (click)="viewpass()"><i
                      [ngClass]="visible?'fa fa-eye-slash' :'fa fa-eye'"></i></span>
  
                  <label for="floatingInputGrid">Confirm Password</label>
  
                  <input [type]="change?'password':'text'" class="form-control " placeholder="Enter" aria-label="City"
                    id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
  
                  <span class="eyeicon1" (click)="viewpassword()"><i
                      [ngClass]="visible1?'fa fa-eye-slash' :'fa fa-eye'"></i></span>
  
  
                </div>
              </div>

              <div class="form-group row">
                <div class=""></div>
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input"  id="custom-control-input1" formControlName="agree" id="rememberPasswordCheck" type="checkbox" />
                  <label class="custom-control-label inputLabel" for="rememberPasswordCheck" *ngIf="channelDomain == 'api'">
                    I accept the <a href="https://engagekart.com/terms-and-conditions/" target="_blank">Terms & Conditions</a> and 
                    <a href="https://engagekart.com/privacy-policy/" target="_blank">Privacy Policy</a>
                  </label>
                  <label class="custom-control-label inputLabel" for="rememberPasswordCheck" *ngIf="channelDomain == 'web'">
                    I accept the <a href="https://engagezilla.com/terms-and-conditions/" target="_blank">Terms & Conditions</a> and 
                    <a href="https://engagezilla.com/privacy-policy/ " target="_blank">Privacy Policy</a>
                  </label>
                </div>
              </div>
  
              <div class="form-group d-flex align-items-center justify-content-between mt-4">
                <button class="btn btn1" [disabled]="isButtonDisabled" (click)="onSubmit()">Submit</button>
              </div>
              <div *ngIf="createpassword.get('password')!.hasError('required')" class="text-danger">
                ! Password is required
              </div>
              <div *ngIf="createpassword.get('password')!.hasError('pattern')" class="text-danger">
                ! Password must contain at least eight characters,<br> at least one number and both lower and uppercase<br>
                letters and special characters.<br> <br>
              </div>
              <div *ngIf="createpassword.get('confirmPassword')!.hasError('required')" class="text-danger">
               ! Confirm Password is required
              </div>
              <div *ngIf="createpassword.hasError('mismatch')" class="text-danger">
               ! Passwords do not match
              </div>
            </form>
            </div>
        </div>
      </div>
    
  </sb-layout-auth>