*{
  font-family: 'Manrope';
}


.svg-text{
  position: absolute;
  top: 169px;
  left: 206px;
  font-weight: 700;
  font-size: 18px;
}

.setting-card {
    border-radius: 30px;
    padding: 20px 30px 0px 30px;
    box-shadow: 2px 13px 54px #695F9714;  
    position: relative;
    display: flex;
    flex-direction: column;
   
}

.storage-card {
    width: 37%;    
    min-height: 55vh;
}

.deletion-card{
    width: 44%;
    min-height: 50vh;
}

.default-actions-heading{
    font-size: 16px;
    font-weight: bold;
}

.sub-heading{
    font-size: 14px;
    font-weight: 600;
}

.deletion-time{
    font-size: 16px;
    font-weight: bold;
    color: #6149CD;
}

.account-white-btn {
    background: white;
    border-radius: 18px;
    padding: 6px 12px;
    box-shadow: 1px 8px 29px #695F9724;
    border: 1px;
    height: fit-content;
    width: fit-content;
   }

   .account-white-btn img {
    width: 12px;
    height: 12px;
   }
   
.flex-row{
    display: flex;
    justify-content: space-between;
}

.figure {
    width: 100%;
    padding: 0;
    margin: 0 0 .5rem 0;
}
.figCaption {
  text-align: center;
}

 .figCaption .__text {
    font-size: 8px;
    padding: 0 .5rem;
  }

.circular-chart {
  display: block;
  max-width: 160px;
    max-height: 160px;
  margin: 0 auto;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 2;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}
.circular-chart.blue .circle {
    stroke: #FF89AF;
}
.percentage {
  font-size: 8px;
  text-anchor: middle;
  font-weight: 600;
}

.text-align-center{
    text-align: center;
}



















// popup
.account-btn {
    background:#6149CD 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 7px 30px;
    border: 1px;    
    color: white;
    font-weight: 400;
   }

   .del-btn {
    color: #6149CD;
    border-radius: 17px;
    padding: 7px 30px;
    border: 1px solid #EBEBEB;
    border-radius: 17px;  
    background: white;
    font-weight: 400;
   }
   .modal-content .btn-close {
    background: white;
    margin: 2px;
    border-radius: 15px;
    padding: 6px 12px;
    border: 1px solid #EBEBEB;
   }
   .modal-content{
    background: #FFF4F2;
   }
   .modal-title.delete {
    letter-spacing: -0.45px;
    font-weight: bold;
    font-family: 'Manrope';
    color:#6149CD;
   }
   .account-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 8px 22px;
    border: 1px;    
    color: white;
    font-weight: 400;
    width: 7rem;
   }
   .modal-footer{
    border: none;
   }

  .show-btn {
    background: #FFFFFF  0% 0% no-repeat padding-box;
    border-radius: 17px;
    border: 1px;
    color: white;
    font-weight: 400;
    font-family: "Manrope";
    width: 34%;
    margin-left: -12rem;
    height: 2.2rem;
    background:#6149CD;
   }
.modal-body.Allmesaages{
padding: 0;
margin-left: 2rem;

}
 
  .message-input{
      height: 32px;
      border-radius: 16px;
      border: 1px solid #EBEBEB;
      padding: 5px 13px;
      background: #ffffff;
      width: 59px;
      outline: none;
      font-size: 12px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-top: -0.44rem;
      margin-right: 11px;
  }
   .head-messages{
    font-family: 'Manrope';
    font-weight: 600;
    color: black;
    font-size: 14px;
   }
   .show-message{
    height: 206px;
    background: #FFFFFF;
    border: 1px dashed #EBEBEB;
    border-radius: 30px;
    opacity: 1;
    margin-left: -2rem;
   }
   .input-days{
    display: flex;
   }
   .text-media{
    font-family: "Manrope";
    height: 17px;
    width: 24px;
    margin-right: 6px;
   }
   .check-input{
    display: flex;
    justify-content: space-around;
    padding-right: 3rem;
}
.text-checkbox{
  padding-right: 3rem;
}
.modal-footer.show{
  display: flex;
  justify-content: center;
}
.number-messages{
font-family: 'Manrope';
}
.show-messages{
  display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    font-weight: 600;
}
.displaymessage{
  margin-top: 2rem;
  margin-left: 4.3rem;
}
.modal-content.deletemodal{
  width: 40rem;
}
.alertmessage p{
  font-size: 11px;
  padding: 2% 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
 }
 .delete_group_button {
  padding: 10% 0%;
 }
 .cancel-btn {
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  width: auto;
  height: 35px;
  color: #7A86A1;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 0 15px;
}
.delete-btn{
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 20px;
  width: auto;
  height: 35px;
  border: 0px;
  color: #fff;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 0 15px;
  background: #FF3636;
 }
 .modal-content.delete-modal{
  background:#FFFFFF  ;
  width: 22rem;
    height: 12rem;
 }
 
.toaster {
  float: left;
  width: auto;
  position: fixed;
  right: 50px;
  top: 65px;
  z-index: 9999;
}

.toaster p {
  padding: 8px;
  font-size: 14px;
  color: #fff;
  margin: 0;
  min-width: 250px;
  text-align: center;
  border-radius: 20px;
  font-weight: 500;

}

.toaster p.error {
  background-color: red;

}

.toaster p.success {
  background-color: green;
}

.toaster p.warn {
  background-color: orange;
}

.link {
  color: skyblue;
  font-size: 16px;
}
