<div class="toaster" (click)="hideToaster()">
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
    <p *ngIf="successMessage" class="success">{{successMessage}}</p>
    <p *ngIf="warnMessage" class="warn">{{warnMessage}}</p>
  </div>
<div class="d-flex">
    <div class="setting-card storage-card">
        <div class="default-actions-heading">Manage Storage</div>
        <div class="pt-4">
            <figure class="figure">
                <ng-container *ngIf="percentage; else noValue">
                  <svg viewBox="0 0 36 36" class="circular-chart blue" >
                    <title>Percentage chart showing  confidence level for this appraisal at {{percentage}}%</title>
                    <path
                      class="circle-bg"
                      d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <path
                      class="circle"
                      [attr.stroke-dasharray]="formattedDashArray"
                      d="M18 2.0845
                          a 15.9155 15.9155 0 0 1 0 31.831
                          a 15.9155 15.9155 0 0 1 0 -31.831"
                    />
                    <text x="18" y="22.35" class="percentage">{{percentage}}%</text>
                    
                  </svg>
                  <!-- <span class="svg-text" >Used</span> -->
              </ng-container>
              <ng-template #noValue>
                No Value
              </ng-template>
              </figure>
        </div>
        <div class="text-align-center"> 
            <span class="default-actions-heading">Storage Utilization</span>
            <p>1.5 GB Used of 4 GB</p>
        </div>
        <div class="d-flex justify-content-around">
            <button type="button" class="account-btn" >Update Plan</button>
            <button type="button" class="del-btn"  data-bs-toggle="modal" data-bs-target="#Delete-Manually"  >Delete Manually</button>
        </div>
    </div>
    
    <div class="setting-card deletion-card ml-3">
        <div class="flex-row">
        <div class="default-actions-heading">Auto-Deletion</div>
        <button class="account-white-btn mx-1" data-bs-toggle="modal" data-bs-target="#localeDetailModal">
            <img class="p-0" src="../../../../assets/img/edit.png">
        </button>
    </div>

    <div class="d-flex pb-3 pt-3">
        <img src="../../../../assets/img/settings/img-7.png">
        <div class="pl-2">
            <span class="sub-heading">Auto-Delete all messaged older than</span>
            <div class="deletion-time">60 Days</div>
        </div>
    </div>

    <div class="d-flex pb-3">
        <img src="../../../../assets/img/settings/img-7.png">
        <div class="pl-2">
            <span class="sub-heading">Auto-Delete all Media older than</span>
            <div class="deletion-time">125 Days</div>
        </div>
    </div>

    <div class="d-flex pb-3">
        <img src="../../../../assets/img/settings/img-7.png">
        <div class="pl-2">
            <span class="sub-heading">Auto-Delete all Contacts older than</span>
            <div class="deletion-time">Don’t Delete</div>
        </div>
    </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="Delete-Manually"role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content deletemodal p-2 pl-3">
            <div class="pb-4 modal-header">
                <h5 class="modal-title delete">Delete Manually</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <div class="row d-flex">
          <div class=" col-7 pl-4 modal-body Allmesaages">
            <div>
            <div class="messages">
            <div class="delte-messages">
                <p class="head-messages" >Messages older than how many<br> days you want to delete?</p>
            </div>
            <div class="d-flex input-days">
                <input class="message-input" type="text" [(ngModel)]=" manually_deletion_days" >
                <p>Days</p>
            </div>
        </div>
        <div class="messages">
            <div class="delte-messages">
                <p class="head-messages" >Which type of messages you<br> want to delete?</p>
            </div>
            <div clas="input-days">
                <div class="check-input">
                <label for="text" class="d-flex" >
                <input class="text-media" type="checkbox" [(ngModel)]="textChecked" (change)="updateMessageType()" value="Text" ><p class="text-checkbox">Text</p>
            </label>
            <label for="text" class="d-flex" >
                <input class="text-media" type="checkbox" [(ngModel)]="mediaChecked" (change)="updateMessageType()" value="media"><p class="text-checkbox">Media</p>
            </label>
        </div>
            </div>
        </div>
    </div>
        <div class="modal-footer show">
            <button type="button" class="show-btn" (click)="getmanualDelation()">Show</button>
        </div>
          </div>
          <div class="col-4 show-message"  *ngIf="showMessages" >
            <div class="displaymessage">{{ messageData?.message_size }}</div>
           
            <div class="show-messages">
                <p class="ml-3">No of Messages</p>
            </div>
            <div  class="displaymessage">{{ messageData?.message_count}}</div>
            <div  class="show-messages">
               <p class="ml-3"> Size of Message</p>
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <button type="button" class="account-btn" (click)="deletemodal()" >Proceed</button>
            </div>
           
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="messagedeleteModal" data-bs-backdrop="static" role="dialog">
    <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
        <div class="m-0 modal-content delete-modal">
            <div class="modal-body alertmessage">
             <p>You are about to delete <b>4580 messages</b>,which will free up <b>1.3 GB</b> of data for you</p>
                <p class="label pb-2"><b>Please</b> confirm to <b>delete</b></p>
                <div class="delete_group_button d-flex justify-content-center">
                    <button type="button" class="cancel-btn" aria-label="Close"
                        data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="delete-btn" aria-label="Close" (click)="postmanualDelation()">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
