<sb-layout-dashboard><sb-dashboard-head title="Campaign Compose" [hideBreadcrumbs]="true"></sb-dashboard-head>




    <div class="container">
        <h2>Campaign/Compose</h2>
        <div class="row3">
            <div class="circle">
                <p>1</p>
            </div>
            <h6>Add name & Select Channel</h6>
            <div class="circle1">
                <p>2</p>
            </div>
            <h6> Select Audience</h6>
            <div class="circle1">
                <p>3</p>
            </div>
            <h6> Add Message</h6>
            <div class="circle1">
                <p>4</p>
            </div>
            <h6> Schedule</h6>
            
        </div>
        <div class="card">
        <div class="box">
            <h5>Campaign Name</h5>
            <div class="boxs">
                <p>Enter Campaign Name</p>

            </div>
         </div>
        <div class="box">
            <h5>Select Channel</h5>
            <div class="boxs">
                <p>WhatsApp Web Animation</p>
              </div>
          </div>
    </div>
    <button class="btn">Back</button>
    <button class="btn1">Next</button>
    </div>


</sb-layout-dashboard>