<div>
    <div class="toaster" (click)="hideToaster()">
        <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
        <p *ngIf="successMessage" class="success">{{successMessage}}</p>
        <p *ngIf="warningMessage" class="warning">{{warningMessage}}</p>
    </div>
    <div class="row">
        <div class="col-sm-9 py-4 setting-field">
            <a class="setting-field-link" [ngClass]="selectedTab==1 ? 'active' : ''" (click)="selectedTab = 1">Template Message</a>
            <a class="setting-field-link" [ngClass]="selectedTab==2 ? 'active' : ''" (click)="selectedTab = 2">Quick Response</a>
        </div>
    </div>

    <div *ngIf="selectedTab==1">
        <sb-template-message></sb-template-message>
    </div>
    
    <div *ngIf="selectedTab==2">
        <sb-quick-response></sb-quick-response>
    </div>
</div>
