<sb-layout-dashboard><sb-dashboard-head title="Automation/ Funnels" [hideBreadcrumbs]="true"></sb-dashboard-head>
<div class="row mt-3 mb-3">
	<div class="col-md-10"></div>
	<div class="col-md-2">
		<button class="btn btn-primary btn-block float-right"  (click)="addfunnel()"><i class="fa fa-plus"></i> Add New Funnel</button>
	</div>
</div>

	<form class="funnel" id="funnel" style="display: none;">
		<h4>Add New Funnel</h4>
		<div class="row">
			<div class="form-group col-md-5">
			 	<label class="small mb-1"><b>Name</b></label>
			 	<input class="form-control py-4" type="text" placeholder="Enter Name" />
			 </div>
			 <div class="form-group col-md-5">
			 	<label class="small mb-1"><b>Description</b></label>
			 	<input class="form-control py-4" type="text" placeholder="Enter Description" />
			 </div>
			 	<div class="col-md-2">
			<button type="button" class="btn btn-primary" (click)="add()">ADD</button>
		</div>
	</div>

			 
		</form>

	<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Subscribers</th>
			<th scope="col">Message</th>
			<th scope="col">Status</th>
			<th scope="col">Action </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of automations; let i =index">
			<td>{{i+1}}</td>
			<td>
				<button class="btn-primary" (click)="opensubcribe(subcribe)"><i class="fa fa-user"></i> {{item.subscribers}}</button>
			</td>
			<td>
				<div class="round-mess">{{item.message}}</div>
			</td>
			<td>{{item.status}}</td>
			<td>
				<a href="" class="action"><i class="fa fa-edit"></i></a>
				<a href="" class="action"><i class="fa fa-trash-o"></i></a>
				<a routerLink="/dashboard/message" class="action"><i class="fa fa-copy"></i></a>
			</td>
		</tr>
	</tbody>
</table>

<ng-template #subcribe let-c="close" let-d="dismiss">
	<div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">Contact</h4>
			<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body text-center">
		  <form class="d-none d-md-inline-block form-inline mb-3 col-12">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search by name/mobile" aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><fa-icon [icon]='["fas", "search"]'></fa-icon></button>
            </div>
        </div>
    </form>
		<table class="table table-striped">
	<tbody>
		<tr>
			<td><input type="checkbox" name=""></td>
			<td>918699424667</td>
		</tr>
		<tr>
			<td><input type="checkbox" name=""></td>
			<td>918699424667</td>
		</tr>
	</tbody>
</table>
			<button type="button" class="btn btn-danger mr-3" (click)="c('Save click')">Remove</button>
						<button type="button" class="btn btn-dark mr-3" (click)="c('Save click')">close</button>

			<button type="button" class="btn btn-primary" (click)="c('Save click')">Insert</button>
	</div>
</ng-template>

