.funnel{
	border: 1px solid #ccc;
	padding: 30px;
	margin-bottom: 10px;
}
.action{
	    font-size: 20px;
    color: #000;
    padding: 5px;
}
.round-mess {
    color: orange;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
    width: fit-content;
    font-weight: bold;
}