@import 'styles/variables.scss';

#con{
    background-color: white;
    height: 100vh;
}

#con .col-lg-5 {
    position: relative;
}

.tag-line {
    position: absolute;
    left: 75px;
    top: 100px;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.46px;
    font-family: Manrope;
    font-weight: bold;
}

.copyright-text{
    position: absolute;
    bottom: 60px;
    left: 30px;
    font-family: Manrope;
    font-size: 14px;
    color: #171414;
}

.float-left {
    float: left !important;
    width: 100%;
    height: 100vh;
}
.font-weight-light {
    font-weight: 700 !important;
    font-size: 30px;
    font-family: "Manrope";
    color: #000000;
    line-height: 50px;
    margin-left: 1.1rem;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
label {
    display: inline-block;
    color: #000000;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 15px;
}

#col{
    display: flex;
    flex-direction: column;
    padding-left:0.6rem;
}
#name{
    width: 121%;
}
.form-control {
    display: block;
    width: 106%;
    height: calc(1.5em + 0.75rem + 7px);
    // padding: 0 37px 0 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #7A86A1;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Manrope';
}
#la-ph{
    margin-left: 0.5rem;
}

#confirmPassword{
    width: 153%;
}
#email_id{
    width: 100%;
}
.name-number{
    display: flex;
    align-items: center;
}
.password-confirm{
    display: flex;
    padding-top: 1rem;
}
input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    color: #7A86A1;  
    margin-top: -1.4rem;
    margin-left: -0.6rem;
}
.mi{
    color: #6149CD;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: bold;
    display: contents;
}
.form-group a{
    color: #6149CD;
    font-family:'Manrope';
    font-size: 12px;
    font-weight: bold;
}
a{
    font-family:'Manrope';
    font-size: 14px;
    font-weight: bold;
    color: #7A86A1;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
    font-size: 12px;
    color: #7A86A1;
    font-family:'Manrope';
}
.label1 {
    position: relative;
    // margin: 0px 0px 0px 5px;
    font-family: 'Manrope';
    font-size: 13px;
    color: #7A86A1;
    font-weight: 600;
    width: 140px;
    margin-top: 0.55rem;
}
#gem{ 
    width: 32.1rem;
}

.btn2 {
    cursor: pointer;
    width: 230px;
    border-radius: 22px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;
    margin: 0;
}
#phone{
    height: 6rem;
}
.you-em{
    padding-top: 1rem;
}

.eyeicon{
    position: relative;
    cursor: pointer;
    top: -2rem;
    left: -0.5rem;
    float: right;
    }
    .eyeicon1{
        position: relative;
        cursor: pointer;
        top: -2rem;
        left: 4.7rem;
        float: right;
        }
    .error{
        border: 1px solid red;
    }
    .text-danger {
        color: #dc3545 !important;
        font-size: 11px;
        font-family: 'Manrope';
        font-weight: 600;
    }
    .form-control.is-invalid {
        border: 1px solid red;
        background: padding-box;
        padding-right: 0!important;
    }
.register-cip{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
    .select{
        width: 54px;
        border: none;
        font-size: 14px;
    }
    .phone {
        padding: 0 0 0 30px;
    }

      .checkbox1{
        margin: 0;
      }
    .checkbox2{
        display: flex;
        margin-left: 3.5rem;
        margin-top: -1rem;
    }


    p {
        font-size: 11px;
        color: #dc3545;
        // margin: -14px 0 0 30px;
        font-family: 'Manrope';
        font-weight: 400;
    }
    .accept p{
        font-size: 13px;
        color: #7a86a1;

    }
    .accept{
        display: flex;
        padding-left: 0.6rem;
        margin-top: -0.4rem;
    }
    .accept1{
        display: flex;
        padding-left:0.6rem;
    }
    .form-group.custom-control.custom-checkbox{
        display: flex;
    }
   #sigal{
    display: flex !important;
    justify-content: space-around;
    margin-top: -2rem;
   }

   // phone nummber field

    #country_code {
        width: 65px;
        border: none;
        position: relative;
        left: 12px;
        top: 4px;
        z-index: 9999;
        font-size: 11px;
        cursor: pointer;
        outline: none;
        background: #FFFFFF;
        height: 30px;
    }

    #mobile_number{
        margin-left: -61px;
        width: 280px;
        padding: 0 0 0 77px;
    }
    .form-control.password{
        padding-right: 3rem;
    }
    .form-control.confirm{
        padding-right: 3rem;
    }

