

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    border-radius: 19px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    margin: 0px 0px 0px -18px;
    font-family: Manrope;
    font-size: 14px;
}
button:not(:disabled), [type=reset]:not(:disabled) {
    cursor: pointer;
    color: #7A86A1;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    font-family: Manrope;
    font-size: 14px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 0px 0px 0px 10px;
}
.btn:not(:disabled):not(.disabled):hover {
    cursor: pointer;
    color: #6149CD;
    box-shadow: 1px 8px 29px #695F9724;
    opacity: 1;
}
.box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 2px 13px 54px #695F9714;
border-radius: 30px;
opacity: 1;
}
.table-box{
    margin:0px auto;
}
.table-row{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: Manrope;
}
.table-row:hover{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: Manrope;
    box-shadow: 0px 0px 14px #695F972E;
border: 1px solid #E5E5E5;
opacity: 1;
}
.tt .btn7{
    margin: 15px 0px 0px 0px;
    width: 80px;
    height: 30px;
    color: #6236FF;
    background-color: transparent;
    border: none;
}
.tt .btn6{
    margin: 15px 0px 0px 0px;
    width: 80px;
    height: 30px;
    color: #FF3636;
    background-color: transparent;
    border: none;
}
 .table-head{
    display: table;
    width: 95%;
    background: transparent;
    padding: 10px 3px 0px 0px;
    color: #6149CD;
    font-size: 14px;
    margin: 0px 18px;
    font-family: Manrope;
}
.table-cell{
    display: table-cell;
    width: 0%;
    text-align: center;
    padding: 4px 0;

}

.table-head .table-cell{
    border-right: none;
}
.lower img{
    margin: -8px 0px 0px 15px;
}
.ff{
    width: 330px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFF4F2;
    opacity: 1;
    
}
.ff:hover{
    box-shadow: 0px 10px 15px #00000021;
    width: 330px;
    height: 32px;
    border-radius: 10px;
    background-color: #FFF4F2;
    opacity: 1;
}
h4, .h4 {
    font-family: Manrope;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
.fff p{
    font-family: Manrope;
    font-size: 17px;
    color: #000000;
    margin: 2px 0px 0px 0px
}

.popfooter .btn1{
    width: 85px;
    height: 35px;
    background: #6149CD 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    opacity: 1;
    color: #ffffff;
    margin: 0px 0px 0px -15px;
}
.popfooter .btn{
    width: 90px;
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    color: #7A86A1;
    opacity: 1;

}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 15px;
    font-family: manrope;
    font-weight: 600;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: manrope;
}
.dd img {
    padding: 40px 0px 0px 44%;
}
.dd{
    background-color: #FFF4F2;
    border-radius: 20px;
}
.dd h4{
    padding: 0px 0px 0px 42%;
    font-family: Manrope;
    font-weight: bold;
    font-size: 22px;
}
.dd p{
    text-align: center;
    letter-spacing: 0px;
    color: #7A86A1;
    opacity: 1;
}
.dd .ss img{
    padding: 0px;
}
.dd .text{
    margin: -60px 0px 0px 0px;
}
.dd .btn{
    margin: 55px 0px 0px -20px;
    width: 100px;
    height: 38px;
}
.dd .btn1{
    width: 100px;
    height: 38px;
    margin: -5px 0px 0px -20px;
}
.sq{
    background-color: #FFF4F2;
    width: 46%;
    min-height: 350px;
    max-height: 100%;
    margin: 0px 10px;
    border-radius: 20px;
}


.sq label{
    font-size: 15px;
    font-family: manrope;
    font-weight: bold;
    margin: 35px 0px 5px 20px;
}
option{
    font: normal normal normal 14px/23px Manrope;
 letter-spacing: 0px;
 color: #7A86A1;
 opacity: 1;

}
option:hover{
   
 color: #7A86A1!important;
 opacity: 1;
 background-color: #000000;

}
.sq .form-control{
    color: #7A86A1;
    width: 90%;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
}

.sq .control{
    color: #000000;
    width: 90%;
    margin: 10px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    font-family: manrope;
    font-size: 15px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}
.sq .jk label{
    font-size: 15px;
    font-family: manrope;
    margin: 10px 0px 10px 20px;
    font-weight: 500;
}
.sq .jk .form-control{
    color: #000000;
    width: 90%;
    margin: 0px 0px 0px 10px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
    background-color: #FFF4F2;
    font-family: manrope;
    font-size: 15px;
    height: 35px;
    padding: 0px 0px 0px 10px;
}
.gf img {
    position: absolute;
    margin: 11px 0px 0px -8px;
    width: 15px;
    height: 15px;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
   
    margin: 0px 0px 0px -20px;
    padding: 0px 0px 0px 34px;
}





