.custom-dropdown-btn {
    border-radius: 10px;
    border: 1px solid #ebebee;
    height: 35px;
    background: white;
    font-size: 12px;
    padding: 0 15px;
    justify-content: space-between;
}

.custom-dropdown-menu {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695F9730;
    border-radius: 20px;
    padding: 10px 0px;
    position: absolute;
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
    z-index: 9;
}

.dropdown-item {
    color: #000;
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
}

.dropdown-item span {
    padding: 5px 15px;
    width: 100%;
    float: left;
    margin: 0px;
    cursor: pointer;
}

.dropdown-item.label {
    font-weight: 600;
    color: #6149CD;
    padding: 5px 15px;
    cursor: pointer;
}

#channel_label {
    cursor: pointer;
}

.dropdown-item.label:hover {
    background: #fff;
}

.dropdown-item:hover {
    background: #FFF4F2;
}

.dropdown-item.active {
    background: #FFF4F2;
    background: #FFF4F2 url("/assets/img/teambox/icon-selected.svg") no-repeat;
    background-size: 12px;
    background-position: center right 10px;
}

.p-15 {
    padding: 0 15px;
}
img.icon{
    width: 15px;
    margin-right: 5px;
    margin-left: 0px;
    cursor: pointer;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.left-content {
    display: flex;
    align-items: center;
    gap: 5px; /* Adds spacing between icon and text */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-arrow {
    width: 12px; /* Adjust size of arrow */
    margin-left: auto; /* Pushes arrow to the right */
    cursor: pointer;
}