* {
    font-family: 'Manrope';

}

.row-header h1 {
    font-weight: 800;
    margin-bottom: 5rem;
}

.userguide, .apidocs, .raiseticket {
    border: 2px solid #F0F0F0;
    border-radius: 30px;
}

.faqs {
    border: 2px solid #ffffff;
    background: #FFF4F2;
    border-radius: 30px;
}

.content {
    padding: 10% 10% 10% 10%;
}

.content p {
    margin: 0;
}

.content h6 { 
    margin: 0;
    font-size: 1.2rem;
    padding: 8% 0 4% 0%;
}

.content p {
    color: #7A86A1;
    font-size: 0.875rem;
    font-weight: 500;
}

span img {
    cursor: pointer;

}

.title {
    font-weight: 800;
}

.cards-common {
    flex: 1 1;
}

.arrow-btn {
    padding: 4% 0% 10% 0%;

}

.arrow-btn img{
    margin-left: auto;
    margin-right: auto;
}



/**** FAQs SECTION PAGE   ****/

// Search input field styling 

.search img {
    position: absolute;
    margin: 15px 0px 0px 13px;
    width: 15px;
    height: 15px;
}


.input-group>.form-control,
.input-group>.form-control-plaintext,
.input-group>.custom-select,
.input-group>.custom-file {
    position: relative;
    border-radius: 19px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    font-size: 0.875rem;
    min-width: 350px;
    padding: 20px 35px;
}

.search-field-text {
    color: #7A86A1;
}

.faqs-header {
    padding: 0% 4% 0% 7%;
}


.back-btn img {
    cursor: pointer;
    height: 15px;
}

.main-title h4 {
    letter-spacing: -0.75px;
    font-weight: 800;
    cursor: default;
    
}