<sb-layout-dashboard>
    <sb-top-nav title="Support"></sb-top-nav>
    <div *ngIf="false" class="">
    <div class="row">
        <div class="col-12"></div>
    </div>
    <div class="row my-5">
        <div class="col-12 my-5 d-flex">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="heading-contianer">
                    <div class="text-center mb-5 row-header">
                        <h1>How can I help you?</h1>
                    </div>
                    <div class="row-body my-5">
                        <div class="cards-container">
                            <div class="d-flex justify-content-around align-content-center cards">
                                <div class="pr-3 cards-common">
                                    <div class="p-2  userguide">
                                        <div class="content">
                                            <img src="../../../../assets/img/support/user-guide.svg" />
                                            <h6 class="title">
                                                User Guide
                                            </h6>
                                            <p>Instructions and guidance on how to use a product or service.</p>
                                           
                                        </div>
                                        <span class="d-flex justify-content-center arrow-btn"><img src="../../../../assets/img/support/arrow.svg" /></span>
                                    </div>
                                </div>
                                <div class="pr-3 cards-common">
                                    <div class="p-2  faqs">
                                        <div class="content">
                                            <img src="../../../../assets/img/support/faq.svg" />
                                            <h6 class="title">
                                                FAQs
                                            </h6>
                                            <p>Find answers related to a particular topic, product, or service</p>
                                          
                                        </div>
                                        <span class="d-flex justify-content-center arrow-btn">
                                        <img src="../../../../assets/img/support/arrow.svg" /></span>
                                    </div>
                                </div>
                                <div class="pr-3 cards-common">
                                    <div class="p-2 apidocs">
                                        <div class="content">
                                            <img src="../../../../assets/img/support/api.svg" />
                                            <h6 class="title">
                                                API Docs
                                            </h6>
                                            <p>instructions on how to use and integrate an API, including endpoints</p>
                                           
                                        </div>
                                        <span class="d-flex justify-content-center arrow-btn">
                                        <img src="../../../../assets/img/support/arrow.svg" /></span>
                                    </div>
                                </div>
                                <div class="pr-3 cards-common">
                                    <div class="p-2  raiseticket">
                                        <div class="content">
                                            <img src="../../../../assets/img/support/raise-ticket.svg" />
                                            <h6 class="title">
                                                Raise Ticket
                                            </h6>
                                            <p>Submitting a support request or issue report</p>
                                
                                        </div>
                                        <span class="d-flex justify-content-center arrow-btn">
                                         <img src="../../../../assets/img/support/arrow.svg" /></span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>


<div class="row my-4">

    <div class="col-sm-12 my-2 faqs-header">
        <div class="container-fluid p-0 d-flex justify-content-around align-items-center">
            <div class="col-sm-6 text-left d-flex pl-0">
                <div class="d-flex">
                    <div class="back-btn" routerLink="/dashboard/myprofile">
                        <img src="assets/img/profile/previous1.svg" />
                    </div>
                    <div class="main-title">
                        <h4 class="m-0 px-4">FAQs</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-right d-flex justify-content-end pr-0">
                    <div class="search-field">
                        <form class="d-none d-md-inline-block form-inline">
                        <div class="input-group search">
    
                            <input class="form-control" type="text" placeholder="Search" name="search" [(ngModel)]="searchText" />
    
                            <img src="assets/img/search.png">
                        </div>
                        </form>
                    </div>
                  
            </div>
        </div>
    
    </div>


</div>

</sb-layout-dashboard>