<sb-layout-dashboard>
    <sb-top-nav title="My Profile"></sb-top-nav>

    <div class="row main-card">
        <div class="col-sm-1"></div>
        <div class="col-sm-7 my-4 main-card-container">
            <div class="row teambox-card">
                <div class="col-sm-12">
                    <div class="p-2 mt-3 ml-3 teambox-heading">
                        <h5 class="m-0">Teambox Notifications</h5>
                    </div>
                    <div class="d-flex mb-4 justify-content-end align-items-center toggle-headings">
                        <div class="col-sm-2 text-center push-noti">
                            <p class="m-0">Push <br />Notification</p>
                        </div>
                        <div class="col-sm-3 text-center sound-noti">
                            <p class="m-0">Sound <br />Notification</p>
                        </div>
                    </div>
                    <div class="row py-2 justify-content-center">
                        <div class="col-sm-12 d-flex teambox-notificaiton-row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6 p-0 text-left teambox-notificaiton-content">
                                <h6 class="m-0 pb-2" >New Chat Notification</h6>
                                <p class="m-0 pb-2">When a new chat is available to be assigned</p>
                            </div>
    
                            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 justify-content-center">
                        <div class="col-sm-12 d-flex teambox-notificaiton-row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6 p-0 text-left teambox-notificaiton-content">
                                <h6 class="m-0 pb-2">New Chat Assigned to You</h6>
                                <p class="m-0 pb-2">When a new chat is assigned to you (Fresh conversation)</p>
                            </div>
    
                            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 justify-content-center">
                        <div class="col-sm-12 d-flex teambox-notificaiton-row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6 p-0 text-left teambox-notificaiton-content">
                                <h6 class="m-0 pb-2">New Message in Your Chat</h6>
                                <p class="m-0 pb-2">When you receive a new message in your current conversation</p>
                            </div>
    
                            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2 justify-content-center">
                        <div class="col-sm-12 d-flex teambox-notificaiton-row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6 p-0 text-left teambox-notificaiton-content">
                                <h6 class="m-0 pb-2">New Chat Assigned to Team</h6>
                                <p class="m-0 pb-2">When a new chat is assigned to your team, any team member can choose to assign the chat to himself and start a conversation</p>
                            </div>
    
                            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                        <div class="row py-2 pl-3 pr-4 justify-content-center">
                        <div class="col-sm-10 p-0 mb-5 mt-2">
                            <div class="py-4 px-4 d-flex justify-content-between align-items-center browse-notification-card">
                                <div class="d-block enable-noti-info">
                                    <h5 class="m-0 p-1">Browser Notifications</h5>
                                    <p class="m-0 p-1">Trigger browser notification request to receive notifications about Teambox<br /> alerts as per your preference above</p>
                                </div>
                                <div class="enable-notification-btn">
                                    <button>Enable Notifications</button>
                                </div>
                            </div>
                          
                    
                    </div>
                    </div>
                    </div>
                </div>
            


        </div>
        <div class="col-sm-1 my-4"></div>
        <div class="col-sm-3 mt-5 px-0 account-info-sidebar1">
          
                <div class="p-0">
                <div class="profile-heading">
                  <img id="profile-bg" src="/assets/img/profile/profile-bg.png">
                  <img id="pic-bg" src="assets/img/profile/bg image.png">
                  <img id="profile-pic" src="assets/img/profile/Richie_3.png">
                </div>
             
                    <!-- <div class="text-center picture-crop-button"><img src="../../../../assets/img/profile/Fill 4.svg" /></div> -->
                
                 </div>
                  <div class="col-sm-12 d-block mb-5 text-center profile-content1">
                    <h4 class="text-capitalize mb-3">{{Name}}</h4>
                    <p>{{EmailId}}</p>
                    <p>{{PhoneNumber}}</p>
            
                  </div>
                  
                    <div class="mx-5 sidebar-team">
                        <div class="p-2 heading">
                           <p class="m-0">Team</p>
                        </div>
                        <div class="d-flex align-items-center team">
                            <img class="p-2" src="assets/img/profile/team.svg">
                            <p class="m-0 p-1">Management</p>
                        </div>
                    </div>
                    <div class="mx-5 sidebar-role">
                        <div class="p-2 heading">
                            <p class="m-0">Role</p>
                        </div>
                        <div class="d-flex align-items-center team">
                            <img class="p-2" src="assets/img/profile/role.svg">
                            <p class="m-0 p-1">Head of Department</p>
                        </div>
                    </div>
                 </div>
        </div>

   

    <div class="row mb-5 billing-pay-card">
        <div class="col-sm-1"></div>
        <div class="col-sm-7 p-0 d-flex justify-content-between align-items-center">
            <div class="col-sm-6 pr-3 pl-0">
                <div class="billing-card">
                    <div class="text-right px-4 py-5 billing-card-head">
                        <button routerLink="/dashboard/manageplan" class="px-4 py-2" >Manage Plan</button>
                    </div>
                    <!-- <div class="text-center p-4 billing-bg-img">
                        <img src="assets/img/profile/img2.png">
                    </div> -->
                    <div class="text-center p-2 txt-head">
                        <h2 class="m-0 p-2">Premium+</h2>
                    </div>
                    <div class="text-center px-4 mx-4 txt-para">
                        <p class="m-0 p-2">Share team, Inbox, Contact, Management Broadcast Management, Template Submission, Chatbot Builder, APIs & Webhooks, Integrations</p>
                    </div>
                    <div class="text-center m-4 py-5 billing-history-btn">
                        <button class="p-2"  routerLink="/dashboard/billinghistory">
                        <span><img class="px-2" src="../../../../assets/img/profile/bill.svg"></span>
                            View Billing History
                        <span><img class="px-2" src="../../../../assets/img/profile/next1.svg"></span>
                    </button>
                    </div>
                </div>
              
            </div>
            <div class="col-sm-6 pl-3 pr-0">
                <div class="payment-card">
                    <div class="text-right p-4 payment-card-btn">
                        <!-- <button class="px-4 py-2"  data-bs-toggle="modal" data-bs-target="#AddFundsModal">Add Funds</button> -->
                        <button class="px-4 py-2">Add Funds</button>
                    </div>  

                    <div class="modal fade" tabindex="-1" id="AddFundsModal" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content px-3 addfunds-popup-modal">
                                <div class="modal-header align-items-center">
                                    <h5 class="modal-title">Add Funds</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../../assets/img/teambox/icon-close.svg">
                                    </button>
                                </div>
                                <div class="modal-body addfundsbody">
                                  
                                  
                                      
                                </div>
                                <div class="modal-footer justify-content-center my-4 border-0">
                                    <button type="button" class="addfunds-continue-btn" (click)="addFunds()">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center p-2">
                        <h6>Available Amount</h6>
                    </div>
                    <div class="text-center px-4 mx-4">
                        <h1>$2.309.68</h1>
                    </div>
                    <div class="d-flex text-center m-3 justify-content-around align-items-center billing-history-btn">
                        <button class="" routerLink="/dashboard/walletusage">
                        <span><img class="px-2" src="../../../../assets/img/profile/wallet-icon.svg"></span>
                             Wallet Usage
                        <span><img class="px-2" src="../../../../assets/img/profile/next1.svg"></span>
                    </button>
                    </div>
                    <div class="col-sm-12 p-0 pb-2">
                        <div class="py-5 d-block payment-method">
                 
                            <!-- <img src="assets/img/profile/wallet-usage-bg.png" /> -->
                        
                          <h6 class="px-5 ml-2">Payment Method</h6>
                          <div class="px-5 d-flex justify-content-between align-items-center creditcarddetails">
                            <div class="card-details">
                                <div class=" m-2 mb-3 cardholder-name">
                                    <p class="m-0">Tony Nguyen</p>
                                </div>
                                <div class=" m-2 cardholder-detail">
                                    <p class="m-0 card-number">MasterCard •••• 3268</p>
                                    <p class="m-0 expiry">Checking - Expires 12/22</p>
                                </div>
            
                              </div>
            
                              <div class="deleteCard-details">
                                <button class="del-popup-btn" data-bs-toggle="modal" data-bs-target="#deleteModal"><img class="p-0" src="../../../../assets/img/profile/delete.svg"></button>
                              </div>
                              <div class="modal fade" tabindex="-1" id="deleteModal" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content delete-modal">
                                        <div class="modal-body alertmessage">
                                            <p class="label pb-2">Do you really want to delete <br /> this Saved Card ?</p>
                                            <div class="delete_group_button d-flex">
                                                <button type="button" class="cancel-btn" aria-label="Close"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <button type="button" class="delete-btn" aria-label="Close">Yes, Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                       
                          
                        </div>
                    </div>
                   
                </div>
             

            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 p-0">

        <div class="py-5 d-flex justify-content-center account-info-sidebar2">
            <div class="d-flex justify-content-center align-items-center active-toggle">

                <div class="btn-text" data-bs-toggle="modal" data-bs-target="#changePasswordModal" >
                  <p class="m-0 p-4" >Change Password</p>
                
                </div>
    
                <div class="modal fade" tabindex="-1" id="changePasswordModal" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content px-3 changepassowrd-popup-modal">
                            <div class="modal-header align-items-center">
                                <h5 class="modal-title">Change Password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <img src="../../../../assets/img/teambox/icon-close.svg">
                                </button>
                            </div>
                            <div class="modal-body changepasswordbody">
                              
                                <form [formGroup]="changepassword">
                                    <label class="changepassform" for="currentPassword">Current Password</label>
                                    <div class="input-group">
                                      <input [type]="currentPasswordType ? 'password' : 'text'" class="form-control inputpassowrdfield" id="currentPassword"
                                        name="currentPassword" formControlName="oldPass" placeholder="8 character" required>
                                      <span class="input-group-addon eyeicon" (click)="togglePasswordVisibility('currentPassword')">
                                        <i [ngClass]="currentPasswordType ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                      </span>
                                    </div>
                                  
                                    <label class="changepassform" for="newPassword">New Password</label>
                                    <div class="input-group">
                                      <input [type]="newPasswordType ? 'password' : 'text'" class="form-control inputpassowrdfield" formControlName="newPass"
                                        placeholder="8 character" name="newPassword" id="newPassword" required>
                                      <span class="input-group-addon eyeicon" (click)="togglePasswordVisibility('newPassword')">
                                        <i [ngClass]="newPasswordType ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                      </span>
                                    </div>
                                  
                                    <label class="changepassform" for="confirmPassword">Re-Enter New Password</label>
                                    <div class="input-group">
                                      <input [type]="confirmPasswordType ? 'password' : 'text'" class="form-control inputpassowrdfield"
                                        formControlName="confirmPass" placeholder="8 character" id="confirmPassword" name="confirmPassword" required>
                                      <span class="input-group-addon eyeicon" (click)="togglePasswordVisibility('confirmPassword')">
                                        <i [ngClass]="confirmPasswordType ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                                      </span>
                                    </div>
                                  </form>
                                  
                            </div>
                            <div class="modal-footer my-3 border-0">
                                <button type="button" class="update-pass-btn" (click)="saveNewPassword()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>





              </div>
            <div class="d-flex justify-content-center align-items-center active-toggle">
    
                <div class="p-2 switch-text">
                  <p class="m-0 pl-1">Active</p>
                
                </div>
      
                <div class="p-2 switch-toggle">
                  <label class="m-0 switch">
                    <input type="checkbox" class="m-0 form-control-checkbox">
                    <span class="slider"></span>
                  </label>
                </div>
               
              </div>
        </div>
             
    
        </div>
       
    </div>





</sb-layout-dashboard>