<sb-layout-dashboard>
    <sb-top-nav title="My Profile"></sb-top-nav>

    <!-- ****main profile page **** -->

    <div class="toaster" (click)="hideToaster()">
        <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
        <p *ngIf="successMessage" class="success">{{successMessage}}</p>
        <p *ngIf="warningMessage" class="warning">{{warningMessage}}</p>
    </div>


    <div *ngIf="selectedTab == 0" class="row pt-4 pb-5 main-card">
        <div class="col-sm-1"></div>
        <div class="col-sm-7 my-2 main-card-container">
            <div class="row mb-4 teambox-card">
                <div class="col-sm-12">
                    <div class="p-2 mt-3 ml-3 teambox-heading">
                        <h5 class="m-0">Teambox Notifications</h5>
                    </div>
                    <div class="d-flex mb-4 justify-content-end align-items-center toggle-headings">
                        <div class="col-sm-2 col-xs-2 text-center push-noti">
                            <p class="m-0">Push <br />Notification</p>
                        </div>
                        <div class="col-sm-3 col-xs-3 text-center sound-noti">
                            <p class="m-0">Sound <br />Notification</p>
                        </div>
                    </div>
                    <div *ngFor="let notifyData of NotificationDataInit; let ith = index" class="row py-2 justify-content-center">
                        <div class="col-sm-12 d-flex teambox-notificaiton-row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-6 px-2 text-left teambox-notificaiton-content">
                                <h6 class="m-0 pb-2" >{{notifyData.title}}</h6>
                                <p class="m-0 pb-2">{{notifyData.description}}</p>
                            </div>
                            
                            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox" 
                                      [(ngModel)]="notifyData.PushNotificationValue" 
                                      (change)="togglePushNotification($event.target.checked,notifyData.notificationId,notifyData.ID,ith)">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                                <div class="p-2 switch-toggle">
                                    <label class="m-0 switch">
                                      <input type="checkbox" class="m-0 form-control-checkbox" [disabled]="!notifyData?.PushNotificationValue"
                                      [(ngModel)]="notifyData.SoundNotificationValue" 
                                      (change)="toggleSoundNotification($event.target.checked,notifyData.notificationId,notifyData.ID,ith)">
                                      <span class="slider"></span>
                                    </label>
                                  </div>
                            </div>
                        </div>
                    </div>
                        <div class="row py-2 pl-3 pr-4 justify-content-center">
                        <div class="col-sm-10 p-0 mb-5 mt-2">
                            <div class="py-4 px-4 d-flex justify-content-between align-items-center browse-notification-card">
                                <div class="d-block enable-noti-info">
                                    <h5 class="m-0 p-1">Browser Notifications</h5>
                                    <p class="m-0 p-1">Trigger browser notification request to receive notifications about Teambox<br /> alerts as per your preference above</p>
                                </div>
                                <div class="enable-notification-btn">
                                    <button (click)="startNotificationInterval()">Enable Notifications</button>
                                </div>
                            </div>
                          
                    
                    </div>
                    </div>
              
                    </div>
                  
                </div>
                <div class="row pay-card">
                <div class="col-sm-12 p-0 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="col-sm-6 pr-3 pl-0">
                        <div class="billing-card">
                            <div class="text-right p-4 billing-card-head">
                                <img class="dotted-pic" src="../../../../assets/img/profile/dots.png" />
                                <button (click)="selectTab(3)" class="px-4 py-2" [disabled]="settingsService.checkRoleExist('48')">Manage Plan</button>
                            </div>
                            <div class="text-center p-2 txt-head">
                                <h2 class="m-0 p-2">Premium+</h2>
                            </div>
                            <div class="text-center px-4 mx-4 txt-para">
                                <p class="m-0 p-2">Share team, Inbox, Contact, Management Broadcast Management, Template Submission, Chatbot Builder, APIs & Webhooks, Integrations</p>
                            </div>
                            <div class="text-center my-4 billing-history-btn">
                                <button class="p-2"  (click)="selectTab(2)" [disabled]="settingsService.checkRoleExist('48')">
                                <span><img class="px-2" src="../../../../assets/img/profile/bill.svg"></span>
                                    View Billing History
                                <span><img class="px-2" src="../../../../assets/img/profile/next1.svg"></span>
                            </button>
                            </div>
                        </div>
                      
                    </div>
                    <div class="col-sm-6 pl-3 pr-0">
                        <div class="payment-card">
                            <div class="text-right p-4 payment-card-btn">
                                <button class="px-4 py-2" (click)="openAddFundsPopup()" [disabled]="settingsService.checkRoleExist('48')">Add Funds</button>
                            </div>  
        
                            <div class="modal fade" tabindex="-1" id="AddFundsModal"  data-bs-backdrop="static" role="dialog">
                                <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
                                    <div class="modal-content m-0 px-3 addfunds-popup-modal">
                                        <form #addFundsForm="ngForm" (ngSubmit)="addFunds(addFundsSuccess)">
                                        <div class="modal-header align-items-center">
                                            <h5 class="modal-title">Add Funds</h5>
                                            <button (click)="this.addFundsForm.reset()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <img (click)="selectedDiv=6" src="../../../../assets/img/teambox/icon-close.svg">
                                            </button>
                                        </div>
                                        <div class="modal-body text-center addfundsbody">
                                          
                                          <p class="head">Enter Amount</p>
                                    
                                         <div class="d-flex pt-3 pb-5 justify-content-end align-items-center">
                                                
                                              <h1 class="mx-2 ml-4 my-0">₹ </h1>
                                              <input type="text" pattern="^[^+\-.,?*%$eE]+$" 
                                              onKeyPress="if(this.value.length==4) return false; return /^[0-9]$/.test(event.key)" 
                                              name="enter-amount" id="enter-amount"
                                              [required]="true"
                                              [(ngModel)]="selectedAmount" />
                                
                                        </div>
                                         <p class="m-0 amount-para">You can add minimum amount of 500</p>
                                       
                                           <div class="col-sm-12 pt-5 d-flex justify-content-around align-items-center amount-body">  
                                            <div class="sel-amount" (click)="fillAmount(500,0)" [class.sel-amount-active]="selectedDiv === 0">500</div>
                                           <div class="sel-amount" (click)="fillAmount(750,1)" [class.sel-amount-active]="selectedDiv === 1">750</div>
                                           <div class="sel-amount" (click)="fillAmount(1000,2)" [class.sel-amount-active]="selectedDiv === 2" >1000</div>
                                        </div>
                                        <div class="col-sm-12 pb-5 d-flex justify-content-around align-items-center amount-body">  
                                          <div class="sel-amount"  (click)="fillAmount(2000,3)" [class.sel-amount-active]="selectedDiv === 3">2000</div>
                                            <div class="sel-amount" (click)="fillAmount(3000,4)" [class.sel-amount-active]="selectedDiv === 4">3000</div>
                                            <div class="sel-amount" (click)="fillAmount(5000,5)" [class.sel-amount-active]="selectedDiv === 5">5000</div>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-center my-4 border-0">
                                            <button type="submit" [disabled]="addFundsForm.invalid" [class.disabled]="addFundsForm.invalid" class="addfunds-continue-btn">Continue</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <ng-template #addFundsSuccess let-c="close" let-d="dismiss">
                                    <div class="modal-content m-0 p-3 addFundsSuccess">
                                        <div class="modal-header align-items-center addFundsSuccessheader">
                                            <img src="../../../../assets/img/profile/wallet-icon.svg" alt="">
                                            </div>
                                        <div class="modal-body px-5 text-center addFundsSuccessbody">
                                                <h5 class="m-0">Funds Added ₹{{selectedAmount}}</h5>

                                                <p class="mb-4 mt-3">New amount is successfully added in your CIP wallet <br />now you can close this dialogue box.</p>
                                                   
                                             <!-- <div class=""><img src="../../../../assets/img/profile/bg2.png" /></div> -->
                                
                                    </div>
                                        <div class="modal-footer pt-0 justify-content-center addFundsSuccessfooter">
                                              
                                                <button type="button" aria-label="Close" (click)="closeModal()">Ok, Got it</button>
                                            
                                        </div>
                                    </div>
                                
                                </ng-template>
                            <div class="text-center p-2">
                                <h6>Available Amount</h6>
                            </div>
                            <div class="text-center px-4 mx-4">
                                <!-- <h1>${{selectedAmount}}</h1> -->
                                <h1>₹{{!availableAmount ? 0 : availableAmount}}</h1>
                            </div>

                            <div *ngIf="availableAmount <=250 " class="text-center low-balance">
                                <p class="mb-1">Low Balance!<br /> For uninterrupted service, add funds</p>
                            </div>
                            <div class="d-flex text-center m-0 justify-content-around align-items-center billing-history-btn">
                                <button class="" (click)="selectTab(1)" [disabled]="settingsService.checkRoleExist('48')">
                                <span><img class="px-2" src="../../../../assets/img/profile/wallet-icon.svg"></span>
                                     Wallet Usage
                                <span><img class="px-2" src="../../../../assets/img/profile/next1.svg"></span>
                            </button>
                               
                            </div>
                            <div class="col-sm-12 p-0 pb-2">
                                <div class="py-5 d-block payment-method">
                         
                                    <!-- <img src="assets/img/profile/wallet-usage-bg.png" /> -->
                                
                                  <h6 class="px-5 ml-2">Payment Method</h6>
                                  <div class="px-5 d-flex justify-content-between align-items-center creditcarddetails">
                                    <div class="card-details">
                                        <div class=" m-2 mb-3 cardholder-name">
                                            <p class="m-0">Tony Nguyen</p>
                                        </div>
                                        <div class=" m-2 cardholder-detail">
                                            <p class="m-0 card-number">MasterCard •••• 3268</p>
                                            <p class="m-0 expiry">Checking - Expires 12/25</p>
                                        </div>
                    
                                      </div>
                    
                                      <div class="deleteCard-details">
                                        <button class="del-popup-btn" [disabled]="settingsService.checkRoleExist('48')" data-bs-toggle="modal" data-bs-target="#deleteModal"><img class="p-0" src="../../../../assets/img/profile/delete.svg"></button>
                                      </div>
                                      <div class="modal fade" tabindex="-1" id="deleteModal"  data-bs-backdrop="static" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content delete-modal">
                                                <div class="modal-body alertmessage">
                                                    <p class="label pb-2">Do you really want to delete <br /> this Saved Card ?</p>
                                                    <div class="delete_group_button d-flex">
                                                        <button type="button" class="cancel-btn" aria-label="Close"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="delete-btn" aria-label="Close">Yes, Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                               
                                  
                                </div>
                            </div>
                           
                        </div>
                     
        
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-1 my-4"></div>
        <div class="col-sm-3 mt-4 px-0 account-info-sidebar1">

          
                <div class="p-0 profile-container">
                <div class="profile-heading">
                  <img id="profile-bg" src="/assets/img/profile/profile-bg.png">
                  <img id="pic-bg" src="assets/img/profile/bg image.png">
                  <img *ngIf="profilePicture" id="profile-pic" src="{{profilePicture}}?{{randomNumber}}"/>

                  <div *ngIf="!profilePicture" class="image-container">
                    <span class="initials" > {{ firstLetterFirstName }}{{ firstLetterLastName }} </span>
                  </div>
             
    
                </div>
                    <div class="d-flex justify-content-center picture-crop-button-container">
                        <div class="text-center picture-crop-button">
                         <input type="file" id="myFileInput" (change)="fileChangeEvent($event)" (click)="$event.target.value=null" accept="image/jpeg, image/png" />
                         <label for="myFileInput" class="m-0 fileLabel" ><img src="../../../../assets/img/profile/Fill 4.svg" /></label>    
                        </div>
                    </div>
                  

                    <div class="modal fade" tabindex="-1" id="pictureCropModal" data-bs-backdrop="static" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content px-3 pictureCropPopupModal">
                                <form>
                                <div class="modal-header align-items-center">
                                    <h5 class="modal-title">Crop & Adjust</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        <img src="../../../../assets/img/teambox/icon-close.svg"/> 
                                    </button>
                                </div>
                                <div class="modal-body p-4 text-center pictureCropPopupbody">
                                  <div class="pic-cont">
                                           <image-cropper
                                            [imageChangedEvent]="imageChangedEvent"
                                            [maintainAspectRatio]="true"
                                            format="jpg"
                                            (imageCropped)="imageCropped($event)">
                                            </image-cropper>
                                    </div>
                      
                                </div>
                                <div class="modal-footer justify-content-end my-2 border-0">
                                    <button type="button" (click)="saveCroppedProfilePicture()" class="update-pass-btn">Save</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                
                 </div>
                  <div class="col-sm-12 d-block mb-5 text-center profile-content1">
                    <h4 class="text-capitalize mb-3">{{Name}}</h4>
                    <p>{{EmailId}}</p>
                    <p>+{{PhoneNumber}}</p>   
                  </div>
                  
                    <div  class="mx-5 sidebar-team">
                        <div class="p-2 heading">
                           <p class="m-0">Team</p>
                        </div>
                        <div  class="d-flex align-items-center team">
                            <img class="p-2" src="assets/img/profile/team.svg">
                            <p *ngIf="teamName != null" class="m-0 p-1">{{teamName}}</p>
                            <p *ngIf="teamName == null" class="m-0 p-1">No data available</p>
                        </div>
                    </div>
                    <div class="mx-5 sidebar-role">
                        <div class="p-2 heading">
                            <p class="m-0">Role</p>
                        </div>
                        <div class="d-flex align-items-center team">
                            <img class="p-2" src="assets/img/profile/role.svg">
                            <p *ngIf="roleName" class="m-0 p-1">{{roleName}}</p>
                            <p *ngIf="!roleName" class="m-0 p-1">No data available</p>
                        </div>
                    </div>
                    <div class="py-5 d-flex justify-content-center account-info-sidebar2">
                        <div class="d-flex justify-content-center align-items-center active-toggle">
            
                            <div class="btn-text" data-bs-toggle="modal" data-bs-target="#changePasswordModal" >
                              <p class="m-0 p-0" >Change Password</p>
                            
                            </div>
                
                            <div class="modal fade" tabindex="-1" id="changePasswordModal" data-bs-backdrop="static" role="dialog">
                                <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
                                    <div class="modal-content m-0 px-3 changepassowrd-popup-modal">
                                        <div class="modal-header align-items-center">
                                            <h5 class="modal-title">Change Password</h5>
                                            <button (click)="this.changepassword.reset()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <img src="../../../../assets/img/teambox/icon-close.svg">
                                            </button>
                                        </div>
                                            <form [formGroup]="changepassword" (ngSubmit)="saveNewPassword()">
                                                <div class="modal-body changepasswordbody">
                                                <label class="changepassform" for="currentPassword">Current Password</label>
                                                <div class="input-group">
                                                  <input [type]="currentPasswordType ? 'password' : 'text'" class="form-control inputpassowrdfield" id="currentPassword"
                                                    name="currentPassword" formControlName="oldPass" placeholder="8 character" autocomplete="currentPassword"
                                                    [ngClass]="{'is-invalid':changepassword.get('oldPass')!.hasError('pattern') && changepassword.get('oldPass')!.touched}">
                                                  <span class="input-group-addon eyeicon" (click)="togglePasswordVisibility('currentPassword')">
                                                    <i [ngClass]="currentPasswordType ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                                  </span>
                                                  <div *ngIf="changepassword.get('oldPass')!.invalid && changepassword.get('oldPass')!.touched">
                                                    <div class="change-pass-error-message" *ngIf="changepassword.get('oldPass')!.hasError('pattern')">
                                                        ! Password must contain at least eight characters, at least one number and both lower and uppercase letters and special characters.
                                                    </div>
                                                  </div>
                                                </div>
                                              
                                                <label class="changepassform" for="newPassword">New Password</label>
                                                <div class="input-group">
                                                    <input [type]="newPasswordType ? 'password' : 'text'" class="form-control inputpassowrdfield" formControlName="newPass"
                                                           placeholder="8 character" name="newPassword" id="newPassword" autocomplete="newPassword"
                                                           [ngClass]="{'is-invalid':changepassword.get('newPass')!.hasError('pattern') && changepassword.get('newPass')!.touched}">
                                                    <span class="input-group-addon eyeicon" (click)="togglePasswordVisibility('newPassword')">
                                                        <i [ngClass]="newPasswordType ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                                    </span>
                                                    <div *ngIf="changepassword.get('newPass')!.invalid && changepassword.get('newPass')!.touched">
                                                        <div class="change-pass-error-message" *ngIf="changepassword.get('newPass')!.hasError('pattern')">
                                                            ! Password must contain at least eight characters, at least one number and both lower and uppercase letters and special characters.
                                                        </div>
                                                    </div>
                                                    <div *ngIf="changepassword.get('newPass')!.invalid && changepassword.get('newPass')!.touched">
                                                        <div class="change-pass-error-message" *ngIf="changepassword.get('newPass')!.hasError('mismatch')">
                                                            ! Passwords do not match please type again carefully.
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                                <label class="changepassform" for="confirmPassword">Re-Enter New Password</label>
                                                <div class="input-group">
                                                  <input [type]="confirmPasswordType ? 'password' : 'text'" class="form-control inputpassowrdfield"
                                                    formControlName="confirmPass" placeholder="8 character" id="confirmPassword" name="confirmPassword" autocomplete="confirmPassword"
                                                    [ngClass]="{'is-invalid':changepassword.get('confirmPass')!.hasError('mismatch') && changepassword.get('confirmPass')!.touched}">
                                                  <span class="input-group-addon eyeicon" (click)="togglePasswordVisibility('confirmPassword')">
                                                    <i [ngClass]="confirmPasswordType ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                                  </span>
                                                  <div *ngIf="changepassword.get('confirmPass')!.invalid && changepassword.get('confirmPass')!.touched">
                                                    <div class="change-pass-error-message" *ngIf="changepassword.get('confirmPass')!.hasError('mismatch')">
                                                        ! Passwords do not match please type again carefully.
                                                    </div>
                                                  </div>
                                                </div>
                                                
                                            </div>
                                                <div class="modal-footer my-3 border-0">
                                                    <button type="submit" [disabled]="changepassword.invalid" [class.disabled]="changepassword.invalid" class="update-pass-btn">Update</button>
                                                </div>
                                            </form>
                                    </div>
                                </div>
                            </div>
            
                          </div>
                        <div class="d-flex justify-content-center align-items-center active-toggle" >
                
                            <div class="p-2 switch-text">
                              <p class="m-0 pl-1">Active</p>
                            
                            </div>
                  
                            <div class="p-2 switch-toggle">
                              <label class="m-0 switch">
                                <input type="checkbox" class="m-0 form-control-checkbox"  [disabled]="settingsService.checkRoleExist('50')"
                                  (change)="toggleActiveState($event.target.checked)"
                                  [(ngModel)]="isActive"
                                  >
                                <span class="slider"></span>
                              </label>
                            </div>
                           
                          </div>
                    </div>
                 </div>

                     
        </div>


     <!-- **** wallet usage page**** -->
     <div *ngIf="selectedTab == 1" class="">

        <sb-walletusage (selectab)="selectedTab=$event"></sb-walletusage>

    </div>

     <!-- **** billing history  page**** -->
     <div  *ngIf="selectedTab == 2" class="">
        <sb-billinghistory (selectab)="selectedTab=$event"></sb-billinghistory>
    </div>

       <!-- **** manageplan page**** -->
       <div *ngIf="selectedTab == 3"class="">
        <sb-manageplan (selectab)="selectedTab=$event"></sb-manageplan>
    </div>

</sb-layout-dashboard>