@import 'styles/variables.scss';

.container{
    background-color: white;
    height: 100vh;
}

.float-left {
    float: left !important;
    margin: 0px 120px 0px -25px;
    width: 570px;
    height: 100vh;
}

label {
    display: inline-block;
    margin: 25px 0px 0px -10px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.form-control {
    display: block;
    width: 87%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color:  #7A86A1;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 10px 0px 0px -10px;
}
.log h3 .b{
    margin: 20px 0px 0px 0px;
}
.font-weight-light {
    font-weight: 600 !important;
    margin: 30px 0px 0px 0px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    line-height: 50px;
}
.btn {
    cursor: pointer;
    width: 325px;
    border-radius: 22px;
    margin: 20px 0px 0px -10px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;

}
.btn:hover {
    cursor: pointer;
    width: 325px;
    
    border-radius: 22px;
    margin: 20px 0px 0px -10px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;

}
.text{
    margin: 135px 0px 0px 0px;
    
}
.text a{
    color: #6149CD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
h5, .h5 {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    color: #7A86A1;
    margin: 5px 0px 0px -10px;
}
.ml-1, .mx-1 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #6149CD;
    line-height: 30px;
}
a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #7A86A1;
    line-height: 30px;
}
.text1{
    margin: 110px 0px 0px 0px;
}
.form-control.is-invalid {
    border: 1px solid red;
    background: padding-box;
}

.text-danger {
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 101px 0 0 -367px;
}

#error-message{
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

 .modal-content {
  
    position: relative;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 196px;
    top: 190px;
    left: 115px;
    pointer-events: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
    outline: 0;
    border: none;
}

.modal-dialog .modal-content .modal-body {
    font-family: "Manrope";
    font-size: 14px;
    top: 40px;
    font-weight: 700;
    text-align: center;
}

.modal-dialog .modal-content .deletefile .btn9 {
  border: 1px solid #695F9724;
    position: absolute;
    font-size: 11px;
    font-family: "Manrope";
    background-color: #dc3545;
    color: #ffffff;
    margin: -58px 22px 15px 112px;
    border-radius: 15px;
    width: 80px;
    height: 32px;
    cursor: pointer;
   

}


.modal-dialog .modal-content .deletefile .btn99 {
    border: 1px solid #695F9724;
    position: absolute;
    font-size: 11px;
    font-family: "Manrope";
    color: #ffffff;
    background: #F23B3B;
    width: 93px;
    top: 70%;
    left: 52%;
    height: 33px;
    border-radius: 14px;
    cursor: pointer;
 
}

@media screen and (max-width:1366px) {
 
    .form-control {
 
    width: 100%;
}

.text1 {
    margin: 72px 0px 0px -59px;

  }

  .btn {
    
    margin: 20px 0px 0px -10px;
    width: 292px; 
    font-size: 14px;
  } 

  .btn:hover {

    width: 292px;
    font-size: 14px;

}
  h5, .h5 {
    font-size: 12px;

 }

 .text-danger {
        margin: 101px 0 0 -307px;
 }
}

//******  media query for smaller laptop screen *******//

@media screen and (max-width:1280px) {
 
    .form-control {
 
    width: 111%;
}

.text1 {
    margin: 55px 0px 0px -66px;

  }

  .btn {
    
    margin: 20px 0px 0px -10px;
    width: 255px; 
    font-size: 14px;
  } 

  .btn:hover {

    width: 255px;
    font-size: 14px;

}

label {
    font-size: 14px;
}
  h5, .h5 {
    font-size: 12px;

 }

 .text-danger {
        margin: 101px 0 0 -247px;
 }
}
 
