<sb-layout-auth>
    <div class="con">
    <div class="row  col-lg-12 d-flex">
        <div class="col-lg-5 m-0 p-0">
            <span *ngIf="channelDomain =='web'" class="tag-line">An effective tool for<br /> marketing with WhatsApp</span>
            <span *ngIf="channelDomain !='web'" class="tag-line">Supercharge Your Marketing<br /> and Customer Engagement</span>
        <img *ngIf="channelDomain == 'api'" src="assets/img/img-reg.png" class="float-left"  >
        <img *ngIf="channelDomain == 'web'" src="../../../../assets/img/Engagezilla-Login-Signup.png" class="float-left"  >
      <span class="copyright-text">&copy; Copyright 2024 {{brandService.getBrandConfig()?.brandName || (channelDomain =='web' ? 'Engagezilla' : 'Engagekart')}}</span>
        </div>
        <div class="col-lg-1"></div>
          <sb-loader [isLoading]="isLoading"></sb-loader>
                
                <div class="col-lg-5 mt-4">
                    <div class="mt-4 ml-5 pl-5">
 
                            <div class=" text"><a routerLink="/login" style="display: inline-flex" > < Back to sign in</a></div>

                            <div class="log"><h3 class="font-weight-light" >Forgot Password?</h3>
                            </div>
                            <div class=""><a  style="display: inline-flex" > <h5>Enter the email address you used when you joined and we'll <br /> send you instructions to reset your password. </h5> </a></div>
                            <form [formGroup]="forgetpassword">
                                <div class= "ko">
                                    <div class="">
                                          <label for="floatingInputGrid">Your Email</label>
                                    
                                      <input  type="text-right mr-3" class="form-control" 
                                      [ngClass]="{'is-invalid' :submitted && forgetpassword.controls.email_id.errors}"
                                       placeholder="Enter" aria-label="City" formControlName="email_id" id="email_id">
                                    </div>
                                    <div *ngIf= "submitted && forgetpassword.controls.email_id.errors" class="text-danger">
                                        ! Invalid Email Id
                                      </div>
                                </div>

                            <div class="modal fade" id="emailsentinfo" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
                                <div class="modal-dialog emailsentinfo-dialog">
                                    <div class="modal-content emailsentinfo">
                        
                                        <div class="modal-body emailsentinfo-body">
                                            An email has been sent with a link <br /> to reset your password!
                                        </div>
                                        <div class="modal-footer emailsentinfo-footer">
                                            <button type="button" class="btn-secondary" data-bs-dismiss="modal">Ok, Got it</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    
                                <div id="error-message"></div>

                            <div class="form-group d-flex align-items-center justify-content-between   col-sm-12" >
                            <a class="btn btn" id="nn" (click)="onSubmit()">Submit</a>
                            </div>
                            </form>

                            <div class="text1" *ngIf="keyword =='staging'"><a routerLink="/register" style="display: inline-flex">New User?<h6 class="ml-1"> Create an account</h6></a></div>
    
                </div>
                
         </div>
          
  
      </div>
    </div>
</sb-layout-auth>
