@import 'styles/variables.scss';

.con{
    background-color: white;
    height: 100vh;
}

.float-left {
    // float: left !important;
    // margin: 0px 120px 0px -25px;
    width: 100%;
    height: 100vh;
}

label {
    display: inline-block;
    // margin: 25px 0px 0px -10px;
    color: #000000;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 15px;
}

.form-control {
    display: block;
    width: 63%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: 400;
    line-height: 1.5;
    color:  #7A86A1;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    // margin: 10px 0px 0px -10px;
}
// .log h3 .b{
//     margin: 20px 0px 0px 0px;
// }
.font-weight-light {
    font-weight: 700 !important;
    // margin: 30px 0px 0px 0px;
    font-size: 30px;
    font-family: 'Manrope';
    color: #000000;
    line-height: 50px;
    margin-left: -0.66rem;
}
.btn {
    cursor: pointer;
    // width: 325px;
    border-radius: 22px;
    // margin: 20px 0px 0px -10px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    width: 51%;
    margin-top: 1rem;
    margin-left: -1.33rem;
}
#nn{
    width: 67%;
}
.btn:hover {
    cursor: pointer;
    // width: 325px;
    border-radius: 22px;
    // margin: 20px 0px 0px -10px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;

}
.text{
    // margin-top: 13.7rem;
    margin-top: 13rem; 
}
.text a{
    color: #6149CD;
    font-family:  'Manrope';
    font-size: 14px;
    font-weight: bold;
    margin-left: -0.66rem;

   
}
.ko{
    margin-left: -0.6rem;

}

h5, .h5 {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Manrope';
    color: #7A86A1;
    margin-left:-0.69rem;
    // margin: 5px 0px 0px -10px;
}
.ml-1, .mx-1 {
    font-size: 14px;
    font-family:  'Manrope';
    font-weight: bold;
    color: #6149CD;
    line-height: 30px;
}
a {
    font-size: 14px;
    font-family:  'Manrope';
    color: #7A86A1;
    line-height: 30px;
}
// .text1{
//     margin: 110px 0px 0px 0px;
// }
.form-control.is-invalid {
    border: 1px solid red;
    background: padding-box;
}

.text-danger {
    color: #dc3545 !important;
    font-size: 11px;
    font-family:  'Manrope';
    font-weight: 600;
}

#error-message{
    color: #dc3545 !important;
    font-size: 11px;
    font-family:  'Manrope';
    font-weight: 600;
}

 .modal-content {
  
    position: relative;
    display: flex;
    flex-direction: column;
    // width: 310px;
    // height: 196px;
    top: 190px;
    left: 115px;
    pointer-events: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
    outline: 0;
    border: none;
}

.modal-dialog .modal-content .modal-body {
    font-family: "Manrope";
    font-size: 14px;
    top: 40px;
    font-weight: 700;
    text-align: center;
}

.modal-dialog .modal-content .deletefile .btn9 {
  border: 1px solid #695F9724;
    position: absolute;
    font-size: 11px;
    font-family: "Manrope";
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
   

}


.modal-dialog .modal-content .deletefile .btn99 {
    border: 1px solid #695F9724;
    position: absolute;
    font-size: 11px;
    font-family: "Manrope";
    color: #ffffff;
    background: #F23B3B;
    left: 52%;
    border-radius: 14px;
    cursor: pointer;
 
}
.text1{
    
    margin-left: -9rem;
    margin-top: 13rem;

}

@media screen and (max-width:1536px){
    .text1 {
        margin-left: -9rem;
        margin-top: 9rem;
}
}
@media screen and (max-width:1280px){
    .text1{
    margin-left: -9rem;
    margin-top: 7.7rem;
}
.text {
    margin-top: 9rem;
}
.form-control {
  
    width: 82%;

}
#nn{
    width: 89%;
}
}