.setting-card {
    border-radius: 30px;
    padding: 20px 30px 0px 30px;
    box-shadow: 2px 13px 54px #695F9714;    
    min-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 93%;
}

.default-actions-heading{
    font-size: 22px;
    font-weight: bold;
}

.sub-heading{
    font-size: 16px;
    font-weight: 600;
}

.sub-contents{
    padding: 6px 0px 0px 0px;
}

.sub-contents p{
    font-size: 13px;    
    color: #7A86A1;
}

.grid-view{
    display: grid;
    gap: 2vw 4vw;
    grid-template-columns: auto auto;
}

.white-btn{
    background: white;
    box-shadow: 1px 8px 29px #695F9724;
    border-radius: 19px;
    color: #6149CD;
    border: none;
    padding: 6px 15px;
    font-weight: 600;
}

.account-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    border-radius: 14px;
    padding: 4px 30px;
    border: 1px;
    color: white;
    font-weight: 400;
   }

   .account-btn.disabled {
    background:grey;
   }

   .default-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
   }

   .disable{
    border-radius: 12px;
    background: #EBEDF1;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
}

.enable{
    border-radius: 12px;
    background: #E2F4EC;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
}

.flex-row{
    display: flex;
    justify-content: space-between;
}

  // Welcome greeting popup form

.welcomGreeting {
    background:#FFF4F2;
}

.welcomGreeting .modal-title{
    color: #6149CD;
    font-size: 16px;
    font-weight: 700;
  }

  .modal-body.welcomGreeting {
    height: 65vh;
    overflow: scroll;
  }

  .modal-body.welcomGreeting::-webkit-scrollbar {
    display: none;
}
  
.btn-close  img {
    width: 10px;
    height: 10px;
}

.btn-close {
    background: #ffffff;
    margin: 2px;
    outline: none;
    border-radius: 16px;
    padding: 6px 13px;
    border: 1px solid #ebebeb;
    float: right;
   }


   .msg-head h6 {
    margin: 0;
    font-size: 12px;
    font-weight: 800;
    color: #000000;
   }

   .msg-head span {
    color:#7A86A1;
    font-size: 12px;
    font-weight: 300;
   }

  .sel-type-btns label.m-0 {
    font-size: 13px;
    color: #7A86A1;
    font-weight: 300;
  }

  .welcomGreeting .modal-footer {
    border: none;
  }


  // Custom styles for radio buttons

input[type="radio"] {
    display: none;
}

.sel-type-btns label {
    display: inline-block;
    position: relative;
    padding-left: 30px; 
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.sel-type-btns label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #C0BDCC; 
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: border-color 0.3s, background-color 0.3s;
}

 input[type="radio"]:checked + label::before {
    border: 3.5px solid #6149CD; 
    background-color: #FFFFFF;
}


.radio-label {
  font-weight: 700!important;
  color: #000000!important;
}

.override-container .custom-control-label {
  color: #7A86A1;
  font-weight: 300;
  font-size: 13px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6149CD;
  border: none;
 }
 
 .custom-control-label {
  cursor: pointer;
 }

// type image

.sel-type-image {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sel-type-text textarea {
  padding: 0 14px 0 14px;
  padding-top: 12px;
  font-size: 13px;
}

textarea::placeholder {
  padding-left: 14px;
  padding-top: 12px;
  font-size: 13px;
}

.sel-type-image p {
  color: #000000;
  font-weight: 700;
  padding-top: 65px;
}


.sel-type-link input {
  padding: 0 14px 0 14px;
  font-size: 13px;
}

// type video 


.video-player {
    width: 100%;
    max-width: 600px; /* Set a maximum width */
    margin: 0 auto; /* Center the video player */
    padding: 10px;
}

.video-player video {
    width: 100%;
    height: 208px;
    display: block;
    outline: none;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
}

.main-preview-type-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
}

.main-preview-type-image span {
  cursor: pointer;
  float: right;
}

.main-preview-type-video {
  position: absolute;
  right: 4%;
  z-index: 99999;
  cursor: pointer;
}

// type doc

.sel-type-image.document-selected {
  position: relative;
}

.main-preview-type-doc {
  position: absolute;
  right: 0;
  top: 5%;
  z-index: 99999;
  cursor: pointer;
}

.document-selected {
  background: #FFEAE6;
}

.document-preview {
  font-size: 11px;
  margin-top: 10px; 
  text-align: center;
  word-wrap: break-word;
}

.doc-preview{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}


  // input type file

  input[type="file"] {
    display: none;
}

.type_label {
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 19px;
  opacity: 1;
  width: 45px;
  height: 45px;
  background: #6149CD;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 99999;
  left: 46%;
}

.type_label img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.sel-type-video {
  position: relative;
}

.sel-type-video label {
  position: absolute;
  top: 35%;
  left: 45%;
}
 
// input type url

.sel-type-link label {
  margin: 0;
  font-size: 12px;
  font-weight: 800;
  color: #000000;
}

.sel-type-link input[type="url"] {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    height: 45px;
    width: 387px;
    outline: 0;
    
}

.text-danger {
  font-size: 12px;
}

// sidebar 


.sidebar-content {
  height: 900px;
  overflow: scroll;
  width: 100%;
}


.sideBar .sideBar-footer{   
    border:none; 
    position: fixed;
    bottom: 0;    
    padding: 15px;
    text-align: center;
    background-color: #FBF9FE;
  }

  .sideBar{
    height: 100%;
    width: 28% !important;
    position: fixed;
    z-index: 1030;
    top: 0;
    right: 0;
    background-color: #FBF9FE;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .disable-btn{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695F9724;
    border: 1px solid #E9E9EA;
    border-radius: 19px;
    padding: 7px 10px;
  }

  .disable-btn label{
    margin: 0px;
  }

  .disable-btn span{
    font-weight: 600;
  }

  #linken{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    height: 45px;
    width: 387px;
    outline: 0;
    font-family: "Manrope";
    padding-left: 1.2rem;
}

.checkBox{
  border-radius: 10px !important;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #ebebeb;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
 }

 .checkBox:checked {
  background-color: gray;
  appearance: auto;
  -webkit-appearance: auto;
}


// attributes modal
.custom_modal.bg-pink {
  background: #FFF4F2 0% 0% no-repeat padding-box;
  box-shadow: 4px 22px 54px #695F971A;
  border-radius: 30px;
}

.custom_modal.sm {
  width: 108%;
  margin-left: -4%;
}
.quickResponse {
  width: 80%;
  margin: 10px 10%;
}

.quickResponse .search-box {
  width: 100%;
}

.quickResponse .items_list {
  padding: 10px;
  max-height: 350px;
  overflow: auto;
}

.quickResponse .items_list .item {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 18px;
  width: 100%;
  margin: 10px 0px;
  min-height: 100px;
  padding: 1rem;
  cursor: pointer;
}

.quickResponse .items_list .attribute {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 18px;
  width: 50%;
  margin: 10px 0px;
  padding: 5px 15px;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

.quickResponse .items_list .attribute p {
  font-size: 12px;
  color: #000000;
  margin: 0;
}

.quickResponse .items_list .attribute img {
  width: 15px;
  margin-right: 5px;
}
.quickResponse .items_list .item p {
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 10px;
}

.quickResponse .items_list .item p.label,
.quickResponse .items_list .item p span {
  font-size: 14px;
  color: #6149CD;
  font-weight: 800;
}

.quickResponse .bottom_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: 10px 5%;
}

.quickResponse .bottom_section .close-box {
  width: 50px;
}


.quickResponse .bottom_section .close-box,
.quickResponse .bottom_section .text-box-readonly {
  background: transparent;
  border: 1px solid #EBEBEB;
  border-radius: 19px;
  opacity: 1;
  height: 35px;
  color: #7A86A1;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 400;
}

.search-box {
  border: 1px solid #EBEBEB;
  border-radius: 19px;
  opacity: 1;
  height: 35px;
  padding-left: 35px;
  color: #7A86A1;
  font-size: 12px;
  width: 70%;
  background: #FFFFFF url(/assets/img/teambox/search-icon.svg) no-repeat 10px;
}

.search-box.active {
  width: 60%;
  margin-right: 10px;
}

.attrmodal.modal-content {
  box-shadow: none!important;
}
.close-box {
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #EBEBEB;
  border-radius: 15px;
  opacity: 1;
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px;
  min-width: 35px;
  cursor: pointer;
}

.close-box img {
  width: 10px;
}

.close-box img.setting_icon {
  width: 17px;
}
.modal-title {
  color: #6149CD;
  font-size: 14px;
  height: 35px;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: center;
  flex-direction: column;
}

// richtexteditor styles //
.e-toolbar-wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.e-richtexteditor .e-rte-toolbar.e-rte-tb-float, 
.e-richtexteditor .e-rte-toolbar.e-toolbar.e-extended-toolbar.e-rte-tb-float {
  position: absolute;
}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
  word-break: break-all;
}

.e-toolbar, .e-toolbar .e-toolbar-items, .e-toolbar.e-toolbar-item.e-tbar-btn {
  background: #fff;
  margin-top: 1px!important;
}
.e-richtexteditor .e-rte-character-count {
  color: #000;
  font-size: 12px;
  opacity: 1;
  position: absolute;
  right: 64px;
  z-index: 100;
  top: -26.5px;
  margin: 0;
  padding: 0;
  height: fit-content;
  font-family: 'Manrope';
}

.e-toolbar.e-toolbar-item.e-tbar-btn {
  border-radius: 35% !important;
  border: 1px solid #e2e2e2 !important;
  background: none !important;
}

.e-control {
  font-family: 'Manrope';
}

.e-toolbar, .e-toolbar.e-toolbar-items, .e-toolbar.e-toolbar-item.e-tbar-btn{
  background: #fff;
  margin-top: 5px;
}

.e-toolbar, .e-toolbar .e-toolbar-items,
.e-toolbar .e-toolbar-item .e-tbar-btn {
    background: #fff;
}

.e-toolbar .e-toolbar-item .e-tbar-btn {
    border-radius: 35% !important;
    border: 1px solid #e2e2e2 !important;
    background: none !important;
}

.e-richtexteditor .e-rte-toolbar .e-toolbar-item .e-icons {
    color: #7A86A1 !important;
    font-weight: 800 !important;
    font-size: 10px !important;
}

#defaultRTE_toolbar {
    text-align: center;
    top: 0;
}

#defaultRTErte-view {
  height: 450px!important;
}

.e-richtexteditor .e-rte-emojipicker-popup.e-popup.e-popup-open {
  top: -750% !important;
}


// sideBar //
.message_data {
  width: 70%;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  padding: 10px 10px 10px 10px;
  border-radius: 0 0 12px 12px;
  color: #030303;
  font-size: 11px;
  font-weight: 500;
  word-wrap: break-word;
  // overflow: scroll;
  // overflow-x: hidden;
  // height: 200px;
}

.message_data.preview {
  border-radius: 12px 12px 12px 12px;
}

.message_type{
  width: 70%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #EBEBEB;
  border-radius: 12px 12px 0 0;
}

.message_type_box {
  border-radius: 12px!important;
}

.message_type.vid {
  height: 100%;
}

.video.message_type video {
  height: 100%;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
#video-background {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.spinner-border {
  top: 70px;
  left: 165px;
  position: absolute;
  z-index: 99999;
  width: 4rem;
  height: 4rem;
  color: azure;
}

.account-white-btn {
  background: white;
  border-radius: 18px;
  padding: 8px 13px;
  box-shadow: 1px 8px 29px #695F9724;
  border: 1px;
  height: fit-content;
 }

 // input field autoreply 

 .sel-type-link.autoreply .form-control {
  border: 1px solid #EBEBEB;
  border-radius: 19px;
  height: 40px;
 }

 .sel-type-link.autoreply .form-control::placeholder {
  color: #7A86A1;
  font-weight: 350;
 }

 .sel-type-link input[type="url"]:disabled {
  background: #EBEBEB;
  color: #7A86A1;
} 


 // delete popup

.delete-modal{
  width: 355px;
  height: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cancel-btn{
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  width: auto;
  height: 35px;
  color: #7A86A1;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 0 15px;
 }

 .delete-btn{
  box-shadow: 1px 8px 29px #695F9724;
  border-radius: 20px;
  width: auto;
  height: 35px;
  border: 0px;
  color: #fff;
  padding: 0px 25px;
  font-size: 12px;
  font-weight: 800;
  margin: 0 0 0 15px;
  background: #FF3636;
 }

 .alertmessage p{
  font-size: 0.875rem;
  padding: 15% 0;
  margin: 0;
  font-weight: 700;
  text-align: center;
 }

 .delete_group_button {
  padding: 10% 0%;
 }

 .del-popup-btn {
  background: white;
  border-radius: 18px;
  padding: 10px 14px;
  box-shadow: 1px 8px 29px #695F9724;
  border:none;
  outline: none;
 }

 .active-toggle {
  height: 45px;
  width: 185px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 8px 29px #695F9724;
  border: 1px solid #E9E9EA;
  border-radius: 19px;
}

.active-toggle .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.active-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 36px;
  background-color: #6149cd30;
  transition: 0.3s ease-out;
  border-radius: 10px;
}
.active-toggle .switch input {
  display: none;
}

.active-toggle .slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  transition: 0.3s ease-out;
  border-radius: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0.35px 2px 7px #6149CD30;
}

.active-toggle input:checked+ .slider {
  background-color: #6149cd;
}


.active-toggle input:checked + .slider::before {
  transform: translateX(15px);
}

.switch-text p {
  font-weight: 600;
  font-weight: 0.875rem;
}


