<div class="setting-card" >
    <div class="default-actions-heading pb-4">Default Messages</div>
    <div class="grid-view p-2 px-4">
        <div class=" ">
            <div class="flex-row">
                <span class="sub-heading">Welcome Greeting</span>
                <span class="disable">Diabled</span>
            </div>
            <div class="sub-contents">
                <p>A default welcome message will be sent to the customer in case a chat is initiated but no keyword is matched.</p>
                <button class="white-btn">
                    <img src="../../../../assets/img/teambox/add.svg" class="pr-1">
                    Configure</button>
                
            </div>
        </div>
    
        <div class=" ">
            <div class="flex-row">
                <span class="sub-heading">No Agent Reply</span>
                <span class="enable">Enable</span>
            </div>
            <div class="sub-contents">
                <p>Configure a reply message to be sent during working hours if customer waits more than the defined minutes here</p> 
                <button class="white-btn">
                    <img src="../../../../assets/img/teambox/add.svg" class="pr-1">
                    Configure</button>               
            </div>
        </div>
    
        <div class=" ">
            <div class="flex-row">
                <span class="sub-heading">Out of Office</span>
                <span class="disable">Diabled</span>
            </div>
            <div class="sub-contents">
                <p>When the customer messages out of business working hours, and no keyword is matched, customer will be sent a message as defined here.</p>
                <button class="white-btn">View & Manage</button>  
            </div>
        </div>
        
        <div class=" ">
            <div class="flex-row">
                <span class="sub-heading">No Customer Reply Reminder</span>
                <span class="disable">Diabled</span>
            </div>
            <div class="sub-contents">
                <p>Configure a reminder message if the chat is still open and it’s 23 hours since last message from the customer while a reply is awaited from him</p>
                <button class="white-btn">View & Manage</button>
            </div>
        </div>
        
        <div class=" ">
            <div class="flex-row">
                <span class="sub-heading">All Agents Offline</span>
                <span class="disable">Diabled</span>
            </div>
            <div class="sub-contents">
                <p>Configure a different message to be sent when its business working hour and all the agents are offline</p>
                <button class="white-btn">View & Manage</button>
            </div>
        </div>
        
        <div class=" ">
            <div class="flex-row">
                <span class="sub-heading">No Customer Reply Timeout</span>
                <span class="disable">Diabled</span>
            </div>
            <div class="sub-contents">
                <p>Configure a message to be sent to the customer if no reply is received for the defined minutes here before the chat is marked closed</p>
                <button class="white-btn">View & Manage</button>
            </div>
        </div>
    </div>

    <div class="default-footer">
        <button type="button" class="account-btn" >Save</button>
    </div>


</div>
