<sb-layout-dashboard>
	<!-- <sb-dashboard-head title="Smart Replies" [hideBreadcrumbs]="true"></sb-dashboard-head> -->
    <ng-container *ngIf="showTopNav">
  <sb-top-nav title="Smart Replies"></sb-top-nav>
</ng-container>

		<div class="content-header">
			<div class="content-head d-flex">
				<div class="">
				<form class="d-none d-md-inline-block form-inline"
					[formGroup]="searchForm" (ngSubmit)="search()">
					<div class="input-group gf ">

						<input class="form-control" type="text" placeholder="Search" aria-label="Search"
							aria-describedby="basic-addon2" name="ID" id="ID" formControlName="ID" />

						<img src="assets/img/search.png">
					</div>
				</form>
				</div>
					<div class="">
						<button class="btn btn-block add-smartrep-btn" data-bs-toggle="modal" data-bs-target="#smartrepliesModal" ><i class="fa fa-plus"></i> 
						Add Smart Reply</button>
	        	</div>
			</div>
			</div>

		<div class="row r1">
		<div *ngFor="let reply of replies " class="card d-flex" (click)="toggleSideBar()"  (click)="getRepliesByID(reply)">
			<div class="card-body gy-2">
				<h6 class="id">Id:{{ reply.ID }}</h6>
				<h5 class="card-title">{{reply.Title}}</h5>

				<p [innerHTML]="reply.Description" class="card-text">
				</p>
				<h6 class="card-subtitle mb-2 text-muted">{{reply.MatchingCriteria}}</h6>
				<div class="card1 d-flex">
					<div class="card-text1">
						<p>{{reply.KeywordCount}}</p>
						<h6>Total Keywords</h6>
					</div>
					<div class="card-text2">
						<p>{{reply.ActionCount}}</p>
						<h6>Reply Action</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div *ngIf="showSideBar" id="sidebar" class="sidebar">
		<button type="button" class="btn5 btn-close" (click)="toggleSideBar()"><img src="assets/img/teambox/icon-close.svg"></button>

		<div class="collumn d-flex">
			<h6>Id:</h6>
			<h5>{{repliesData.ID}}.</h5>
			<div class="line"></div>
			<h6>Created on:</h6>
			<h5>{{items.CreatedDate | date: 'dd MMM yyyy'}}</h5>
			<div class="line"></div>
			<h6>Edited on:</h6>
			<h5>{{items.ModifiedDate | date: 'dd MMM yyyy'}}</h5>
		</div>
		<h4 ><img id="Edit-icon" src="assets/img/Edit-icon.png" routerLink="/dashboard/setting">Help & Support</h4>
		<div class="row d-flex">
			<h6 class="text-justify">{{items.HelpAndSupport}}.</h6>
		</div>
		<h3 ><img id="Edit-icon" src="assets/img/Edit-icon.png" data-bs-toggle="modal" data-bs-target="#smartrepliesModal">Keywords & Criteria </h3>
		<div class="row">
			<div class="box" *ngFor="let values of repliesData.Keyword">
				<p>{{values}}</p>
			</div>

		</div>


		<div class="box1 d-flex">
			<h6>Matching Criteria:</h6>
			<h5>{{repliesData.MatchingCriteria}}</h5>
		</div>
		<div *ngFor="let item of repliesData.ActionList">

		</div>
		<h3><img id="Edit-icon" src="assets/img/Edit-icon.png" data-bs-toggle="modal" data-bs-target="#smartrepliesModal">Reply Actions</h3>
		<div class="box4">
			<h3>Message</h3>
			<p [innerHTML]="items.Message" ></p>
		</div>
		<div class="box2">
			<h3>Action</h3>
			<div class="bb d-flex">
				<b>{{items.Name}}</b>
				<p [innerHTML]="items.Value"></p>
			</div>
		</div>
		<div class="footer">
			<button class="delete-btn"  data-bs-toggle="modal" data-bs-target="#Delete"><img src="assets/img/delete.png"></button>
		</div>
	</div>


	<div class="modal fade" id="Delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			
			<div class="modal-body">
				Do you really want to delete<br /> this Smart Reply
			</div>
			<div class="deletefile d-flex" >
			  <button type="button" class="btn9 btn-secondary" data-bs-dismiss="modal">Cancel</button>
			  <button type="button" class="btn99 btn-primary" data-bs-dismiss="modal">Yes, Delete</button>
		  </div>
		</div>
		</div>
	  </div>

	  <div class="modal fade" tabindex="-1" id="smartrepliesModal" role="dialog">
        <div class="modal-dialog" id="mod-da" role="document">
            <div class="modal-content delete-token-modal" id="delete-tok">
                <div class="modal-body alertmessage">
					<sb-addSmartReplies>

					</sb-addSmartReplies>
                </div>
				</div>
		</div>
    </div>




</sb-layout-dashboard>
