* {
    font-family: 'Manrope';
}

.modal-dialog.smartreplies-modal {
    max-width: 1000px!important;
}

.toaster {
    float: left;
    width: auto;
    position: fixed;
    right: 50px;
    top: 65px;
    z-index: 9999;
}

.toaster p {
    padding: 8px;
    font-size: 14px;
    color: #fff;
    margin: 0;
    min-width: 250px;
    text-align: center;
    border-radius: 20px;
    font-weight: 500;

}

.toaster p.error {
    background-color: red;

}

.toaster p.success {
    background-color: green;
}

.toaster p.warn {
    background-color: orange;
}

.link {
    color: skyblue;
    font-size: 16px;
}

h1 {
    margin-top: 1.5rem !important;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin: 0px 0px 10px 20px;
}


.active .bs-stepper-circle {
    background: #6149cd 0% 0% no-repeat padding-box;
    box-shadow: 2px 13px 30px #6149cd42;
    border-radius: 17px;
    opacity: 1;
    color: #ffffff;
    border-radius: 15px;
}

.bs-stepper {
    border-radius: 30px;
    font-family: 'Manrope';
    display: grid;
    align-content: space-evenly;
}

#logins-part-trigger {
    margin: 0;
    padding: 0;
}

#close-btn {
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #ebebeb;
    font-family: 'Manrope';
    font-size: 13px;
    width: 3.4%;
    height: 35px;
}

.heading {
    font-size: 22px;
    letter-spacing: -0.55px;
    font-weight: 800;
    width: 100%;
}

.bs-stepper-circle {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 15px;
    color: #7a86a1;
    text-align: center;
    opacity: 1;
}

.overflo {
    height: 13rem;
    overflow-y: scroll;
}

.active .bs-stepper-label {
    display: inline-block;
    margin: 0.25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #6149cd;
    opacity: 1;
}

.box {
    background-color: #fff4f2;
    border-radius: 30px;
    opacity: 1;
    margin-left: 27%;
}

.box h5 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 81%;
    height: calc(1.5em + 0.75rem + 2px);
    font-family: "Manrope";
    font-size: 1rem;
    line-height: 1.5;
    color: #7a86a1;
    font-weight: 600;
    background-color: #ffffff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #ebebeb;
    border-radius: 17px;
    opacity: 1;
    margin: 0px 0px 0px 36px;
    padding: 0 157px 0 24px;
}

.ff textarea {
    margin: 25px 0px 0px 15px;
    height: 150px;
    resize: none;
    color: #7a86a1;
    padding: 16px 0 0 6px;
    width: 383px;
}

.btn5 {
    cursor: pointer;
    float: right;
    background: #6149cd 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695f9724;
    border-radius: 17px;
    opacity: 1;
    width: 124px;
    height: 38px;
    color: #ffffff;
    border: none;
    font-size: 14px;
}

.action {
    position: absolute;
    margin: -40px 0px 0px 40px;
}

.box1 {
    background-color: #fff4f2;
    border-radius: 30px;
    opacity: 1;
    margin-left: 17%;
    font-family: 'Manrope';
}

.box1 h5 {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    padding: 17px 0px 0px 30px;
}

.box1 span {
    font-size: 16px;
    color: #7a86a1;
}

.line1 {
    background-color: #ebebeb;
    width: 100%;
    height: 2px;
    margin: 0% 0px 6px 0px;
}

.keywords {
    width: fit-content;
    height: 32px;
    margin: 5px 12px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}

.row .keywords .keytext {
    width: auto;
    height: auto;
    font-weight: 400;
    padding: 4px 0 0 20px;
    margin: 5px 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.row .keywords .keytext .rmv-btn {
    border: none;
    background-color: #ffffff;
    outline: none;
    margin-left: 15px;
    color: #7a86a1;
}

.form-check-label {
    margin-bottom: 0;
    font-size: 19px;
    color: #000000;
    font-weight: 700;
}

.form-check {
    position: relative;
    display: block;
}

input[type='radio'],
input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
    margin: 7px 0px 0px -20px;
}

h4 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 0px 0px 30px;
    font-weight: bold;
}

.box7 {
    width: 651px;
    height: 598px;
    background-color: #fff4f2;
    border-radius: 30px;
    margin: 30px 0px 0px 28%;
}

.interactions {
    position: relative;
    width: 651px;
    left: 24%;
    height: 598px;
    border-radius: 30px;
}



.child-interaction-2 {
    position: absolute;
    width: inherit;
    height: 200px;
    bottom: 0;
    background-color: #ffffff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.input-area {
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-area .text-box {
    border: 0px;
    color: #7a86a1;
    font-size: 12px;
    width: 100%;
    resize: none;
    // -webkit-appearance: none;
}

// .input-area .text-box:focus,
// button:focus,
// input:focus {
//     outline: solid 0px #000;
// }
.message-buttons button:focus{
    border: 2px solid #6149cd !important;
}

.assign-buttons button:focus{
    border: 2px solid #6149cd !important;
}

.input-area button {
    background: #6149cd 0% 0% no-repeat padding-box;
    box-shadow: 2px 14px 32px #6149cd1a;
    border-radius: 35%;
    width: 45px;
    height: 45px;
    border: 0px;
}

.input-area button img {
    width: 20px;
}

.inout_options {
    display: flex;
}

.inout_options button {
    width: 25px;
    height: 25px;
    border-radius: 35%;
    border: 1px solid #e2e2e2;
    background: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.inout_options button img {
    width: 10px;
}

.inout_options button span {
    transform: matrix(0.98, 0.18, -0.18, 0.98, 0, 0);
    color: #7a86a1;
    opacity: 1;
    text-align: center;
}

// .message-box {
// width: 379px;
// height: 271px;
// border: 1px solid #ebebeb;
// background: #FFFFFF 0% 0% no-repeat padding-box;
// border-radius: 19px;
// opacity: 1;
// }

.box7child {
    max-height: 78%;
    overflow-y: scroll;
}

.msg-del-btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: #fff4f2;
}

.msg-edit-btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: #fff4f2;
}

.editable {
    border: 2px solid #6149cd;
}

.non-editable {
    border: none;
}

.reply {
    width: 651px;
    height: 157px;
    margin-left: 16px;
    color: #7a86a1;
    font-family: 'Manrope';
    position: absolute;
    top: 60%;
}

#replyText {
    overflow: hidden;
    width: 95%;
    height: 96px;
    font-family: 'Manrope';
}

.box7 label p {
    width: 100%;
    height: 100%;
    padding: 0px 0px 47px 12px;
    color: #000000;
    border: none;
    margin: -2px 0px 0px -10px;
    text-align: justify;
    font-size: 14px;
}

.box7 label {
    width: 60%;
    padding: 0px 0px 47px 12px;
    color: #6149cd;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #695f9724;
    border-radius: 20px;
    margin: 20px 0px 0px 19px;
    background-color: #ffffff;
}

.box7 .action1 {
    background: #f6efff 0% 0% no-repeat padding-box;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    width: 60%;
    height: 50px;
    margin: 20px;
    color: #6149cd;
    padding: 0px 0px 0px 10px;
}

.box7 .action1 p {
    color: #000000;
    font-weight: bold;
}

.box7 .form-control {
    margin: 147px 0px 0px 0px;
    width: 100%;
    height: 95px;
    padding: 0px 0px 47px 12px;
    color: #7a86a1;
}

.btn4 {
    position: absolute;
    background-color: #6149cd;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 56px;
    text-align: center;
    right: 76px;
    top: 166px;
}

.btn4:focus {
    outline: none;
}

.box7 .btn3 {
    position: absolute;
    width: 100%;
    height: 37px;
    margin: -43px 0px 0px 13px;
}

.form-floating {
    margin: 0px 0px 0px 20px;
}

.form-select {
    border: 1px solid #695f9724;
    color: #6149cd;
    border-radius: 20px;
    width: 120px;
    padding: 0px 9px;
}

#form-box {
    display: block;
    width: 60%;
    height: calc(1.5em + 0.75rem + 2px);
    font-family: "Manrope";
    font-size: 1rem;
    line-height: 1.5;
    color: #7a86a1;
    font-weight: 600;
    background-color: #ffffff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #ebebeb;
    border-radius: 17px;
    opacity: 1;
    margin: 0px 0px 0px 0px;
}

.box2 {
    position: relative;
    justify-content: center;
    align-items: center;
}

.box2::after {
    content: attr(data-required);
    position: absolute;
    right: 199px;
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%);
    color: #7a86a1;
    font-weight: 600;
}

.box2 .btn7 {
    width: 62px;
    background-color: #6149cd;
    border: none;
    color: #ffffff;
    border-radius: 18px;
    cursor: pointer;
    height: 2rem;
}

.dropdown {
    margin: -36px 0px 0px 102%;
    position: absolute;
}

.dropdown .btn6 {
    background-color: #ffffff;
    color: #6149cd;
    border-radius: 17px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ebebeb;
    width: 122px;
}
.sidebar .box4{
    word-wrap: break-word;
   .box4-Media{
    display: flex;
    justify-content: center;
    img{
        max-width: 280px !important;
        height: auto;
        object-fit: contain;
    }
    
   }
}
.dropdown-menu li {
    position: relative;
    color: #6149cd;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 14px;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #6149cd;
}

.dropdown-item1 {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #000000;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #6149cd;
    margin: 0px 0px 0px 8px;
    font-weight: 400;
    font-size: 14px;
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown ul {
    background-color: #ffffff;
    border-radius: 20px;
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}

.dropdown-menu .submenu .form-check {
    margin: 0;
    height: 24px;
    border: none;
}

.dropdown-menu .submenu .form-check input {
    margin: 0px 0px 0px -35px;
    height: 22px;
}

.dropdown-menu .submenu .form-check label {
    color: #000000;
    font-size: 16px;
    margin: 0px;
    border: none;
}

.btn9 {
    border: none;
    background-color: #fff;
}

.assign-conversation,
.update-name,
.resolve-conversation,
.add-tag {
    background: #f6efff;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    opacity: 1;
    max-width: 50%;
    max-height: 20%;
    margin-left: 1.5em;
    margin-top: 0.5em;
}

.update-name {
    max-width: 17%;
}

.add-tag {
    max-width: 35%;
}

#msgbox-head1 {
    text-align: left;
    letter-spacing: 0px;
    color: #6149cd;
    font-size: 11px;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#msgbox-body1 {
    font-size: 11px;
}

#msgbox-body1 span {
    font-weight: 400;
    font-size: 10px;
    color: #000;
}

#msgbox-body2 {
    font-size: 11px;
    font-weight: 500;
}

/*** richtexteditor ***/

.e-content p {
    margin: 0 !important;
    width: auto !important;
    display: contents !important;
}

.input-area .popup-dialog {
    max-width: 100%;
    margin-top: -260px;
    margin-left: 10px;
    cursor: pointer;
}

.input-area .popup-dialog.mention {
    max-width: 220px;
    margin-top: -120px;
    margin-left: 200px;
}

.input-area .popup-dialog .tabs {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.input-area .popup-dialog .tabs .char_block {
    padding: 10px;
}

.input-area .popup-dialog .tabs .char_block.active {
    border-bottom: 2px solid red;
}

.rteEmoticons {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.rteEmoticons .char_block {
    margin: 5px;
}

.rteEmoticons .char_block:hover {

    background: #6149CD;
}


.e-toolbar-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.e-richtexteditor.e-rte-tb-expand {
    border: 0;
}

.e-richtexteditor.e-rte-tb-expand .e-rte-content {
    height: 70px !important;
    margin-top: 0px !important;
    width: 366px !important;

}

.e-toolbar,
.e-toolbar .e-toolbar-items,
.e-toolbar .e-toolbar-item .e-tbar-btn {
    background: #fff;
    margin-top: 5px;
}

.e-toolbar .e-toolbar-item .e-tbar-btn {
    border-radius: 35% !important;
    border: 1px solid #e2e2e2 !important;
    background: none !important;
}
.e-toolbar .e-toolbar-item .e-tbar-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.e-richtexteditor .e-rte-toolbar .e-toolbar-item .e-icons {
    color: #7a86a1 !important;
    font-weight: 800 !important;
    font-size: 10px !important;
}

.e-richtexteditor .e-rte-emojipicker-popup.e-popup.e-popup-open {
    top: -510% !important;
    left: 100% !important;
    height: 243px;
    overflow: scroll;
}

.modal-backdrop {
    z-index: -1;
}


.e-toolbar-wrapper {
    height: 0px !important;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    overflow-y: scroll;
}

#defaultRTErte-view {
    border: none;
    font-family: 'Manrope';
}

.e-icons {
    font-family: 'e-icons';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

.e-icon-btn {
    height: 28px !important;
    padding: 0 1.5px !important;
    margin: 4px 0 !important;
}

.title.err-msg {
    display: flex;
    justify-content: space-between;
}

#title-err-msg {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    margin-left: 42%;
    color: #dc3545;
}

.keyword-err-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#keyword-err-msg {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    margin-left: 42%;
    color: #dc3545;
}

.smrply-err-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#smrply-err-msg {
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    margin-left: 42%;
    color: #dc3545;
}

.popfooter.row.text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.smart-reply-success p {
    text-align: center;
    letter-spacing: 0px;
    color: #7A86A1;
    font-weight: 600;
    opacity: 1
}

.dd img {
    padding: 40px 0px 0px 44%;
}

.dd {
    background-color: #FFF4F2;
    border-radius: 20px;

    .btn-close {
        img {
            width: 10px;
            padding: 0px 0px 0px 0%;
        }
    }
}

.dd h4 {
    padding: 0px 0px 0px 42%;
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 22px;
}

.dd p {
    text-align: center;
    letter-spacing: 0px;
    color: #7A86A1;
    opacity: 1;
}

.dd .ss img {
    padding: 0px;
}

.dd .text {
    margin: -60px 0px 0px 0px;
}

.dd .btn {
    width: 100px;
    height: 38px;
    background-color: #6149CD;
    color: white;
}

.dd .btn1 {
    width: 100px;
    height: 38px;

}

.smartreplies-failed {

    display: inline;
    height: 175px;
    ;
    pointer-events: auto;
    background-color: #FFF4F2;
    border-radius: 20px;
    box-shadow: 4px 22px 54px #695F971A;
    outline: 0;
    border: none;
}

.btn.btn1 {
    width: 100px;
    height: 38px;
    margin-left: 40%;
    background-color: #6149CD;
    color: white;
}

.smart-replies-failed.para p {
    text-align: center;
    margin-top: 35px;
    font-weight: 600;
    color: #000000;
}

.bs-stepper {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    margin: 0;
}

.bs-stepper-label {
    font-size: 14px;
}

.popup-dialog.ContactOption {
    left: 32%!important;
    top: 84%!important;
    img{
            width: 20px;
            margin-right: 5px;
    }
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 0px 0px 0px !important;
    }
    span:hover{
        background-color: #FFF4F2;
    }
}

  .select_box{
	background: #fff url("/assets/img/teambox/dropdown.svg") no-repeat;
	background-size: 9px;
	background-position: center right 12px;
	}


.btn9 {
    left: 7%;
    height: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 13%;
}


.heading {
    font-size: 17px;
}

.box {
    width: 449px;
    padding-bottom: 25px;
}

.bs-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46rem;
}

.box h5 {
    font-size: 15px;
    padding: 20px 0px 0px 30px;
}

.bs-stepper-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control::placeholder {
    font-size: 13px;
}

.form-control {
    font-size: 13px;
    font-weight: 400;
}

.box1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.box1 h5 {
    font-size: 14px;
}

.box1 span {
    font-size: 10px;
    padding-left: 121px;
    overflow-y: scroll;
}

.box2::after {
    font-size: 12px;
    font-weight: 400;
}

#line1-h4 {
    font-size: 14px;
    margin: 0;
}

.form-check {
    margin: 11px 0px 24px 84px;
}

.form-check-label {
    font-size: 0.8rem;
    margin: 8px;
    font-weight: 700;
}

.form-check-label-img {
    height: 11px;
    margin-top: 0px;
    cursor: pointer;
}

.ff textarea {
    margin: 9px 0px 0px 16px;
    height: 132px;
    color: #7a86a1;
    padding: 15px 12px 0 23px;
    width: 360px;
}

input[type='radio'] {
    width: 15px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 3px solid #6149cd;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    background: #6149cd;
}

input[type='radio']:checked {
    border-color: #6149cd;
}

input[type='radio'],
input[type='checkbox'] {
    margin: 9px 0px 0px -14px;
}

.role {
    margin-right: 80px;
    margin-left: 20px;
    font-weight: normal;
}

.checkbox label {
    margin-bottom: 20px !important;
}

.roles {
    margin-bottom: 40px;
}

.box7 {
    width: 575px;
    height: 319px;
    margin-left: 22%;
}

.box7 label {
    width: 60%;
    padding: 7px 0px 47px 19px;
    font-size: 13px;
    font-weight: 600;
    margin: 20px 0px 0px 21px;
}

#replyText {
    width: 87%;
    height: 98px;
    margin-left: -13px;
}

.btn4 {
    border-radius: 22px;
    height: 35px;
    right: 117px;
    top: 169px;
    font-size: 13px;
}

.desc-radio-input {
    position: absolute;
    top: 21.3rem;
    right: 32.8rem;
    width: 255px;
    height: 128px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    opacity: 1;
}

#p-title {
    font-size: 12px;
    color: #6149cd;
    font-weight: 700;
    opacity: 1;
    margin-top: 21px;
    margin-left: 26px;
}

#p-body {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    color: #7a86a1;
    padding: 0 27px 0 25px;
}

#radio-close-btn {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 6%;
    right: 6%;
    background: #ffffff;
    border-radius: 15px;
    opacity: 1;
    border: 1px solid #ebebeb;
    font-family: 'Manrope';
    font-size: 13px;
}

.desc-radio-input-1 {
    position: absolute;
    top: 21.7rem;
    right: 17.8rem;
    width: 255px;
    height: 128px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    opacity: 1;
}

.desc-radio-input-2 {
    position: absolute;
    top: 21.7rem;
    right: 2.8rem;
    width: 255px;
    height: 128px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    opacity: 1;
}

.interactions {
    position: relative;
    width: 560px;
    left: 22.4%;
    border-radius: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 25rem;
}

::-webkit-scrollbar {
    display: none;
}

.child-interaction-1 {
    overflow-y: scroll;
    height: 16rem;
}

.child-interaction-2 {
    position: absolute;
    width: inherit;
    height: 137px;
    bottom: 0;
    border: 1px solid #f0f0f0;
    border-radius: 0px 0px 30px 30px;
}

.input-area .text-box {
    height: 70px;
}

.input-area button {
    background: #6149cd 0% 0% no-repeat padding-box;
    box-shadow: 2px 14px 32px #6149cd1a;
    border-radius: 17px;
    width: 64px;
    height: 44px;
    border: 0;
    top: 24px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 13px;
}

.inout_options {
    display: flex;
    margin-left: 6px;
}

.inout_options button {
    width: 30px;
    height: 30px;
    border-radius: 35%;
    border: 1px solid #e2e2e2;
    background: none;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.inout_options button img {
    width: 10px;
    margin-left: 3px;
}

.inout_options button span {
    transform: matrix(0.98, 0.18, -0.18, 0.98, 0, 0);
    color: #7a86a1;
    opacity: 1;
    text-align: center;
}

.interactions .child-interaction-1 .message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.interactions .child-interaction-1 .message-box {
    margin: 9px 16px;
    border: 1px solid #ebebeb !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
    font-size: 12px !important;
    color: #6149cd;
    font-weight: 700;
    font-family: "Manrope";
    word-wrap: break-word;
}

#msgbox-head {
    font-size: 12px;
    color: #6149cd;
    font-weight: 700;
    font-family: 'Manrope';
}

.interactions .child-interaction-1 .message-box p {
    color: #000000;
    font-weight: 400;
    font-family: 'Manrope';
    margin: 8px;
    font-size: 12px;
    // max-height: 180px;
    overflow-y: scroll;
}

textarea:focus,
input:focus {
    outline: none;
}

.msg-edit-btn img {
    width: 12px;
    height: 12px;
}

.msg-del-btn img {
    width: 12px;
    height: 13px;
}


#add-action-dropdown {
    position: absolute;
    top: 63%;
    right: 21%;
    background: #ffffff;
    font-size: 11px;
    text-decoration: none;
    font-family: "Manrope";
    font-weight: 700;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    width: 18%;
    height: 24%;
    color: #6149cd;
}

#add-action-dropdown img {
    width: 12%;
    margin-right: 5px;
}

#add-action-dropdown:hover {
    cursor: pointer;
    color: #6149cd;
    box-shadow: 1px 8px 29px #695f9724;
    opacity: 1;
    font-weight: bolder;
}

.popup-dialog {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f9730;
    border-radius: 20px;
    position: absolute;
    max-width: 185px;
    margin-top: 10px;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
    top: 40%;
    right: 2%;
}

.popup-dialog.AssignOption {
    margin-top: 30px;
    width: 34%;
    inset: auto 30px 60px auto;
    // right: 11px;
}


.popup-dialog.autoreply {
    // max-width: 31%;
    // margin-top: 0;
    max-width: 37%;
    max-height: 37%;
    margin-top: 4em;
}

.popup-dialog.NoteOption {
    width: 100px;
    margin-left: 0;
    position: absolute;
    left: -5px;
    top: 34px;
}

.popup-dialog p {
    color: #000;
    float: left;
    width: 100%;
    margin: 0;
    font-size: 12px;
}

.popup-dialog p span {
    padding: 8px 5px;
    width: 100%;
    margin: 10px 0px 0px 10px;
    font-size: 11px;
    font-weight: 500;
    cursor: pointer;
}

.popup-dialog p span:hover {
    color: #000000;
    font-weight: 500;
}

.popup-dialog.AssignOption p .agentName:hover {
    color: #000000;
    font-weight: 500;
    background: url("/assets/img/teambox/icon-selected.svg") no-repeat #FFF4F2 right center padding-box;
    background-size: 12px;
    background-position: right 60%;
}

.initials {
    background: #F6EFFF;
    text-align: center;
    color: #000;
    padding: 0 !important;
    border-radius: 50%;
    width: 34px !important;
    height: 30px;
    line-height: 30px;
    margin: 0px 7px 0 10px;
}

.popup-dialog p.label {
    font-weight: 600;
    color: #6149cd;
    padding: 5px 15px;
    font-size: 11px;
}

.popup-dialog p.label:hover {
    background: #fff;
}

.popup-dialog p:hover {
    background: #fff4f2;
}

.popup-dialog p.active {
    background: #fff4f2;
    background: #fff4f2 url('/assets/img/teambox/icon-selected.svg') no-repeat;
    background-size: 12px;
}

.popup-dialog img {
    margin-right: 5px;
    margin-top: 15px;
}

.popup-dialog .icon {
    width: 20px;
}

.popup-dialog .thumbnail {
    width: 30px;
    border-radius: 50%;
}

.popup-dialog.AssignAction {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f9730;
    border-radius: 20px;
    padding: 10px 0px;
    position: absolute;
    max-width: 200px;
    margin-top: 10px;
    max-height: 208px;
    overflow: auto;
    z-index: 9;
    inset: auto 20px 60px auto;
    // top: 58%;
    // right: 2%;
}

.popup-dialog.AddTag {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f9730;
    border-radius: 20px;
    // padding: 10px 0px;
    position: absolute;
    max-width: 178px;
    min-width: 178px;
    // margin-top: 10px;
    max-height: 272px;
    overflow: auto;
    z-index: 9;
    inset: auto 0 -168px auto;
    // top: 34%;
    // right: 2%;
}

.addTag {
    padding: 9px 9px;
    width: 100%;
    font-size: 11px;
}

.addTag:hover {
    background: #fff4f2;
}

.popup-dialog.RemoveTag {
    max-width: 178px;
    max-height: 272px;
    top: 34%;
    right: 4%;
}

.removeTag {
    padding: 5px 16px;
    width: 100%;
    font-size: 11px;
}

.color-dots {
    width: 8px;
    height: 7px;
    display: block;
    border-radius: 50%;
}

.child-int-1 {
    background-color: #fff4f2;
}


.form-control-checkbox:checked {
    background-color: #6149CD;
    color: #fff;
}

.modal-header {
    border: 0px !important;
}

.modal-header-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-title {
    color: #6149CD;
    font-size: 14px;
    height: 35px;
    display: flex;
    font-weight: 800;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    flex-direction: column;
}


.custom_modal.bg-pink {
    background: #FFF4F2 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
    position: fixed;
    z-index: 9999;
}

.custom_modal.sm {
    width: 30%;
    left: 35%;
    top: 10%;
    z-index: 9999;
}

.custom_modal.lg {
    width: 50%;
    left: 25%;
    top: 10%;
    padding: 1rem;
}

.custom_modal.showAttributes {
    background: #FFF4F2;
}

.custom-file-upload {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    color: #7A86A1;
    font-size: 14px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
}


.droparea {
    border: 1px solid #bbb;
}

.custom-file-upload input[type="file"] {
    display: none;

}

.custom-file-upload img.icon {
    width: 10px;
    margin: 16px 10px 0px 0px;
}

.teambox-white {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
    position: fixed;
    width: 60%;
    left: 20%;
    top: 5%;
    z-index: 9999;
}

.attachmentboxcon {
    min-width: 890px;
}

.teambox-white .modal-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}

.attachmentboxbody {
    padding: 10px 100px 50px 100px;
    .header-line{
        display: flex;
        align-items: center;
    }
}

.attachmentboxbody h4 {
    color: #000;
    font-size: 16px;
    font-weight: 800;
    margin-right: 200px;
}

.attachmentbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.attachmentbox_left {
    background-color: #FFF4F2 !important;
    border-radius: 20px !important;
    padding: 20px;
    width: 48%;
    border: 2px dashed #EBEBEB;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.attachmentbox_left img.icon {
    max-width: 80px;
    margin-bottom: 1rem;
}

.attachmentbox_left p {
    font-weight: 800;
    color: #000;
    font-size: 14px;
}

.attachmentbox_left p span {
    font-weight: 600;
    color: #7A86A1;
    font-size: 12px;
}

.attachmentbox_right {
    background-color: #ffffff !important;
    border-radius: 20px !important;
    padding: 20px;
    width: 48%;
    box-shadow: 4px 22px 54px #695F971A;
    display: flex;
}

.quickResponse {
    width: 80%;
    margin: 10px 10%;
}

.quickResponse .search-box {
    width: 100%;
}

.quickResponse .items_list {
    padding: 10px;
    max-height: 350px;
    overflow: auto;
}

.quickResponse .items_list .item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    width: 100%;
    margin: 10px 0px;
    min-height: 100px;
    padding: 1rem;
    cursor: pointer;
}

.quickResponse .items_list .attribute {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    width: 50%;
    margin: 10px 0px;
    padding: 5px 15px;
    cursor: pointer;
    display: block;
    font-weight: 500;
}

.quickResponse .items_list .attribute p {
    font-size: 12px;
    color: #000000;
    margin: 0;
}

.quickResponse .items_list .attribute img {
    width: 15px;
    margin-right: 5px;
}

.quickResponse .items_list .item p {
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.quickResponse .items_list .item p.label,
.quickResponse .items_list .item p span {
    font-size: 14px;
    color: #6149CD;
    font-weight: 800;
}

.quickResponse .bottom_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 10px 5%;
}

.modal-dialog.editTemplate,
.modal-dialog.editTemplateMedia,
.modal-dialog.TemplatePreview {
    max-width: 800px;
}

.edit_media {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-content.editTemplateMedia {
    background: #FFF4F2;
}

.quickResponse .bottom_section .close-box {
    width: 50px;
}

.quickResponse .bottom_section .close-box,
.quickResponse .bottom_section .text-box-readonly {
    background: transparent;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    height: 35px;
    color: #7A86A1;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 400;
}

.close-box {
    height: 35px;
    width: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 8px;
    cursor: pointer;
}


.close-box img {
    width: 10px;
    height: 10px;
    cursor: pointer;
}


.search-box {
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    height: 35px;
    padding-left: 35px;
    color: #7A86A1;
    font-size: 12px;
    width: 70%;
    background: #FFFFFF url(/assets/img/teambox/search-icon.svg) no-repeat 10px;
}

.search-box.active {
    width: 60%;
    margin-right: 10px;
}

.chat-search-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    height: 35px;
    padding-left: 35px;
    color: #7A86A1;
    font-size: 12px;
    width: 10%;
    margin-left: 10px;
    background: transparent url("/assets/img/teambox/search-icon.svg") no-repeat 10px;
}

.chat-search-box.active {
    width: 50%;
}


.template_list {
    height: 340px;
    overflow: auto;
    padding: 0.5rem 1.5em;
}

.section_filter {
    display: flex;
    display: flex;
    gap: 20px;
    margin-top: 27px;
    margin-left: -2px;
    margin-bottom: 17px;
}

#video-background {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.doc-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145px;
    width: 225px;
    border: 1px solid #EBEBEB;
    border-radius: 15px 15px 0 0;
}

.template_box {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFF4F2;
}

.insertTemplate {
    height: 650px;
    background: #FFF4F2;
}

.template_name {
    margin: 0;
}

.template_box {
    width: 100%;
    min-height: 0;
    margin: 0;

}

.input_group_btn {
    text-align: right;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.template_btn .btn {
    height: 25px;
    background: #fff;
    font-size: 10px;
    font-weight: 600;
}

.template_text.templateText {
    border-radius: 15px;
}

.template_box .inner_box .template_text {
    border: none;
}

.template_box .inner_box img.template_img {
    height: 140px;
}

.template_box .inner_box {
    margin-bottom: 10px;
}

.template_box label.container {
    width: 100%;
    padding-left: 22px;
}

.template_details_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.template_details_section_left {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 35%;
}

.template_details_section_right {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 60%;
    background: #FFF4F2;
    border-radius: 24px;
    padding: 1rem;
}

.form_row {
    display: flex;
    flex-direction: revert;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 10px 1rem;
}

.form_row label {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    color: #000000
}

label span {
    font-size: 16px;
    margin-left: 2px;
}

.form_row p.form-control,
.form_row .form-control {
    width: 220px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    border-radius: 15px;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 10px;
}

.form_row p.form-control .form-control.inner {
    border: 0;
    padding: 0;
    margin: 0;
    height: auto;
}

.form_row p.form-control .map_attribute {
    background: #fff url("/assets/img/campaign/arrow-down.svg") no-repeat;
    background-size: 8px;
    background-position: center right 5px;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    padding: 5px 18px 5px 8px;
    font-size: 10px !important;
}

.form_row p.form-control .map_attribute_img {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    padding: 5px 8px;
}

.form_row p.form-control .map_attribute img {
    width: 15px
}

.important_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.important_contact p {
    color: #000;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.important_contact p span {
    color: #7A86A1;
    font-size: 12px;
    font-weight: 400;
}

.important_contact .important_contact_left {
    border: 1px dashed #C9C9C9;
    border-radius: 30px;
    width: 48%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.important_contact .important_contact_left img.icon.xl {
    width: 50px;
    margin-bottom: 10px;
}

.important_contact .important_contact_right {
    border: 0px solid #C9C9C9;
    border-radius: 30px;
    width: 48%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
}

.custom-file-upload {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    color: #7A86A1;
    font-size: 14px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0;
}

.droparea {
    border: 1px solid #bbb;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload img.icon {
    width: 10px;
    margin: 0px 10px 0px 0px;
}

.paper-download {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    color: #000;
    font-size: 12px;
    padding: 5px 20px 5px 1rem;
    border: 1px solid #fff;
    align-items: center;
    font-weight: 300;
}

.paper-download img {
    width: 12px;
    margin-right: 5px;
}

.info_box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 13px;
    border: 1px solid #fff;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 4px 22px 54px #695F971A;
}

.info_box p.info {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 13px;
    color: #080808;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 300;
}

.info_box p.info img {
    width: 12px;
    margin-right: 5px;
}

.important_contact_middle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px 0px;
}

.important_contact_middle p {
    font-weight: 300;
}

.important_contact_middle .left_part {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.important_contact_middle .right_part {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.important_contact_middle .radio_group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 8px 0px;
}

.important_contact_middle .radio_group .container {
    margin-bottom: 10px;
}

.important_contact_middle .radio_group_col {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between
}

.important_contact_middle .radio_group_col .radio_group_col_inner {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.important_contact_middle .radio_group_col .radio_group_col_inner .container {
    max-width: 30%;
}



.edit_template {
    margin-top: 15px;
}

.edit_template .left_part,
.edit_template .right_part {
    width: 48%
}

.edit_template label.container {
    width: 100%;
}

.edit_template .formrow {
    padding: 0;
}

.edit_template .formrow label {
    font-weight: 300;
}

.edit_template .formrow p.form-control {
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    padding: 10px;
    font-size: 10px !important;
    width: max-content;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.edit_template .formrow p.form-control .form-control.inner {
    border: 0;
    margin: 0;
    padding: 0;
    height: auto
}

.cancel-btn {
    background: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    width: auto;
    height: 35px;
    color: #7A86A1;
    padding: 0px 25px;
    font-size: 12px;
    font-weight: 800;

}

.template_preiview {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.template_preiview .template_box {
    width: 300px;
}

#name {
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 19px;
    opacity: 1;
    margin: 0 0 15px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    padding: 16px;
}

#attribute_input {
    border: 0;
    margin: 0;
    padding: 0;
    height: auto;
}


.form-control-checkbox {
    width: 20px;
    margin-right: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #6149CD;
    border-radius: 6px;
    opacity: 1;
    appearance: none;
    display: inline-block;
    position: relative;
    height: 20px;
    cursor: pointer;
}

.submit-btn {
    background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695F9724;
    border-radius: 20px;
    width: auto;
    height: 35px;
    border: 0px;
    color: #fff;
    padding: 0px 25px;
    font-size: 12px;
    font-weight: 800;
    margin-left: 1rem;
}

span {
    font-size: 12px;
}


label.container.container.arddtag {
    width: 0% !important;
    padding-left: 11px !important;
    ;
}


label.container {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    background: transparent;
    display: flex;
    align-items: center;
    align-content: center;
}

.fix-dots {
    margin-top: -2px;
}

.arrow-sign {
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.addTag input:checked~.checkmark {
    background-color: #6149CD;
}

.addTag input:checked~.checkmark.radio {
    background-color: #fff;
    border: 2px solid #6149CD
}


// Custom styles for radio buttons

input[type="radio"] {
    display: none;
}

.template_box_inner label {
    display: inline-block;
    position: relative;
    padding: 25px 0 0 30px;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.template_box_inner label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 1px solid #C0BDCC;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: border-color 0.3s, background-color 0.3s;
}

.custom-control-label {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}


.custom-control-input:checked~.custom-control-label::before {
    background-color: #6149CD;
    border: none;
}

.form-check.template_box_inner label::before {
    left: -22px;
}

.form-check.template_box_inner label {
    padding: 0px 0 0 1px !important;
}

input[type="radio"]:checked+label::before {
    border: 3.3px solid #6149CD;
    background-color: #FFFFFF;
}

.radio-label {
    font-weight: 700 !important;
    color: #000000 !important;
}

// message_meida

.message_meida_preview {
    background: #fff;
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
}

.message_meida_preview_body {
    padding: 0;
    width: 100%;
    text-align: center;
}

.message_meida_preview img.mediaFile {
    width: 300px;
}

.message_meida_preview .input_group_btn {
    margin-right: 1rem;
}

.modal-header {
    border: 0px !important;
}

.modal-header-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal-header,
.modal-body,
.modal-footer {
    font-family: 'Manrope', sans-serif;
}

.close-box {
    height: 35px;
    width: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    opacity: 1;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 8px;
    cursor: pointer;
}

.message-media {
    min-width: 364px;
    min-height: 364px;
    background-size: contain;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.quickResponse.items_list.item {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    width: 100%;
    margin: 10px 0px;
    min-height: 100px;
    padding: 1rem;
    cursor: pointer;
}

.modal-content.showQuickReply {
    background: #FFF4F2 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px rgba(105, 95, 151, 0.1019607843);
    border-radius: 30px;
}

.opt-In-Info-div {
    position: absolute;
    right: 65px;
    top: 20px;
    width: 280px;
    z-index: 1040;
    height: 135px;
    background: #ffffff;
    box-shadow: 4px 22px 54px rgba(105, 95, 151, 0.1019607843);
    border-radius: 28px;
    opacity: 1;
    overflow: auto;
    cursor: pointer;
}

.opt-In-Info img {
    cursor: pointer;
    width: 9px;
    height: 12px;
}

.opt-In-Info p {
    cursor: default;
    margin: 0;
    padding: 33px 27px 0 25px !important;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    color: #7a86a1;
}

.btn-close {
    background: #ffffff;
    margin: 2px;
    outline: none;
    border-radius: 16px;
    padding: 6px 13px;
    border: 1px solid #ebebeb;
    float: right;
}

.modal-body.showvariableoption {
    background-color: #FFF4F2;
    border-radius: 30px;
}

.variableoption .content {
    width: 100%;
    float: left;
    padding: 1rem;
    height: 400px;
    overflow: auto;
}

.variableoption .content .search-box {
    background-color: #fff;
    min-width: 100%
}

.variableoption .content p.form-control {
    background: #fff url("/assets/img/campaign/attribute-b.svg") no-repeat;
    background-size: 12px;
    background-position: center left 10px;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    padding: 10px 10px 10px 25px;
    font-size: 12px !important;
    width: 175px;
    margin: 1rem;
    display: flex;
    align-items: center;
    height: 30px;
    color: #000;
}

.variableoption .content .content_inner {
    margin: 1rem;
}

.variableoption .content .content_inner .form-control {
    border-radius: 15px;
    cursor: pointer;
}

img.icon.sm {
    width: 10px;
    margin-left: 5px;
}

.showInfoFallback {
    position: absolute;
    width: 280px;
    height: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 4px 22px 54px #695f971a;
    border-radius: 30px;
    opacity: 1;
    overflow: auto;
    left: 100%;
    bottom: 10px;
}

// #p-body {
//     font-size: 12px;
//     font-weight: 500;
//     margin-top: 10%;
//     color: #7a86a1;
//     padding: 10%;
// }

#radio-close-btn {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 4%;
    right: 6%;
    background: #ffffff;
    border-radius: 15px;
    opacity: 1;
    border: 1px solid #ebebeb;
    font-family: 'Manrope';
    font-size: 13px;
}

.content_inner {
    border-radius: 19px;
    margin: 0px 1px 0px 17px;
    width: 90%;

    .tooltip-container {
        position: relative;
        display: inline;

        #p-body {
            margin-top: 15%;
        }
    }
}
.content_inner .titleFallback {
    font-size: 12px;
    color: #7a86a1;
    font-weight: 400;
}

.selected {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control-wrapper {
    display: flex;
    flex-direction: column;
}

.fallback-value {
    margin: 0px 0px 0px 20px;
    color: #767676;
    font-size: 12px;
}
.input-custom-color {
	color: #007bff !important; 
  }
  .disabledAttribute{
    background-color: grey;
   }

.help-support-btn{
    cursor: default;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card-body{
    height: 240px !important;
    max-width: 100% !important;
  }

  .btn_group{
	margin:5px 0px;
	font-size: 12px;
	font-weight: 400;
	}
	.btn_group input{
	border: 1px solid #E9E9EA;
	border-radius: 15px;
	background: #FFFFFF;
	width: auto;
	height:35px;
	font-size: 12px;
	text-align: center;
	margin-right: 1rem;
	}

    .sub_title_sm{
        font-size:12px;
        font-weight: 600;
        color:#6149CD
        }
.sub_title_lg{
        font-size:14px;
        font-weight: 600;
        color:#6149CD
        }
.blackcolor{
        color: #000;
        }

        
.btn-preview-img{
    height: 18px;
    width: 18px;
    margin-right: 3px;
  }

  .template-btn {
    width: 100%; 
   background: white;
   border: none;
   word-wrap: break-word;
   padding: 6px 0px;
   border-top: 2px #e8edef solid !important;
   color: #0080ba;
   font-weight: bold;
}

.w-100{
    width: 100% !important;
}
.fade-out {
    opacity: 0.5;
    pointer-events: none; 
    transition: opacity 0.3s ease-in-out;
  }

  .box4 p {
    margin-bottom: 0px !important;
  }
  .box4 p p {
    margin-bottom: 0px !important;
  }
  .modal-smart-reply-open .box4 p {
    margin-bottom: 0px !important;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  }
  input[type="date"] {
  cursor: text;
    color: #212529; /* Darker text for selected date */
}
