<sb-layout-dashboard>
	<sb-top-nav title="Smart Replies"></sb-top-nav>
	<sb-loader [isLoading]="isLoading" ></sb-loader>
	<div [ngStyle]="isShowSmartReplies ? {'position': 'fixed'} : {}" class="row r1">


		<div class="d-flex justify-content-between pt-3 pb-4 content-header">
			<div class="input-group gf">
	
				<input class="form-control" type="text" placeholder="search" name="search" [(ngModel)]="searchText" />
	
				<img src="assets/img/search.png">
			</div>
			<button class="btn btn-block add-smartrep-btn" (click)="showAddSmartRepliesModal()" [disabled]="settingsService.checkRoleExist('32')">
				<img src="../../../../assets/img/teambox/add.svg" alt="error" />
				Add Smart Reply
			</button>
		</div>
	
	
	
		<div *ngIf="replies.length==0" class="smartreplies-empty-state">
			<div class="d-flex justify-content-center align-items-center container-empty-state">
				<div class="text-center py-5 body-empty-state">
					<img src="../../../../assets/img/no-sr.png" />
					<h5>No Smart Replies to Show!</h5>
					<p>Click "+ Add Smart Reply" to start creating Smart Replies</p>
				</div>
			</div>
		</div>
	

		<div *ngIf="replies.length>0" class="smartreplies-filled-state">
			<div class="m-0 px-2 col-12 d-flex flex-wrap sm-card">
				<div *ngFor="let reply of replies  | searchfilter:searchText" class="card col-3 d-flex"
					 (click)="getRepliesByID(reply)">
					<div class="card-body gy-2">
						<h6 class="id">Id:{{ reply.ID }}</h6>
						<h5 class="card-title ellipsis">{{reply.Title}}</h5>

						<p [innerHTML]="reply.Description" class="card-text ellipsis">
						</p>
						<p class="text-dark mb-1" style="font-size: 11px;">
						  <img src="../../../../assets/img/teambox/whatsapp-icon-l.svg" class="channel-selected"/>
							{{reply.Channel}}
						</p>
						
						<h6 class="card-subtitle mb-2 text-muted">{{reply.MatchingCriteria}}</h6>
						<div class="card1 d-flex">
							<div class="card-text1">
								<p>{{reply.KeywordCount}}</p>
								<h6>Total Keywords</h6>
							</div>
							<div class="card-text2">
								<p>{{reply.ActionCount}}</p>
								<h6>Reply Action</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="showSideBar" id="sidebar" class="sidebar">
		<div class="mt-3 sideBar-header">
			<button type="button" class="btn5 btn-close" (click)="toggleSideBar()"><img src="assets/img/teambox/icon-close.svg"></button>
		</div>
		<div class="sideBar-body">
			<div class="collumn d-flex pl-4">
				<h6>Id:</h6>
				<h5>{{repliesData?.ID}}.</h5>
				<div class="line"></div>
				<h6>Created on:</h6>
				<h5>{{settingsService?.getDateTimeFormate(repliesData?.CreatedDate,true)}}</h5>
				<div class="line"></div>
				<h6>Edited on:</h6>
				<h5>{{settingsService?.getDateTimeFormate(repliesData?.ModifiedDate, true) }}</h5>
			</div>
			<!-- <h4 class="help-support-btn p-0" routerLink="/dashboard/support"><img id="Edit-icon"
					src="assets/img/Edit-icon.png">Help & Support</h4> -->
			<h4 class="help-support-btn p-0"><img id="Edit-icon"
					src="assets/img/Edit-icon.png" (click)="editSmartReply(1)" style="cursor: pointer;">{{items?.Title}}</h4>
			<div class="row d-flex">
				<h6 class="text-justify">{{items?.Description}}.</h6>
			</div>
			<h3 class="keywords-btn"><img id="Edit-icon" (click)="editSmartReply(2)" src="assets/img/Edit-icon.png">Keywords & Criteria </h3>
			<div class="row">
				<div class="sidebar_box" *ngFor="let values of repliesData?.Keyword">
					<p>{{values}}</p>
				</div>
	
			</div>
	
	
			<div class="sidebar_box1 d-flex">
				<h6>Matching Criteria:</h6>
				<h5>{{repliesData?.MatchingCriteria}}</h5>
			</div>
	
			<h3 class="reply-action-btn" (click)="editSmartReply(3)"><img id="Edit-icon" src="assets/img/Edit-icon.png">Reply
				Actions</h3>
			<div *ngFor="let item of repliesData?.ActionList">
				<div class="box4" *ngIf="item.Message">
					<h3>Message</h3>
					<div class="box4-Media">
					<img *ngIf="isImage(item.Media)" [src]="item.Media" alt="Media" />
                    <video *ngIf="isVideo(item.Media)" [src]="item.Media" controls></video>
				    </div>
					<p [innerHTML]="item.Message | sanitizeHtml"></p>
				</div>
				<div *ngIf="item.Name =='Assign Conversation' && item.Name" class="sidebar-assign-conversation">
					<p class="m-0 py-1 px-2" id="msgbox-head1">Action</p>
					<div class="d-flex flex-wrap assign-container">
						<p class="py-1 px-2 m-0" id="sidebar-msgbox-body1"><b>Conversation Assigned:</b> {{item.Value}}</p>
					</div>
				</div>
				<div *ngIf="item.Name =='Add Contact Tag' && item.Name" class="sidebar-assign-conversation">
					<p class="m-0 py-1 px-2" id="sidebar-msgbox-head1">Action</p>
					<div class="d-flex pl-1 assign-container">
						<p class="p-1 m-0" id="sidebar-msgbox-body1"><b>Add Tags: </b><span style="color: #000;" id="msgbox-body1">{{parseTags(item.Value)}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	

		<div class="d-flex justify-content-center align-items-center footer">
			<button class="delete-btn" data-bs-toggle="modal" data-bs-target="#Delete" [disabled]="settingsService.checkRoleExist('32')"><img
					src="assets/img/delete.png"></button>
		</div>
	</div>


	<div class="modal fade" id="Delete" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static"
		aria-hidden="true">
		<div class="modal-dialog deletesmartreplies-dialog">
			<div class="modal-content deletesmartreplies-content">

				<div class="modal-body deletesmartreplies-body">
					Do you really want to delete<br /> this Smart Reply?
				</div>
				<div class="deletefile d-flex">
					<button type="button" class="btn9 btn-secondary" style="margin: 112px 22px 0px 44px;" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn99 btn-primary" data-bs-dismiss="modal"
						(click)="deleteRepliesById(data)">Yes, Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="smartrepliesModal" data-bs-backdrop="static" role="dialog">
		<div class="addsmartreplies modal-dialog smartreplies-modal" role="document">
			<div class="modal-content smartreplies-modal" id="delete-tok">
				<div class="modal-body alertmessage">
					<!-- <sb-addSmartReplies *ngIf="isShowSmartReplies" [isEdit]="isEdit"
						[smartReplyData]="repliesData" (getReplies)="getReplies()">
					</sb-addSmartReplies> -->
					<div class="toaster" (click)="hideToaster()">
						<p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
						<p *ngIf="successMessage" class="success">{{successMessage}}</p>
						<p *ngIf="warnMessage" class="warn">{{warnMessage}}</p>
					  </div>
					<div class="container" id="addsmartreplies">
						<div class="bs-stepper row">
						  <div class="head d-flex justify-content-between align-items-center">
							<p class="m-0 heading">{{isEdit==true ? 'Edit Smart Reply' :'Add Smart Reply'}}</p>
							<button (click)="removeModalBackdrop()" type="button" class="btn5 btn-close" style="width: 40px;" data-bs-dismiss="modal" aria-label="Close">
								<img style="width: 10px;" src="assets/img/teambox/icon-close.svg"></button>
						  </div>
						  <div class="bs-stepper-header" role="tablist">
							<div class="bs-tab">
							  <div class="step" data-target="#logins-part">
								<button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
								  <span class="bs-stepper-circle">1</span>
								  <span class="bs-stepper-label">New Smart Reply</span>
								</button>
							  </div>
							  <div class="line"></div>
							  <div class="step" data-target="#information-part">
								<button type="button" class="step-trigger" role="tab" aria-controls="information-part"
								  id="information-part-trigger">
								  <span class="bs-stepper-circle">2</span>
								  <span class="bs-stepper-label">Keywords and Criteria</span>
								</button>
							  </div>
							  <div class="line"></div>
							  <div class="step" data-target="#review-part">
								<button type="button" class="step-trigger" role="tab" aria-controls="review-part" id="review-part-trigger">
								  <span class="bs-stepper-circle">3</span>
								  <span class="bs-stepper-label">Reply Actions</span>
								</button>
							  </div>
							</div>
						  </div>
						  <div class="p-0 bs-stepper-content">
							<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
							  <div class="box" [formGroup]="newReply">
								<h5>Title<span class="text-danger"> * </span></h5>
								<input class="form-control" type="text" name="Title" id="Title" formControlName="Title"
								  placeholder="Enter title in max 20 character" maxlength="20" />
								<h5>Description<span class="text-danger"> * </span></h5>
								<div class="form-floating ff">
								  <textarea name="Description" id="Description" class="form-control" rows="4" cols="50"
									placeholder="Enter description in max 80 character" formControlName="Description" maxlength="80">
								  </textarea>
								</div>
								<h5>Channel<span class="text-danger"> * </span></h5>
								<input class="form-control bg-white select_box" type="text" name="Channel" id="Channel" formControlName="Channel"
									(click)="toggleChannelOption()" style="cursor: pointer;" readonly placeholder="Select Channel" />
								  <div *ngIf="ShowChannelOption" (click)="stopPropagation($event)" class="popup-dialog ContactOption">
									<p *ngFor="let channel of channelOption ;let i = index" class="label" (click)="selectChannel(channel)" style="cursor: pointer;">
										<span>
											<img class="icon" src="/assets/img/teambox/whatsapp-icon-l.svg" />
											{{
										channel?.label === 'WhatsApp Official' ? 'WA API' : 
										channel?.label === 'WhatsApp Web' ? 'WA Web' : 
										channel?.label 
									  }} ({{channel?.connected_id}})
										</span>
									</p>
									<div *ngIf="ShowChannelOption" class="overlay" (click)="ShowChannelOption=false"></div>
								</div>
								
							  </div>
							  <div class="title err-msg">
								<span id="title-err-msg"></span>
								<button type="button" (click)="getNewSmartReplyData()" class="btn5 btn-block col-1">Next</button>
							  </div>
					  
							</div>
							<div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
							  <button type="button" (click)="previous()" class="btn9 btn-block col-1"><img src="assets/img/prev.png"></button>
							  <div class="box1">
								<h5>Add Keyword</h5>
								<div class="box2 d-flex" data-required="">
								  <input class="form-control" id="form-box" #keyowrdtxt [(ngModel)]="keyword" type="text"
									onKeyPress="return /^[a-zA-Z\s]$/.test(event.key)" placeholder="Enter Keywords" maxlength="56" />
								  <button type="button" class="btn7 btn-block ml-2" (click)="addKeyword()">ADD</button>
								</div>
								<div *ngIf="keyword.length > 56" class="text-danger mt-2"></div>
					  
					  
								<span>Here you can add multiple keywords that will be matched and triggered by the customer's message.</span>
								<div class="overflo">
								  <span class="row">
									<div *ngFor="let k of keywords" class="keywords" style="font-weight: bolder; color: black;">
									  <div class="keytext">{{k}}<button class="rmv-btn" (click)="removeKeyword(k)">x</button></div>
									</div>
								  </span>
								</div>
								<div class="line1"></div>
								<h4 id="line1-h4">Matching Criteria</h4>
								<div class="ll d-flex">
								  <div class="form-check template_box_inner">
									<input class="form-check-input" type="radio" name="exampleRadios" value="Fuzzy matching"
									  (change)="onSelectionChange('Fuzzy matching')" [checked]="this.model == 'Fuzzy matching'"  id="exampleRadios1" >
									<label class="form-check-label" id="exampleRadios1" for="exampleRadios1">
									  Fuzzy matching
									</label>
									<img id="detail" class="form-check-label-img" src="assets/img/info.png" (click)="onClickFuzzy($event)">
								  </div>
								  <div class="desc-radio-input" *ngIf="showBox">
									<p id="p-title">Fuzzy Matching</p>
									<p id="p-body">As long as the message contains a certain % of the Keyword defined.</p>
									<button id="radio-close-btn" (click)="showBox=false">X</button>
								  </div>
								  <div class="form-check template_box_inner">
									<input type="radio" class="form-check-input" value=" Exact matching" name="exampleRadios"
									  (change)="onSelectionChange('Exact matching')" [checked]="this.model == 'Exact matching'"  id="exampleradios2">
									<label class="form-check-label" id="exampleradios2" for="exampleradios2">
									  Exact matching
									</label>
									<img id="detail" class="form-check-label-img" src="assets/img/info.png" (click)="onClickExact($event)">
								  </div>
								  <div class="desc-radio-input-1" *ngIf="showBox1">
									<p id="p-title">Exact Matching</p>
									<p id="p-body">Your customer’s message must 100% <br /> match the Keyword.If it’s a phrase, then the exact
									  phrase.</p>
									<button id="radio-close-btn" (click)="showBox1=false">X</button>
								  </div>
								  <div class="form-check template_box_inner">
									<input class="form-check-input" type="radio" name="exampleRadios" value="contains"
									  (change)="onSelectionChange('contains')" [checked]="this.model == 'contains'" id="exampleradios3">
									<label class="form-check-label" id="exampleradios3" for="exampleradios3">
									  Contains
									</label>
									<img id="detail" class="form-check-label-img" src="assets/img/info.png" (click)="onClickContains($event)">
								  </div>
					  
								  <div class="desc-radio-input-2" *ngIf="showBox2">
									<p id="p-title">Contains</p>
									<p id="p-body">If the customer's message contains the specific keyword being defined.<br>
									  The sequence may be different but the defined keyword needs to be present.</p>
									<button id="radio-close-btn" (click)="showBox2=false">X</button>
								  </div>
					  
					  
								</div>
							  </div>
					  
							  <button type="button" (click)="verifyKeyword()" class="btn5 btn-block col-1 mt-3 ">Next</button>
					  
							</div>
							<div id="review-part" class="content" role="tabpanel" aria-labelledby="review-part-trigger">
							  <button type="button" (click)="previous()" class="btn9 btn-block col-1"><img src="assets/img/prev.png"></button>
					  
					  
							  <div class="interactions">
								<div  class="child-int-1 py-2">
								  <div  #chatSection class="child-interaction-1">
									<div *ngFor="let message of assignedAgentList; let i = index">
									  <div class="message-container" *ngIf="message.ActionID == 0">
										<div class="col-6 message-box" *ngIf="message.Message || message.Media">
										  <p id="msgbox-head">Message</p>
										  <!-- <img *ngIf="message.Media" [src]="message.Media" alt="Media" style="max-width: 100%; height: auto;"> -->
										  <img *ngIf="isImage(message.Media)" [src]="message.Media" alt="Media" style="max-width: 100%; height: auto;"/>
										  <img *ngIf="isDocument(message.Media)" src="../../../../assets/img/settings/doc.svg" alt="Media" style="max-width: 100%; height: auto;"/>
										  <video *ngIf="isVideo(message.Media)" [src]="message.Media" controls style="max-width: 100%; height: auto;"></video>

										  <p *ngIf="message.Message" id="msgbox-body{{i}}" [innerHTML]="message.Message | sanitizeHtml"></p>
										</div>
					  
										<div class="col-6 message-buttons">
										  <button class="px-2 msg-edit-btn" [class.editable]="isEditable[i]" [class.non-editable]="!isEditable[i]"
										  (click)="toggleEditable(i)"><img src="assets/img/edit.png">
										 </button>
										 <button class="px-1 msg-del-btn" (click)="removeMessage(i)"><img src="assets/img/delete.png">
										 </button>
										 </div>
									   </div> 
							  
									  
									  <!-- media -->
					  
									  <div class="message-box" *ngIf="Media">
										<p id="msgbox-head">Media</p>
										<img class="preview_icon" *ngIf="this.mediaType == 'video/mp4'"
										src="/assets/img/teambox/video_preview.png">
									  <img class="preview_icon" *ngIf="this.mediaType == 'text/plain'"
										src="/assets/img/teambox/doc_preview.png">
									  <img class="preview_icon" *ngIf="this.mediaType == 'application/pdf'"
										src="/assets/img/teambox/doc_preview.png">
						  
									  <img class="mediaFile" *ngIf="this.mediaType == 'image/jpeg'" src={{this.messageMeidaFile}}>
									  <img class="mediaFile" *ngIf="this.mediaType == 'image/jpg'" src={{this.messageMeidaFile}}>
									  <img class="mediaFile" *ngIf="this.mediaType == 'image/png'" src={{this.messageMeidaFile}}>
									  <img class="mediaFile" *ngIf="this.mediaType == 'image/webp'" src={{this.messageMeidaFile}}>
										<p class="message-media" [ngStyle]="{'background-image': 'url(' + Media + ')'}"></p>   
									  </div>
					  
									  
									  <div class="d-flex justify-content-between align-items-center" *ngIf="message.ActionID == 2">
										<div class="col-6 assign-conversation">
											<p class="m-0 py-1 px-2" id="msgbox-head1">Action</p>
											<div class="d-flex flex-wrap assign-container">
											 
											  <p class="py-1 px-2 m-0" id="msgbox-body1"><b>Conversation Assigned:</b></p>
											  <p class="py-1 m-0" id="msgbox-body2" (input)="onActionEdit($event.target.innerHTML)">
												{{message.Value}}</p>
											</div>
										</div>
						
										<div class="col-6 assign-buttons">
										  <button class="px-2 msg-edit-btn" [class.editable]="isEditable[i]" [class.non-editable]="!isEditable[i]"
										  (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
										  <button class="px-1 msg-del-btn" (click)="removeAction(i)"><img src="assets/img/delete.png"></button>
										</div>
									  </div>
						   
									  
									  <div class="d-flex justify-content-between align-items-center" *ngIf="message.ActionID == 1">
										<div class="col-6 add-tag">
										  <p id="msgbox-head1">Action</p>
										  <div class="d-flex flex-wrap assign-container">
											<p class="p-1 m-0" id="msgbox-body1"><b>Add Tags: </b>
											  <span class="pl-1" *ngFor="let item of message.Value; let last = last">{{ item }} 
												<span *ngIf="!last">,</span>
											  </span>
											</p>
										  </div>
										</div>
										  <div class="col-6 assign-buttons">
											<button class="px-2 msg-edit-btn" (click)="toggleRemoveTag()"><img src="assets/img/edit.png"></button>
											<button class="px-1 msg-del-btn" (click)="removeAddTag(i)"><img src="assets/img/delete.png"></button>
										  </div>
									  </div>
									  
									</div>
					  
					  
									<!-- <div class="update-name" *ngIf="ShowNameUpdate">
										<p id="msgbox-head1">Action</p>
										<div class="d-flex assign-container">
										<p id="msgbox-body1"><b>Name Update</b></p>
										</div>
										   <button class="msg-edit-btn" (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
										   <button class="msg-del-btn" (click)="removeAction(i)"><img src="assets/img/delete.png"></button>
									  
									 
									  </div>
						
									   <div class="resolve-conversation" *ngIf="ShowResolveConversation">
										<p id="msgbox-head1">Action</p>
										<div class="d-flex assign-container">
										<p id="msgbox-body1"><b>Communicataion Resolved</b></p>
										</div>
										   <button class="msg-edit-btn" (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
										   <button class="msg-del-btn" (click)="removeAction(i)"><img src="assets/img/delete.png"></button>
									  
									 
									  </div> -->
								  </div>
								</div>
					  
								<div class="child-interaction-2">
					  
								  <div class="conversation_inout_area">
					  
									<div class="input-area">
									  <ejs-richtexteditor id='defaultRTE' #chatEditor [toolbarSettings]='tools' [width]='0' placeholder="Type Reply..." [pasteCleanupSettings]="pasteCleanupSettings"> </ejs-richtexteditor>
									  <button class="submit_btn" (click)="addMessage()">Add</button>
									</div>
								  </div>
					  
								  <button id="add-action-dropdown" type="button" (click)="toggleAddActions()"><img
									  src="assets/img/teambox/add.svg">Add Action</button>
								</div>
					  
								<div *ngIf="ShowAssignOption && agentsList.length > 0" (click)="stopPropagation($event)" class="popup-dialog AssignOption" [class.disabled]="isAssigned">
								  <p class="label">Assign To</p>
								  <p class="d-flex align-items-center px-2 py-1" *ngFor="let agent of agentsList; let k = index" (click)="assignConversation(k)"
									(click)="closeAssignOption()">
									<span *ngIf="!agent.profileImg" class="text-capitalize initials mt-0 w-25"> {{ agent.nameInitials }} </span>
									<img *ngIf="agent.profileImg" class="rounded-circle mt-0" style="width: 30px; height: 30px; margin-left: 11px;" src="{{agent.profileImg}}" />
									<span key={k} class="agentName mt-0 w-75">{{agent.name}} {{agent?.RoleName == 'Admin' ? '(Admin)' :''}}</span>
								  </p>
								  <div *ngIf="ShowAssignOption" class="overlay" (click)="closeAssignOption()"></div>
								</div>
					  
								<div *ngIf="ShowAddAction" class="popup-dialog AssignAction" (click)="stopPropagation($event)">
								  <p class="label">Add Action</p>
								  <p class="d-flex justify-content-around" *ngFor="let assignAction of assignActionList; let m = index"
									(click)="toggleAssignOption(m)">
									<span>{{assignAction}}</span><img class="pr-3 arrow-sign" src="../../../../assets/img/arrow-sign.svg" />
								  </p>
								  <div *ngIf="ShowAddAction" class="overlay" (click)="closeAddAction()"></div>
								</div>

								
					  
					  
									  <!--<div *ngIf="AutoReplyOption" class="popup-dialog autoreply">
										  <p class="label">Pause Auto Replies</p>
									  <p  *ngFor="let option of AutoReplyEnableOption; let n = index" (click)="toggleAutoReply()">
										<span>{{option}}</span>
									  </p>
									 </div> -->
					  
								<div class="modal fade" tabindex="-1" id="addTagModal" #addTagModal role="dialog">
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
									  <div class="row popup-dialog AddTag">
										<p *ngIf="!ShowRemoveTag && addTagList.length > 0" class="label">Add Tag</p>
										<p *ngIf="ShowRemoveTag" class="label">Remove Tag</p>
					  
										<div class="d-flex addTag " *ngFor="let AddTag of addTagList;let i = index">
										  <label class="container arddtag">
											<input [checked]="checkTagStatus(AddTag.TagName)" type="checkbox" name="tags" class="m-0"
											  (change)="addTags(i,$event)" />
											<span class="checkmark oops"></span>
										  </label>
										  <div class="dots d-flex align-items-center">
											<div class="color-dots" [style.background]="AddTag.TagColour"></div>
											<span class="fix-dots px-2 text-capitalize flex-grow-1 font-weight-normal">{{AddTag.TagName}}</span>
										  </div> 
										</div>
					                     <div class="p-4" *ngIf="!addTagList.length">
                                            <p>No Data Available.</p>
										 </div>
									  </div>
									</div>
								  </div>
								</div>
					  
							  </div>
					  
							  <div class="smrply-err-msg">
					  
								<span id="smrply-err-msg"></span>
								<button *ngIf="isEdit==false" type="button" (click)="smartReplySuccess(smartreplysuccess)"
								  class="btn5 btn-block col-1 mt-3 ">Save
								</button>
								<button *ngIf="isEdit==true" type="button" (click)="smartReplySuccess(smartreplysuccess)"
								class="btn5 btn-block col-1 mt-3 ">Save
							  </button>
							  </div>
					  
					  
					  
							</div>
						  </div>
						</div>
					  
					  </div>
					  
					  
					  <!-- insert attachment in add smartReplies -->
					  <div class="modal fade" tabindex="-1" id="attachmentbox" data-bs-backdrop="static" #attachmentbox role="dialog">
						<div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
						  <div class="m-0 px-3 modal-content attachmentboxcon">
							<div class="">
							  <div class="modal-header">
								<div class="modal-header-left">
								  <h4 class="modal-title" id="modal-basic-title"></h4>
								</div>
								<div class="modal-header-right">
								  <p *ngIf="this.isAttachmentMedia==false" class="close-box" aria-label="Close" (click)="closeAllModal()"><img
									src="assets/img/teambox/icon-close.svg">
								</p>
								<p *ngIf="this.isAttachmentMedia==true" class="close-box" aria-label="Close" (click)="closeEditMedia()"><img
								  src="assets/img/teambox/icon-close.svg">
							  </p>
								</div>
							  </div>
							  <div class="modal-body attachmentboxbody">
								<div class="header-line">
								<h4>{{isAttachmentMedia==true ? 'Replace&nbsp;Media' : 'Attach file'}}</h4>
								<h4>Instructions</h4>
							  </div>
								<div class="attachmentbox">
								  <div class="attachmentbox_left" ngClass="{{dragAreaClass}}">
									<img class="icon" src="/assets/img/teambox/image-a@2x.png">
									<p>Drag & Drop file</p>
									<p><span>OR</span></p>
									<sb-loader [isLoading]="isAttachingLoader" [loaderType]="'small'" [message]="''"></sb-loader>
									<label class="custom-file-upload">
									  <input type="file" #file
										accept="image/*, application/msword, application/pdf, video/*"
										[multiple]="false" (change)="onFileChange($event)" (click)="$event.target.value=null" style="display:none" />
									  <img class="icon" src="/assets/img/teambox/upload.png"> Browse files
									</label>
					  
								  </div>
								  <div class="attachmentbox_right">
									<div>
									  <p>Media file attachment must fulfill following requirements:<br>
										<br>1. Images should be JPEG or PNG with maximum size of 5 MB.<br>
										<br>2. Video should be MP4 with maximum size of 10 MB.<br>
										<br>3. Document should be PDF with maximum size of 10 MB.
									  </p>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  
					  <div class="modal fade" tabindex="-1" id="sendfile" #sendfile data-bs-backdrop="static" role="dialog">
						<div class="modal-dialog" role="document">
						  <div class="modal-content message_meida_preview">
								<div class="modal-header">
								  <div class="modal-header-left">
								  </div>
								  <div class="modal-header-right">
									<p class="close-box" aria-label="Close" (click)="closeAllModal()"><img
										src="assets/img/teambox/icon-close.svg"></p>
								  </div>
								</div>
								<div class="modal-body d-flex justify-content-center message_meida_preview_body">
								  <img class="mediaFile" *ngIf="this.mediaType == 'image/jpeg'" src={{messageMeidaFile}}>
								  <img class="mediaFile" *ngIf="this.mediaType == 'image/jpg'" src={{messageMeidaFile}}>
								  <img class="mediaFile" *ngIf="this.mediaType == 'image/png'" src={{messageMeidaFile}}>
								  <img class="mediaFile" *ngIf="this.mediaType == 'image/webp'" src={{messageMeidaFile}}>
					  
								  <video style="width: 354px; height: 190px;" controls muted id="video-background"  *ngIf="this.mediaType == 'video/mp4'" [src]="messageMeidaFile"></video>
								  
									<div class="doc-preview" *ngIf="this.mediaType == 'application/pdf'">
										<a [href]="messageMeidaFile"><img src="../../../../assets/img/settings/doc.svg" /></a>
									</div>
								</div>
					  
					  
								<div class="input_group_btn" id="senddoc">
								  <button  type="button" class="submit-btn" (click)="sendMediaMessage()">Add Attachment</button>
								</div>
						  </div>
						</div>
					  </div>
					  
					  <!-- insert templates in add smartReplies -->
					  <div class="modal fade" tabindex="-1" id="insertTemplate" data-bs-backdrop="static" #insertTemplate role="dialog">
						<div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
						  <div class="m-0 px-3 modal-content insertTemplate">
						<div class="modal-header">
						  <div class="modal-header-left">
							<h4 class="modal-title" id="modal-basic-title">Insert Template</h4>
						  </div>
						  <div class="modal-header-right">
							<p class="close-box" aria-label="Close" (click)="closeAllModal()"><img (click)="isAttachmentMedia = false;" src="assets/img/teambox/icon-close.svg">
							</p>
						  </div>
						</div>
						<div class="modal-body quickResponse">
						  <input class="search-box" type="text" placeholder="Search" (keyup)="searchTemplate($event)" />
					  
						  <div class="section_filter">
							<div class="custom-control custom-checkbox">
							  <input class="custom-control-input" [checked]="isFilterTemplate.Marketing" id="Marketing" type="checkbox" value="Marketing" (click)="filterTemplate($event)" />
							  <label class="custom-control-label" for="Marketing">Marketing</label>
						  </div>
						  <div class="custom-control custom-checkbox">
							<input class="custom-control-input" [checked]="isFilterTemplate.Utility" id="Utility" type="checkbox" value="Utility" (click)="filterTemplate($event)" />
							<label class="custom-control-label" for="Utility">Utility</label>
						  </div>
							<div class="custom-control custom-checkbox">
							  <input class="custom-control-input" [checked]="isFilterTemplate.Authentication" id="Authentication" type="checkbox" value="Authentication" (click)="filterTemplate($event)" />
							  <label class="custom-control-label" for="Authentication">Authentication</label>
						  </div>
						  </div>
						  <div class="template_list">
							<div class="mb-4 template_box" *ngFor="let template of allTemplates ;let i = index">
							  <div class="px-4 template_box_inner d-flex align-items-start">
								<div class="d-flex align-items-center template_box_inner">
								<input type="radio" id="selectedTemplate{{i}}" name="selectedTemplate" [checked]="templateChecked" (click)="selectTemplate(template)">
								<label class="m-0" for="selectedTemplate{{i}}"></label>
								</div>
							 <div class="template_head flex-column">
							  <p class="template_name">{{template.TemplateName}}</p>
							  <p class="m-0"><span>{{ settingsService?.getDateTimeFormate(template.created_at,true) }}</span></p>
					  
							  <div class="inner_box">
								<img *ngIf="template.media_type === 'image'" class="template_img" src="{{template.Links}}">
								<video *ngIf="template.media_type === 'video'" muted id="video-background" [src]="template.Links"></video>
								<div class="doc-preview"*ngIf="template.media_type === 'document'">
								  <a [href]="template.Links"><img src="../../../../assets/img/settings/doc.svg" /></a>
								  </div>
								  <!-- <embed *ngIf="template.media_type === 'document'" [src]="template.Links" type="application/pdf" width="100%" height="400px"> -->
								<div [ngClass]="{'templateText': template.media_type === 'text'}" class="template_text">
								  <p *ngIf="template.media_type ==='text'" [innerHTML]="template.Header | sanitizeHtml" class="m-0 font-weight-bold"></p>
								  <p [innerHTML]="template.BodyText | sanitizeHtml"></p>
								  <p [innerHTML]="template.FooterText | sanitizeHtml"></p>
								</div>
								<!-- <div *ngIf="template.Channel === 'WhatsApp Official'" class="template_btn">
								  <button type="button" class="btn">Button 1</button>
								  <button type="button" class="btn">Button 2</button> 
								  <button type="button" class="btn">Button 3</button>
								</div> -->
							  </div>
							 </div>
							  </div>
							</div>
					  
						  </div>
					  
							  <div class="input_group_btn">
							<button type="button" class="submit-btn" (click)="showeditTemplate()">Next</button>
						  </div>
					  
						  <div class="bottom_section">
							<p class="text-box-readonly"><span><img class="setting_icon px-2" src="../../../../assets/img/profile/Info.svg">
							</span>Add/edit Insert Template from settings</p>
						  </div>
					  
						</div>
					  
					  </div>
					  </div>
					  </div>
					  
					  <div class="modal fade" tabindex="-1" id="editTemplate" #editTemplate data-bs-backdrop="static" role="dialog">
						<div class="modal-dialog editTemplate" role="document">
						  <div class="modal-content">
							<div class="modal-body">
							<!-- <div class=""> -->
							  <div class="modal-header">
								<div class="modal-header-left">
								  <h4 class="modal-title" id="modal-basic-title">Insert Template</h4>
								</div>
								<div class="modal-header-right">
								  <p class="close-box" aria-label="Close" (click)="closeAllModal()"><img
									(click)="isAttachmentMedia = false"
									  src="assets/img/teambox/icon-close.svg"></p>
								</div>
							  </div>
							  <div class="modal-body" style="height: 500px;overflow: scroll;">
								<div class="template_details_section">
								  <div class="template_details_section_left">
									<div class="template_box">
									  <label class="py-2 container">
										<p><b>{{selectedTemplate.TemplateName}}</b></p>
									  </label>
					  
									  <div class="px-2 inner_box">
										<img *ngIf="selectedTemplate.media_type === 'image'" class="template_img" src="{{selectedTemplate.Links}}">
										<video *ngIf="selectedTemplate.media_type === 'video'" autoplay muted id="video-background" [src]="selectedTemplate.Links"></video>
										<div class="doc-preview"*ngIf="selectedTemplate.media_type === 'document'">
										  <a [href]="selectedTemplate.Links"><img src="../../../../assets/img/settings/doc.svg" /></a>
										  </div>
										  <p *ngIf="selectedTemplate.media_type !== 'text'" class="close-box edit_media" (click)="editMedia()">
										  <img src="/assets/img/campaign/edit.svg">
										</p>
										 <div [ngClass]="{'templateText': selectedTemplate.media_type === 'text'}" class="template_text">
										  <p *ngIf="selectedTemplate.media_type ==='text'" [innerHTML]="selectedTemplate.Header | sanitizeHtml" class="m-0 font-weight-bold"></p>
										  <p [innerHTML]="selectedTemplate.BodyText | sanitizeHtml"></p>
										  <p [innerHTML]="selectedTemplate.FooterText | sanitizeHtml"></p>
										  </div>
									  </div>
									  <div *ngIf="selectedTemplate.Channel === 'WA API'" class="px-2 template_btn">
										<button type="button" class="btn">Button 1</button>
										<button type="button" class="btn">Button 2</button>
										<button type="button" class="btn">Button 3</button>
									  </div>
									</div>
					  
								  </div>
					  
								  <div class="template_details_section_right">
									<p class="mt-2 mb-0">Variable value<img class="px-2 icon sm" (click)="toggleInfoIcon()" src="/assets/img/campaign/Info.svg"></p>
					  
									  <span *ngIf="showInfoIcon" class="px-2 opt-In-Info">
										<div class="opt-In-Info-div">
										   <button type="button" class="m-2 btn-close" (click)="showInfoIcon=false">
											 <img src="../../../../assets/img/teambox/icon-close.svg">
										   </button>
										   <p id="p-body">You can input variable values or choose contact attributes (fields)
											  that will be used to send personalized messages to users, 
											  reflecting their specific contact details instead of generic values.
											</p>
										 </div>
										 </span>
					  
									  <p class="h5" *ngIf="allVariablesList.length==0">
										No variable available in this message
									  </p>
							 
									<!-- <div class="form_row">
									  <label>[[Name]]</label>
									  <div>
										<p class="form-control">
										  <input type="text" class="form-control inner"
											placeholder="Input value or add attribute"> -->
										  <!-- <span class="map_attribute" (click)="openMapOption('map_name')">Map</span> -->
										<!-- </p> -->
										<!-- <div *ngIf="MapOptionFor =='map_name'" class="popup-dialog">
								  <p class="label">Map the column</p>
								  <p *ngFor="let map of mapNameOption ;let i = index" (click)="openMapOption('')"><span>{{map}}</span></p>
								</div> -->
									  <!-- </div>
									</div>
									<div class="form_row">
									  <label>[[Product]]</label>
									  <p class="form-control">
										<input type="text" class="form-control inner"
										  placeholder="Input value or add attribute"> -->
										<!-- <span class="map_attribute_img" (click)="openVariableOption(variableoption)"><img src="/assets/img/campaign/attribute.svg"></span> -->
									  <!-- </p>
									</div>
									<div class="form_row">
									  <label>[[25%]]</label>
									  <p class="form-control">
										<input type="text" class="form-control inner"
										  placeholder="Input value or add attribute"> -->
										<!-- <span class="map_attribute_img" (click)="openVariableOption(variableoption)"><img src="/assets/img/campaign/attribute.svg"></span> -->
									  <!-- </p> -->
									<!-- </div> -->
									<form #variableValue="ngForm">
									<div *ngFor="let item of allVariablesList; let ith = index" class="form_row">
									  <label for="variableValue{{ith}}">{{item}}</label>
									  <div class="form-control-wrapper">
										  <p class="form-control">
											  <input type="text" id="variableValue{{ith}}" name="variableValue{{ith}}" [(ngModel)]="variableValues[ith]" class="form-control inner"
							                   (keyup)="UpdateVariable($event, ith)" placeholder="Input value or add attribute" [ngClass]="{'input-custom-color': isFallback[ith] == true}">
											  <span style="cursor: pointer;" (click)="openVariableOption(ith)" class="map_attribute_img"><img src="/assets/img/campaign/attribute.svg"></span>
										  </p>

										  <div *ngIf="fallbackvalue[ith]" class="fallback-value">fallbackValue : {{fallbackvalue[ith]}}</div>
									  </div>
								  <!-- <div *ngIf="MapOptionFor =='map_name'" class="popup-dialog">
										  <p class="label">Map the column</p>
										  <p *ngFor="let map of mapNameOption ;let i = index" (click)="openMapOption('')"><span>{{map}}</span></p>
										</div> -->
									</div>
								  </form>
								  <div *ngIf="selectedTemplate.Channel === 'WA API'" >
									<p class="mt-2">Button Payload <span>(Optional)</span><img class="px-2 icon sm"
										src="/assets/img/campaign/Info.svg"></p>
									<div class="form_row">
									  <label>Button 1</label>
									  <input type="text" class="form-control" value=""
										placeholder="Input payload value">
									</div>
									<div class="form_row">
									  <label>Button 2</label>
									  <input type="text" class="form-control" value=""
										placeholder="Input payload value">
									</div>
									<div class="form_row">
									  <label>Button 3</label>
									  <input type="text" class="form-control" value=""
										placeholder="Input payload value">
									</div>
								  </div>
								  </div>
								</div>
							 
							  </div>
							  <div class="modal-footer" style="border: none;">
								<div class="input_group_btn mb-1" style="float: right;">
								  <button type="button" class="submit-btn" (click)="showTemplatePreview()">Next</button>
								</div>
							  </div>
					  
							<!-- </div> -->
						  </div>
						</div>
					  </div>
					  </div>
					  
					  <div class="modal fade" tabindex="-1" id="showvariableoption" #showvariableoption data-bs-backdrop="static" role="dialog">
						  <div class="modal-dialog showvariableoption" role="document">
						  <div class="modal-content">
							  <div class="modal-body showvariableoption">
								  <div class="modal-header">
									  <div class="modal-header-left">
										  <h4 class="modal-title" id="modal-basic-title">Attributes</h4>
									  </div>
									  <div class="modal-header-right">
										  <p  class="close-box" aria-label="Close" (click)="closeVariableOption()"><img src="assets/img/teambox/icon-close.svg"></p>
									  </div>
								  </div>
						  
						  
									  <div class="modal-body variableoption">
											  <div class="content">
												  <input class="search-box" type="search" placeholder="Search" [(ngModel)]="attributesearch" />
												  <p *ngFor='let alist of attributesList | searchfilter:attributesearch  ;let i = index' class="form-control" [ngClass]="{ 'selected': selectedAttribute == alist }"
													  (click)="addAttributeInVariables(alist)" style="cursor: pointer;">
													  {{alist}}
												  </p>
											  </div>
									  </div>
									  <div class="content_inner">
										  <div>
											  <span class="titleFallback">Fallback</span>
											  <div class="tooltip-container">
												  <img class="px-2 fallback-tooltip" src="../../../../assets/img/campaign/Info.svg" (click)="showToolTip($event)" style="cursor:pointer">
												  <div *ngIf="showInfo" class="showInfoFallback">
													  <p id="p-body">
														  You can input a value as a fallback for the selected variable (attribute) in the message. This fallback will be used whenever no data is available for the selected variable in the contacts database.
													  </p>
													  <button id="radio-close-btn" (click)="showInfo=false">X</button>
												  </div>
											  </div>
										  </div>
										  <input style="cursor:text; width: 100%; margin: 0;" placeholder="Enter value" type="text" class="form-control" [(ngModel)]="attribute">
									  </div>
												  <div class="modal-footer" style="border: none;">
													  <div class="input_group_btn">
														  <button type="button" class="cancel-btn" aria-label="Close" (click)="closeVariableOption()">Cancel</button>
														  <button [ngClass]="{'disabledAttribute': !selectedAttribute}" type="button" class="submit-btn" aria-label="Close" (click)="SaveVariableOption()" [disabled]="!selectedAttribute">Done</button>
													  </div>
												  </div>
											  </div>
										</div>
									</div>
								</div>
					  
					  
					  <div class="modal fade" tabindex="-1" id="editTemplateMedia" #editTemplateMedia data-bs-backdrop="static" role="dialog">
					  <div class="modal-dialog editTemplateMedia" role="document">
						<div class="modal-content editTemplateMedia">
						  <div class="modal-header">
							<div class="modal-header-left">
							  <h4 class="modal-title" id="modal-basic-title">Replace Media</h4>
							</div>
							<div class="modal-header-right">
							  <p class="close-box" aria-label="Close" (click)="closeEditMedia()"><img
								  src="assets/img/teambox/icon-close.svg"></p>
							</div>
							  </div>
						  <div class="modal-body" style="padding: 0 40px 0 40px;">
							<label class="container mb-2">
							  <input type="radio" name="media_source">
							  <span class="label">By Uploading file</span>
							  <span class="checkmark radio"></span>
							</label>
						
							<div class="important_contact">
						
							  <div class="important_contact_left dragAreaClass">
						
								<img class="icon xl" src="assets/img/campaign/image-a@2x.png">
								<p>Drag & Drop files</p>
								<p><span>or</span></p>
								<label class="custom-file-upload">
								  <input type="file" #file [multiple]="false" (change)="onFileChange($event)" (click)="$event.target.value=null"
									style="display:none" />
								  <img class="icon" src="/assets/img/teambox/upload.png"> Browse files
								</label>
							  </div>
						
							  <div class="important_contact_right mt-0">
								<div class="info_box mt-0">
								  <p class="info"><img src="assets/img/campaign/info-icon.png">Instructions</p>
								  <p><span>Upload a CSV file with the contacts and details that you would like to import. Ensure
									  the CSV file fulfils the Following requirements: Only CSV files are accepted for import.
									  File size must be 10 MB The file must contain at least.. the CSV file fulfils the
									  Following requirements: Only CSV files are accepted for import. File size must be 10
									  MB</span></p>
								</div>
						
							  </div>
						
							</div>
							<div class="important_contact_middle edit_template">
						
							  <div class="left_part">
								<label class="container">
								  <input type="radio" name="media_source">
								  <span class="label">By URL</span>
								  <span class="checkmark radio"></span>
								</label>
								<div class="formrow">
								  <label for="name">URL</label>
								  <input class="form-control" type="text" maxlength="20" placeholder="Enter title in max 20 character"
									name="Name" formControlName="Name" id="name" />
								</div>
						
							  </div>
							  <div class="right_part">
								<label class="container">
								  <input type="radio" name="media_source">
								  <span class="label">Use custom media header</span>
								  <span class="checkmark radio"></span>
								</label>
								<div class="formrow ">
								  <label for="name">Input Value</label>
								  <p class="form-control">
									<input type="text" class="form-control inner" placeholder="Input value or add attribute">
									<!-- <span class="map_attribute_img" (click)="openVariableOption(variableoption)"><img src="/assets/img/campaign/attribute.svg"></span> -->
								  </p>
						
								</div>
						
							  </div>
						
							</div>
						
							<div class="input_group_btn mb-4">
							  <button type="button" class="cancel-btn" (click)="cancelEditTemplateMedia()">Cancel</button>
							  <button type="button" class="submit-btn" (click)="updateEditTemplateMedia()">Done</button>
							</div>
						
						  </div>
							</div>
						   </div>
					  </div>
					  
					  <div class="modal fade" tabindex="-1" id="templatePreview" #templatePreview data-bs-backdrop="static" role="dialog">
					  <div class="modal-dialog templatePreview" role="document">
						<div class="modal-content">
						 <!-- <div *ngIf="TemplatePreview" class="custom_modal bg-pink lg"> -->
						<div class="modal-header">
						  <div class="modal-header-left">
							<h4 class="modal-title" id="modal-basic-title">Preview</h4>
						  </div>
						  <div class="modal-header-right">
							<p class="close-box" aria-label="Close" (click)="closeAllModal()"><img
							  (click)="isAttachmentMedia = false"
								src="assets/img/teambox/icon-close.svg"></p>
						  </div>
						</div>
						<div class="modal-body" style="height: 365px; overflow: scroll;">
						  <div class="template_preiview">
					  
							<div class="template_box">
							  <label class="py-2 container">
								<p><b>{{selectedTemplate.TemplateName}}</b></p>
					  
							  </label>
					  
							  <div class="px-2 inner_box">
								<img *ngIf="selectedTemplate.media_type === 'image'" class="template_img" src="{{selectedTemplate.Links}}">
								<video *ngIf="selectedTemplate.media_type === 'video'" autoplay muted id="video-background" [src]="selectedTemplate.Links"></video>
								<div class="doc-preview"*ngIf="selectedTemplate.media_type === 'document'">
								  <a [href]="selectedTemplate.Links"><img src="../../../../assets/img/settings/doc.svg" /></a>
								  </div>
								  <!-- <p class="close-box edit_media" (click)="editMedia()">
								  <img src="/assets/img/campaign/edit.svg">
								</p> -->
								 <div [ngClass]="{'templateText': selectedTemplate.media_type === 'text'}" class="template_text">
								  <p *ngIf="selectedTemplate.media_type ==='text'" [innerHTML]="selectedTemplate.Header | sanitizeHtml" class="m-0 font-weight-bold"></p>
								  <p [innerHTML]="selectedTemplate.BodyText | sanitizeHtml"></p>
								  <p [innerHTML]="selectedTemplate.FooterText | sanitizeHtml"></p>
								  </div>
							  </div>
							  <div *ngIf="selectedTemplate.Channel === 'WA API'" class="px-2 template_btn">
								<button type="button" class="btn">Button 1</button>
								<button type="button" class="btn">Button 2</button>
								<button type="button" class="btn">Button 3</button>
							  </div>
							</div>
					  
						  </div>
						</div>
					  
						<div class="modal-footer" style="border: none;">
						  <div class="input_group_btn justify-content-center mb-4" style="width: 100%;">
							<button type="button" class="submit-btn" (click)="insertTemplateInChat(selectedTemplate)">Done</button>
						  </div>
						</div>
					  
					  <!-- </div> -->
					   </div>
					  </div>
					  </div>
					  
					  <!-- insert Quick Reply into add smartreplies -->
						<div class="modal fade" tabindex="-1" id="showQuickReply" data-bs-backdrop="static" #showQuickReply role="dialog">
						  <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
							<div class="m-0 px-3 modal-content showQuickReply">
						<div class="modal-header">
						  <div class="modal-header-left">
							<h4 class="modal-title" id="modal-basic-title">Quick Response</h4>
						  </div>
						  <div class="modal-header-right">
							<p class="close-box" aria-label="Close" (click)="closeAllModal()"><img
								src="assets/img/teambox/icon-close.svg"></p>
						  </div>
						</div>
						<div class="modal-body quickResponse">
						  <input class="search-box" type="search" placeholder="Search" (keyup)="searchQuickReply($event)" />
							<div class="items_list">
							  <div class="item" *ngFor="let Message of QuickReplyList" (click)="selectQuickReplies(Message)">
								<img style="height: 50%; width: 100%;" *ngIf="Message.media_type === 'image'" class="template_img" src="{{Message.Links}}">
								<video style="height: 50%; width: 100%;"  *ngIf="Message.media_type === 'video'" muted id="video-background" [src]="Message.Links"></video>
								<div class="doc-preview"*ngIf="Message.media_type === 'document'">
								<a [href]="Message.Links"><img src="../../../../assets/img/settings/doc.svg" /></a>
								</div>
								<p [innerHTML]="Message.BodyText | sanitizeHtml"></p>
							  </div>
							</div>
					  
						  <div class="bottom_section">
							<p class="text-box-readonly"><span><img class="setting_icon px-2" src="../../../../assets/img/profile/Info.svg"></span>
							  Add/edit Quick response from settings</p>
						  </div>
					  
						</div>
					  
					  </div>
					  </div>
					  </div>
					  
					  <!-- insert attributes in add smartReplies -->
					  <div class="modal fade" tabindex="-1" id="showAttributes" data-bs-backdrop="static" role="dialog">
						<div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
						  <div class="m-0 px-3 modal-content custom_modal showAttributes">
							<!-- <div class="custom_modal bg-pink sm"> -->
							<div class="modal-header">
							  <div class="modal-header-left">
								<h4 class="modal-title" id="modal-basic-title">Attributes</h4>
							  </div>
							  <div class="modal-header-right">
								<p class="close-box" aria-label="Close" (click)="closeAllModal()"><img
									src="assets/img/teambox/icon-close.svg"></p>
							  </div>
							</div>
							<div class="modal-body quickResponse">
							  <input class="search-box" type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"
							  [(ngModel)]="attributesearch"/>
							  <div class="items_list">
								<div *ngFor="let alist of attributesList  | searchfilter:attributesearch " class="attribute" (click)="selectAttributes(alist)">
								  <p class="label"><img src="assets/img/teambox/attribute.svg"> {{alist}}</p>
					  
								</div>
							  </div>
							  <div class="bottom_section">
								<p class="text-box-readonly"><span><img class="setting_icon px-2" src="../../../../assets/img/profile/Info.svg">
								</span>Add/edit new attributes from settings</p>
							  </div>
							</div>
							<!-- </div> -->
						  </div>
						</div>
					  </div>
					  
					  <!--smartreplyfailed popup -->
					  <ng-template #smartreplyfailed let-c="close" let-d="dismiss">
						<div class="model-content smartreplies-failed">
						  <div class="smart-replies-failed para">
							<p>Error in Saving Smart Replies <br /> Please try again.</p>
						  </div>
						  <button type="button" class="btn btn1" (click)="c('Save click')">Ok, Got it</button>
					  
						</div>
					  
					  </ng-template>
					  
					  <!--smartreplysuccess  popup -->
					  <ng-template #smartreplysuccess let-c="close" let-d="dismiss">
						  <div class="position-fixed" style="height: 100dvh; width: 100dvw; background-color: rgba(255, 255, 255, 0.892); transition: none !important; top: 0; left: 0; z-index: 2000; transform: none Im !important;"></div>
						  
						  <div class="dd" style="z-index: 2001;">
							  <button (click)="c()" type="button" class="btn5 btn-close" 
									  style="width: 40px;" 
									  data-bs-dismiss="modal" 
									  aria-label="Close"
									  data-bs-target="#smartreplysuccess">
								  <img style="width: 10px;" src="assets/img/teambox/icon-close.svg">
							  </button>
							  <img src="assets/img/export1.png">

							  <div class="modal-body smart-reply-success">
								  <p>
									You are about to create / update Smart Reply<br />Please confirm to save.
								  </p>
								  <div class="ss">
									  <img src="assets/img/your.png">
								  </div>
							  </div>
							  <div class="modal-footer popfooter row text">
								  <div class="col-md-3">
									  <button *ngIf="isEdit==false" type="button" class="btn btn-outline-dark" (click)="sendNewSmartReply(smartreplysuccess,smartreplyfailed)" data-bs-dismiss="modal"
							aria-label="Close" data-bs-target="#smartrepliesModal">
							              Confirm
									  </button>
									  <button *ngIf="isEdit==true" type="button" class="btn btn-outline-dark" (click)="updateSmartReplies(smartreplysuccess,smartreplyfailed)" data-bs-dismiss="modal"
							aria-label="Close" data-bs-target="#smartrepliesModal">
							              Confirm
									  </button>
								  </div>
							  </div>
						  </div>
					  </ng-template>

				</div>
			</div>
		</div>
	</div>


</sb-layout-dashboard>