.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    border-radius: 19px;
    border: 1px solid #EBEBEB;
    background-color: #ffffff;
    margin: 0px 0px 0px -18px;
    font-family: Manrope;
    font-size: 14px;
}
.btn {
    cursor: pointer;
    color: #7A86A1;
    background-color: #ffffff;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    font-family: Manrope;
    font-size: 14px;
	width: 165px;
    height: 36px;
    margin: 19px 0px 0px 443px;
}

.btn:not(:disabled):not(.disabled):hover {
    cursor: pointer;
    color: #6149CD;
    box-shadow: 1px 8px 29px #695F9724;
    opacity: 1;
}
.box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 2px 13px 54px #695F9714;
border-radius: 30px;
opacity: 1;
}
.table-box{
    margin:0px auto;
}
.openbtn{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: Manrope;
    border: none;
}

.table-row:hover{
    display: table;
    width: 95%;
    margin: 10px auto;
    background: #FBFAFF;
    padding: 10px 0;
    color: #000000;
    font-size: 15px;
    border-radius: 20px;
    font-family: Manrope;
    box-shadow: 0px 0px 14px #695F972E;
border: 1px solid #E5E5E5;
opacity: 1;
}

 .table-head{
    display: table;
    width: 95%;
    background: transparent;
    padding: 10px 3px 0px 9px;
    color: #6149CD;
    font-size: 14px;
    margin: 0px 18px;
    font-family: Manrope;
}
.table-cell1{
	display: table-cell;
    padding: 4px 0px 0px 20px;
    width: 70px;
}
.table-cell2{
	display: table-cell;
    padding: 4px 0px 0px 5px;
    width: 130px;
}
.table-cell3{
	display: table-cell;
    padding: 4px 0px 0px 10px;
    width: 310px;
}
.table-cell4{
    display: table-cell;
    padding: 4px 0px 0px 20px;
    width: 150px;
	text-align: center;
}
.table-cell5{
    display: table-cell;
    padding: 4px 0;
}
.table-cell6{
    display: table-cell;
    padding: 4px 0;
}
.table-head .table-cell{
    border-right: none;
}
.gf img {
    position: absolute;
    margin: 11px 0px 0px -8px;
    width: 15px;
    height: 15px;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
   
    margin: 0px 0px 0px -20px;
    padding: 0px 0px 0px 34px;
}


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }  