<sb-layout-auth>
  <div class="row mr-0" id="con">
    
      <div class=" col-lg-5">
        <img src="assets/img/img-reg.png" class="text-left" id="le">
      </div>
      <div class="col-lg-6 reset-password-container  ">

        <div class="">

          <div class="log">
            <h3 class="font-weight-light">Reset Password</h3>
          </div>
          <form [formGroup]="resetpassword">
            <div class="">
              <div class="">
                <label for="floatingInputGrid">New Password</label>

                <input [type]="changetype?'password':'text'" class="form-control" [(ngModel)]="inputText"
                  (input)="onInputChange()" formControlName="password" placeholder="8 character" aria-label="City"
                  name="password" id="password">

                <span class="eyeicon" (click)="viewpass()"><i
                    [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>

                <label for="floatingInputGrid">Confirm Password</label>

                <input [type]="change?'password':'text'" class="form-control " placeholder="Enter" aria-label="City"
                  id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">

                <span class="eyeicon1" (click)="viewpassword()"><i
                    [ngClass]="visible1?'fa fa-eye':'fa fa-eye-slash'"></i></span>


              </div>
            </div>

            <div class="form-group d-flex align-items-center justify-content-between mt-4">
              <button class="btn btn1" [disabled]="isButtonDisabled" (click)="onSubmit()"
                (click)="onSubmit()">Submit</button>
            </div>
            <div *ngIf=" resetpassword.get('password').hasError('required')" class="text-danger">
              ! Password is required
            </div>
            <div *ngIf=" resetpassword.get('password').hasError('pattern')" class="text-danger">
              ! Password must contain at least eight characters,<br> at least one number and both lower and uppercase<br>
              letters and special characters.<br> <br>
            </div>
            <div *ngIf=" resetpassword.get('confirmPassword').hasError('required')" class="text-danger">
             ! Confirm Password is required
            </div>
            <div *ngIf=" resetpassword.hasError('mismatch')" class="text-danger">
             ! Passwords do not match
            </div>
          </form>
          </div>
      </div>
    </div>
  
</sb-layout-auth>