<sb-layout-auth
    ><div class="container col-lg-12">
            <img src="assets/img/img-reg.png" class="float-left"  >
            <div class="row">
                
                <div class="col-lg-12 mt-4">

                            <div class="log"><h3 class="font-weight-light" >Reset Password?</h3>
                            </div>
                            <form [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
                                <div class= "row col-12">
                                    <div class="col-sm-6">
                                          <label for="floatingInputGrid">New Password</label>
                                    
                                          <input [type]="changetype?'password':'text'" class="form-control" 
                                          [ngClass]="{'is-invalid' :submit && resetpassword.controls.passwords.errors }"
                                           placeholder="8 character" aria-label="City"
                                          name="passwords" formControlName="passwords" id="passwords">
                                      <span class="eyeicon"(click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span> 
                                      <div *ngIf= "submit && resetpassword.controls.password.errors" class="text-danger">
                                        ! Password must be 8 character and include both numbers and letters
                                      </div>
                                      <label for="floatingInputGrid">Re-enter New Password</label>
                                    
                                      <input [type]="change?'password':'text'" class="form-control" [ngClass]="{'is-invalid' :submit && resetpassword.controls.confirmpasswords.errors }"
                                       placeholder="Enter" aria-label="City" formControlName="confirmpasswords" id="confirmpasswords">
                                      <span class="eyeicon1"(click)="viewpassword()"><i [ngClass]="visible1?'fa fa-eye':'fa fa-eye-slash'"></i></span> 
                                    </div>
                                </div>

                            <div class="form-group d-flex align-items-center justify-content-between  col-sm-12">
                            <a class="btn btn1" routerLink="/verification">Submit</a>
                            </div>
                            </form>
    
                </div>
            </div>
  
    </div>
</sb-layout-auth>

