// Add styling for icons used within nav links
.nav,
.sb-sidenav-menu {
  .nav-link .sb-nav-link-icon {
    margin-right: 0.6rem;

      &:active {
        color: #FFFFFF;
        background-color: #6149CD;
        border-radius: 24px;
        .sb-nav-link-icon {
          color: $sidenav-dark-link-active-color;
        }
      }
  }



}