<div class="toaster" (click)="hideToaster()">
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
    <p *ngIf="successMessage" class="success">{{successMessage}}</p>
    <p *ngIf="warningMessage" class="warning">{{warningMessage}}</p>
</div>

<div class="row" *ngIf="selectedTab == 0">
    <div class="col p-0">
        <div class="d-flex pb-2 pt-4 main-header-container">
           <div class=" main-headiing-title">Template Message</div>

              <a class="mx-2 gallery-btn" (click)="selectedTab = 1">Gallery</a>

             <div class="mx-2 input-group gf ">

              <input class="form-control" type="text" placeholder="search" name="search" [(ngModel)]="searchText" />

               <img src="../../../../assets/img/search.png">
             </div>

               <div class="mx-2 drop-down-btn">
                <div class="toggle-box" data-bs-toggle="modal" data-bs-target="#filterTemplateModal">
                    <img src="../../../../assets/img/teambox/filter-icon.svg">
                    <span>Filter</span>
             </div>
           </div>

          <button class="mx-2 new-message-btn" data-bs-toggle="modal" data-bs-target="#newTemplateMessageFirst"><img class="mx-1 icon" src="../../../../assets/img/teambox/add.svg" /> New Template</button>	
        </div>
        

            <div *ngIf="filteredTemplatesData.length==0" class="template-empty-state">
				<img src="../../../../assets/img/settings/template-empty.png" />
				<h5 class="mt-3">No Template</h5>
            </div>

             <div class="campaigns_section">
                <div *ngIf="filteredTemplatesData.length>0">
                    <div  *ngFor="let item of filteredTemplatesData  | searchfilter:searchText" class="campaigns_section_item" (click)="toggleTemplatesData(item)">
                        <div class="campaigns_section_item_header">
                            <label [style.background]="statusColors[item.status]">{{item.status}}</label>
                            <span>id: {{item.ID}}</span>
                        </div>
                        <p class="pb-2 title">{{item.TemplateName}}</p>
                        <p class="start_time">Created On: <span>{{item.created_at | date:'dd MMM yy, h:mm a'}}</span></p>
                        <p class="start_time">Modified On: <span>{{item.updated_at | date:'dd MMM yy, h:mm a'}}</span></p>
                        <p class="pt-2"><img  class="icon" src="../../../../assets/img/teambox/whatsapp-icon-l.svg" />{{item.Channel}}</p>
                        <div class="campaigns_section_item_statics">
                            <div><p>{{item.Category}}</p><p><span>Category</span></p></div>
                            <div>
                                <div class="d-flex">
                                <img [src]="profilePicture"/><p>{{item.created_By}}</p>
                              </div>
                              <p><span>Created By</span></p>
                            </div>
                         
                        </div>

                    </div>
                </div>

       

                <div *ngIf="showCampaignDetail" class="campaign_detail">
                    <div class="modal-header filtercampaignheader">
                        <div class="modal-header-left">
                        </div>
                        <div class="modal-header-right">
                            <p class="close-box" (click)="toggleTemplatesData(null)"><img src="../../../../assets/img/teambox/icon-close.svg"></p>
                        </div>
                    </div>
    
                    <div class="campaigns_section_item">
                        <div class="campaigns_section_item_header">
                            <label [style.background]="statusColors[templatesMessageData?.status]">{{templatesMessageData?.status}}</label>
                            <span>id: {{templatesMessageData?.ID}}</span>
                        </div>
                        <p class="start_time">Created on: <span>{{templatesMessageData?.created_at | date:'dd MMM yy, h:mm a'}}</span> 
                                              Modified On: <span>{{templatesMessageData?.updated_at | date:'dd MMM yy, h:mm a'}}</span></p>
                        <div class="campaigns_section_user">
                            <div class="d-flex align-items-center"> <img [src]="profilePicture" />
                            <p class="m-0">{{templatesMessageData?.created_By}}</p></div>
                            <p><span>Created By</span></p>
                        </div>
                        <p class="title" >{{templatesMessageData?.TemplateName}}</p>
                        <p><img class="icon" src="../../../../assets/img/teambox/whatsapp-icon-l.svg" />{{templatesMessageData?.Channel}}</p>
                        <div class="d-flex w-100 pb-4 category_section">
                            <div>
                                <p>Category</p>
                                <span>{{templatesMessageData?.Category}}</span>
                            </div>
                            <div>
                                <p>Language</p>
                                <span>{{templatesMessageData?.Language}}</span>
                            </div>
                          
                        </div>
                        <p id="message_head"> Message </p>
                        <div class="message_section">
                            <div *ngIf="templatesMessageData?.media_type == 'image'" class="message_type" 
                            [ngStyle]="{'background-image': 'url(' + templatesMessageData?.Links + ')'}">
                        </div>
                            <div *ngIf="templatesMessageData?.media_type == 'video'" class="message_type">
                                <video autoplay loop muted id="video-background" [src]="templatesMessageData?.Links" type="video/mp4"></video>
                            </div>
                            <div *ngIf="templatesMessageData?.media_type == 'document'" class="message_type">
                                <div class="doc-preview" *ngIf="templatesMessageData?.Links" width="100%" height="150px">
                                  <a [href]="templatesMessageData?.Links"><img src="../../../../assets/img/settings/doc.svg" /></a>
                                </div>
                            </div>
                            <div class="message_data" [ngClass]="{'preview': templatesMessageData.media_type === 'text'}">
                                <span [innerHTML]="templatesMessageData?.Header"></span><br /><br />
                                <span [innerHTML]="templatesMessageData?.BodyText"></span><br /><br />
                                <span [innerHTML]="templatesMessageData?.FooterText"></span><br />
                            </div>
                            <!-- <div class="contact-us">
                                Contact Us
                            </div> -->
                        </div>
                     </div>
                    <div class="action_section">
                        <button *ngIf="status!=='draft'" type="button" class="btn" (click)="copyTemplate()"><img src="../../../../assets/img/teambox/copy.svg"></button>
                        <button *ngIf="status=='draft'" class="titleimg" (click)="copyTemplatesData()" ><img src="../../../../assets/img/edit.png"></button>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal" ><img src="../../../../assets/img/teambox/delete.svg"></button>
                    </div>
                </div>

  </div> 
 

    </div>

</div>

<div *ngIf="selectedTab== 1">

        <div class="d-flex pt-3 align-items-center head-container">
       
                <div class="d-flex flex-grow-1">
                    <div class="back-btn" (click)="selectTab(0)">
                        <img src="../../../../assets/img/profile/previous1.svg" />
                    </div>
                    <div class="main-title">
                        <h4 class="m-0 px-4">Gallery</h4>
                    </div>
                </div>
    
             <div class="mx-2 input-group gf ">

                <input class="form-control" type="text" placeholder="search" name="searchgallery" [(ngModel)]="searchTextGallery" />
  
                 <img src="../../../../assets/img/search.png">
               </div>
                    
               <div class="mx-2 drop-down-btn">
                <div class="toggle-box" data-bs-toggle="modal" data-bs-target="#filterTemplateModal">
                    <img src="../../../../assets/img/teambox/filter-icon.svg">
                    <span>Filter</span>
             </div>
           </div>
            
        </div>

        <div *ngIf="galleryData.length==0" class="template-empty-state">
            <img src="../../../../assets/img/settings/template-empty.png" />
            <h5 class="mt-3">No Gallery</h5>
        </div>

        <div class="pt-3 campaigns_section">
            <div *ngIf="galleryData.length>0">
            <div *ngFor="let gallerydata of filteredGalleryData  | searchfilter:searchTextGallery" class="px-4 campaigns_section_item" (click)="toggleGalleryData(gallerydata)">
                <div class="gallery_section_item_header">
                    <label>{{gallerydata.topic}}</label>
                </div>
                <p class="py-2 text-capitalize title">{{gallerydata.TemplateName}}</p>
             
                <div class="campaigns_section_item_statics">
                    <div class="py-2"><p>{{gallerydata.Language}}</p><p><span>Language</span></p></div>
                    <div class="py-2"><p>{{gallerydata.Category}}</p><p><span>Category</span></p></div>         
                </div>
                
              
                    <div class="d-flex py-1">
                    <p>{{gallerydata.industry}}</p>
                  </div>
                  <p><span>Industry</span></p>
            </div>

            </div>
  
</div>
<div *ngIf="showGalleryDetail" class="campaign_detail">
    <div class="modal-header filtercampaignheader">
        <div class="modal-header-left">
        </div>
        <div class="modal-header-right">
            <p class="close-box" (click)="toggleGalleryData(null)"><img src="../../../../assets/img/teambox/icon-close.svg"></p>
        </div>
    </div>

    <div class="campaigns_section_item">
        <div class="campaigns_section_item_header">
            <label>{{galleryMessageData?.topic}}</label>
        
        </div>

        <p class="text-capitalize title" >{{galleryMessageData?.TemplateName}}</p>
        <!-- <p><img class="icon" src="../../../../assets/img/teambox/whatsapp-icon-l.svg" />{{templatesMessageData?.Channel}}</p> -->
        <div class="d-flex w-100 pb-4 category_section">
            <div>
                <p>Category</p>
                <span>{{galleryMessageData?.Category}}</span>
            </div>
            <div>
                <p>Language</p>
                <span>{{galleryMessageData?.Language}}</span>
            </div>
          
        </div>
        <div class="industry">
            <p>Industry</p>
            <span>{{galleryMessageData?.industry}}</span>
        </div>
        <p id="message_head"> Message </p>
        <div class="message_section">
            <div *ngIf="galleryMessageData.media_type == 'image'" class="message_type" [ngStyle]="{'background-image': 'url(' + galleryMessageData?.Links + ')'}"></div>
            <div *ngIf="galleryMessageData.media_type == 'video'" class="message_type">
                <video autoplay loop id="video-background" [src]="galleryMessageData?.Links" type="video/mp4"></video>
            </div>
            <div *ngIf="galleryMessageData?.media_type == 'document'" class="message_type">
                <div class="doc-preview" *ngIf="galleryMessageData?.Links" width="100%" height="150px">
                  <a [href]="galleryMessageData?.Links"><img src="../../../../assets/img/settings/doc.svg" /></a>
                </div>
            </div>
            <div class="message_data" [ngClass]="{'preview': galleryMessageData.media_type === 'text'}">
                <span [innerHTML]="galleryMessageData?.Header"></span><br /><br />
                <span [innerHTML]="galleryMessageData?.BodyText"></span><br /><br />
                <span [innerHTML]="galleryMessageData?.FooterText"></span><br />
            </div>
            <!-- <div class="contact-us">
                Contact Us
            </div> -->
        </div>
     </div>
    <div class="action_section">
        <button type="button" class="btn" (click)=" copyGalleryData()"><img src="../../../../assets/img/teambox/copy.svg"></button>
    </div>
</div>

</div>

<div class="modal fade" tabindex="-1" id="deleteModal" data-bs-backdrop="static" role="dialog">
    <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
        <div class="m-0 modal-content delete-modal">
            <div class="modal-body alertmessage">
                <p class="label pb-2">Do you really want to delete this Template ?</p>
                <div class="delete_group_button d-flex justify-content-center">
                    <button type="button" class="cancel-btn" aria-label="Close"
                        data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="delete-btn" aria-label="Close" (click)="deleteTemplate()">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="filterTemplateModal" data-bs-backdrop="static" role="dialog">
    <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
        <div class="m-0 modal-content filterTemplate-modal">
            <div class="modal-header align-items-center ">
                <h5 class="modal-title">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <div class="modal-body px-5 pt-0">
                <div class="container d-flex flex-row">

                
                <div class="d-flex flex-column filter-cateegory" >
                    <div class="d-flex justify-content-around" *ngFor="let f of filterCategory let i = index" 
                    [ngClass]="{'selected-category': i === selectedCategory}" (click)="setSelectedCategory(i)">
                      <span>{{f}}</span> 
                      <span><img class="" src="../../../../assets/img/profile/next1.svg"/>
                    </span>
                    </div>
                </div>
                <div class="px-5 flex-grow-1 filter-list">
                    <label *ngIf="selectedCategory == 0" class="pb-2">Filter by {{filterCategory[selectedCategory]}}</label>
                    <label *ngIf="selectedCategory == 1" class="pb-2">Filter by {{filterCategory[selectedCategory]}}</label>
                    <label *ngIf="selectedCategory == 2" class="pb-2">Filter by {{filterCategory[selectedCategory]}}</label>
                    <label *ngIf="selectedCategory == 3" class="pb-2">Filter by {{filterCategory[selectedCategory]}}</label><br>
                  
                    <div *ngIf="selectedCategory == 0">
                      <div *ngFor="let Topic of filterListTopic; let i = index" class="py-2 custom-control custom-checkbox user-dropdown">
                        <input type="checkbox" [(ngModel)]="Topic.checked" class="custom-control-input" value={{Topic.value}} (click)="updateFilter($event,Topic)"
                          id="Topic{{i}}" >
                        <img class="user-img ml-2">
                        <label class="custom-control-label" for="Topic{{i}}"> <span class="ml-2">{{Topic.label}}</span></label>
                       
                      </div>
                    </div>
                    <div *ngIf="selectedCategory == 1">
                      <div *ngFor="let Industry of filterListIndustry; let i = index" class="py-2 custom-control custom-checkbox user-dropdown">
                        <input type="checkbox" [(ngModel)]="Industry.checked" class="custom-control-input" value={{Industry.value}} (click)="updateFilter($event,Industry)"
                        id="Industry{{i}}">
                        <img class="user-img ml-2">
                       <label class="custom-control-label" for="Industry{{i}}"><span class="ml-2">{{Industry.label}}</span></label> 
                      </div>
                    </div>
                    <div *ngIf="selectedCategory == 2">
                      <div *ngFor="let Category of filterListCategory; let i = index" class="py-2 user-dropdown custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="Category.checked" value="{{Category.value}}" (click)="updateFilter($event,Category)"
                        id="Category{{i}}" >
                        <img class="user-img ml-2">
                        <label class="custom-control-label" for="Category{{i}}"><span class="ml-2">{{Category.label}}</span></label>
                      </div>
                    </div>
                    <div *ngIf="selectedCategory == 3">
                      <div *ngFor="let Language of filterListLanguage; let i = index" class="py-2 user-dropdownn custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="Language.checked" value="{{Language.value}}" (click)="updateFilter($event,Language)"
                        id="Language{{i}}">
                        <img class="user-img ml-2">
                        <label class="custom-control-label" for="Language{{i}}"><span class="ml-2">{{Language.label}}</span></label>
                      </div>
                    </div>
                  </div>
                        
                </div>
              </div>
            <div class="modal-footer">
                <button type="button" class="clear account-btn" (click)="clearFilters()">Clear All</button>
                <button type="button" class="account-btn" (click)="applyTemplateFilter()">Apply</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="newTemplateMessageFirst" data-bs-backdrop="static" role="dialog">
    <div class="m-auto newTemplateMessageFirst modal-dialog" role="document">
        <div class="mt-0 modal-content welcomGreeting">
            <div class="d-flex justify-content-between pr-4 align-items-center modal-header">
                <h5 class="pl-4 modal-title">New Template Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="removeFormValues()">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <form [formGroup]="newTemplateForm">
            <div class="first-form p-3 modal-body">
                <div class="container m-auto ">
                <div class="d-flex justify-content-between align-items-center pt-3 pb-2 msg-head">
                    <h6>Template Name <span class="text-danger font-weight-bold">*</span></h6>
                </div>
                <div class="sel-type-text">
                    <textarea name="text-editor" formControlName="TemplateName" maxlength="512"rows="8" placeholder="Enter template name in max 512 characters"></textarea>
                </div>

                <div class="p-1 msg-head">
                    <h6 class="pt-1 pb-2">Channel <span class="text-danger font-weight-bold">*</span></h6>
                    <select class="sel input-form" formControlName="Channel">
                        <option [disabled]="true" [selected]="true" [hidden]="true" [value]="null">Select channel</option>
                        <option *ngFor="let item of filterListChannel">{{item.label}}</option>
                    </select>
                </div>
                <div class="p-1 msg-head">
                    <h6 class="pt-1 pb-2">Category <span class="text-danger font-weight-bold">*</span></h6>
                    <select class="sel input-form" formControlName="Category" (change)="onCategoryChange($event)">
                        <option [disabled]="true" [selected]="true" [hidden]="true" [value]="null">Select category</option>
                        <option *ngFor="let item of filterListCategory">{{item.label}}</option>
                    </select>
                </div>
                <div class="p-1 msg-head">
                    <h6 class="pt-1 pb-2">Language <span class="text-danger font-weight-bold">*</span></h6>
                    <select class="sel input-form" formControlName="Language">
                        <option [disabled]="true" [selected]="true" [hidden]="true" [value]="null">Select language</option>
                        <option *ngFor="let item of filterListLanguage">{{item.label}}</option>     
                    </select>
                </div>
            </div>
        </div>
            <div class="pr-4 modal-footer">
                <button type="button" (click)="saveTemplateNextStep()" class="account-btn" >Next</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="newTemplateMessage" data-bs-backdrop="static" role="dialog">
    <div class="m-auto newTemplateMessage modal-dialog" role="document">
        <div class="m-0 modal-content welcomGreeting">
            <div class="d-flex justify-content-between align-items-center modal-header">
                <h5 class="pl-2 modal-title">New Template Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <form [formGroup]="newTemplateForm">
           <div class="modal-container">


            <div class="modal-body">


                <div class="main-container-for-body">
                    <button type="button" class="previous-btn" type="button" data-bs-toggle="modal" data-bs-target="#newTemplateMessageFirst">
                        <img src="../../../../assets/img/profile/previous.svg" />
                    </button>
                    <div class="d-flex justify-content-between align-items-center sel-type-btns">

                        <input type="radio" id="sel-text" name="sel-type" (change)="showMessageType('text')" 
                           [checked]="templatesMessageData.media_type=='text' || galleryMessageData.media_type=='text'">
                        <label [ngClass]="{'radio-label': selectedType === 'text'}" class="m-0" for="sel-text">Text</label>
                        <input type="radio" id="sel-image" name="sel-type" (change)="showMessageType('image')"
                        [checked]="templatesMessageData.media_type=='image' || galleryMessageData.media_type=='image'">
                        <label [ngClass]="{'radio-label': selectedType === 'image'}"  class="m-0" for="sel-image">Image</label>
                        <input type="radio" id="sel-video" name="sel-type" (change)="showMessageType('video')"
                        [checked]="templatesMessageData.media_type=='video' || galleryMessageData.media_type=='video'">
                        <label [ngClass]="{'radio-label': selectedType === 'video'}"  class="m-0" for="sel-video">Video</label>
                        <input type="radio" id="sel-document" name="sel-type"(change)="showMessageType('document')"
                        [checked]="templatesMessageData.media_type=='document' || galleryMessageData.media_type=='document'">
                        <label [ngClass]="{'radio-label': selectedType === 'document'}" class="m-0" for="sel-document">Document</label>
                    
                    </div>

                    <div class="sel-type-text-container">
                            <div *ngIf="selectedType === 'text'">
                            <div class="d-flex justify-content-between align-items-center pt-3 pb-2 msg-head">
                                <h6>Header <span>(Optional)</span></h6><div><span class="characters-count">{{ getCharacterCount(3) }}</span><span>/60 Characters</span></div>
                            </div>
                            <div class="sel-type-text">
                                <textarea name="text-editor" formControlName="Header" maxlength="60"rows="6" placeholder="Enter" (input)="updateCharacterCount($event,3)"></textarea>
                            </div>
                        </div>

                    </div>
            
                <div *ngIf="selectedType === 'image'" class="my-4 sel-type-image">
                        <input type="file" accept="image/jpeg, image/png" (change)="onFileChange($event)" id="sel-type-image">
                        <div *ngIf="newTemplateForm.get('Links')?.value == null">
                        <label class="type_label" for="sel-type-image"><img src="../../../../assets/img/teambox/add-white.svg" /></label>
                        <p class="m-0">Upload or enter link of image</p></div> 
                        <div class="main-preview-type-image" *ngIf="newTemplateForm.get('Links')?.value !== null" [ngStyle]="{'background-image': 'url(' + selectedPreview + ')'}">
                            <span class="p-2 text-right" (click)="removeValue()"><img src="../../../../assets/img/settings/remove.svg" /></span>
                        </div>
                </div>

                <div *ngIf="selectedType === 'video'" class="my-4 sel-type-video">
                    <input type="file" accept="video/mp4" name="video-upload" (change)="onFileChange($event)" id="sel-type-video">
                    <label *ngIf="!selectedPreview" class="type_label" for="sel-type-video"><img src="../../../../assets/img/teambox/add-white.svg" /></label> 
                    <div class="video-player">
                        <span *ngIf="selectedPreview" class="p-2 text-right main-preview-type-video" (click)="removeValue()">
                          <img src="../../../../assets/img/settings/remove.svg" />
                        </span>
                    <video [src]="selectedPreview" type="video/mp4" controls #videoPlayer></video>
                    </div>
                    <div class="custom-play-button"></div>
                
                </div>
            
                <div *ngIf="selectedType === 'document'" class="my-4 sel-type-image" [ngClass]="{'document-selected':newTemplateForm.get('Links')?.value !== null}">
                    <div class="main-preview-type-doc" *ngIf="newTemplateForm.get('Links')?.value !== null">
                        <span class="p-2" (click)="removeValue()"><img src="../../../../assets/img/settings/remove.svg" /></span>
                    </div>
                    <img *ngIf="newTemplateForm.get('Links')?.value !== null" src="../../../../assets/img/settings/doc.svg" />
                    <span class="document-preview" *ngIf="newTemplateForm.get('Links')?.value !== null" >{{ this.fileName }}</span>
                    <span class="document-preview" *ngIf="newTemplateForm.get('Links')?.value !== null && !this.fileName" >Doc Uploaded Through link</span>
                        <input type="file" accept=".doc, .docx, .pdf" (change)="onFileChange($event)" name="document-select" id="sel-type-document">
                        <div *ngIf="newTemplateForm.get('Links')?.value == null">
                        <label class="type_label" for="sel-type-document"><img src="../../../../assets/img/teambox/add-white.svg" /></label>
                        <p class="m-0">Upload or enter link of document</p>
                       </div>
                         
                </div>


            <div>

                <div *ngIf="selectedType !== 'text' && newTemplateForm.get('Channel')?.value == 'WhatsApp Web'" class="flex-column sel-type-link">
                    <label for="link" id="Links" >Link</label>
                    <input type="url" id="Links" [attr.disabled]="newTemplateForm.get('Links')?.value !== null ? 'disabled' : null"  (change)="uploadThroughLink()" formControlName="Links" placeholder="Paste only a direct link of the media file, No embedded links.">
                </div>


                <div class="d-flex justify-content-between align-items-center pt-3 pb-2 msg-head">
                    <h6>Body Text</h6> <div><span class="characters-count"></span><span>Characters</span></div>
                </div>
                <div class="sel-type-text">
                    <!-- <textarea name="text-editor" formControlName="BodyText" maxlength="1024"rows="8" placeholder="Enter" (input)="updateCharacterCount($event,4)"></textarea> -->
                    <ejs-richtexteditor
                    [(value)]="BodyText"
                    id='defaultRTE'
                    #chatEditor
                    [toolbarSettings]='tools'
                    [height]="'200px'"
                    [maxLength]='1024'
                    [showCharCount]='true'
                    (change)="onEditorChange(chatEditor.value)"
                     placeholder="Enter"
                    >
                  </ejs-richtexteditor>
                </div>
              
                <div class="d-flex justify-content-between align-items-center pt-3 pb-2 msg-head">
                    <h6>Footer Text<span>(Optional)</span></h6><div> <span class="characters-count">{{ getCharacterCount(5) }}</span><span>/60 Characters</span></div>
                </div>
                <div class="sel-type-text">
                    <textarea name="text-editor" formControlName="FooterText" maxlength="60"rows="4" placeholder="Enter" (input)="updateCharacterCount($event,5)"></textarea>
                </div>
            </div>
            </div>    
            
            <div *ngIf="newTemplateForm.get('Channel')?.value == 'WhatsApp Official'" class="d-flex pt-3 pb-2 flex-column add-buttons">
                <div class="px-4 pt-1 msg-head">
                    <h6>Buttons<span>(Optional)</span></h6>
                    <span class="pb-1">Add buttons to let customers respond to your message or<br /> take action</span>
                    <br />
                    <select class="mt-1 input-form" formControlName="buttonType">
                        <option  [disabled]="true" [selected]="true" [hidden]="true">Select a button type</option>
                        <option>Quick Reply</option>
                        <option>Call to Action</option>
                    </select>
                </div>

                <div class="quick-reply-btns" *ngIf="newTemplateForm.get('buttonType')?.value === 'Quick Reply'">
                   <span>You can add upto 3 quick replies buttons</span>

                   <div *ngFor="let quickReply of quickReplyButtons;let idx=index">
                    <div class="d-flex justify-content-between align-items-center msg-head">
                        <h6>Quick Reply {{ idx + 1 }}</h6><div><span class="characters-count">{{ getCharacterCount(idx) }}</span><span>/25 Characters</span></div>
                    </div>
                    <div class="flex-column sel-type-link">
                        <input type="text" id="quickreply" maxlength="25" [formControlName]="'quickreply' + (idx + 1)" placeholder="Enter" (input)="updateCharacterCount($event, idx)">
                    </div>
                    <div class="d-flex justify-content-between incoming-card">
                        <div>
                            <a class="add-btn" (click)="addQuickReplyButtons()" *ngIf="idx == quickReplyButtons?.length -1">+ Add</a>
                        </div>
                        <a class="remove-btn" (click)="removeQuickReplyButtons(idx)" *ngIf="quickReplyButtons?.length>1">- Remove</a>
                    </div>
                   </div>
                    
                </div>

                <div class="call-to-action-btns" *ngIf="newTemplateForm.get('buttonType')?.value === 'Call to Action'">
                    <span>You can add upto 2 call to action buttons</span>
                    
                  <div class="container-call-to-btns">
                    <div class="d-flex justify-content-between">
                      <div class="pt-3 pb-2 msg-head">
                            <h6 class="pt-1 pb-3">Type of Action</h6>
                            <select class="input-form">
                                <option [selected]="true">Call Phone</option>
                                <option [disabled]="true" >Visit Website</option>
                            </select>
                        </div>
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-center pt-3 pb-2 msg-head">
                            <h6>Button Name</h6> <div><span class="characters-count">{{ getCharacterCount(6) }}</span><span>/25 Characters</span></div>
                          </div>
                          <div class="sel-type-link">
                            <input type="text" formControlName="buttonText" maxlength="25"  placeholder="Enter" (input)="updateCharacterCount($event, 6)">
                        </div>                         
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="pt-3 pb-2 msg-head">
                    <h6 class="pt-1 pb-3">Country</h6>
                    <select class="callto input-form" formControlName="country_code" [(ngModel)]="selectedCountryCode">
                        <option *ngFor="let countryCode of countryCodes let i = index" [ngValue]="countryCode">
                          {{ countryCode }}
                        </option>
                      </select>
                    </div>
                    <div class="flex-grow-1">
                      <div class="d-flex justify-content-between align-items-center pt-3 pb-2 msg-head">
                        <h6>Phone No.</h6> <div><span class="characters-count">{{ getCharacterCount(7) }}</span><span>/20 Characters</span></div>
                      </div>
                      <div class="sel-type-link">
                        <input type="text" formControlName="phone_number" maxlength="20" placeholder="Enter" style="display: none">
                        <input type="text" formControlName="displayPhoneNumber" maxlength="20" placeholder="Enter" (input)="updateCharacterCount($event, 7)" (change)="formatPhoneNumber()">
                   </div>  
                   </div>
                  </div>
                  </div>
                </div>
            
            </div>      
        </div>
        <div class="col-5 justify-content-center preview-part">
       
            <div class="message_section">
                <h6>Preview</h6>
                <div *ngIf="selectedType === 'image'" class="message_type" [ngStyle]="{'background-image': 'url(' + selectedPreview + ')'}">
                </div>
                <div *ngIf="selectedType === 'video'" class="video message_type">
                    <video *ngIf="selectedPreview" [src]="selectedPreview" type="video/mp4" autoplay muted #videoPlayer></video>
                </div>
                <div *ngIf="selectedType === 'document'" class="message_type" [ngClass]="{'document-selected':newTemplateForm.get('Links')!.value !== null}">
                    <div class="d-flex flex-column">
                        <img class="mx-auto mt-4" *ngIf="newTemplateForm.get('Links')!.value !== null" src="../../../../assets/img/settings/doc.svg" />
                        <span class="document-preview" *ngIf="newTemplateForm.get('Links')!.value !== null" >{{ newTemplateForm.get('Links')!.value }}</span>
                    </div>
                </div>
                <!-- <div class="message_type" [ngStyle]="{'background-image': 'url(' + templatesMessageData?.Links + ')'}"></div> -->
                <div class="message_data" [ngClass]="{'preview': selectedType === 'text'}" >
                    <span class="font-weight-bolder">{{newTemplateForm.get('Header')!.value}}</span><br /><br />
                    <span class="richtext BodyText" [innerHTML]="newTemplateForm.get('BodyText')?.value"></span><br /><br />
                    <span>{{newTemplateForm.get('FooterText')?.value}}</span><br />
                </div>
                <!-- <div class="contact-us">
                    Contact Us
                </div> -->
            </div>
        </div>

    </div>
            <div class="modal-footer">
                <button type="button" class="account-btn"  data-bs-toggle="modal" data-bs-target="#newTemplateMessagePreview">Next</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="newTemplateMessagePreview" data-bs-backdrop="static" role="dialog">
    <div class="m-auto newTemplateMessage modal-dialog" role="document">
        <div class="m-0 modal-content welcomGreeting">
            <div class="d-flex justify-content-between align-items-center modal-header">
                <h5 class="pl-2 modal-title">New Template Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/img/teambox/icon-close.svg">
                </button>
            </div>
            <form [formGroup]="newTemplateForm">
           <div class="modal-container">


            <div class="modal-body">

                <button type="button" class="previous-btn" type="button" data-bs-toggle="modal" data-bs-target="#newTemplateMessage">
                    <img src="../../../../assets/img/profile/previous.svg" />
                </button>
                <div class="main-container-for-body">
         
            </div>    
               
        </div>
        <div class="col-5 justify-content-center preview-part">
            <div class="message_section">
                <h6>Preview</h6>
                <div *ngIf="selectedType === 'image'" class="message_type" [ngStyle]="{'background-image': 'url(' + selectedPreview + ')'}">
                </div>
                <div *ngIf="selectedType === 'video'" class="video message_type">
                    <video *ngIf="selectedPreview" [src]="selectedPreview" type="video/mp4" autoplay muted #videoPlayer></video>
                </div>
                <div *ngIf="selectedType === 'document'" class="message_type" [ngClass]="{'document-selected':newTemplateForm.get('Links')!.value !== null}">
                    <div class="d-flex flex-column">
                        <img class="mx-auto mt-4" *ngIf="newTemplateForm.get('Links')!.value !== null" src="../../../../assets/img/settings/doc.svg" />
                        <span class="document-preview" *ngIf="newTemplateForm.get('Links')!.value !== null" >{{ newTemplateForm.get('Links')!.value }}</span>
                    </div>
                </div>
                <!-- <div class="message_type" [ngStyle]="{'background-image': 'url(' + templatesMessageData?.Links + ')'}"></div> -->
                <div class="message_data" [ngClass]="{'preview': selectedType === 'text'}" >
                    <span class="font-weight-bolder" [innerHTML]="newTemplateForm.get('Header')?.value"></span><br /><br />
                    <span [innerHTML]="newTemplateForm.get('BodyText')?.value" ></span><br /><br />
                    <span [innerHTML]="newTemplateForm.get('FooterText')?.value"></span><br />
                </div>
                <!-- <div class="contact-us">
                    Contact Us
                </div> -->
            </div>
        </div>

    </div>
            <div class="modal-footer">
                <button type="button" class="account-btn draft">Save as draft</button>
                <button type="button" class="account-btn" (click)="confirmsave()" >Submit</button>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="confirmationModal" data-bs-backdrop="static" role="dialog">
    <div class="m-auto d-flex justify-content-center align-items-center h-100 modal-dialog" role="document">
        <div class="m-0 modal-content confrimation-modal">
            <div class="modal-header">
                <img src="../../../../assets/img/settings/Send-o.svg" />
            </div>
            <div class="modal-body">
                <h2 class="m-0 text-center">You are About to Submit</h2>
                <p class="label pb-2">Please confirm before submitting Template message <strong>{{newTemplateForm.get('TemplateName')?.value}}</strong></p>
                <div class="d-flex justify-content-center confirm-modal delete_group_button">
                    <button type="button" class="cancel-btn" aria-label="Close" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="delete-btn" aria-label="Close" (click)="saveNewTemplate()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>

	<div class="modal fade" tabindex="-1" id="atrributemodal" #atrributemodal data-bs-backdrop="static" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="attrmodal modal-content">
				<div class="modal-body">
					<div class="custom_modal bg-pink sm attributes">
						<div class="modal-header">
							<div class="modal-header-left">
								<h4 class="modal-title" id="modal-basic-title">Attributes</h4>
							</div>
							<div class="modal-header-right">
								<p (click)="closeAllModal()" class="close-box" aria-label="Close"><img
										src="assets/img/teambox/icon-close.svg"></p>
							</div>
						</div>
						<div class="modal-body quickResponse">
							<input class="search-box" type="text" placeholder="Search" aria-label="Search"
								aria-describedby="basic-addon2" [(ngModel)]="attributesearch" />
							<div class="items_list">
								<div *ngFor="let alist of attributesList  | searchfilter:attributesearch " class="attribute">
									<p class="label"><img src="assets/img/teambox/attribute.svg"> {{alist}}</p>
								</div>
							</div>

							<div class="bottom_section">
								<p class="text-box-readonly"><span><img class="setting_icon px-2" src="../../../../assets/img/profile/Info.svg">
								</span>Add/edit new attributes from settings</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>