<sb-layout-dashboard><sb-dashboard-head title="Teambox" [hideBreadcrumbs]="true"></sb-dashboard-head>
<div class="row mt-5">
	<div class="col-md-4">
		<div class="row">
		   <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0 col-9">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><fa-icon [icon]='["fas", "search"]'></fa-icon></button>
            </div>
        </div>
    </form>

    		<button class="btn btn-primary btn-block col-md-2 text-center"><i class="fa fa-filter"></i></button>
    	</div>

		<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs teamnav">
	<li [ngbNavItem]="1">
		<a ngbNavLink>Unassigned<span class="num">4</span></a>
		<ng-template ngbNavContent>
			<ul class="list_chat">
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				<li>
					<div class="wpImg col-md-2">
					<img src="assets/img/dummy.png">
					</div>
					<div class="wpDetail col-md-6">
					<h5>ABC</h5>
					<p>dhjs</p>
					</div>
					<div class="wptime col-md-4">
						<p>11:22am
						<img src="assets/img/wp.png" width="20" class="float-right"></p>
						<span class="round float-right">1</span>
					</div>
				</li>
				
			</ul>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink>Mine</a>
		<ng-template ngbNavContent>
			
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink>Mentioned</a>
		<ng-template ngbNavContent>
			
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

	</div>
	<div class="col-md-6 border-right">
					<div class="col-md-12 chatbox border-bottom d-flex m-auto">
						<div class="col-md-2 chatboxproimg m-auto">
							<img src="assets/img/dummy.png">
							</div>
							<div class="col-md-4 chatboxprodet m-auto">
							<h5>ABC</h5>
							<p>dhjs</p>
							</div>
							<div class="col-md-6 others d-flex m-auto">
				<div class="m-auto"><span class="num">4</span></div>
				<div class="m-auto">
					Resolve
				</div>
				<form>
					<select class="form-control">
						<option>Select</option>
					</select>
				</form>
							</div>
						</div>
		<div class="chatbox-data mt-2 mb-2">
			<div class="float-left mess">
				Hi
			</div>
			<div class="float-right text-right mess">
				Hi
			</div>
			<div class="float-left mess">
				Hi
			</div>
			
		</div>
		<div class="reply">
			<h6>Reply</h6>
			<textarea name="content" id="replyText" class="form-control" rows="4" cols="50" placeholder="type your message..."></textarea>
			<button class="btn btn-primary float-right sharebtn"><i class="fa fa-paper-plane"></i></button>
			<div class="action">
				<button type="button" class="btn" (click)="bold()"><b>B</b></button>
				<button type="button" class="btn" (click)="itelic()"> <i>I</i></button>
				<button type="button" class="btn">$</button>
				<button type="button" class="btn"> < / ></button>
				<button type="button" class="btn"><i class="fa fa-share"></i></button>
				<button type="button" class="btn"> < > </button>
	<div class="image-upload">
	<label for="file-input">
	<i class="fa fa-paperclip"></i>
	</label>
	<input id="file-input" type="file" />
   </div>
				
			</div>
			
		</div>
			
	</div>

	<div class="col-md-2 proSetting">
		<div class="d-flex headingset border-bottom mb-2">
			<div class="col-md-9 online">
			<h5><img src="assets/img/online.png" width="10">
			Online</h5>
			</div>
		</div>
		<div class="profile text-center">
			<img src="assets/img/dummy.png">
			<h5>ABC</h5>
			<p>dhjs</p>
		</div>
		<form class="pl-1">
			<div class="form-group row"><label class="small">Basic</label>
            <input class="form-control" type="text" placeholder="" />
        </div>
        <div class="form-group row"><label class="small">Email</label>
            <input class="form-control" type="email" placeholder="Enter Email" />
        </div>
         <div class="form-group row"><label class="small">Phone</label>
            <input class="form-control" type="text" placeholder="+91********78" />
        </div>
        <div class="form-group row"><label class="small">Social</label>
            <input class="form-control" type="text" placeholder="Facebook Url" />
        </div>
       
    </form>
    <div class="smart-reply">
    	<h6>Smart Replies Paused</h6>
    	<h5>04:30</h5>
    	<button type="button" class="btn btn-success mr-1" (click)="c('Save click')">Enable</button>
			<button type="button" class="btn btn-danger" (click)="c('Save click')">Disable</button>
    </div>
	</div>
</div>

<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
