<div>
    <div class="row">
        <div class="col-sm-9 py-4 setting-field">
            <a class="setting-field-link" [ngClass]="selectedTab==1 ? 'active' : ''"
                (click)="selectedTab = 1">Channels</a>
            <a class="setting-field-link" [ngClass]="selectedTab==2 ? 'active' : ''" (click)="selectedTab = 2">API
                Token</a>
            <a class="setting-field-link" [ngClass]="selectedTab==3 ? 'active' : ''"
                (click)="selectedTab = 3">Integration</a>
        </div>
    </div>
    <div class="setting-card" *ngIf="selectedTab==1">
        <h4>Channels</h4>
        <div class="row">
            <div class="col-sm-6 p-5">
                <div class="account-card card1 mb-3">
                    <div class="account-card-header">
                        <img src="../../../../assets/img/teambox/whatsapp-icon-l.svg">
                        <button class="account-btn" data-bs-toggle="modal"
                            data-bs-target="#connectWhatsappModal">Add</button>
                    </div>
                    <div>
                        <h5>WhatsApp Web</h5>
                        <p>WhatsApp Web automation of your WhatsApp Personal or WhatsApp Business numbers</p>
                        <div class="whatsapp-cSonnect">
                        <span>3 Connected</span>
                        <span class="grey">&nbsp;&nbsp;&nbsp;></span>
                    </div>
                    </div>
                </div>
                <div class="account-card card2 mb-3">
                    <div class="account-card-header">
                        <img src="../../../../assets/img/teambox/whatsapp-icon-l.svg">
                        <button class="account-btn" data-bs-toggle="modal"
                            data-bs-target="#connectWhatsappModal">Add</button>
                    </div>
                    <div>
                        <h5>WhatsApp Official</h5>
                        <p>WhatsApp Official API to automate and scale your business messaging requirements</p>
                        <div class="whatsapp-connect">
                        <span>0 Connected</span>
                        <span class="grey">&nbsp;&nbsp;&nbsp;></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h5 class="mt-5">WhatsApp Web</h5>
                <div class="" *ngIf="whatsAppDetails">
                <div class="connection-card"  *ngFor="let detail of whatsAppDetails">
                    <div class="account-card-header" >
                        <div >
                            <div class="card-desc">Connected : {{ detail.channel_id }}</div>
                            <div class="d-flex">
                                <div class="card-desc">Channel Id: {{ detail.connected_id }}</div>
                                <div class="card-desc"> {{ detail.channel_status }}</div>
                            </div>
                        </div>
                        <div  (click)="getaccountByID(detail)">
                        <img src="../../../../assets/img/Setting.png" data-bs-toggle="modal" data-bs-target="#whatsWebSetting">
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" tabindex="-1" id="connectWhatsappModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content account-modal">
                <div class="modal-header">
                    <h5 class="modal-title">Connect WhatsApp Web</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/img/teambox/icon-close.svg">
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="px-3">
                        <span>Which phone do you use?</span>
                        <div class="d-flex pt-1 pb-3">
                            <input type="radio" class="radio-btn" name="phoneRadio">
                            <span class="pl-1 pr-5">Android</span>
                            <input type="radio" class="radio-btn" name="phoneRadio">
                            <span class="pl-1">iOS</span>
                        </div>
                        <span>After connecting do you want to import unto 30 conversation?</span>
                        <div class="d-flex pt-1 pb-3">
                            <input type="radio" class="radio-btn" name="ConversationRadio">
                            <span class="pl-1 pr-5">Yes</span>
                            <input type="radio" class="radio-btn" name="ConversationRadio">
                            <span class="pl-1">No</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="account-btn" (click)="generateQR()">Next</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="qrWhatsappModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content qr-modal">
                <div class="modal-header">
                    <h5 class="modal-title">Connect WhatsApp Web</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/img/teambox/icon-close.svg">
                    </button>
                </div>
                <div class="modal-body d-flex p-5">
                    <div class="px-3 qr-card text-center">
                        <img class="scanner-img"><br>
                        <span class="qr-heading">Scan the QR Code</span>
                        <p>It will take 20-30 seconds to sync your WhatsApp number with our server, so please wait till
                            the system shows you the next screen.</p>
                    </div>
                    <div class="qr-card">
                        <span class="qr-heading">Follow the steps to connect your WhatsApp number</span><br><br>
                        <p>1. Open WhatsApp from you mobile<br><br>
                            2. Go to <b>Settings > Linked Devices</b><br><br>
                            3. Tap on <b>add device</b> and point the camera to the QR code shown here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="whatsWebSetting" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content whatsWebSetting-modal">
                <div class="modal-header" >
                    <h5 class="modal-title">WhatsApp Web Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="populateModal(whatsappData)">
                        <img src="../../../../assets/img/teambox/icon-close.svg">
                    </button>
                </div>
                <div class="settings-scroll">
                    <div class="seetings2-scroll">
                 <div class="modal-body px-5">
                    <div class="p-4 websetting-card">
                        <div class="websetting-data">
                            <span class="left-col">WhatsApp No.</span>
                            <span class="mid-col">{{repliesaccountData.connected_id}}</span>
                            <div class="right-col">
                                <button class="right-col websetting-btn text-danger">Disconnect</button>
                            </div>
                        </div>
                        <div class="websetting-data">
                            <span class="left-col">Queued Messages</span>
                            <span class="mid-col">{{repliesaccountData.QueueMessageCount}}</span>
                            <div class="right-col">
                                <button class="right-col websetting-btn text-voilet">Clear Queue</button>
                            </div>
                        </div>
                        <div class="websetting-data">
                            <span class="left-col">Connected Status</span>
                            <span class="mid-col">{{repliesaccountData.channel_status}}</span>
                        </div>
                        <div class="websetting-data">
                            <span class="left-col">Connected Date</span>
                            <span class="mid-col">{{repliesaccountData.connection_date}}</span>
                        </div>
                        <div class="websetting-data">
                            <span class="left-col">WA Version</span>
                            <span class="mid-col">{{repliesaccountData.WAVersion}}</span>
                        </div>
                    </div>
                    </div>
        
                    <div class="tog-rebo">
                      
                        <div class="incoming-card row py-2">
                            <div class="col-sm-6">
                                <span>Incoming Message</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input"  [(ngModel)]="InMessageStatus" (change)="updateNotificationId(1)">
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
                                  
                            </div>
                            <div class="col-sm-6">
                                <span>Outgoing Messages</span> <br>
                                <div class="tooggle-container">
                                    <input type="checkbox" id="toggle" class="tooggle-input"  [(ngModel)]="OutMessageStatus" (change)="updateNotificationId(2)">
                                    <label for="toggle" class="tooggle-label"></label>
                                  </div>
                            </div>
                        </div>

                        <div class="incoming-card row py-2">
                            <div class="col-sm-6">
                                <span>Queue Limit</span> <br>
                                <input class="input-form" type="input" placeholder="Enter"  [value]="QueueLimit">
                            </div>
                            <div class="col-sm-6">
                                <span>Delay b/w Messages</span> <br>
                                <input class="input-form" type="input" placeholder="Enter" [value]="delay_Time">
                                <span>Sec</span>
                            </div>
                        </div>
                     
                        <div class="incoming-card row py-2">
                            <div class="col-sm-6">
                                <span>Download Incoming vedio</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input" >
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
                            </div>
                            <div class="col-sm-6">
                                <span>Keep Online</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input"  [(ngModel)]="online_status" (change)="updateNotificationId(3)">
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
                            </div>
                        </div>
                        <div class="incoming-card row py-2">
                            <div class="col-sm-6">
                                <span>Group incoming message</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input"  [(ngModel)]="INGrMessage" (change)="updateNotificationId(4)">
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
                            </div>
                            <div class="col-sm-6">
                                <span>Group Outgoing Messages</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input"  [(ngModel)]="OutGrMessage" (change)="updateNotificationId(5)">
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
                            </div>
                        </div>
                        <div class="incoming-card row py-2">
                            <div class="col-sm-6">
                                <span>Service monitoring Tool</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input" [(ngModel)]="serviceMonetringTool" (change)="updateNotificationId(6)">
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
                            </div>
                            <div class="col-sm-6">
                                <span>Sync Data</span> <br>
                                <div class="toggle-container">
                                    <input type="checkbox" id="toggle" class="toggle-input" [(ngModel)]="syncContact" (change)="updateNotificationId(7)">
                                    <label for="toggle" class="toggle-label"></label>
                                  </div>
        
                            </div>
                        </div>
                        <div>
                            <span>Disconnect Event Alert Email Id</span><br>
                            <input class="inputEmail-form pl-3" type="input" placeholder="Enter">
                        </div>
                        <div class="reboapp pt-4 pl-4">
                        <div class="rebo-footer">
                            <button type="button" class="reboot-btnnn websetting-btn text-danger" (click)="saveTemplate()"  >Reboot Server</button>
                        </div>

                        <div class="rebo-footer">
                            <button type="button" class="reboot-btnnn websetting-btn text-danger" (click)="saveTemplate()"  >Restart App</button>
                        </div>

                        <div class="rebo-footer">
                            <button type="button" class="reboot-btnnn websetting-btn text-danger" (click)="saveTemplate()"  >Reset Server</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
                    <div class="save-footer mx-3">
                        <button type="button" class="account-bttn" (click)="saveTemplate()"  >Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="setting-card api-card" *ngIf="selectedTab==2">
        <div class="account-card-header">
            <h4>API Token</h4>
            <button class="new-token-btn" data-bs-toggle="modal" data-bs-target="#createTokenModal">
                <img src="../../../../assets/img/teambox/add.svg" class="pr-1">
                New API Token</button>
        </div>
        <div class="connection-card tokens-card" *ngFor="let item of connection">
            <div class="account-card-header">
                <div>
                    <span class="api-card-desc">Broadcast Message</span>
                    <p>160.155.345.002</p>
                </div>
                <div>
                    <button class="account-white-btn mx-1">
                        <img class="p-0" src="../../../../assets/img/edit.png">
                    </button>
                    <button class="account-white-btn mx-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        <img class="p-0" src="../../../../assets/img/delete.png">
                    </button>
                    <button class="account-white-btn mx-1">Enable

                    </button>
                </div>
            </div>
            <div class="account-card-header">
                <p class="api-time">10:55 Am, 27 Mar 2023</p>
                <button class="account-btn">Regenrate</button>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="createTokenModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content create-token-modal">
                <div class="modal-header">
                    <h5 class="modal-title">Create API Token</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/img/teambox/icon-close.svg">
                    </button>
                </div>
                <div class="modal-body px-5 pb-5">
                    <div class="">
                        <label>API Name</label><br>
                        <input class="token-input-form" type="input" placeholder="Enter API name">
                    </div>
                    <div class="mt-2" *ngFor="let item of ipAddress;let idx=index">
                        <label>IP Address</label><br>
                        <input class="token-input-form" type="input" [value]="item" placeholder="Enter IP address"
                            [(ngModel)]="item">
                        <div class="incoming-card">
                            <div>
                            <a class="add-btn" (click)="addIP()" *ngIf="idx == (ipAddress.length-1)">+ Add</a>
                        </div>
                            <a class="remove-btn" (click)="removeIP(idx)" *ngIf="ipAddress.length>1">- Remove</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="account-btn" data-bs-toggle="modal" data-bs-target="#apiConfirmationModal">Genrate</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" tabindex="-1" id="deleteModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content delete-token-modal">
                <div class="modal-body alertmessage">
                    <p class="label pb-2">Do you really want to delete this API Token ?</p>
                    <div class="input_group_btn">
                        <button type="button" class="cancel-btn" aria-label="Close"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="delete-btn" aria-label="Close">Yes, Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="modal fade" tabindex="-1" id="apiConfirmationModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content api-confiormation-modal">
                <div class="modal-header">
                    <img src="../../../../assets/img/settings/api.svg">
                </div>
                <div class="modal-body text-center pt-0">
                    <div class="px-3">
                        <span class="token-heading">API Token Sucessfully Created</span>
                       <p>Kindly copy and keep the API token securely, we will not able to display the API Token again once this window is closed</p>
                       <div class="d-flex justify-content-center">
                           <input type="text" class="token-input-form">
                           <img class="copy-btn" src="../../../../assets/img/settings/attribute-button.svg">
                       </div><br>
                       <div class="token-checkbox">
                           <input type="checkbox" class="checkbox">
                           <p>&nbsp;&nbsp;Please check this before close button</p>
                       </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="account-btn"  data-bs-dismiss="modal" aria-label="Close">close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="setting-card " *ngIf="selectedTab==3">
        <div class="account-card-header">
            <h4>Integration</h4>            
        </div>
        <div class="inegration-block">
            <div class="integration-card">
                <img src="../../../../assets/img/settings/fb.svg"><br>
                <span>Facebook Leads</span>
                <p>Lorium ipsum dolor sit amet lopnikumn gonia</p>
            </div>
            <div class="integration-card">
                <img src="../../../../assets/img/settings/g-sheet.svg"><br>
                <span>Google Sheet</span>
                <p>Lorium ipsum dolor sit amet lopnikumn gonia</p>                
            </div>
        </div>
    
</div>