<div class="toaster" (click)="hideToaster()">
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
    <p *ngIf="successMessage" class="success">{{successMessage}}</p>
    <p *ngIf="warningMessage" class="warning">{{warningMessage}}</p>
</div>
<div class="setting-card" >
    <div class="default-actions-heading">Routing Rules</div>
    <p>New conversations can be assigned using below routing rules</p>
    <div class="pt-4 px-3">
        <div class="pl-2 pr-5 pb-3">
            <div class="d-flex align-items-center custom-control custom-checkbox">
                <input type="checkbox" id="contactowner" class="custom-control-input" (change)="routingRulesState('contactowner', $event.target.checked)" [(ngModel)]="contactowner">
               <label class="custom-control-label" for="contactowner"><span class="sub-heading">Assign to Contact Owner</span></label>
            </div>
            <div class="sub-contents">
                <p>If this is selected, override all other rules and always assign the chat to its Contact Owner. If the Contact Owner is not defined or not available then the below routing rules will apply if enabled.</p>           
            </div>
        </div>
        <div class="pl-2 pr-5 pb-3">
            <div class="d-flex align-items-center custom-control custom-checkbox">
                <input type="checkbox" id="assignagent" class="custom-control-input" (change)="routingRulesState('assignagent', $event.target.checked)" [(ngModel)]="assignagent" >
               <label class="custom-control-label" for="assignagent"><span class="sub-heading">Assign to Last Assisted Agent</span></label> 
            </div>
            <div class="sub-contents">
                <p>If this is selected, override all other rules and always assign the chat to its last assigned agent. If there is no Last Assigned Agent or unavailable then default routing rule will apply.</p>           
            </div>
        </div>
        <div>
            <span class="sub-heading">Default Assignment Rules</span>    
            <div class="sub-contents pl-0 py-2">
                <p>A new conversation will be assigned based on the routing rule chosen here if no other automation is applicable.</p>           
            </div>
        </div>
        <div class="pl-2 pr-5 pb-3">
            <div class="d-flex align-items-center sel-type-btns">
                <input type="radio" id="assign-rule-bc" name="assign-rule" [checked]="broadcast" (change)="defaultAssignmentRules('broadcast')" [value]="broadcast"><label class="m-0" for="assign-rule-bc">Broadcast</label>
            </div>
            <div class="sub-contents">
                <p>Notify all the online agents when a new chat comes. All new chats will be placed in the unassigned tab where anyone can assign it to themselves to start chatting with the customers.</p>           
            </div>
        </div>
        <div class="pl-2 pr-5 pb-3">
            <div class="d-flex align-items-center sel-type-btns">
                <input type="radio" id="assign-rule-rr" name="assign-rule" [checked]="roundrobin" (change)="defaultAssignmentRules('roundrobin')" [value]="roundrobin"><label class="m-0" for="assign-rule-rr">Round Robin</label>
            </div>
            <div class="sub-contents">
                <p>Assign incoming chats to all the available agents one after another ensuring chats are getting distributed equally among them.</p>           
                <div class="select-heading py-2">Max. No. of Open Conversation Allowed</div>
                <select class="input-form" [disabled]="defaultAssignRule!=='roundrobin'" [(ngModel)]="conversationallowed" >
                    <option [ngValue]="'1'">1</option>
                    <option [ngValue]="'2'">2</option>
                    <option [ngValue]="'3'">3</option>
                    <option [ngValue]="'4'">4</option>
                    <option [ngValue]="'5'">5</option>
                    <option [ngValue]="'6'">6</option>
                    <option [ngValue]="'7'">7</option>
                    <option [ngValue]="'8'">8</option>
                    <option [ngValue]="'9'">9</option>
                </select>
            </div>
            <div class="d-flex align-items-center custom-control custom-checkbox">
                <input type="checkbox" id="enableAdmin" class="custom-control-input"  [(ngModel)]="enableAdmin">
               <label class="custom-control-label" for="enableAdmin"><span class="sub-heading">Enable Admin(s) to be included for assigning chats</span></label>
            </div>
            <div class="sub-contents">
                <p>Note: Broadcast rule will be applicable during non-working hours as defined under Organizational Settings and will not trigger Round Robin routing.</p>   
            </div>
        </div>
        <div class="pl-2 pr-5 pb-3">
            <div class="d-flex align-items-center sel-type-btns">
                <input type="radio" id="assign-rule-ma" name="assign-rule" [checked]="manualassign" (change)="defaultAssignmentRules('manualassign')" [value]="manualassign"><label class="m-0" for="assign-rule-ma">Manual Assign</label>
            </div>
            <div class="sub-contents">
                <p>All the chats are first assigned to a selected user (usually manager). Further this user assigns agents or teams to each of these chats. If this selected manager is not available, then chats will be assigned according to the rules defined under “Missed Chat”.</p>           
                <div class="select-heading py-2">Assign a User</div>
                <select class="input-form" [disabled]="defaultAssignRule!=='manualassign'" [(ngModel)]="assignuser" >
                    <option *ngFor="let name of usernames" [ngValue]="name"><span class="text-capitalize" >{{ name }}</span></option>
                </select>
            </div>
        </div>
        <div>
            <span class="sub-heading">Manage Missed Chat</span>            
            <div class="sub-contents pl-0">
                <p>Fallback assignment rule if the chat could not be assigned as per selected rule within the allowed time as configured here.</p>           
            </div>
            <div class="select-heading pt-3 pb-2">
                Chat Assign Timeout Period
            </div>
            <form #myForm="ngForm">
            <div class="d-flex align-items-baseline select-content">
                <input class="form-control" name="chatAssignTimeout" type="text" 
                    onKeyPress="if(this.value.length==4) return false; return /^[0-9]$/.test(event.key)"
                    [pattern]="chatAssignTimeoutPattern"
                    [(ngModel)]="timeoutperiod"
                    placeholder="Enter chat timeout (1-1440 minutes)"
                    [ngClass]="{'is-invalid':myForm.controls['chatAssignTimeout']?.dirty && myForm.controls['chatAssignTimeout']?.hasError('pattern')}">
            </div>
            </form>
            <div class="d-flex py-2">
                <div class="sel-type-btns">
                    <input type="radio" id="chat-assign-co" name="chat-assign" [checked]="isMissChatAssigContactOwner" (change)="missedChatOptionsChange('isMissChatAssigContactOwner')" [value]="isMissChatAssigContactOwner">
                    <label class="m-0" for="chat-assign-co">Contact Owner</label>
                </div>
                <div class="pl-4 sel-type-btns">
                    <input type="radio" id="chat-assign-admin" name="chat-assign" [checked]="isadmin" (change)="missedChatOptionsChange('isadmin')" [value]="isadmin" >
                    <label class="m-0" for="chat-assign-admin">Admin</label>
                </div>
                <div class="pl-4 sel-type-btns">
                    <input type="radio" id="chat-assign-su" name="chat-assign" [checked]="assignspecificuser" (change)="missedChatOptionsChange('assignspecificuser')"[value]="assignspecificuser">
                    <label class="m-0" for="chat-assign-su">Assign a Specific User</label>
                </div>
            </div>
            <div class="select-heading py-2">Assign a Specific User</div>
            <select [disabled]="missedChatOption!=='assignspecificuser'" class="input-form pointerCursor" [(ngModel)]="selectuser" >
                <option *ngFor="let name of usernames" [ngValue]="name"><span class="text-capitalize" >{{ name }}</span></option>
            </select>
            <p>If the contact owner is not defined, chat is assigned to Admin</p>
        </div>
    </div>
    <div class="d-flex justify-content-end pb-4 default-footer">
        <button (click)="saveRoutingRules()" type="button" class="account-btn">Save</button>
    </div>
    

</div>