.setting-card {
    border-radius: 30px;
    padding: 20px 30px 0px 30px;
    box-shadow: 2px 13px 54px #695F9714;    
    min-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.default-actions-heading{
    font-size: 22px;
    font-weight: bold;
}

.sub-heading{
    font-size: 16px;
    font-weight: bold;
}

p{
    font-size: 13px;    
    color: #7A86A1;
}
.sub-contents {
    padding: 5px 0px 0px 30px;

    select {
        cursor: pointer;
    }
}

.sub-contents p{
    font-size: 13px;
    margin: 0;
    color: #7A86A1;
}

.checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid #C0BDCC !important;
    border-radius: 6px;
    margin-right: 15px;
}

.custom-control-label {
    cursor: pointer;
}

.input-form {
    height: 37px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    padding: 5px 15px;
    border: 1px solid #EBEBEB;
    width: 35%;
   }

   .select-heading{
    font-size: 14px;
    font-weight: 600;
   }

   .select-content input.form-control {
    width: 250px;
    height: 37px;
    border: 1px solid #EBEBEB;
    border-radius: 16px;
   }

   .select-content input.form-control::placeholder {
    color: #7A86A1;
    font-size: 12px;
    font-weight: 350;
}

     // Custom styles for radio buttons

input[type="radio"] {
    display: none;
}

.sel-type-btns label {
    display: inline-block;
    position: relative;
    padding-left: 30px; 
    margin-right: 15px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.sel-type-btns label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #C0BDCC; 
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="radio"]:checked + label::before {
    border: 4px solid #6149CD; 
    background-color: #FFFFFF;
}

.py-2 .sel-type-btns label {
    font-weight: 400;
    color: #000000;
    font-size: 14px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #6149CD;
    border: none;
   }
.pointerCursor{
    cursor: pointer;
}

