.setting-card {
    border-radius: 30px;
    padding: 20px 30px 0px 30px;
    box-shadow: 2px 13px 54px #695F9714;    
    min-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.default-actions-heading{
    font-size: 22px;
    font-weight: bold;
}

.sub-heading{
    font-size: 16px;
    font-weight: bold;
}

p{
    font-size: 13px;    
    color: #7A86A1;
}
.sub-contents{
    padding: 5px 0px 0px 30px;
}

.sub-contents p{
    font-size: 13px;
    margin: 0;
    color: #7A86A1;
}

.checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid #C0BDCC !important;
    border-radius: 6px;
    margin-right: 15px;
}

.input-form {
    height: 37px;
    border-radius: 16px;
    border: 1px solid #EBEBEB;
    padding: 5px 15px;
    border: 1px solid #EBEBEB;
    width: 35%;
   }

   .select-heading{
    font-size: 14px;
    font-weight: 600;
   }
