<sb-layout-dashboard><sb-dashboard-head title="Campaign/ Preview" [hideBreadcrumbs]="true"></sb-dashboard-head>

	<form class="mb-5">
		<div class="row justify-content-center">
			<div class="col-lg-6 mt-5">
				<h4>Campaign Schduled</h4>
				<div class="details">
					<h5>Release on:</h5>
					<br/>
					<p>Aprial 2, 2022 at 10:00 am</p>
					<p>(GMT + 05:30) Asia / Kolkata</p>
				</div>
		
			 	<div class="col-md-12 text-center">
			<button type="button" class="btn btn-danger col-md-4">Cancel</button>
		</div>
	</div>
	</div>

			 
		</form>

<!--  <div class="card-body"><sb-ng-bootstrap-table [pageSize]="6"></sb-ng-bootstrap-table></div>
 --></sb-layout-dashboard>
