<div class="container" id="con-fir">
  <div class="bs-stepper row">
    <div class="head d-flex">
      <div class="heading d-flex" id="head-add">Add Smart Reply
      </div>
  
      <button type="button" data-bs-dismiss="modal"  class="btn-cross" aria-label="Close" id="close-btn">X</button>
  
    </div>
    <div class="bs-stepper-header" role="tablist">
      <div class="bs-tab">
      <div class="step" data-target="#logins-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">New Smart Reply</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#information-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
          id="information-part-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Keywords and Criteria</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#review-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="review-part" id="review-part-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Reply Actions</span>
        </button>
      </div>
    </div>
    </div>
    <div class="bs-stepper-content">
      <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
        <div class="box" [formGroup]="newReply">
          <h5>Title</h5>
          <input class="form-control" type="text" name="Title" id="Title" formControlName="Title"
            placeholder="Enter title in max 20 character" maxlength="20" />
          <h5>Description</h5>
          <div class="form-floating ff">
            <textarea name="Description" id="Description" class="form-control" rows="4" cols="50"
              placeholder="Enter description in max 80 character" formControlName="Description" maxlength="80"></textarea>
  
          </div>
        </div>
        <div class="title err-msg">
        <span id="title-err-msg"></span>
         <button type="button" (click)="getNewSmartReplyData()" class="btn5 btn-block col-1">Next</button>
        </div>
  
      </div>
      <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
        <button type="button" (click)="previous()" class="btn9 btn-block col-1"><img
            src="assets/img/prev.png"></button>
        <div class="box1">
          <h5>Add Keyword</h5>
          <div class="box2 d-flex" data-required="Use enter key to add ➥">
            <input class="form-control" id="form-box" #keyowrdtxt [(ngModel)]="keyword" type="text" placeholder="Enter Keywords"
              maxlength="56" />
            <button type="button" class="btn7 btn-block ml-2" (click)="addKeyword()"
              [disabled]="keyword === ''">ADD</button>
          </div>
          <div *ngIf="keyword.length > 56" class="text-danger mt-2"></div>
  
  
          <span>Please choose a unique keyword which is not already added in other smart replies </span>
          <div class="overflo">
          <span class="row">
            <div *ngFor="let k of keywords" class="keywords" style="font-weight: bolder; color: black;">
              <div class="keytext">{{k}}<button class="rmv-btn" (click)="removeKeyword(k)">x</button></div>
    </div>
          </span>
          </div>
          <div class="line1"></div>
          <h4 id="line1-h4">Matching Criteria</h4>
          <div class="ll d-flex">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" value="Fuzzy matching"
                (change)="onSelectionChange('Fuzzy matching')">
              <label class="form-check-label" for="exampleRadios1">
                Fuzzy matching
              </label>
              <img id="detail" class="form-check-label-img" src="assets/img/info.png" (click)="onClickFuzzy($event)">
            </div>
            <div class="desc-radio-input" *ngIf="showBox">
              <p id="p-title">Fuzzy Matching</p>
              <p id="p-body">As long as the message contains a <br />certain % of the Keyword. You can also<br /> set
                emojis as your keyword.</p>
              <button id="radio-close-btn" (click)="showBox=false">X</button>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" value=" Exact matching" name="exampleRadios"
                (change)="onSelectionChange('Exact matching')">
              <label class="form-check-label" for="">
                Exact matching
              </label>
              <img id="detail" class="form-check-label-img" src="assets/img/info.png" (click)="onClickExact($event)">
            </div>
            <div class="desc-radio-input-1" *ngIf="showBox1">
              <p id="p-title">Exact Matching</p>
              <p id="p-body">As long as the message contains a <br />exact Keyword. You can also<br /> set emojis as your
                keyword.</p>
              <button id="radio-close-btn" (click)="showBox1=false">X</button>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" value="contains"
                (change)="onSelectionChange('contains')">
              <label class="form-check-label" for="">
                Contains
              </label>
              <img id="detail" class="form-check-label-img" src="assets/img/info.png" (click)="onClickContains($event)">
            </div>
  
            <div class="desc-radio-input-2" *ngIf="showBox2">
              <p id="p-title">Contains</p>
              <p id="p-body">As long as the message contains a <br />Keyword. You can also<br /> set emojis as your
                keyword.</p>
              <button id="radio-close-btn" (click)="showBox2=false">X</button>
            </div>
  
  
          </div>
        </div>
        <div class="keyword-err-msg">
          <span id="keyword-err-msg"></span>
        <button type="button" (click)="verifyKeywordForNextStep(duplicatekeyword)" class="btn5 btn-block col-1 mt-3 ">Next</button>
          </div>
      </div>
      <div id="review-part" class="content" role="tabpanel" aria-labelledby="review-part-trigger">
        <button type="button" (click)="previous()" class="btn9 btn-block col-1"><img
            src="assets/img/prev.png"></button>
  
  
        <div class="interactions">
          <div class="child-int-1 py-2">
          <div class="child-interaction-1">
            <div *ngFor="let message of assignedAgentList; let i = index">
              <div class="message-box" *ngIf="message.ActionID == 1">
                <p id="msgbox-head">Message</p>
                <p id="msgbox-body{{i}}" [contentEditable]="isEditable" (input)="onEdit($event.target.innerHTML)"
                  [innerHTML]="message.Value"></p>
                  <div>
                <button class="msg-edit-btn" (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
                <button class="msg-del-btn" (click)="removeMessage(i)"><img src="assets/img/delete.png"></button>
                </div>
              </div>
              <div class="assign-conversation" *ngIf="message.ActionID == 2">
                  <p class="m-0 py-1 px-2" id="msgbox-head1">Action</p>
                <div class="d-flex flex-wrap assign-container">
                    <p class="py-1 px-2 m-0" id="msgbox-body1"><b>Conversation Assigned:</b></p>
                    <p class="py-1 m-0" id="msgbox-body2" [contentEditable]="isEditable" (input)="onActionEdit($event.target.innerHTML)">
                    {{message.Value}}</p>
                </div>
                <div>
                <button class="msg-edit-btn" (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
                <button class="msg-del-btn" (click)="removeAction(i)"><img src="assets/img/delete.png"></button>
                </div>
  
              </div>
              <div *ngIf="message.ActionID == 3">
                <div class="add-tag">
                  <p id="msgbox-head1">Action</p>
                  <div class="d-flex flex-wrap assign-container">
                      <p class="px-2" id="msgbox-body1"><b>Add Tags:</b></p>
                      <p *ngFor="let item of message.Value" class="px-1" id="msgbox-body2">{{item}}</p>
                  </div>
                  <button class="msg-edit-btn" (click)="toggleRemoveTag()"><img src="assets/img/edit.png"></button>
                  <button class="msg-del-btn" (click)="removeAddTag(i)"><img src="assets/img/delete.png"></button>
  
  
                </div>
              </div>
  
            </div>
    
    
            <!-- <div class="update-name" *ngIf="ShowNameUpdate">
                  <p id="msgbox-head1">Action</p>
                  <div class="d-flex assign-container">
                  <p id="msgbox-body1"><b>Name Update</b></p>
                  </div>
                     <button class="msg-edit-btn" (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
                     <button class="msg-del-btn" (click)="removeAction(i)"><img src="assets/img/delete.png"></button>
                
               
                </div>
  
                 <div class="resolve-conversation" *ngIf="ShowResolveConversation">
                  <p id="msgbox-head1">Action</p>
                  <div class="d-flex assign-container">
                  <p id="msgbox-body1"><b>Communicataion Resolved</b></p>
                  </div>
                     <button class="msg-edit-btn" (click)="toggleEditable(i)"><img src="assets/img/edit.png"></button>
                     <button class="msg-del-btn" (click)="removeAction(i)"><img src="assets/img/delete.png"></button>
                
               
                </div> -->
          </div>
          </div>
  
          <div class="child-interaction-2">
  
            <div class="conversation_inout_area">
  
              <div class="input-area">
                <ejs-richtexteditor [(value)]="custommesage" id='defaultRTE' #chatEditor [toolbarSettings]='tools'
                  [width]='0' (click)="resetMessageTex()"></ejs-richtexteditor>
  
  
                <div *ngIf="showEmoji" class="popup-dialog">
                  <div class="tabs">
                    <div [ngClass]="EmojiType=='smiley' ? 'char_block active' : 'char_block'"
                      (click)="showEmojiType('smiley')">😀</div>
                    <div [ngClass]="EmojiType=='animal' ? 'char_block active' : 'char_block'"
                      (click)="showEmojiType('animal')">🐵</div>
                      <div style="position: absolute;right:10px" (click)="closeEmoji()">
                      <img src="assets/img/teambox/icon-close.svg">
                    </div>
                  </div>
                  <div *ngIf="EmojiType == 'smiley'" class="rteEmoticons">
                    <div (click)="onInsert($event)" *ngFor="let smiley of smileys" class='char_block'
                      title={{smiley.title}} [innerHTML]="smiley.content"></div>
                  </div>
                  <div *ngIf="EmojiType == 'animal'" class="rteEmoticons">
                    <div (click)="onInsert($event)" *ngFor="let animal of animals" class='char_block'
                      title={{animal.title}} [innerHTML]="animal.content"></div>
                  </div>
                </div>
                <button class="submit_btn" (click)="addMessage()"   [disabled]="isSendButtonDisabled" >Add</button>
              </div>
            </div>
  
            <button id="add-action-dropdown" type="button" (click)="toggleAddActions()"><img
                src="assets/img/teambox/add.svg">Add Action</button>
          </div>
  
          <div *ngIf="ShowAssignOption" class="popup-dialog AssignOption">
            <p class="label">Assign To</p>
            <p *ngFor="let agent of agentsList; let k = index" (click)="assignConversation(k)"
              (click)="closeAssignOption()">
              <span><img class="thumbnail" src="/assets/img/teambox/Richie_1.png" />{{agent}}</span>
            </p>
          </div>
  
          <div *ngIf="ShowAddAction" class="popup-dialog AssignAction">
            <p class="label">Add Action</p>
            <p *ngFor="let assignAction of assignActionList; let m = index" (click)="toggleAssignOption(m)">
              <span>{{assignAction}}</span>
            </p>
          </div>
  
  
          <!--             
                   <div *ngIf="AutoReplyOption" class="popup-dialog autoreply">
                    <p class="label">Pause Auto Replies</p>
              
                <p  *ngFor="let option of AutoReplyEnableOption; let n = index" (click)="toggleAutoReply()">
                  <span>{{option}}</span>
                </p>
            
              
              </div> -->
  
  
          <div class="modal fade" tabindex="-1" id="addTagModal" #addTagModal role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content qr-modal">
  
  
                <div class="popup-dialog AddTag">
                  <p *ngIf="!ShowRemoveTag" class="label">Add Tag</p>
                  <p *ngIf="ShowRemoveTag" class="label">Remove Tag</p>
                  <div class="addTag d-flex" *ngFor="let AddTag of addTagList;let i = index">
                    <input [checked]="checkTagStatus(AddTag)" type="checkbox" name="tags"
                      class="form-control-checkbox ml-2" (change)="addTags(i,$event)" />
                    <div class="color-dots"></div>
                    <span id="add_tags">{{AddTag}}</span>
                  </div>
                </div>
  
  
              </div>
            </div>
          </div>
  
  
        </div>
  
        <ng-template #duplicatekeyword let-c="close" let-d="dismiss">
        <div class="model-content smartreplies-failed">
            <div class="smart-replies-failed para">
            <p>! Duplicate keyword found<br /> Please try again.</p>
            </div>
            <button type="button" class="btn btn1" (click)="c('Save click')">Ok, Got it</button>
        
          </div>
  
        </ng-template>
  
    <ng-template #smartreplyfailed let-c="close" let-d="dismiss">
        <div class="model-content smartreplies-failed">
            <div class="smart-replies-failed para">
            <p>Error in Saving Smart Replies <br /> Please try again.</p>
            </div>
            <button type="button" class="btn btn1" (click)="c('Save click')">Ok, Got it</button>
        
          </div>
  
        </ng-template>
  
        <ng-template #smartreplysuccess let-c="close" let-d="dismiss">
          <div class="dd"><img src="assets/img/export1.png">
            
            <div class="modal-body smart-reply-success">
              <p>Your Smart Reply is sucessfully saved,<br /> Now you will be redirect
                to SmartReplies Page.
              </p>
              <div class="ss">
                <img src="assets/img/your.png">
              </div>
            </div>
            <div class="modal-footer popfooter row text">
              <div class="col-md-3">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" data-bs-dismiss="modal">Ok, Got it</button>
              </div>
            </div>
          </div>
        </ng-template>
        <div class="smrply-err-msg">
  
          <span id="smrply-err-msg"></span>
            <button type="button" (click)="sendNewSmartReply(smartreplysuccess,smartreplyfailed)" class="btn5 btn-block col-1 mt-3 ">Save</button>
        </div>
  
      
  
      </div>
    </div>
  </div>
  
  </div>
  
  