* {
    font-family: 'Manrope';
}
.link{
	color: skyblue;
	font-size: 16px;
}
h1{
    margin-top: 1.5rem !important;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
	margin: 0px 0px 10px 20px;
}
.active .bs-stepper-circle {
    background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 2px 13px 30px #6149cd42;
    border-radius: 17px;
    opacity: 1;
    width: 36px;
    height: 35px;
	color: #ffffff;
	border-radius: 15px;
}
.bs-stepper-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 65%;
    margin: 0 257px;
}

.bs-stepper {
    box-shadow: 4px 22px 54px #695F971A;
    border-radius: 30px;
    font-family: 'Manrope';
    display: grid;
    top: 2px;
    align-content: space-evenly;
    width: 1467px;
    height: 806px;
    margin: 71px 82px;
}

.heading {
    font-size: 22px;
    letter-spacing: -0.55px;
    font-weight: 700;
    width: 100%;
    height: 30px;
    margin-left: 37px;
    margin-top: -37px;
}
.bs-stepper-circle {
	border: 1px dashed var(--unnamed-color-e1e1e1);
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px dashed #E1E1E1;
	border-radius: 15px;
	color: #7A86A1;
	text-align: center;
	opacity: 1;
    width: 36px;
    height: 35px;
}
.active .bs-stepper-label {
    display: inline-block;
    margin: .25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #6149CD;
    opacity: 1;
}

.bs-stepper-label {
    display: inline-block;
    margin: .25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #7A86A1;
    opacity: 1;
}
.box{
    width: 532px;
    height: 410px;
    background-color: #FFF4F2;
    border-radius: 30px;
    opacity: 1;
    margin-left: 32%;
}
.box h5{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 35px 0px 0px 35px;

}
.form-control {
    display: block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    font-family: 'Manrope';
    font-size: 1rem;
    line-height: 1.5;
    color: #7A86A1;
    font-weight: 600;
    background-color: #ffffff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    opacity: 1;
    margin: 0px 0px 0px 30px;
}
.ff textarea{
    margin: 25px 0px 0px 15px;
    height: 150px;
    
    color: #7A86A1;
    padding: 15px 0 0 15px;
    width: 423px;
}
.btn5{
    cursor: pointer;
    float: right;
	background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695F9724;
    border-radius: 17px;
    opacity: 1;
    color: #ffffff;
    width: 9%;
    border: none;
    height: 30px;
}
.action{
    position: absolute;
    margin: -40px 0px 0px 40px;
}
.box1{
    background-color: #FFF4F2;
    border-radius: 30px;
    width: 870px;
    height: 534px;
    opacity: 1;
    margin-left: 21%;
    font-family: 'Manrope';
}
.box1 h5{
    color: #000000;
    font-size: 21px;
    font-weight: bold;
    padding: 25px 0px 0px 25px;
}
.box1 span{
    font-size: 16px;
    color: #7A86A1;
    padding: 10px 0px 0px 35px;
}
.line1 {
    background-color: #EBEBEB;
    width: 100%;
    height: 2px;
    margin: 20% 0px 0px 0px;
}

.keywords {


width: fit-content;
height: 32px;
margin: 5px 12px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
}


.row .keywords .keytext {
width: auto;
height: auto;
font-weight: 400;
padding: 0px 0 0 20px;
margin: 5px 15px;
text-align: left;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.row .keywords .keytext .rmv-btn {
  border: none;
  background-color: #ffffff;
  outline: none;
  padding: 0 0 0 30px;
  color: #7a86a1;
}

.form-check-label {
    margin-bottom: 0;
    font-size: 19px;
    color: #000000;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    margin: 10px 0px 0px 90px;
}
 input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin: 8px 0px 0px -20px;
    
}
h4{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 0px 0px 30px;
    font-weight: bold;
}
.box7{
    width: 651px;
    height: 598px;
    background-color: #FFF4F2;
    border-radius: 30px;
    margin: 30px 0px 0px 28%;
}

.box7child {
    max-height: 78%;
    overflow-y: scroll;
}

.msg-del-btn {
    right: 29%;
    top: 53%;
    float: right;
    margin: -55px -84px 0 0px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: #fff4f2;


}

.msg-edit-btn {
    right: 33%;
    top: 53%;
    float: right;
    margin: -54px -51px 0 13px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: #fff4f2;
    
}

.reply {
    width: 651px;
    height: 157px;
    margin-left: 16px;
    color: #7A86A1;
    font-family: "Manrope";
    position: absolute;
    top: 60%;
  
}

#replyText {
    overflow: hidden;
    width: 95%;
    height: 96px;
    font-family: 'Manrope';
}

.box7 label p{
    width: 100%;
    height: 100%;
    padding: 0px 0px 47px 12px;
    color: #000000;
    border: none;
    margin: -2px 0px 0px -10px;
    text-align: justify;
    font-size: 14px;
}
.box7 label{
    width: 60%;
    padding: 0px 0px 47px 12px;
    color: #6149CD;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #695F9724;
    border-radius: 20px;
    margin: 20px 0px 0px 19px;
    background-color: #ffffff;
    
}
.box7 .action1{
    background: #F6EFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    width: 60%;
    height: 50px;
    margin: 20px;
    color: #6149CD;
    padding: 0px 0px 0px 10px;
}
.box7 .action1 p{
    
        color: #000000;
        font-weight: bold;
    }
.box7 .form-control{
    margin: 147px 0px 0px 0px;
    width: 100%;
    height: 95px;
    padding: 0px 0px 47px 12px;
    color: #7A86A1;
}

.btn4{
    position: absolute;
    background-color: #6149CD;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 56px;
    text-align: center;
    right: 76px;
    top: 166px;
}

.btn4:focus {
    outline: none;
}

.box7 .btn3{
    position: absolute;
    width: 100%;
    height: 37px;
    margin: -43px 0px 0px 13px;
}



.form-floating{
    margin: 0px 0px 0px 20px;
}
.form-select {
    border: 1px solid #695F9724;
    color: #6149CD;
    border-radius: 20px;
    width: 120px;
    padding: 0px 9px;
}
.box2{
    position: relative;
   }
.box2::after {
    content: attr(data-required);
    position: absolute;
    right: 150px;
    top: 50%;
    font-size: 15px;
    transform: translateY(-50%);
    color: #7A86A1;
    font-weight: 600;
}




.box2 .btn7{
        width: 70px;
        height: auto;
        background-color: #6149CD;
        border: none;
        color: #ffffff;
        border-radius: 18px;
        cursor: pointer;
    }
    .dropdown{
        margin: -36px 0px 0px 102%;
        position: absolute;
    }
    .dropdown .btn6
    {
        background-color: #FFFFFF;
        color: #6149CD;
        border-radius: 17px;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid #EBEBEB;
        width: 122px;
    }
.dropdown-menu li{
    position: relative;
    color: #6149CD;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 14px;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #6149CD;
}
.dropdown-item1 {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #000000;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #6149CD;
    margin: 0px 0px 0px 8px;
    font-weight: 400;
    font-size: 14px;
}

.dropdown-menu .submenu
 {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
 }
 .dropdown ul{
background-color: #ffffff;
border-radius: 20px;

 }
 .dropdown-menu>li:hover>.submenu {
    display: block;
   
 }
 .dropdown-menu .submenu .form-check{
    margin: 0;
    height: 24px;
    border: none;
}
 .dropdown-menu .submenu .form-check input{
    margin: 0px 0px 0px -35px;
    height: 22px;
}
 .dropdown-menu .submenu .form-check label{
    color: #000000;
    font-size: 16px;
    margin: 0px;
    border: none;
}
.btn9{
    margin: 0px;
    border: none;
    background-color: #fff;
    top: -90px;
    left: -29px;
    width: 0px;
}

#close-btn {
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 19px;
    opacity: 1;
    border: 1px solid #ebebeb;
    font-family: "Manrope";
    font-size: 13px;
    margin: -43px 31px 0 0;
}

input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin: 6px 0px 0px -28px!important;
    width: 20px;
    height: 16px!important;
  }
  #detail {
    width: 18px;
    height: 18px;
    margin: 0 0 0 11px;
}