.link{
	color: skyblue;
	font-size: 16px;
}
h1{
    margin-top: 1.5rem !important;
    font-family: Manrope;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
	margin: 0px 0px 10px 20px;
}
.active .bs-stepper-circle {
    background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 2px 13px 30px #6149cd42;
    border-radius: 17px;
    opacity: 1;
    width: 36px;
    height: 35px;
	color: #ffffff;
	border-radius: 15px;
}
.bs-stepper-circle {
	border: 1px dashed var(--unnamed-color-e1e1e1);
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px dashed #E1E1E1;
	border-radius: 15px;
	color: #7A86A1;
	text-align: center;
	opacity: 1;
    width: 36px;
    height: 35px;
}
.active .bs-stepper-label {
    display: inline-block;
    margin: .25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #6149CD;
    opacity: 1;
}

.bs-stepper-label {
    display: inline-block;
    margin: .25rem;
    text-align: left;
    letter-spacing: 0px;
    color: #7A86A1;
    opacity: 1;
}
.box{
    width: 55%;
    height: 350px;
    background-color: #FFF4F2;
    border-radius: 30px;
    margin: 30px 0px 0px 20%;
    opacity: 1;
}
.box h5{
    color: #000000;
    font-family: Manrope;
    font-size: 20px;
    font-weight: bold;
    padding: 35px 0px 0px 35px;

}
.form-control {
    display: block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
  
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #EBEBEB;
    border-radius: 17px;
    opacity: 1;
    margin: 0px 0px 0px 30px;
}
.ff input{
    margin: 0px 0px 0px 30px;
    height: 150px;
    padding: 0px 0px 100px 15px;
    color: #7A86A1;;
}
.btn5{
    cursor: pointer;
    float: right;
	background: #6149CD 0% 0% no-repeat padding-box;
    box-shadow: 1px 8px 29px #695F9724;
    border-radius: 17px;
    opacity: 1;
    color: #ffffff;
    width: 9%;
    border: none;
    height: 30px;
}
.action{
    position: absolute;
    margin: -40px 0px 0px 1px;
}
.box1{
    width: 75%;
    height: 400px;
    background-color: #FFF4F2;
    border-radius: 30px;
    margin: 30px 0px 0px 12%;
    opacity: 1;
}
.box1 h5{
    color: #000000;
    font-family: Manrope;
    font-size: 21px;
    font-weight: bold;
    padding: 25px 0px 0px 25px;
}
.box1 span{
    font-family: Manrope;
    font-size: 16px;
    color: #7A86A1;
    padding: 10px 0px 0px 35px;
}
.line1 {
    background-color: #EBEBEB;
    width: 100%;
    height: 2px;
    margin: 23% 0px 0px 0px;
}

.form-check-label {
    margin-bottom: 0;
    font-size: 19px;
    font-family: Manrope;
    color: #000000;
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    margin: 10px 0px 0px 90px;
}
 input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
    margin: 8px 0px 0px -20px;
    
}
h4{
    color: #000000;
    font-family: Manrope;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 0px 0px 30px;
    font-weight: bold;
}
.box7{
    width: 55%;
    height: 450px;
    background-color: #FFF4F2;
    border-radius: 30px;
    margin: 30px 0px 0px 20%;
}
.box7 label p{
    width: 100%;
    height: 100%;
    padding: 0px 0px 47px 12px;
    color: #000000;
    font-family: Manrope;
    border: none;
    margin: -2px 0px 0px -10px;
    text-align: justify;
    font-size: 14px;
}
.box7 label{
    width: 60%;
    padding: 0px 0px 47px 12px;
    color: #6149CD;
    font-size: 16px;
    font-family: Manrope;
    border: 1px solid #695F9724;
    border-radius: 20px;
    margin: 20px 0px 0px 19px;
    background-color: #ffffff;
    
}
.box7 .action1{
    background: #F6EFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    width: 60%;
    height: 50px;
    margin: 20px;
    color: #6149CD;
    padding: 0px 0px 0px 10px;
    font-family: Manrope;
}
.box7 .action1 p{
    
        font-family: Manrope;
        color: #000000;
        font-weight: bold;
    }
.reply .form-control{
    margin: -96px 0px 0px 208px;
    width: 55%;
    height: 95px;
    padding: 0px 0px 47px 12px;
    color: #7A86A1;
    font-family: Manrope;
}
.btn4{
    position: absolute;
    background-color: #6149CD;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 75px;
    height: 32px;
    font-family: Manrope;
    text-align: center;
    margin: -78px 0px 0px 50%;
}

.btn3{
    position: absolute;
    width: 100%;
    height: 37px;
    margin: -43px 0px 0px 13px;
}


.form-floating{
    margin: 0px 0px 0px 20px;
}
.form-select {
    border: 1px solid #695F9724;
    color: #6149CD;
    border-radius: 20px;
    width: 120px;
    padding: 0px 9px;
}
.box2 .btn7{
        width: 70px;
        height: auto;
        font-family: Manrope;
        background-color: #6149CD;
        border: none;
        color: #ffffff;
        border-radius: 18px;
    }
    .dropdown{
        margin: -36px 0px 0px 102%;
        position: absolute;
    }
    .dropdown .btn6
    {
        background-color: #FFFFFF;
        color: #6149CD;
        border-radius: 17px;
        border: 1px solid #EBEBEB;
        width: 122px;
    }
.dropdown-menu li{
    position: relative;
    color: #6149CD;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #6149CD;
}
.dropdown-item1 {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #000000;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #6149CD;
    margin: 0px 0px 0px 8px;
}
.dropdown-menu .submenu
 {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
 }
 .dropdown ul{
background-color: #ffffff;
border-radius: 20px;

 }
 .dropdown-menu>li:hover>.submenu {
    display: block;
   
 }
 .dropdown-menu .submenu .form-check{
    margin: 0;
    height: 24px;
    border: none;
}
 .dropdown-menu .submenu .form-check input{
    margin: 0px 0px 0px -35px;
    height: 22px;
}
 .dropdown-menu .submenu .form-check label{
    color: #000000;
    font-size: 16px;
    font-family: Manrope;
    margin: 0px;
    border: none;
}
.btn9{
    margin: 0px;
    border: none;
    background-color: #fff;
    top: -71px;
    left: -44px;
    width: 0px;
}
.action {
    position: absolute;
    margin: -40px 0px 0px 214px;
}