<sb-layout-dashboard><sb-dashboard-head title="Add Smart Reply" [hideBreadcrumbs]="true"></sb-dashboard-head>
  <div class="bs-stepper">
    <div class="bs-stepper-header" role="tablist">
      <!-- your steps here -->
      <div class="step" data-target="#logins-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">New Smart Reply</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#information-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Keywords and Criteria</span>
        </button>
      </div>
       <div class="line"></div>
      <div class="step" data-target="#review-part">
        <button type="button" class="step-trigger" role="tab" aria-controls="review-part" id="review-part-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Reply Actions</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
        <div class="box">
          <h5>Title</h5>
          <input class="form-control" type="text" placeholder="Enter Name" />
          <h5>Description</h5>
          <div class="form-floating ff">
            <input class="form-control" type="text" placeholder="Enter Name" />
             </div>
        </div>
              <button type="button" (click)= "next()" class="btn btn-block col-1 mt-3 ">Next</button>
  
      </div>
      <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
        <div class="box1">
          <h5>Add Keywords</h5>
          <div class="box2 d-flex">
          <input class="form-control" type="text" placeholder="Enter Keywords" />
          <button type="button" class="btn btn-block ml-2 ">ADD</button>
        </div>
        <span>Please choose a unique keyword which is not already added in other smart replies</span>
        <div class="line1"></div>
        <h4>Matching Criteria</h4>
        <div class="ll d-flex">
         
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios"  value="Fuzzy matching">
          <label class="form-check-label" for="exampleRadios1">
            Fuzzy matching
          </label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input"  value=" Exact matching" name="exampleRadios">
          <label class="form-check-label" for="">
            Exact matching
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios"  value="contains">
          <label class="form-check-label" for="">
             Contains
          </label>
        </div>

      </div>
        </div>
        <button type="button" (click)= "next()" class="btn btn-block col-1 mt-3 ">Next</button>

      </div>
       <div id="review-part" class="content" role="tabpanel" aria-labelledby="review-part-trigger">
        <div class="box7">
          
          <input class="form-control" type="text" placeholder="Enter Keywords" />
        </div>
        <button type="button" (click)= "next()" class="btn btn-block col-1 mt-3 ">Submit</button>
      </div>
    </div>
  </div>




</sb-layout-dashboard>