image:
  repository: 123456789012.dkr.ecr.ap-south-1.amazonaws.com/cip-frontend
  tag: "latest"
  pullPolicy: IfNotPresent

replicaCount: 2

service:
  type: LoadBalancer
  port: 80

resources: {}

ingress:
  enabled: false

