<!-- <sb-layout-dashboard>
    <sb-top-nav title="My Profile"></sb-top-nav> -->
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12 mt-4 d-flex main-header-container">
                <div class="col-md-1">

                </div>
                <div class="col-md-10 d-flex justify-content-between align-items-center main-header">
                    <div class="d-flex">
                        <div class="back-btn" (click)="previousPage()">
                            <img src="assets/img/profile/previous1.svg" />
                        </div>
                        <div class="main-title">
                            <h4 class="m-0 px-4">Wallet Usage</h4>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="filter-btn">
                            <div class="drop-down-btn">
                                <div class="toggle-box" (click)="filterChannels(filterchannels)">
                                    <img src="assets/img/teambox/filter-icon.svg">
                                    <span>Filter</span>
                                </div>
                            </div>
                        </div>
                        <ng-template #filterchannels let-c="close" let-d="dismiss">
                            <div class="modal-content m-0 p-3 filterchannels">
                                <div class="modal-header align-items-center filterchannelsheader">
                                    <div class="modal-header-left ">
                                        <p class="m-0">Filter By Channels</p>
                                    </div>
                                    <div class="modal-header-right">
                                        <p class="m-0 close-box" aria-label="Close" (click)="d('Cross click')"><img src="assets/img/teambox/icon-close.svg"></p>
                                    </div>
                                    </div>
                                <div class="modal-body px-5 filterchannelsbody">
                                    <div class="form-check pb-4">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>WhatsApp Official
                                        <label class="form-check-label" for="radio1"></label>
                                      </div>
                                      <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">WhatsApp Web
                                        <label class="form-check-label" for="radio2"></label>
                                      </div>
                         
                             </div>
                                <div class="modal-footer filterchannelsfooter">
                                  
                                        <button type="button" class="submit-btn" aria-label="Close" (click)="d('Cross click')">Apply</button>
                                      
                                </div>
                            </div>
                         
                        </ng-template>
                        <div class="filterdaterange">
                            <div class="drop-down-btn">
                                <div class="toggle-box d-flex" (click)="filterDaterange(filterdaterange)">
                                    <img src="assets/img/teambox/filter-icon.svg">
                                    <span class="m-0 px-3 filterdate">Filter By Date Range</span>
                                </div>
                            </div>
                        </div>
                        <ng-template #filterdaterange let-c="close" let-d="dismiss">
                            <div class="modal-content m-0 filterbydaterangecontent">

                           
                            <div class="modal-header filterdaterangeheader">
                                <div class="">
                                    <h4 class="modal-title" id="modal-basic-title">Filter By Date Range</h4>
                                </div>
                                <div class="">
                                    <p class="close-box" aria-label="Close" (click)="d('Cross click')"><img src="assets/img/teambox/icon-close.svg"></p>
                                </div>
                                </div>
                            <div class="modal-body filtedaterange">
                          
                                <div class="input_value_group">
                                    <p><input class="input_value" type="date" placeholder="Start Date"></p>
                                    <p><input class="input_value" type="date" placeholder="End Date"></p>
                                </div>
                                <div class="input_group_btn">
                                <button type="button" class="cancel-btn" aria-label="Close" (click)="d('Cross click')">Cancel</button>
                                <button type="button" class="submit-btn" aria-label="Close" (click)="d('Cross click')">Apply</button>
                                </div>
                        
                            </div>
                                
                            </div>
                            
                        </ng-template>
                    </div>
                  
    
                    </div>
                
                
                <div class="col-md-1">
    
                </div>
            </div>  
     
            <div class="col-md-12 d-flex">
            <div class="col-md-4"></div>
            <div class="col-md-7 py-3 text-right main-note">
                <p class="m-0">
                    Note: All insights data is approximate and may differ from what’s shown on your invoice due to small variations in data processing
                </p>
           
            </div>
            <div class="col-md-1">

            </div>
        </div>

            <div class="row m-0">
            <div class="col-md-12 d-flex flex-wrap justify-content-center main-container">
                <div class="col-md-1"></div>
                <div class="col-md-3 pl-2 col-main-left">
                    <div class="main-container-left">
                        <h5 class="m-0 p-4">Usage Insight</h5>

                        <div class="main-container-body-left">
                            <div class="row m-0">
                                <div class="col-md-12 p-0">
                                    <div class="usage-insight-container">
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                         
                                            <h6 class="m-0 head">All Conversations <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                            <h6 class="m-0">2876</h6>
                                    </div>
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                            <p class="m-0">Marketing</p>
                                            <h6 class="m-0">845</h6>
                                       </div>
                                       <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                        <p class="m-0">Utility</p>
                                        <h6 class="m-0">658</h6>
                                   </div>
                                   <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                    <p class="m-0">Authentication</p>
                                    <h6 class="m-0">780</h6>
                               </div>
                               <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                <p class="m-0">User Initiated</p>
                                <h6 class="m-0">325</h6>
                           </div>
                                    
                                </div>
                            </div>
                              </div>
                              <div class="row m-0">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-10 my-3 line"></div>
                                    <div class="usage-insight-container">
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                         
                                            <h6 class="m-0 head">Free Conversations <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                            <h6 class="m-0">1458</h6>
                                    </div>
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                            <p class="m-0">Free Tier</p>
                                            <h6 class="m-0">945</h6>
                                       </div>
                                       <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                        <p class="m-0">Free Entry Point</p>
                                        <h6 class="m-0">822</h6>
                                   </div>
                                </div>
                            </div>
                              </div>
                              <div class="row m-0">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-10 my-3 line"></div>
                                <div class="usage-insight-container">
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                         
                                            <h6 class="m-0 head">Paid Conversations <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                            <h6 class="m-0">2876</h6>
                                    </div>
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                            <p class="m-0">Marketing</p>
                                            <h6 class="m-0">845</h6>
                                       </div>
                                       <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                        <p class="m-0">Utility</p>
                                        <h6 class="m-0">658</h6>
                                   </div>
                                   <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                    <p class="m-0">Authentication</p>
                                    <h6 class="m-0">780</h6>
                               </div>
                               <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                <p class="m-0">User Initiated</p>
                                <h6 class="m-0">325</h6>
                           </div>
                                    
                                </div>
                            </div>
                              </div>
    
                              <div class="row m-0">
                                <div class="col-md-12 p-0">
                                    <div class="col-md-10 my-3 line"></div>
                                    <div class="usage-insight-container">
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                         
                                            <h6 class="m-0 head">Approximate Charges <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                            <h6 class="m-0">2876</h6>
                                    </div>
                                    <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                            <p class="m-0">Bussiness Initiated</p>
                                            <h6 class="m-0">$325</h6>
                                       </div>
                                       <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                        <p class="m-0">Utility</p>
                                        <h6 class="m-0">$129</h6>
                                   </div>
                                   <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                    <p class="m-0">Authentication</p>
                                    <h6 class="m-0">$95</h6>
                               </div>
                               <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                     
                                <p class="m-0">User Initiated</p>
                                <h6 class="m-0">$875</h6>
                           </div>
                                    
                                </div>
                            </div>
                              </div>
    
                        </div>
                     

                    </div>
               
                </div>
                <div class="col-md-7 pr-2 col-main-right">
    <div class=" main-container-right">
        <h5 class="m-0 p-4">Day-Wise Usage</h5>
        <div class="main-container-body-right">
            <div class="row mb-5">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-12 notification-card">
                    <div class="container-fluid ">
                        <div class="row pb-3 justify-content-center">
                        <div class="col-sm-12 d-flex pt-3 pb-4 text-center notification-card-header">
                            <div class="row-header">
                                Start Date
                            </div>
                            <div class="row-header">
                                Marketing
                            </div>
                            <div class="row-header">
                                Utility
                            </div>
                            <div class="row-header">
                                Authentication
                            </div>
                            <div class="row-header">
                                User Initiated
                            </div>
                            
                        </div>
                        </div>
                        <div class="notification-content-parent">
                            <div *ngFor="let item of walletUsageData | slice:pageSize*(currentPage-1):(pageSize*(currentPage-1))+pageSize" 
                            class="row justify-content-center  notification-content">
                                <div class="col-sm-12 d-flex py-3 text-center">
                                
                                    <div class="row-data">{{ item.startdate }}</div> 
                                    <div class="row-data">{{ item.marketing }}</div>
                                    <div class="row-data">{{ item.utility }}</div>
                                    <div class="row-data">{{ item.auth }}</div>
                                    <div class="row-data">{{ item.userinitiated }}</div>
            
                            
                                </div>
                            </div>
                        </div>
                
            
        
                        <div class="col-sm-12 d-flex px-2 mt-4 mb-4 notification-footer">
        
                        <div class="col-sm-6 d-flex align-items-center text-left">
                            <p class="p-0 m-0">Showing:</p>
                            <select class="pl-2 m-0" (change)="getPaging()" [(ngModel)]="pageSize">
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="45">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                            </select>
        
                        </div>
                        <div class="col-sm-6 text-right">
                        <nav aria-label="navigation">
                            <ul class="justify-content-end align-items-center m-0 pagination">
                            <li class="btn-list">
                                <button class="pagination-btn" [disabled]="currentPage==1" (click)="currentPage= currentPage-1">
                                    <img src="assets/img/profile/previous.svg" />
                                </button>
                            </li>
                            <li *ngFor="let item of paging" class="pagination-num-container">
                                <a [ngClass]="{'pagination-disabled': currentPage !=item}" (click)="currentPage=item" class="pagination-num-body">{{item}}</a>
                            </li>
                            <li class="btn-list">
                                <button class="pagination-btn" [disabled]="currentPage==paging.length" (click)="currentPage= currentPage+1" >
                                    <img src="assets/img/profile/next.svg" />
                                </button>
                            </li>
                            </ul>
                        </nav>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-2"></div> -->
            </div>
        </div>
    </div>
    
   </div>
 <div class="col-md-1"></div>
 </div>
</div>
 </div>

 </div>
<!-- </sb-layout-dashboard> -->