<sb-layout-dashboard>
    <sb-top-nav title="My Profile"></sb-top-nav>
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12 mt-4 d-flex main-header-container">
                <div class="col-md-1">

                </div>
                <div class="col-md-10 d-flex justify-content-between align-items-center main-header">
                    <div class="d-flex">
                        <div class="back-btn" routerLink="/dashboard/myprofile">
                            <img src="assets/img/profile/previous1.svg" />
                        </div>
                        <div class="main-title">
                            <h4 class="m-0 px-4">Wallet Usage</h4>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="filter-btn">
                            <div class="drop-down-btn">
                                <div class="toggle-box">
                                    <img src="assets/img/teambox/filter-icon.svg">
                                    <span>Filter</span>
                                </div>
                            </div>
                        </div>
                        <div class="filterdaterange">
                            <div class="drop-down-btn">
                                <div class="toggle-box d-flex">
                                    <img src="assets/img/teambox/filter-icon.svg">
                                    <span class="m-0 px-3 filterdate">02-Apr-2023 - 09-Apr-2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  
    
                    </div>
                
                
                <div class="col-md-1">
    
                </div>
            </div>  
     
            <div class="col-md-12 d-flex">
            <div class="col-md-4"></div>
            <div class="col-md-7 py-3 text-right main-note">
                <p class="m-0">
                    Note: All insights data is approximate and may differ from what’s shown on your invoice due to small variations in data processing
                </p>
           
            </div>
            <div class="col-md-1">

            </div>
        </div>


            <div class="col-md-12 d-flex justify-content-center align-items-center main-container">
                <div class="col-md-1"></div>
                <div class="col-md-3 pl-2 col-main-left">
                    <div class="main-container-left">
                        <h6 class="m-0 p-4">Usage Insight</h6>


                        <div class="row mb-3">
                            <div class="col-md-12 pb-4 usage-insight-container">
                                <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                     
                                        <h6 class="m-0 head">All Conversations <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                        <h6 class="m-0">2876</h6>
                                </div>
                                <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                        <p class="m-0">Marketing</p>
                                        <h6 class="m-0">845</h6>
                                   </div>
                                   <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                    <p class="m-0">Utility</p>
                                    <h6 class="m-0">658</h6>
                               </div>
                               <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                <p class="m-0">Authentication</p>
                                <h6 class="m-0">780</h6>
                           </div>
                           <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                            <p class="m-0">User Initiated</p>
                            <h6 class="m-0">325</h6>
                       </div>
                                
                            </div>
                       
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-12 pb-4 usage-insight-container">
                                <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                     
                                        <h6 class="m-0 head">Free Conversations <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                        <h6 class="m-0">1458</h6>
                                </div>
                                <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                        <p class="m-0">Free Tier</p>
                                        <h6 class="m-0">945</h6>
                                   </div>
                                   <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                    <p class="m-0">Free Entry Point</p>
                                    <h6 class="m-0">822</h6>
                               </div>
                            </div>
                       
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-12 pb-4 usage-insight-container">
                                <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-header">
                                     
                                        <h6 class="m-0 head">Paid Conversations <span class="px-2"><img src="assets/img/profile/Info.svg" /></span></h6>
                                        <h6 class="m-0">2876</h6>
                                </div>
                                <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                        <p class="m-0">Marketing</p>
                                        <h6 class="m-0">845</h6>
                                   </div>
                                   <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                    <p class="m-0">Utility</p>
                                    <h6 class="m-0">658</h6>
                               </div>
                               <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                                <p class="m-0">Authentication</p>
                                <h6 class="m-0">780</h6>
                           </div>
                           <div class="col-sm-12 p-2 px-3 d-flex justify-content-between usage-content-data">
                                 
                            <p class="m-0">User Initiated</p>
                            <h6 class="m-0">325</h6>
                       </div>
                                
                            </div>
                       
                          </div>


                    </div>
               
                </div>
                <div class="col-md-7 pr-2 col-main-right">
                    <div class="main-container-right">
                        <h6 class="m-0 p-4">Day-Wise Usage</h6>
                        
                    </div>
                  
                </div>
                <div class="col-md-1"></div>
            </div>
  
       </div>
       
    </div>
</sb-layout-dashboard>