@import 'styles/variables.scss';
.container{
    background-color: white;
    height: 100vh;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 220px;
    border-radius: 22px;
    margin: 20px 0px 0px 175px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;

}

.float-left {
    float: left !important;
    margin: 0px 170px 0px -25px;
    width: 570px;
    height: 100vh;
}
    label {
        display: inline-block;
        margin: 30px 0px 0px 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        color: #000000;
        line-height: 25px;
        font-weight: 600;
    }
.custom-control-label{
    margin: 13px 0px 0px -38px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #7A86A1;
    line-height: 23px;
    font-weight: regular;
}
.form-control {
    display: block;
    width: 90%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0 28px 0px 10px;
    font-size: 14px;
    line-height: 23px;
    color: #7A86A1;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 10px 0px 0px 0px;
    font-family: 'Montserrat', sans-serif;
}
.log h3 .b{
    margin: 20px 0px 0px 0px;
}
.font-weight-light {
    margin: 200px 0px 0px 11px;
    font-size: 30px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    line-height: 40px;
}
small, .small {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 166px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #6149CD;
    line-height: 23px;
}
.ml-1, .mx-1 {
    font-size: 14px;
    margin-left: 0.25rem !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #6149CD;
    line-height: 30px;
}
a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #7A86A1;
    line-height: 30px;
}
.mt-6{
    margin: 95px 0px 0px -70px;
    position: absolute;

}
.eyeicon{
    position: absolute;
    right: 50px;
    top: 70px;
    cursor: pointer;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.form-control.is-invalid {
    border: 1px solid red;
    background: padding-box;
}
.text-danger {
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


@media all and (max-width:1536px) {
    .container{
        background-color: white;
        height: 100vh;
    }
}
@media all and (max-width:1080px) {
    .float-left {
        float: left !important;
        margin: 0px 170px 0px -25px;
        width: 670px;
        height: 100vh;
    }
}
#error-message{
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


@media screen and (max-width:1366px) {

.btn:not(:disabled):not(.disabled) {
  
    margin: 20px 0px 0px 102px;

}

.custom-control-label {
    margin: 13px 0px 0px -28px;
 }

 .eyeicon {
    right: 39px;

}

@media screen and (max-width:1280px) {
    
.btn:not(:disabled):not(.disabled) {
  
    margin: 13px 0px 0px 75px;
    width: 180px;
    font-size: 14px;

}

.custom-control-label {
      margin: 13px 0px 0px -13px;
 }

 .mt-6 {
    margin: 41px 0px 0px -117px;
 }

 .form-control {

    width: 100%;

}

.eyeicon{

    right: 19px;

}

small, .small {

    margin: 0px 166px 0px 35px;

    }
  }

}