@import 'styles/variables.scss';
.container{
    background-color: white;
    height: 100vh;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #6149CD;
    border: none;
}

.btn {
    cursor: pointer;
    width: 220px;
    border-radius: 22px;
    background-image: linear-gradient(to right, #F9B035, #F98C4E, #F96767);
    font-family: 'Manrope';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    box-shadow: 4px 23px 57px #6149cd42;
    opacity: 1;
    margin-bottom: -4rem;

}
.tag-line {
    position: absolute;
    left: 75px;
    top: 100px;
    font-size: 32px;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.46px;
    font-family: Manrope;
    font-weight: bold;
}

.copyright-text{
    position: absolute;
    bottom: 60px;
    left: 30px;
    font-family: Manrope;
    font-size: 14px;
    color: #171414;
}
.btn:disabled{
    opacity: 0.4;
}
.log{
    margin: 11rem 0px 0px 0px;
}
.float-left {
    float: left !important;
    height: 100vh;
    margin-left: -2rem;
}
    label {
        display: inline-block;
        margin: 30px 0px 0px 0px;
        font-family: 'Manrope';
        font-size: 15px;
        color: #000000;
        line-height: 25px;
        font-weight: 600;
    }
.custom-control-label{
    font-family: 'Manrope';
    font-size: 14px;
    color: #7A86A1;
    line-height: 23px;
    font-weight: regular;
    margin-top: 1.3rem;
}
.custom-control-label a{
    color: blue !important;
}
#row1{
    margin-left: -1.4rem;
}
.form-control {
    display: block;
    font-size: 14px;
    line-height: 23px;
    color: #7A86A1;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Manrope';
}

.font-weight-light {
    font-size: 30px;
    color: #000000;
    font-family: 'Manrope';
    font-weight: bold !important;
    line-height: 40px;
}
small, .small {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Manrope';
    color: #6149CD;
    line-height: 23px;
}
.ml-1, .mx-1 {
    font-size: 14px;
    font-family: 'Manrope';
    font-weight: bold;
    color: #6149CD;
    line-height: 30px;
}
a {
    font-size: 14px;
    font-family: "Manrope";
    color: #7A86A1;
    line-height: 30px;
    text-decoration: none;
}

#ma{
    margin-top: 12rem;
    margin-left: -5rem;
}
.mt-6{

    position: absolute;

}
.eyeicon{
    position: absolute;
    right: 2rem;
    top: 3.813rem;
    cursor: pointer;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.form-control.is-invalid {
    border: 1px solid red;
    background: padding-box;
}
.text-danger {
    color: #dc3545 !important;
    font-size: 11px;
    font-family: 'Manrope';
    font-weight: 600;
}

#error-message{
    color: #dc3545 !important;
    font-size: 11px;
    font-family: "Manrope";
    font-weight: 600;
    margin-top: -11px;
    margin-left: 16px;
    width: 31%;
}


 @media all and (max-width:1600px){
  #ma{    margin-top: 17rem;
     margin-left: -7rem;
  }


 }
@media all and (max-width:1536px) {
    #ma{
        margin-top: 13rem;
        margin-left: -7rem;
    }
   
}



 @media all and (max-width:1366px){
    #ma{
        margin-top: 10rem;
        margin-left: -7rem;
    }
    #row1 {
        margin-left: 0rem;
    }
 }
  
@media all and (max-width:1280px){
    #ma{
    margin-top: 5.9rem;
    margin-left: -7rem;
}
#row1 {
    margin-left: -0rem;
  }

}

