<sb-layout-auth>
    <div class="container col-lg-12 d-flex ">
        <div class="col-lg-6">
            <span *ngIf="channelDomain =='web'" class="tag-line">An effective tool for<br /> marketing with WhatsApp</span>
            <span *ngIf="channelDomain !='web'" class="tag-line">Supercharge Your Marketing<br /> and Customer Engagement</span>
        <img *ngIf="channelDomain == 'api'" src="assets/img/img-reg.png" class="float-left"  >
        <img *ngIf="channelDomain == 'web'" src="../../../../assets/img/Engagezilla-Login-Signup.png" class="float-left"  >
      <span class="copyright-text">&copy; Copyright 2024 {{channelDomain =='web' ? 'Engagezilla' : 'Engagekart'}}</span>
    </div>
        <div class="row col-lg-6 "  >
            <sb-loader [isLoading]="isLoading"></sb-loader>
            <div class="col-md-12 mt-6">

                <div class="log col-sm-12">
                    <h3 class="font-weight-light">Log In</h3>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                    <div class="row col-md-12 d-flex ">
                        <div class="col-sm-6" id="kop">
                            <label for="floatingInputGrid">Your Email</label>

                            <input type="text-right mr-3" class="form-control" [ngClass]="{'is-invalid' :submitted && loginForm.controls.email_id.errors}"
                             placeholder="Email" aria-label="City" name="email_id" formControlName="email_id" id="email_id" required>
                        </div>
                        
                        
                        <div class=" col-sm-6 " id="col90">
                            <label for="floatingInputGrid">Password</label>
                            <input [type]="changetype?'password':'text'" class="form-control" [ngClass]="{'is-invalid' :submitted && loginForm.controls.password.errors}"
                             placeholder="8 character" aria-label="State" name="password" formControlName="password" id="password">
                                  <span class="eyeicon col-xs-1 2mt-6 "(click)="viewpass()"><i [ngClass]="visible?'fa fa-eye-slash':'fa fa-eye'"></i></span>
                        </div>
                    </div>
                    <div class="form-group row col-md-8 ml-1" id="row1">
                        <div class="custom-control custom-checkbox">
                            <!-- <input class="custom-control-input" formControlName="agree" id="rememberPasswordCheck" type="checkbox" />
                            <label class="custom-control-label" for="rememberPasswordCheck">I accept the <a href="https://engagekart.com/terms-and-conditions/" target="_blank">Terms & Conditions</a> and <a href="https://engagekart.com/privacy-policy/" target="_blank">Privacy Policy</a></label> -->

                            <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                            <label class="custom-control-label" for="rememberPasswordCheck">Remember Me</label>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center" ><a class="small" routerLink="/forgot-password" >Forgot
                            Password?</a></div>
                    <div class="form-group  text-center col-sm-12 ">
                        <button class="btn btn" id="butto" type="submit" >Log In</button>
                        <!-- [disabled]="!loginForm.get('agree')?.value" -->
                    </div>
                    
                      <div id="error-message"></div>
                      
                      
                     
                    
                </form>
                <div class="col-xs-12"id="ma"><a routerLink="/register" style="display: inline-flex" >New User?<h6 class="ml-1"> Create an
                    account</h6></a></div>
            </div>
        </div>
        
    </div>

  
</sb-layout-auth>