<sb-layout-auth>
    <div class="container col-lg-12">
        <img src="assets/img/25.jpg" class="float-left">
        <div class="row">

            <div class="col-lg-12 mt-4">


                <div class=" text-right"><a routerLink="/register" style="display: inline-flex">New User?<h6
                            class="ml-1"> Create an account</h6></a></div>


                <div class="log">
                    <h3 class="font-weight-light">Log In</h3>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row col-10">
                        <div class="col-sm-6">
                            <label for="floatingInputGrid">Your Email</label>

                            <input type="text-right mr-3" class="form-control" placeholder="Email" aria-label="City" name="email_id" formControlName="email_id" id="email_id" required>
                        </div>
                        <div class=" col-sm-6">
                            <label for="floatingInputGrid">Password</label>
                            <input [type]="changetype?'password':'text'" class="form-control" placeholder="8 character" aria-label="State" name="password" formControlName="password" id="password">
                                  <span class="eyeicon"(click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1 "></div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                            <label class="custom-control-label" for="rememberPasswordCheck">Remember Me</label>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center" ><a class="small" routerLink="/forgot-password" >Forgot
                            Password?</a></div>
                    <div class="form-group d-flex align-items-center justify-content-between  col-sm-12">
                        <!-- <a class="btn btn" routerLink="/dashboard">Log In</a> -->
                        <button class="btn btn" type="submit">Log In</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="mt-6 "><a routerLink="/register" style="display: inline-flex">New User?<h6 class="ml-1"> Create an
                    account</h6></a></div>
    </div>


</sb-layout-auth>