@import 'styles/variables.scss';



*{
    font-family: 'Manrope';
    
}

.mt-4 {
    font-size: 42px;
    letter-spacing: -1.3px;
    font-weight: 800;
    margin: 33px;
}


img {
    margin: 0px 0px 0px 23px;
    height: 20px;
}
.pick img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: -22px -8px -32px 1px;
}

