@import 'styles/variables.scss';



*{
    font-family: 'Manrope';
    
}

.mt-4 {
    font-size: 40px;
    letter-spacing: -1.3px;
    font-weight: 800;
    margin: 33px;
}


img {
    margin: 0px 0px 0px 23px;
    height: 20px;
}
.pick img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: -22px -8px -32px 1px;
}


// .sb-topnav.navbar-light #sidebarToggle {
 
//     position: absolute;
//     top: 42px;
//     left: 0;

// }

// .btn img {
//     width: 60px!important;
//     height: 60px!important;
 

// }


@media all and (max-width:1536px) {
    
    .mt-4 {
        font-size: 35px!important;
        margin-left: 34px !important;
        margin-top: 28px!important;
    }


    img {
        width: 15px!important;
        height: 15px!important;
}
    
    
    .pick img {
        width: 60px!important;
        height: 60px!important;
        margin-top: -31px!important;
    }
}