.caompain-box {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
      padding: 20px;
    text-align: center;
}

.bg-gray{
	background: lightgray;
    padding: 10px;
}
.border-box{
 box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 0%);
      padding: 20px;
    text-align: center;
}