.col-md-12{
    margin: 10px 0px 0px 50px;
    box-sizing: content-box;
    padding: 30px 55px 20px 30px;
}
.row{
    margin: 20px 10px;
    display: flex;
}
.row .row1{
    margin: 20px 10px;
}
.row .row2{
    margin: 20px 10px;
    float: right;
}
