// Dark theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use


  .sb-sidenav-menu {
    .sb-sidenav-menu-heading {
      color: $sidenav-dark-heading-color;
    }
    .nav-link {
      color: $sidenav-dark-link-color;
      .sb-nav-link-icon {
        color: $sidenav-dark-icon-color;
      }
      .sb-sidenav-collapse-arrow {
        color: $sidenav-dark-icon-color;
      }

      .sb-sidenav-collapsed {
        color: $sidenav-dark-icon-color;
      }
    }
  }
  .sb-sidenav-footer {
    background-color: $sidenav-dark-footer-bg;
  }

  svg:not(:root).svg-inline--fa::hover {
    overflow: visible;
    color: #ffffff;
  }
