<sb-layout-dashboard>
    <sb-top-nav title="Notifications"></sb-top-nav>


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 p-0 my-2 notification-header">
            <div class="container-fluid p-0 d-flex justify-content-around align-items-center">
                <div class="col-sm-6 text-left d-flex">
                    <button id="teambox-btn">Teambox</button>
                    <button id="others-btn">Others</button>
                </div>
                <div class="col-sm-6 text-right d-flex justify-content-end pr-0">
                        <div class="search-field">
                            <form class="d-none d-md-inline-block form-inline"
                            [formGroup]="searchForm" (ngSubmit)="search()">
                            <div class="input-group search">
        
                                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                    aria-describedby="basic-addon2" name="name" id="name" formControlName="name" />
        
                                <img src="assets/img/search.png">
                            </div>
                            </form>
                        </div>
                      
                </div>
            </div>
            <div class="text-right p-0 mt-3 search-field-text">
                <p>Notifications available for last 90 days</p>
            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>

    <div class="row mb-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 notification-card">
            <div class="container-fluid ">
                <div class="row pb-3 justify-content-center">
                <div class="col-sm-11 d-flex pt-5 pb-4 px-3 notification-card-header">
                    <div class="col-sm-6 text-left">
                        <p class="m-0 ml-4">Notifications</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p class="m-0 mr-4">Date & Time</p>
                    </div>
                   
                </div>
                </div>
                <div *ngFor="let notification of notificationData | slice:pageSize*(currentPage-1):(pageSize*(currentPage-1))+pageSize" class="row justify-content-center notification-content">
                    <div class="col-sm-11 d-flex p-2 px-3">
                        <div class="col-sm-6 ml-4 text-left data">
                            <h6>{{ notification.title }}</h6>
                             <p>{{ notification.content }}</p>
                        </div>

                        <div class="col-sm-6 d-flex ml-n5 justify-content-end align-items-center date">
                            <span id="date">{{ notification.date }}</span>
                        </div>
                    </div>
                </div>
    

                <div class="col-sm-12 d-flex px-4 mt-4 mb-4 notification-footer">

                <div class="col-sm-6 d-flex align-items-center text-left">
                    <p class="p-0 m-0">Showing:</p>
                    <select class="pl-2 m-0" (change)="getPaging()" [(ngModel)]="pageSize">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>

                </div>
                <div class="col-sm-6 text-right">
                <nav aria-label="navigation">
                    <ul class="pagination justify-content-end m-0">
                      <li class="page-item"><button [disabled]="currentPage==1" (click)="currentPage= currentPage-1" class="page-link"><img src="assets/img/profile/previous-g.svg"></button></li>
                      <li *ngFor="let item of paging" class="page-item"><a (click)="currentPage=item" class="page-link">{{item}}</a></li>
                      <li class="page-item"><button [disabled]="currentPage==paging.length" (click)="currentPage= currentPage+1" class="page-link"><img src="assets/img/profile/next.svg"></button></li>
                    </ul>
                  </nav>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    
</sb-layout-dashboard>