

.dis{
    display: flex;
}
.dis .box{
    width: 341px;
    height: 192px;
    border: 1px solid black;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
}
.box{
    width: 341px;
    height: 192px;
    border: 1px solid black;
    margin: 20px 0px 0px 20px;
    border-radius: 10px;
}

div input{
    display: none;
}
div label {
    position: relative;
    display: block;
    width: 65px;
    height: 30px;
    background: #00acee;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px 0px 0px 138px;
    transition: 300ms linear;
}
div label:before {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    transition: left 300ms linear;

}
div input:checked + label{
    background: #00acee;
}
div input:checked + label:before{
    left: 40px;
}
.dis .box h5 {
    margin: 80px 0px 0px 64px;
    width: 255px;
}
.col-md-12{
    margin: 50px 0px 0px 0px;
}